<template>
  <v-flex class="wrapper_center" :style="`background-image: url('${img}')`">
    <v-flex xs12 md10 lg8 mx-auto class="text-center">
      <h1 class="main_title">CHANGE PASSWORD</h1>
      <v-flex class="box bb pa-3 bg_blue_purple mt-5" d-flex align-center xs12 md6 lg4 mx-auto>
        <div class="w100 h100">
          <v-form @submit.prevent="submit()" ref="form" class="w100 h100 form">
            <v-flex class="text-left px-2 mt-2">
              <v-flex class="form_row">
                <input
                  type="password"
                  v-model="form.password"
                  placeholder="Password"
                  :class="errors.password ? 'input_error' : ''"
                />
                <small class="red--text" v-if="errors.password">{{errors.password}}</small>
              </v-flex>
              <v-flex class="form_row">
                <input
                  type="password"
                  v-model="form.password_confirmation"
                  placeholder="Confirm Password"
                  :class="errors.password_confirmation ? 'input_error' : ''"
                />
                <small
                  class="red--text"
                  v-if="errors.password_confirmation"
                >{{errors.password_confirmation}}</small>
              </v-flex>
              <v-flex v-if="error">
                <small class="red--text">Sorry, Please try again to send an email...</small>
              </v-flex>

              <v-flex class="text-center">
                <button type="submit" class="bg_white text_purple button my-4">Update Password</button>
              </v-flex>
            </v-flex>
          </v-form>
        </div>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      type: "student",
      form: {
        client_id: 2,
        client_secret: "dXccV61flMlRyfxIPnOpvB4DC9ZE2CaXq9wUekfZ",
        grant_type: "password",
        email: null,
        token: null
      },
      errors: [],
      error: null,
      img: IMG + "background/forgot_password.png"
    };
  },
  created() {
    this.form.email = this.$route.query.email;
    this.form.token = this.$route.query.token;
  },
  methods: {
    changeType(val) {
      if (this.type != val) {
        this.type = val;
        document.cookie = `signin=${val}`;
      }
    },
    submit() {
      let validation = R.check(
        ["password", "password_confirmation"],
        [this.form.password, this.form.password_confirmation]
      );
      if (
        !validation.email &&
        !validation.password &&
        !validation.password_confirmation
      ) {
        this.errors = [];
        axios
          .post("/api/reset-password", this.form)
          .then(res => {
            this.$router.push("/login");
            Alert.onApp(["success", "Thank You, An Email Has Been Send"]);
          })
          .catch(err => {
            if (err.response.data.errors) this.error = err.response.data.errors;
            else Alert.onApp(["error", err.response.data]);
          });
      } else {
        this.errors = validation;
      }
    }
  }
};
</script>
