<template>
  <v-flex class="wrapper_center" :style="`background-image: url('${img}')`">
    <v-flex xs12 md10 lg8 mx-auto class="text-center">
      <h1 class="main_title mx-2">FORGOT PASSWORD</h1>
      <v-flex class="bb pa-3 bg_blue_purple" d-flex align-center xs12 md6 lg4 mx-auto>
        <div class="w100 h100">
          <v-form @submit.prevent="submit()" ref="form" class="w100 h100 form">
            <v-flex xs12 mx-auto class="text-left">
              <input type="email" placeholder="Email" v-model="form.email" />
              <small class="main_error" v-if="errors.email">{{errors.email}}</small>
            </v-flex>
            <br />
            <button type="submit" class="bg_white text_purple button mb-3">SEND</button>
            <br />
            <router-link to="/login" class="link white--text">Sign In</router-link>
          </v-form>
        </div>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      type: "student",
      form: {
        client_id: 2,
        client_secret: "dXccV61flMlRyfxIPnOpvB4DC9ZE2CaXq9wUekfZ",
        grant_type: "password",
        email: ""
      },
      errors: [],
      img: IMG + "background/forgot_password.png"
    };
  },
  created() {},
  methods: {
    changeType(val) {
      if (this.type != val) {
        this.type = val;
        document.cookie = `signin=${val}`;
      }
    },
    submit() {
      let validation = R.check(["email"], [this.form.email]);
      if (!validation.email && !validation.password) {
        this.errors = [];
        axios.post("/api/forgot-password", this.form).then(res => {
          this.$router.push("/login");
          Alert.onApp(["success", "Thank You, An Email Has Been Send"]);
        });
      } else {
        this.errors = validation;
      }
    }
  }
};
</script>

<style scoped>

  .bg_blue_purple{
    background-color: rgba(70, 73, 139, 0.9);
  }

</style>