<script>
export default {
  data(){
    return {
      form: {
        type: 'campus',
        token: this.$route.query.token
      }
    }
  },
  created(){
    this.submit()
  },
  methods:{
    submit(){
      axios.post("/api/login-api", this.form).then(res => {
        Auth.s(res.data, true);
      })
    }
  }
}
</script>

<style>
</style>
