<template>
  <v-container class="wrapper_center">
    <v-flex d-md-none class="mobile-bg">
        <img :src="img" alt/>
    </v-flex>
    <v-flex xs12 md8 lg4 class="mobile-sign-in order-first">
      <h1 class="main_title text-center">SIGN IN</h1>
      <h2 class="main_sub_title text-center d-none d-md-block">WELCOME TO CYWAR</h2>
      <v-flex class="box bb pa-5 bg_blue_purple mt-5" d-flex align-center xs12>
        <div class="w100 h100 py-5">
          <v-form @submit.prevent="submit()" ref="form" class="w100 h100">
            <small class="main_error" v-if="loginErr">{{loginErr}}</small>
            <v-flex xs12 mx-auto class="text-left">
              <input type="email" placeholder="Email" v-model="form.email" />
              <small class="main_error mb-3" v-if="errors.email">{{errors.email}}</small>
            </v-flex>
            <br />
            <v-flex xs12 mx-auto class="text-left mt-3">
              <input type="password" placeholder="Password" v-model="form.password" />
              <small class="main_error" v-if="errors.password">{{errors.password}}</small>
            </v-flex>
            <br />
            <v-flex d-flex wrap>
              <v-flex xs12 md5>
                <button type="submit" class="login_btn bg_white text_purple button mb-3">SIGN IN</button>
              </v-flex>
              <v-flex xs12 md5 v-show="user">
                <v-alert dense text type="success" >
                  <v-flex xs12>
                    <span id="welcome"></span>
                  </v-flex>
                </v-alert>
              </v-flex>
            </v-flex>
          </v-form>
          <v-flex d-flex justify-space-between class="mt-5">
            <router-link to="/forgot-password" class="link white--text">Forgot Password</router-link>
            <router-link to="/signup" class="link white--text">Sign Up</router-link>
          </v-flex>
          <v-flex v-if="suggestBrowser" class="suggest">
            <small class="text_orange">
              CYWAR requires the usage of the chrome browser for full support. Be advised, full functionality of this system is not supported 
              on the current browser.</small>
          </v-flex>
        </div>
      </v-flex>
    </v-flex>
    <v-dialog
      v-model="mfaDialog"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-form @submit.prevent="submit()" ref="form" class="pa-4 text-center bg_brown">
        <h2 class="main_subtitle white--text">2 Factor Authentication</h2>
        <small class="main_error" v-if="mfaErr">{{mfaErr}}</small>
        <v-flex d-flex justify-center class="my-5 mfa_inputs">
          <input type="text" @keyup="changeDigit" id="Digit1" maxlength="1" dig>
          <input type="text" @keyup="changeDigit" id="Digit2" maxlength="1" dig>
          <input type="text" @keyup="changeDigit" id="Digit3" maxlength="1" dig>
          <input type="text" @keyup="changeDigit" id="Digit4" maxlength="1" dig>
          <input type="text" @keyup="changeDigit" id="Digit5" maxlength="1" dig>
          <input type="text" @keyup="changeDigit" id="Digit6" maxlength="1" dig>
        </v-flex>
        <!-- <v-flex xs12 mx-auto class="text-left">
          <input type="text" class="white--text" placeholder="2fa code" v-model="form.key">
          <small class="main_error mb-3" v-if="errors.email">{{errors.email}}</small>
        </v-flex> -->
        <button type="submit" class="login_btn bg_white text_purple button mb-3 w100 mt-2">SUBMIT</button>
      </v-form>
    </v-dialog>
    <v-flex d-none d-md-block md6 lg8>
      <img :src="img" alt />
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        client_id: 2,
        client_secret: "dXccV61flMlRyfxIPnOpvB4DC9ZE2CaXq9wUekfZ",
        grant_type: "password",
        email: null,
        password: null,
        key: '',
        remember: false,
        type: 'cywar',
        attempt: 1,
      },
      errors: [],
      loginErr: null,
      mfaErr: null,
      img: IMG + "background/practice_arena.png",
      user: null,
      data: null,
      counter: 0,
      suggestBrowser: false,
      mfaDialog: false
    };
  },
  
  created() {
    this.getAgent();
  },

  methods: {
    getAgent(){
      let isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
      if(!isChrome){
        this.suggestBrowser = true;
      }
    },
    submit() {
      let validation = R.check(
        ["email", "password"],
        [this.form.email, this.form.password]
      );

      if (!validation.email && !validation.password) {
        this.errors = [];
        let ele = document.querySelector(`.login_btn`);
        if (ele) ele.classList.add("loading_Animation");
        axios
          .post("/api/login", this.form)
          .then(res => {
            this.loginErr = null;
            this.mfaErr = null;
            if(res.data == 'Activate 2FA') this.mfaDialog = true;
            else
            {
              this.mfaDialog = false;
              this.user = `Welcome ${res.data.name}`;
              this.data = res.data;
              this.typer();
            }
            if (ele) ele.classList.remove("loading_Animation");
          })
          .catch(err => {
            this.form.attempt++;
            if (ele) ele.classList.remove("loading_Animation");
            this.loginErr = null;
            this.mfaErr = null;
            if(err.response.status == 429){
              return this.loginErr = 'Too many attempts, please try again in a minute';
            }
            if(err.response.data == '2 FA code is invalid' || (err.response.data.errors && err.response.data.errors.key)){
              this.mfaErr = err.response.data.errors ? err.response.data.errors.key[0] : err.response.data;
            }else{
                if (err.response.data == "Unauthorized Access")
                    this.loginErr = err.response.data;
                else if(err.response.data == 'Waiting for approval' || err.response.data == 'User is unactive')
                    this.loginErr = err.response.data;
                else this.loginErr = "Email or Password incorrect";
            }
          });
      } else {
        this.errors = validation;
      }
    },
    typer() {
      if (document.getElementById("welcome")) {
        if (+this.counter < this.user.length) {
          this.writeWelcome();
          this.counter++;
          setTimeout(() => {
            this.typer();
          }, 70);
        }else{
          setTimeout(() => {
            Auth.s(this.data, true);
            EventBus.$emit("log", true);
          }, 1000)
        }
      }
    },
    writeWelcome() {
      let ele = document.getElementById("welcome");
      if(ele) ele.innerHTML += this.user.charAt(this.counter);
    },
    changeDigit(e){
      let number = e.target.id.substring(5,6);
      let val = e.target.value;
      if(val){
        number++;
      }else{
        number--;
      }
      let ele = document.getElementById(`Digit${number}`);
      if(ele) ele.focus();
      let digit1 = document.getElementById('Digit1').value;
      let digit2 = document.getElementById('Digit2').value;
      let digit3 = document.getElementById('Digit3').value;
      let digit4 = document.getElementById('Digit4').value;
      let digit5 = document.getElementById('Digit5').value;
      let digit6 = document.getElementById('Digit6').value;
      this.form.key = digit1 + digit2 + digit3 + digit4 + digit5 + digit6;
    }
  }
};
</script>

<style scoped>
.box {
  min-height: 300px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 7px;
}

.main_subtitle{
  font-weight: 100;
}

img {
  opacity: 0.3;
  height: 98vh;
}

.suggest{
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 20px;
  margin-top: 10px;
}

/* .mobile-bg {
    max-width: 100%;
    position: absolute;
    z-index: 0;
} */

.mobile-bg img{
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  object-fit: cover;
}

.mobile-sign-in {
    margin-top: 50px;
    z-index: 1;
}

.bg_white{
  max-width: 100%;
}

.bg_white img{
  max-width: 100%;
  height: 200px;
}

.mfa_inputs input{
  border-radius: 50%;
  width: 35px;
  height: auto;
  color: #fff;
  box-shadow: 0 0 5px 3px rgb(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
}
</style>
