<template>
  <v-flex class="wrapper_center">
    <v-flex xs12 md10 lg8 mx-auto class="text-center pa-5">
        <h1 class="main_title">SIGN UP</h1>
        <v-flex class="box bb pa-3 bg_blue_purple mt-5" d-flex align-center xs12 md9 lg7 mx-auto>
          <div class="w100 h100">
            <v-form @submit.prevent="submit()" ref="form" class="w100 h100 form">
              <v-flex xs12 mx-auto class="text-left" d-flex justify-space-between>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.name ? 'error_input' : 'success_input'" type="text" placeholder="Full Name" v-model="form.name">
                  <small class="main_error" v-if="errors.name">{{Array.isArray(errors.name) ? errors.name[0] : errors.name}}</small>
                </v-flex>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.phone ? 'error_input' : 'success_input'" type="text" placeholder="Phone" v-model="form.phone">
                  <small class="main_error" v-if="errors.phone">{{Array.isArray(errors.phone) ? errors.phone[0] : errors.phone}}</small>
                </v-flex>
              </v-flex>
              <br>
              <v-flex xs12 mx-auto class="text-left" d-flex justify-space-between>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.email ? 'error_input' : 'success_input'" type="email" placeholder="Email" v-model="form.email">
                  <small class="main_error" v-if="errors.email">{{Array.isArray(errors.email) ? errors.email[0] : errors.email}}</small>
                </v-flex>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.class ? 'error_input' : 'success_input'" type="text" placeholder="Promo Code" v-model="form.class">
                  <small class="main_error" v-if="errors.class">{{Array.isArray(errors.class) ? errors.class[0] : errors.class}}</small>
                </v-flex>
              </v-flex>
              <br>
              <v-flex xs12 mx-auto class="text-left" d-flex justify-space-between>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.password ? 'error_input' : 'success_input'" type="password" placeholder="Password" v-model="form.password" autocomplete="new-password">
                  <small class="main_error" v-if="errors.password">{{Array.isArray(errors.password) ? errors.password[0] : errors.password}}</small>
                </v-flex>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.password_confirmation ? 'error_input' : 'success_input'" type="password" placeholder="Password Confirmation" v-model="form.password_confirmation">
                  <small class="main_error" v-if="errors.password_confirmation">{{Array.isArray(errors.password_confirmation) ? errors.password_confirmation[0] : errors.password_confirmation}}</small>
                </v-flex>
              </v-flex>
              <br>
              <v-flex d-flex align-center>
                <v-checkbox v-model="form.checkbox" value="value" color="white" id="checkbox"></v-checkbox>
                <span>By clicking, you agree to our <span class="link pointer text_green" @click="openDialog('tnc')">Terms & Conditions</span>, and <span class="link pointer text_green" @click="openDialog('cookies')">Cookie Policy</span></span>
              </v-flex>
              <br>
              <button :disabled="!form.checkbox ? true : false" :class="!form.checkbox ? 'bg_grey default' : ''" type="submit" class="bg_white text_purple button mb-3">SIGN UP</button>
              <br>
              <router-link to="/login" class="link white--text">Sign In</router-link>
            </v-form>
          </div>
        </v-flex>
    </v-flex>
    <v-dialog
      v-model="dialog"
      max-width="700"
      max-height="800"
    >
      <v-card class="pa-2 card" color="red">
        <div class="text-center mb-4">
          <h2 class="main_sub_title text_white">{{selected ? selected.title : ''}}</h2>
          <br>
          <v-flex d-flex xs8 md5 lg3 mx-auto class="text-center">
            <v-flex :class="!lang ? 'bb selected' : 'border'" class="text_yellow pointer lang px-3 mx-0" @click="lang = false">English</v-flex>
            <v-flex :class="lang ? 'bb selected' : 'border'" class="text_yellow pointer lang px-3 mx-0" @click="lang = true">עברית</v-flex>
          </v-flex>

        </div>
        <v-card-text v-if="!lang" class="dialog_content" v-html="selected ? selected.content : ''"></v-card-text>
        <v-card-text dir="rtl" v-else class="dialog_content" v-html="selected ? selected.content_heb : ''"></v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="pa-3">
          <button class="button bg_white text_purple " @click="dialog = false, form.checkbox = false">CLOSE</button>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="qrDialog"
      max-width="700"
      max-height="800"
      persistent
    >
      <v-card class="pa-2 card" color="red">
        <v-card-text class="pa-3 white--text text-center">
          <h1 class="headline">
            Multi Factor Authentication</h1>
          <p>
            <a class="white--text" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en" target="_blank">Download</a> the Google Authenticate App & scan the QR
            <br> 
            You might be needing it for login in later so dont continue till you scan in.
          </p>
          <v-flex class="text-center">
            <img :src="qrcode" alt="">
          </v-flex>
        </v-card-text>
        <v-divider></v-divider>
        <p class="amber--text text-center mt-2 mb-0">
          <v-icon color="amber" large class="mr-2">warning</v-icon>
          DO NOT CONTINUE UNTILL YOU HAVE SCANNED THE QR
        </p>
        <v-card-actions class="pa-3">
          <v-spacer></v-spacer>
          <button class="button bg_white text_purple" @click="$router.push('/waiting')">Scanned</button>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      type: "student",
      form: {
        client_id: 2,
        client_secret: "dXccV61flMlRyfxIPnOpvB4DC9ZE2CaXq9wUekfZ",
        grant_type: "password",
        name: null,
        phone: null,
        email: null,
        password: null,
        password_confirmation: null,
        class: null,
        checkbox: false
      },
      data: {},
      dialog: false,
      selected: null,
      lang: false,
      errors: {},
      backerrors: [],
      validation: [
        "name",
        "email",
        "class",
        "password",
        "password_confirmation"
      ],
      checkbox: false,
      qrDialog: false,
      qrcode: null,
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getData() {
      axios.get("/api/signup").then(res => {
        this.data = res.data;
        this.data.tnc.title = 'TERMS & CONDITIONS';
        this.data.privacy.title = 'PRIVACY POLICY';
        this.data.cookies.title = 'COOKIES POLICY';
      });
    },
    submit() {
      this.errors = [];
      let validation = R.check(this.validation, [
        this.form.name,
        this.form.email,
        this.form.class,
        this.form.password,
        this.form.password_confirmation,
      ]);
      if (
        !validation.email &&
        !validation.class &&
        !validation.password &&
        !validation.name &&
        !validation.phone &&
        !validation.password_confirmation
      ) {
        axios
          .post("/api/signup", this.form)
          .then(res => {
            this.qrDialog = true;
            this.qrcode = res.data;
          })
          .catch(err => {
            this.errors = err.response.data.errors;
          });
      } else {
        this.errors = validation;
      }
    },
    openDialog(val){
      if(val == 'tnc'){
        this.selected = this.data.tnc
      }else if(val == 'cookies'){
        this.selected = this.data.cookies
      }else{
        this.selected = this.data.privacy
      }
      this.dialog = true;
    },
    agree(){
      document.getElementById('checkbox').click();
      this.dialog = false;
      this.form.checkbox = true;
    }
  }
};
</script>

<style scoped>
.dialog_content{
  max-height: 600px;
  overflow-y: scroll;
}

.card{
  background-color: rgba(45, 37, 59) !important;
}

.main_sub_title{
  font-weight: 100;
  font-size: 1.7em;
  letter-spacing: 1px;
}

.lang{
  background-color: rgb(75, 54, 128);
  transition: .3s all linear;
}

.border{
  border-bottom: 4px solid rgb(75, 54, 128);
}

.selected{
  background-color: rgb(109, 94, 153);
}


@media only screen and (max-width: 900px){

  .wrapper_center{
    margin-top: 70px;
  }
}
</style>
