<template>
  <v-flex class="wrapper wrapper_center">
    <v-flex xs12 md11 lg9 mx-auto class="h100" v-if="data">
        <subscriptions :data="data" v-show="step == 1"/>
        <form-comp :data="data" :sub="sub" :oldform="form" v-if="step == 2"/>
    </v-flex>
  </v-flex>
</template>

<script>
import Subscriptions from './Signup_Parts/subscriptions'
import FormComp from './Signup_Parts/form'
export default {
  components: {
    Subscriptions,
    FormComp
  },
  data() {
    return {
      checkbox: false,
      step: 1,
      sub: null,
      form: null,
      data: null
    };
  },
  created() {
    this.getData();

    EventBus.$on('subscriptionPicked', data => {
      this.step = data.step;
      this.sub = data.sub;
    });
    EventBus.$on('signupForm', data => {
      this.form = data;
    });
  },
  methods: {
      getData() {
        axios.get("/api/signup").then(res => {
          this.data = res.data;
          this.data.tnc.title = 'TERMS & CONDITIONS';
          this.data.privacy.title = 'PRIVACY POLICY';
          this.data.cookies.title = 'COOKIES POLICY';
        });
      },
  }
};
</script>

<style scoped>
.dialog_content{
  max-height: 600px;
  overflow-y: scroll;
}

.card{
  background-color: rgba(45, 37, 59) !important;
}

.main_sub_title{
  font-weight: 100;
  font-size: 1.7em;
  letter-spacing: 1px;
}

.lang{
  background-color: rgb(75, 54, 128);
  transition: .3s all linear;
}

.border{
  border-bottom: 4px solid rgb(75, 54, 128);
}

.selected{
  background-color: rgb(109, 94, 153);
}
</style>
