<template>
  <v-flex class="margin_menu">
    <v-flex xs12 md10 lg8 mx-auto class="text-center">
      <h1 class="main_title">PROFILE</h1>
      <br />
      <v-flex xs12 md8 lg6 d-flex mx-auto class="bb">
        <v-flex
          class="border pointer bg_purple px-2 py-1"
          :class="activeLink == '' ? 'bg_light_purple text_yellow' : ''"
          @click="changeRoute('')"
        >Details</v-flex>
        <v-flex
          class="border pointer bg_purple px-2 py-1"
          :class="activeLink == 'edit' ? 'bg_light_purple text_yellow' : ''"
          @click="changeRoute('edit')"
        >Edit</v-flex>
        <v-flex
          class="border pointer bg_purple px-2 py-1"
          :class="activeLink == 'challenges' ? 'bg_light_purple text_yellow' : ''"
          @click="changeRoute('challenges')"
        >Challenges</v-flex>
        <v-flex
          class="pointer bg_purple px-2 py-1"
          :class="activeLink == 'practice-arena' ? 'bg_light_purple text_yellow' : ''"
          @click="changeRoute('practice-arena')"
        >Practice Arena</v-flex>
        <!-- <v-flex class="pointer bg_purple px-2 py-1" :class="activeLink == 'settings' ? 'bg_light_purple text_yellow' : ''" @click="changeRoute('settings')">Settings</v-flex> -->
      </v-flex>
      <br />
      <br />
      <v-layout row wrap>
        <transition name="fade" mode="out-in">
          <router-view :data="data"></router-view>
        </transition>
      </v-layout>
    </v-flex>
  </v-flex>
</template>

<script>
import { setTimeout } from "timers";
export default {
  data() {
    return {
      activeLink: "",
      profile: null,
      edit: null,
      games: null,
      practice_arena: null,
      data: null
    };
  },
  created() {
    this.activeLink = window.location.pathname.split("/")[2]
      ? window.location.pathname.split("/")[2]
      : "";
    this.changeRoute(this.activeLink);
    EventBus.$on("profileUpdate", e => {
      this.profile = null;
      this.changeRoute("");
    });
  },
  methods: {
    changeRoute(v) {
      this.activeLink = v;
      if (v == "") {
        if (!this.profile) {
          axios.get(`/api/user`).then(res => {
            this.data = res.data;
            this.profile = res.data;
          });
        } else {
          this.data = this.profile;
        }
        this.$router.push("/profile/");
      } else if (v == "edit") {
        if (!this.edit) {
          axios.get(`/api/user/edit`).then(res => {
            this.data = res.data;
            this.edit = res.data;
          });
        } else {
          this.data = this.edit;
        }
        this.$router.push("/profile/edit");
      } else if (v == "challenges") {
        if (!this.games) {
          axios.get(`/api/user/games`).then(res => {
            this.data = res.data;
            this.games = res.data;
          });
        } else {
          this.data = this.games;
        }
        this.$router.push("/profile/challenges");
      } else if (v == "practice-arena") {
        if (!this.practice_arena) {
          axios.get(`/api/user/practice-arena`).then(res => {
            this.data = res.data;
            this.practice_arena = res.data;
          });
        } else {
          this.data = this.practice_arena;
        }
        this.$router.push("/profile/practice-arena");
      } else if (v == "settings") {
        // if(!this.practice_arena){
        //     axios.get(`/api/user/practice-arena`).then(res => {
        //         this.data = res.data;
        //         this.practice_arena = res.data;
        //     })
        // }else{
        //     this.data = this.practice_arena;
        // }
        this.$router.push("/profile/settings");
      }
    }
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

h1 {
  letter-spacing: 10px;
}

.border {
  border-right: 1px solid rgb(109, 94, 153);
}

.bg_purple {
  background-color: rgb(75, 54, 128, 0.5);
}

.bg_light_purple {
  background-color: rgb(109, 94, 153);
}
</style>
