<template>
  <v-flex d-flex justify-center class="wrapper_center mx-auto" :style="`background-image: url('${img}')`">
    <v-flex sm10 md6 lg5 xl4 offset-md4 offset-xl3 class="text-left">
      <h1 class="main_title mb-0">About CYWAR</h1>
      <div class="divider"></div>
      <p>
        HackerU’s cyber challenges will take you to the next level, testing your familiarity with common attack vectors and most importantly your out-of-the-box thinking.
        We invite students to sign up and complete the challenges as they progress through their studies,
        further preparing them for real-world challenges in the penetration testing and ethical hacking world.
        The challenges were designed by leading experts in information security with years of hands-on experience.
      </p>
      <img :src="play_btn" class="btn" alt="run video button" title="play video" @click="showVideo = true">
      <v-dialog
        @click:outside="closeVideo()"
        v-model="showVideo"
        max-width="1000px"
        transition="dialog-transition"
      >
        <video id="mainVideo" class="video" controls autoplay>
          <source :src="video" type="video/mp4">
        </video>
      </v-dialog>
    </v-flex>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      img: IMG + 'background/BG-min.png',
      play_btn: IMG + 'general/Play_Button-min.png',
      video: IMG + 'general/cywar_intro.mp4?loop=false&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media',
      showVideo: false,
    };
  },

  methods: {
    closeVideo(){
      let vid = document.getElementById("mainVideo");
      if(vid) vid.pause();
    }
  }
};
</script>

<style scoped>
img {
  opacity: 0.5;
  max-height: 98vh;
}

.video{
  max-width: 100%;
  height: auto;
}

.wrapper_center{
  /* background-size: 100% 100%; */
  background-position: center;
}

@media only screen and (max-width: 900px){
  .wrapper_center{
    padding: 20px;
  }
}

.btn{
  cursor: pointer;
  color: white;
  transition: 0.2s all linear;
}

.btn:hover{
  transform: scale(1.1)
}
</style>
