<template>
  <v-flex d-flex align-center justify-center class="wrapper_center mx-auto" :style="`background-image: url('${img}')`">
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      img: IMG + 'background/cyber_range.png',
      logo: IMG + 'general/logo-white.png'
    };
  },

};
</script>

<style scoped>
    .logo{
        width: 300px;
        height: auto;
    }

    .wrapper_center{
        object-fit: contain;
        background-position: center;
    }

    .main_title{
        font-size: 2rem;
        background: rgba(255,255,255, .35);
        padding: 10px;
        border-radius: 10px;
    }
</style>
