<template>
  <v-flex class="mb-10">
    <header class="d-flex justify-center align-center mb-7">
      <v-flex xs10 sm6 d-flex justify-space-between align-center class="mx-auto search_box" :class="{focused: searchFocused}">
        <v-autocomplete
          v-model="item"
          :items="searchItems"
          :search-input.sync="search"
          clearable
          hide-details
          autofocus
          item-text="search"
          item-value="key"
          label="Search for a term or a category"
          background-color="transparent"
          color="white"
          dark
          solo
          @change="goToCategoryOrTerm"
          autocomplete="off"
        >
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-title class="white--text">
                Search for <strong>category</strong> or <strong>term</strong>
              </v-list-item-title>
            </v-list-item>
          </template>

          <template v-slot:item="{ item }">
            <v-flex d-flex>
              <v-list-item-content >
                <v-list-item-title class="white--text" v-text="item.name"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <small class="cyan--text" v-if="item && item.type">Category</small>
                <small class="info--text" v-else>Term</small>
              </v-list-item-action>
            </v-flex>
          </template>
        </v-autocomplete>
      </v-flex>
    </header>
    <v-flex md11 lg10 xl8 mx-auto v-if="data">
      <v-container>
        <transition name="fade" mode="out-in">
          <router-view :data="data"/>
        </transition>
      </v-container>
    </v-flex>
  </v-flex>
</template>

<script>
  export default {

    data() {
      return {
        limit: 10,
        search: "",
        data: null,
        searchFocused: false,
        img: IMG,
        isLoading: false,
        items: [],
        item: null,
      };
    },

    computed: {
      searchItems() {
        const searchResults = [];
        if(this.data && this.search)
        {
          this.data.forEach(cat => {
            if( cat.name.toLowerCase().includes(this.search.toLowerCase()))
            {
              cat.search = cat.name;
              searchResults.push({
                ...cat,
                type: 1,
                key: cat.id + '_' + 1
              });
            }
            cat.valid_terms.forEach( term => {
                if( term.name.toLowerCase().includes(this.search.toLowerCase()))
                {
                  term.search = term.name;
                  searchResults.push({
                    ...term,
                    type: 0,
                    key: term.id + '_' + 2
                  });
                }
            } )
          });
          return searchResults.sort((a, b) => a.type - b.type);
        }else{
          return searchResults;
        }
      }
    },
    created() {
      this.getData();
    },

    methods: {
      async getData() {
        axios.get("/api/cyberpedia").then(({ data }) => {
          this.data = data;
        });
      },
       goToCategoryOrTerm(e){
        this.item = this.searchItems.find( item => item.key === e);
        if(this.item.type) this.$router.push('/cyberpedia/' + this.item.id);
        else this.$router.push(`/cyberpedia/${this.item.category_id}/${this.item.id}`);
        this.item, this.search = '';
      }
    }
  };
</script>

<style lang="scss" scoped>

  ::v-deep .v-list{
    padding: 0;
    background-color: rgb(12, 23, 31) !important;
    box-shadow: 0 3px 10px 3px rgba(65, 79, 88);
    
    .v-list-item:hover{
      background-color: rgb(36, 53, 66) !important;
    }
  }

  .search_box {
    border-radius: 10px;
    height: 50px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    transition: border .3s;
    background-color: rgba(0, 0, 0, .6);

      &::v-deep input{
        border-bottom: none !important;
      }

    &.focused {
      border: 2px solid rgba(255, 255, 255, 1);
    }
  }

  header {
    height: 320px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url('/images/general/cyberpedia_bg.png');

    &::after {
      content: '';
      display: block;
      height: 4px;
      width: 100%;
      background-color: #7dffd8;
      box-shadow: 0 0 10px 3px #7dffd880;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: 960px) {
    .search_box {
      margin-top: 150px !important;
    }
  }
</style>
