<template>
  <div class="wrapper wrapper_center">
    <v-flex v-if="loading" >
        <loading class="mx-auto" />
    </v-flex>
    <v-flex v-else>
        <v-flex v-if="check" xs12 sm10 md6 mx-auto class="text-center">
            <h1 class="mt-md-4 main_title text_green">Email Verified</h1>
            <h3 class="text-center mt-3 main_sub_title mt-md-5">
                Thank You For Verifying Your Email.
                <br>
                You are now on the waiting list... please wait in patient untill you will be approved.
            </h3>
            <br>
            <router-link to="/login"><button class="bg_white text_purple button mb-3">LETS START</button></router-link>
        </v-flex>
        <v-flex v-else xs12 sm10 md6 mx-auto class="text-center">
            <h1 class="mt-md-4 main_title text_red">Email Unverified</h1>
            <h3 class="text-center mt-3 main_sub_title mt-md-5">
                Sorry, was unabled to verify your email.
                <br>
                If there has any problem please let us know.
            </h3>
        </v-flex>
    </v-flex>
  </div>
</template>

<script>
import Loading from '../General/loading'
export default {
    components: { Loading },
    data(){
        return {
            loading: true,
            check: false
        }
    },
    created(){
        var urlParams = new URLSearchParams(window.location.search);
        let data = {
            email: urlParams.get('email'),
            token: urlParams.get('token'),
        }
        axios.post('/api/email-verify', data).then(res => {
            this.loading = false;
            this.check = true;
        }).catch(err => {
            this.loading = false;
            this.check = false;
        });
    },
}
</script>

<style scoped>
  .wrapper{
    background-image: url('http://127.0.0.1:8000/images/background/congratz.png');
  }
</style>
