<template>
    <v-flex v-if="users" class="margin_menu">
        <v-flex mx-auto class="text-center">
            <v-flex class="mb-4">
                <h1 class="main_title">HALL OF FAME</h1>
            </v-flex>
            <v-flex xs10 md6 lg4 d-flex mx-auto class="bb">
                <v-flex class="border pointer bg_purple px-2 py-1" :class="top == '10' ? 'bg_light_purple text_yellow' : ''" @click="changeTop('10')">TOP 10</v-flex>
                <v-flex class="border pointer bg_purple px-2 py-1" :class="top == '50' ? 'bg_light_purple text_yellow' : ''" @click="changeTop('50')">TOP 50</v-flex>
                <v-flex class="border pointer bg_purple px-2 py-1" :class="top == '100' ? 'bg_light_purple text_yellow' : ''" @click="changeTop('100')">TOP 100</v-flex>
                <v-flex v-if="['student', 'teacher'].includes(role)" class="border pointer bg_purple px-2 py-1" :class="top == 'class' ? 'bg_light_purple text_yellow' : ''" @click="changeTop('class')">MY CLASS</v-flex>
            </v-flex>
            <br>
              <v-flex xs10 md10 lg8 d-flex mx-auto class="table-wrap">
                  <v-flex xs10 mx-auto class="table text-center mt-5">
                      <v-row d-flex align-center justify-space-between class="bg_blue_purple">
                          <v-col>
                              <h2>No</h2>
                          </v-col>
                          <v-col>
                              <h2>Name</h2>
                          </v-col>
                          <v-col>
                              <h2>Points</h2>
                          </v-col>
                          <v-col>
                              <h2>Challenges Won</h2>
                          </v-col>
                          <v-col>
                              <h2>Country</h2>
                          </v-col>
                      </v-row>
                      <v-flex class="table_body">
                          <v-flex d-flex align-center justify-space-between v-for="(row, i) in users" :key="row.id"
                                  :class="i % 2 == 0 ? 'bg_light_brown' : 'bg_brown'" class="table_row">
                              <v-row d-flex justify-space-between align-center :class="row.id == id ? 'self_row' : ''"
                                    class="pa-2">
                                  <v-col>
                                      <img v-if="[1,2,3].includes(i + 1)" :src="trophy + `${i + 1}.svg`">
                                      <span v-else>{{ row.rank ? row.rank : i + 1 }}</span>
                                  </v-col>
                                  <v-col class="justify-left">
                                      <div class="img_wrapper">
                                          <img :src="img + row.image" alt="">
                                      </div>
                                      <h2 class="text-left">{{ row.name ? row.name.substring(0, 15) : row }}</h2>
                                  </v-col>
                                  <v-col>
                                      <h2>{{ row.total_points }}</h2>
                                  </v-col>
                                  <v-col>
                                      <h2>{{ row.games }}</h2>
                                  </v-col>
                                  <v-col>
                                      <img v-if="row.country" :src="flag + row.country + '.svg'" alt="flag"
                                          :title="row.country" srcset="">
                                      <span v-else>No Country</span>
                                  </v-col>
                              </v-row>
                          </v-flex>
                      </v-flex>
                  </v-flex>
              </v-flex>
          </v-flex>
        </v-flex>
</template>

<script>
export default {
  data() {
    return {
      users: null,
      id: Auth.id(),
      trophy: IMG + "trophies/",
      flag: IMG + "flags/",
      top: 10,
      activeLink: null,
      img: IMG + "avatars/",
      role: Auth.role(),
      data: {
        top10: null,
        top50: null,
        top100: null,
        class: null
      }
    };
  },
  created() {
    if (this.$route.query.top) this.top = this.$route.query.top;
    this.$router.push("/hall-of-fame?top=" + this.top);
    this.getUsers();
  },
  methods: {
    getUsers() {
      Load.on();
      if ((!isNaN(this.top) && this.top <= 100) || this.top == "class") {
        if (
          (this.top == 10 && !this.data.top10) ||
          (this.top == 50 && !this.data.top50) ||
          (this.top == 100 && !this.data.top100) ||
          (this.top == "class" && !this.data.class)
        ) {
          axios.get(`/api/hof?limit=${this.top}`).then(res => {
            Load.off();
            this.users = res.data;
            if (this.top == 10) this.data.top10 = res.data;
            if (this.top == 50) this.data.top50 = res.data;
            if (this.top == 100) this.data.top100 = res.data;
            if (this.top == "class") this.data.class = res.data;
          });
        } else {
          if (this.top == 10) this.users = this.data.top10;
          if (this.top == 50) this.users = this.data.top50;
          if (this.top == 100) this.users = this.data.top100;
          if (this.top == "class") this.users = this.data.class;
        }
      }
    },
    showTop(v) {
      if (!isNaN(v)) {
        this.top = v;
        this.getUsers();
      }
    },
    changeTop(top) {
      this.$router.push("/hall-of-fame?top=" + top);
      this.top = top;
      this.getUsers();
    }
  }
};
</script>

<style scoped>
.justify-left {
        justify-content: left !important;
    }

    .img_wrapper {
        background-color: #fff;
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;
        border-radius: 50%;
        padding: 3px;
        margin-right: 10px;
        overflow: hidden;
    }

    .img_wrapper img {
        margin: 0;
        height: 100%;
        width: 100%;
        position: relative;
        top: 5px;
        left: 1px;
    }

    .self_row {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
            to right,
            rgb(254, 249, 196),
            rgb(150, 224, 216)
        ) 100% 0 100% 0;
    }


    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        align-items: center;
        display: flex;
        justify-content: center;
    }

</style>
