<template>
    <v-flex class="wrapper" :style="`background-image: url('${img}')`">
        <v-flex class="text-center">
            <img :src="logo"/>
            <br/>
            <br/>
            <h1>LEARN CYBER THROUGH CYWAR</h1>
            <h2>HACK YOUR WAY INSIDE</h2>
            <br/>
            <v-flex xs12 md8 lg6 xl5 d-flex justify-center class="mx-auto px-5">
                <v-flex v-if="logged">
                    <button @click="route('/challenges')" class="mr-md-5 button">CHALLENGES</button>
                    <button
                        @click="route('/practice-arena')"
                        class="ml-md-5 button"
                    >PRACTICE ARENA
                    </button>
                </v-flex>
                <v-flex v-else>
                    <button @click="route('/login')" class="bg_white text_purple button login">Sign In</button>
                </v-flex>
            </v-flex>
        </v-flex>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                logo: IMG + "/general/logo-white.png",
                img: IMG + 'background/home_page.png',
                logged: Auth.logged()
            };
        },
        methods: {
            route(to) {
                this.$router.push(to);
            }
        }
    };
</script>

<style scoped>
    .wrapper{
        height: 100vh;
        width: 100%;
        padding-top: 150px;
        background-position: center;
    }
    
    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2em;
        letter-spacing: 3px;
    }

    h2 {
        font-weight: 200;
        font-size: 3em;
        letter-spacing: 5px;
    }

    img {
        width: 200px;
    }

    .login {
        padding: 7px 70px;
    }

    button{
        transition: .2s all linear;
        background-color: #fff;
        color: rgb(75, 54, 128);
        border: 1px solid #fff;
    }

    button:hover{
        background-color: transparent;
        transform: scale(1.1);
        color: #fff;
    }

    @media (max-width: 768px) {
        button {
            width: 100%;
            margin: 10px 0;
        }
        .wrapper{
            padding-top: 100px;
        }
    }
</style>



