<template>
  <div class="wrapper wrapper_center">
    <v-flex v-if="loading" >
        <loading class="mx-auto" />
    </v-flex>
    <v-flex v-else>
        <v-flex v-if="check" xs12 sm10 md6 mx-auto class="text-center">
            <h1 class="mt-md-4 main_title text_green">QR CODE</h1>
            <h3 class="text-center mt-3 main_sub_title mt-md-5">
                Please do not leave the browser before you scan the QR code.
                <br>
                It is a one time code.
                <br>
                Incase of an error please contact us.
            </h3>
            <img class="my-3" :src="qrcode" alt="">
            <br>
            <router-link to="/login"><button class="bg_white text_purple button mb-3">SIGN IN</button></router-link>
        </v-flex>
        <v-flex v-else xs12 sm10 md6 mx-auto class="text-center">
            <h1 class="mt-md-4 main_title text_red">QR CODE</h1>
            <h3 class="text-center mt-3 main_sub_title mt-md-5">
                Sorry, was unabled to find your QR code.
                <br>
                Please contact us if need one.
            </h3>
        </v-flex>
    </v-flex>
  </div>
</template>

<script>
import Loading from '../General/loading'
export default {
    components: { Loading },
    data(){
        return {
            loading: true,
            check: false,
            qrcode: null
        }
    },
    created(){
        var urlParams = new URLSearchParams(window.location.search);
        let data = {
            email: urlParams.get('email'),
            token: urlParams.get('token'),
        }
        axios.post('/api/getqrcode', data).then(res => {
            this.qrcode = res.data;
            this.loading = false;
            this.check = true;
        }).catch(err => {
            this.loading = false;
            this.check = false;
        });
    },
}
</script>

<style scoped>
  .wrapper{
    background-image: url('http://127.0.0.1:8000/images/background/congratz.png');
  }
</style>
