<template>
  <v-flex class="px-3 margin_menu mb-10">
    <v-flex md10 lg5 xl3 d-flex justify-space-between class="mx-auto search_box ">
      <input type="text" v-model="search" autofocus @keyup="submit" placeholder="search news">
      <v-btn color="white" icon @click="searchNews()">
        <v-icon class="icon">search</v-icon>
      </v-btn>
    </v-flex>
    <v-flex md10 lg8 class="mx-auto">
      <VueRssFeed :feedUrl="feedUrl" :name="name" :limit="limit"/>
    </v-flex>
  </v-flex>
</template>

<script>
import VueRssFeed from "vue-rss-feed";
export default {
  name: "Demo",
  components: {
    VueRssFeed
  },

  data() {
    return {
      name: "",
      limit: 10,
      search: '',
      feedUrl: '',
    };
  },

  created(){
    this.searchNews();
  },

  methods:{
    searchNews(){
      this.feedUrl = `/api/news?search=${this.search}`;
    },
    submit(e){
      if(e.key == 'Enter') this.searchNews();
    },
  }
  
};
</script>

<style scoped>
.search_box{
  border-radius: 30px;
  height: 50px;
  width: 100%;
  border:2px solid rgba(70, 73, 139, 0.5);
  padding: 10px;
  color: rgb(192, 194, 218);
}

.search_box input{
  width: 70%;
  border-bottom: 0;
  padding: 5px;
  margin: 0;
}

.vue-rss-feed{
  max-width: 100% !important;
}

.vue-rss-feed .error{
  color: #fff ;
  border-radius: 30px ;
  margin-top: 10px ;
  padding: 10px;
}

</style>
