<template>
    <v-row class="justify-space-between wrapper_center pt-5">
        <v-col cols="12" sm="4" md="3" class="bg_blue_purple bb p-0">
            <v-flex v-for="(item, i) in items" :key="i" d-flex align-center justify-center class="item pointer"
                    @click="changeContent(item)">
                <h2 class="mb-0">{{item}}</h2>
            </v-flex>
        </v-col>
        <v-col cols="12" sm="7" class="mt-5 mt-sm-0 wrapper">
            <v-flex xs12 md10 lg9>
                <h1>{{active}}</h1>
                <p v-if="content" v-html="content.content"></p>
            </v-flex>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                logo: IMG + '/general/logo.svg',
                items: [
                    'TERMS & CONDITIONS',
                    //    'PRIVACY POLICY',
                    'COOKIES'
                ],
                active: 'TERMS & CONDITIONS',
                data: null,
                content: null
            }
        },
        created() {
            this.getData();

        },
        mounted() {
            const wrapper = document.getElementsByClassName('wrapper_center')[0];

            wrapper.style.height = 'initial';
            wrapper.style.margin = '75px 0';
        },
        methods: {
            getData() {
                axios.get('/api/signup').then(res => {
                    this.data = res.data;
                    this.content = res.data.tnc;
                })
            },
            changeContent(item) {
                this.active = item
                if (item == 'PRIVACY POLICY') {
                    this.content = this.data.privacy
                } else if (item == 'COOKIES') {
                    this.content = this.data.cookies
                } else {
                    this.content = this.data.tnc
                }
            }
        }
    }
</script>

<style scoped>
    .p-0 {
        padding: 0 !important;
    }

    .item {
        height: 70px;
        border-bottom: 1px solid #fff;
    }

    .item:hover {
        background-color: rgba(114, 117, 179, 0.6);
    }

    .wrapper {
        background: linear-gradient(
            90deg,
            rgba(72, 66, 158, 0.3),
            rgba(95, 90, 170, 0.3),
            rgba(146, 94, 153, 0.3),
            rgba(220, 83, 163, 0.2),
            rgb(220, 83, 105, 0.3)
        );
        max-height: 100vh;
        height: 750px;
        overflow-y: auto;
        padding: 30px;
    }

    * {
        font-weight: 100;
    }

    @media (max-width: 768px) {
        .wrapper {
            max-height: initial;
            height: initial;
        }
    }


</style>

