<template>
  <v-container>
    <v-flex xs12 sm10 md8 lg5 xl4 mx-auto class="text-center margin_menu">
      <h1 class="main_title">SUPPORT</h1>
      <h3 class="main_sub_title">
        <strong>
          NEED HELP?
          <br />LET US KNOW:
        </strong>
      </h3>
      <v-flex class="box bb pa-3 bg_blue_purple mt-5">
        <v-form @submit.prevent="submit()" ref="form">
          <v-flex xs12 md10 mx-auto class="text-left">
            <select
              class="pointer"
              placeholder="Choose a Category"
              v-model="form.category"
              @change="errors.category = ''"
            >
              <option v-for="(cat, i) in cats" :key="i" :value="cat.id">{{cat.name}}</option>
            </select>
            <small class="main_error" v-if="errors ? errors.category : ''">{{errors.category}}</small>
          </v-flex>
          <br />
          <v-flex xs12 md10 mx-auto class="text-left">
            <textarea
              placeholder="Report Content"
              cols="30"
              rows="5"
              v-model="form.content"
              @keyup="form.content ? errors.content = '' : ''"
            ></textarea>
            <small class="main_error" v-if="errors ? errors.content : ''">{{errors.content}}</small>
          </v-flex>
          <br />
          <v-flex xs12 md10 mx-auto class="text-center">
            <v-btn
              v-if="!image"
              icon
              class="bg_white mr-2"
              title="upload image"
              @click="loadImage()"
            >
              <v-icon>attachment</v-icon>
            </v-btn>
            <v-btn
              v-else
              icon
              class="bg_white mr-2"
              :class="filestatus ? 'bg_green' : 'bg_red'"
              title="upload image"
              @click="loadImage()"
            >
              <v-icon>attachment</v-icon>
            </v-btn>
            <small v-if="image && !filestatus" class="rejected main_error">Rejected</small>
            <small>
              Image Max Size 2mb & Only jpeg, jpg, png, bmp, gif or webp
              <p>( Image is not required )</p>
            </small>
            <small class="text_red" v-if="errors.file">{{errors.file[0]}}</small>
            <input type="file" id="image" style="display:none" @change="imageLoaded" />
          </v-flex>
          <br />
          <button type="submit" class="bg_white text_purple button mb-3">SEND</button>
        </v-form>
      </v-flex>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      cats: [],
      form: {
        category: 0,
        content: null,
        image: null
      },
      FormData: {},
      errors: {},
      image: false,
      filestatus: false,
      support: null
    };
  },
  created() {
    this.FormData = new FormData();
    this.getCats();
    this.checkQuery();
  },
  methods: {
    getCats() {
      Load.on();
      axios.get(`/api/support`).then(res => {
        Load.off();
        this.cats = res.data;
        this.cats.unshift({ id: 0, name: "Choose A Category" });
      });
    },
    submit() {
      if (this.image && !this.filestatus)
        return Alert.onApp({
          type: "alert_error",
          content: "File must be an image from the types bellow"
        });
      let validation = R.check(
        ["category", "content"],
        [this.form.category, this.form.content]
      );
      if (!validation.category && !validation.content) {
        this.FormData.append("category", this.form.category);
        this.FormData.append("content", this.form.content);
        this.errors = [];
        document.querySelector(`.button`).classList.add("loading_Animation");
        axios
          .post("/api/support", this.FormData)
          .then(res => {
            document.querySelector(`.button`).classList.remove("loading_Animation");
            this.$router.push("/");
            Alert.onApp({
              type: "alert_success",
              content: "SUPPORT REQUEST SENT SUCCESSFULLY"
            });
          })
          .catch(err => {
            document.querySelector(`.button`).classList.remove("loading_Animation");
            this.errors = err.response.data.errors;
            if(err.response.data.message && err.response.data.message == 'Too Many Attempts.'){
              Alert.onApp({
                type: "alert_error",
                content: "Sorry, You have reached the limit of support requests. Please send us again soon."
              });
            }
            
          });
      } else {
        this.errors = validation;
      }
    },
    loadImage() {
      document.getElementById("image").click();
    },
    imageLoaded(e) {
      this.FormData.append("file", e.target.files[0]);
      let exe = e.target.files[0].name.split(".");
      if (
        ["jpeg", "jpg", "png", "bmp", "gif", "svg", "webp"].includes(
          exe[exe.length - 1]
        )
      )
        this.filestatus = true;
      else this.filestatus = false;
      this.image = true;
    },
    checkQuery(){
      this.support = this.$route.query;
      if(this.support.type == 'lesson'){
        this.form.content = `Lesson ${this.support.lesson} has a problem in Mission ${this.support.mission}, Task ${this.support.task}.`;
        this.form.category = 2;
      }
    }
  }
};
</script>

<style scoped>
.box {
  min-height: 300px;
}

.bb {
  border-image: linear-gradient(
      to right,
      rgb(254, 249, 196),
      rgb(150, 224, 216)
    )
    0 1 100% 1;
}

.bg_blue_purple {
  background-color: rgba(85, 88, 145, 0.5);
}

.margin_menu {
  margin-bottom: 30px;
}

.button{
  width: 35%;
}
</style>
