<template>
  <v-container class="wrapper_center">
    <v-flex xs12 sm10 md6 mx-auto class="text-center">
        <h1 class="mt-md-4 main_title text_green">Congratulation</h1>
        <h3 class="text-center mt-3 main_sub_title mt-md-5">
            Thank you for Signing Up.
            <br>
            We have sent you an email, please verify your mail.
        </h3>
        <br>
        <router-link to="/"><button class="bg_white text_purple button mb-3">BACK HOME</button></router-link>
    </v-flex>
  </v-container>
</template>

<script>
export default {

}
</script>

