<template>
    <v-flex v-if="data" class="my-2">
        <v-toolbar>
            <v-toolbar-title>Classes History</v-toolbar-title>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="data"
            class="elevation-1 mb-3"
            >
            <template v-slot:item.actions="props">
                <v-btn @click="$router.push('/CMS/settings/classes/' + props.item.class_id)" color="blue" icon>
                    <v-icon>visibility</v-icon>
                </v-btn>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>
export default {
    props: ['id', 'type'],
    data(){
        return {
            headers: [
                { text: 'Class', value: 'class' },
                { text: 'College', value: 'college' },
                { text: 'Country', value: 'country' },
                { text: 'Date', value: 'created_at' },
                { text: 'Actions', value: 'actions', align: 'end'  },
            ],
            data: null
        }
    },
    created(){
        this.getClasses();
    },
    methods:{
        getClasses(){
            axios.get(`/api/cms/${this.type}/${this.id}/classes-history`).then( res => {
                this.data = res.data
            })
        }
    }
}
</script>

<style>

</style>
