<template>
    <v-flex>
        <v-card v-if="filter.data">
            <v-toolbar flat class="mt-2">
                <v-toolbar-title>Edit Classes</v-toolbar-title>
            </v-toolbar>
            <v-form @submit.prevent="classSubmit()" ref="class" class="px-3 py-3" v-if="data.role.role != 'admin'">
                <v-select
                    :readonly="(role == 'teacher' && data.role.role == 'teacher') || (role == 'master' && data.role.role == 'master') ? true : false"
                    :rules="[rules.country]"
                    :items="filter.countries"
                    item-text="country"
                    item-value="id"
                    v-model="classEdit.country"
                    label="Country"
                    @change="filterCountry"
                    :filled="(role == 'teacher' && data.role.role == 'teacher') || (role == 'master' && data.role.role == 'master') ? true : false"
                ></v-select>
                <v-combobox
                    :readonly="(role == 'teacher' && data.role.role == 'teacher') || (role == 'master' && data.role.role == 'master') ? true : false"
                    v-model="classEdit.colleges"
                    :items="filter.colleges"
                    item-text="name"
                    item-value="id"
                    label="Choose Colleges"
                    multiple
                    chips
                    @change="filterCollege"
                    :filled="(role == 'teacher' && data.role.role == 'teacher') || (role == 'master' && data.role.role == 'master') ? true : false"
                ></v-combobox>
                <v-combobox
                    :readonly="(role == 'teacher' && data.role.role == 'teacher') || (data.role.role == 'master') ? true : false"
                    v-model="classEdit.classes"
                    :items="filter.classes"
                    item-text="name"
                    item-value="id"
                    label="Choose Classes"
                    multiple
                    chips
                    :filled="(role == 'teacher' && data.role.role == 'teacher') || (role == 'master' && data.role.role == 'master') ? true : false"
                ></v-combobox>
                <v-btn type="submit" block color="primary">Update Classes</v-btn>
            </v-form>
            <v-flex v-else class="pa-5">
                <h2>USER CANNOT HAVE CLASSES</h2>
            </v-flex>
        </v-card>
        <history v-if="data.role.role == 'teacher'" :id="data.id" :type="'users'"/>
    </v-flex>
</template>

<script>
import History from './classes_history';
export default {
    components: { History },
    props: ['data'],
    data(){
        return {
            rules: {
                country: v => !!v || "Country is required",
                college: v => !!v || "College is required",
                class: v => !!v || "Class is required",
            },
            classEdit: {
                country: null,
                colleges: [],
                classes: [],
            },
            filter: {
                data: null,
                countries: null,
                colleges: [],
                classes: [],
            },
            role: Auth.role(),
        }
    },
    created(){
        this.getData();        
    },
    methods:{
        getData(){
            axios.get('/api/cms/alldata').then(res => {
                this.filter.data = res.data;
                this.roles = res.data.roles;
                
                this.filter.countries = res.data.countries;
                if(this.data.full_addresses && this.data.full_addresses.length)
                {
                    var user_classes = [],
                        user_colleges = [],
                        user_country;

                    for(let i = 0; i < this.filter.data.classes.length; i++){ // User Classes
                        for(let z = 0; z < this.data.full_addresses.length; z++){
                            if(this.data.full_addresses[z].cid == this.filter.data.classes[i].id){
                                user_classes.push(this.filter.data.classes[i])
                                break;
                            }
                        }
                    }
                    for(let i = 0; i < this.filter.data.colleges.length; i++){ // User Colleges
                        for(let z = 0; z < user_classes.length; z++){
                            if(user_classes[z].college_id == this.filter.data.colleges[i].id){
                                user_colleges.push(this.filter.data.colleges[i]);
                                break;
                            }
                        }
                    }
                    for(let i = 0; i < this.filter.data.countries.length; i++){ // Country Selection
                        if(this.filter.data.countries[i].id == user_colleges[0].country_id) user_country = this.filter.data.countries[i]
                    }

                    for(let i = 0; i < this.filter.data.colleges.length; i++){ // Colleges Selection
                       if(user_colleges[0].country_id == this.filter.data.colleges[i].country_id) this.filter.colleges.push(this.filter.data.colleges[i])
                    }

                    for(let i = 0; i < this.filter.data.classes.length; i++){ // Classes Selection
                        for(let z = 0; z < user_colleges.length; z++){
                            if(user_colleges[z].id == this.filter.data.classes[i].college_id) this.filter.classes.push(this.filter.data.classes[i])
                        }
                    }
                    
                    this.classEdit.classes = user_classes;
                    this.classEdit.colleges = user_colleges;
                    this.classEdit.country = user_country;
                }
            })
        },
        classSubmit(){
            if (this.$refs.class.validate()) {
                this.classEdit.id = this.data.id;
                axios.post('/api/cms/users/class', this.classEdit).then( res => {
                    Alert.on(['success', res.data])
                }).catch(err => {
                    Alert.on(['error', err.response.data])
                    if(err.response.data.errors) this.errors = err.response.data.errors;
                })
            }
        },
        filterCountry(v){
            this.classEdit.country = v;
            this.classEdit.colleges = null
            this.classEdit.classes = []
            this.filter.colleges = [];
            this.filter.classes = [];            
            for(let i = 0; i < this.filter.data.colleges.length; i++){
                if(this.classEdit.country == this.filter.data.colleges[i].country_id) this.filter.colleges.push(this.filter.data.colleges[i])
            } 
        },
        filterCollege(v){
            this.classEdit.colleges = v;
            if(this.data.role.role == 'master') this.classEdit.classes = [];
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.classes.length; i++){
                for(let z = 0; z < this.classEdit.colleges.length; z++){
                    if(this.classEdit.colleges[z].id == this.filter.data.classes[i].college_id){
                        this.filter.classes.push(this.filter.data.classes[i])
                        if(this.data.role.role == 'master') this.classEdit.classes.push(this.filter.data.classes[i])
                    }
                }
            } 
        },
    }
}
</script>

<style>

</style>
