<template>
    <v-flex>
        <v-card v-if="data">
            <v-toolbar flat>
                <v-toolbar-title>Edit Class</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn text color="red" @click="removeClass()">Remove From Class</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-form class="px-3 py-3" @submit.prevent="classSubmit()" ref="class" v-if="filter.countries">
                <v-select
                    :rules="[rules.country]"
                    :items="filter.countries"
                    item-text="country"
                    item-value="id"
                    v-model="classEdit.country"
                    label="Country"
                    @change="filterCountry"
                ></v-select>
                <v-select
                    :rules="[rules.college]"
                    :items="filter.colleges"
                    item-text="name"
                    item-value="id"
                    v-model="classEdit.college"
                    label="College"
                    @change="filterCollege"
                ></v-select>
                <v-select
                    :rules="[rules.class]"
                    :items="filter.classes"
                    item-text="name"
                    item-value="id"
                    v-model="classEdit.class"
                    label="Class"
                    autocomplete
                ></v-select>
                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
            </v-form>
        </v-card>
        <history :id="data.id" :type="'students'"/>
    </v-flex>
</template>

<script>
import History from './classes_history';
export default {
    components: { History },
    props: ['data'],
    data(){
        return {
            classEdit: {
                country: null,
                college: null,
                class: null,
            },
            filter: {
                data: null,
                countries: null,
                colleges: [],
                classes: [],
            },
            rules: {
                country: v => !!v || "Country is required",
                college: v => !!v || "College is required",
                class: v => !!v || "Class is required",
            },
            loading: false
        }
    },
    created(){
        this.getData()
    },
    methods:{
        getData(){
            axios.get('/api/cms/alldata').then(res => {
                this.filter.data = res.data;
                this.filter.countries = res.data.countries;
                if(this.data.full_address && this.data.full_address.cid)
                {
                    var user_class,
                        user_college,
                        user_country;

                    for(let i = 0; i < this.filter.data.classes.length; i++){
                        if(this.data.full_address.cid == this.filter.data.classes[i].id){
                            user_class = this.filter.data.classes[i];
                            break;
                        }
                    }
                    for(let i = 0; i < this.filter.data.colleges.length; i++){
                        if(user_class.college_id == this.filter.data.colleges[i].id){
                            user_college = this.filter.data.colleges[i];
                            break;
                        }
                    }
                    for(let i = 0; i < this.filter.data.countries.length; i++){
                        if(user_college.country_id == this.filter.data.countries[i].id){
                            user_country = this.filter.data.countries[i];
                            break;
                        }
                    }
                    this.classEdit.country = user_country.id
                    for(let i = 0; i < this.filter.data.colleges.length; i++){
                       if(user_college.country_id == this.filter.data.colleges[i].country_id) this.filter.colleges.push(this.filter.data.colleges[i])
                    }
                    for(let i = 0; i < this.filter.data.classes.length; i++){
                       if(user_class.college_id == this.filter.data.classes[i].college_id) this.filter.classes.push(this.filter.data.classes[i])
                    }
                    this.classEdit.college = user_college.id;
                    this.classEdit.class = user_class.id;
                }
            })
        },
        classSubmit(){
            if (this.$refs.class.validate()) {
                this.loading = true;
                this.classEdit.id = this.data.id;
                axios.post('/api/cms/students/class', this.classEdit).then( res => {
                    this.loading = false;
                    Alert.on(['success', res.data])
                }).catch(err => {
                    Alert.on(['error', err.response.data])
                    this.loading = false;
                    if(err.response.data.errors.phone) this.errors.phone = err.response.data.errors.phone
                })
            }
        },
        removeClass(){
            axios.post('/api/cms/students/class/remove', {id: this.data.id}).then( res => {
                Alert.on(['success', res.data])
                this.$router.push('/CMS/students/all')
                this.filter.classes = []
                this.filter.colleges = [];
                this.classEdit.country = '';
            }).catch(err => {
                Alert.on(['error', err.response.data])
            })
        },
        filterCountry(v){
            this.classEdit.country = v;
            this.classEdit.college = null
            this.classEdit.class = null
            this.filter.colleges = [];
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.colleges.length; i++){
                if(this.classEdit.country == this.filter.data.colleges[i].country_id) this.filter.colleges.push(this.filter.data.colleges[i])
            } 
        },
        filterCollege(v){
            this.classEdit.college = v;
            this.classEdit.class = null
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.classes.length; i++){
                if(this.classEdit.college == this.filter.data.classes[i].college_id) this.filter.classes.push(this.filter.data.classes[i])
            } 
        },
    }
}
</script>

<style>

</style>
