<template>
    <v-flex class="pa-3">
        <v-flex v-if="data && data.challenges">
            <v-data-table
                :headers="headers.challenges"
                :items="data.challenges"
                :sort-by="['created_at']"
                :sort-desc="[false, true]"
                multi-sort
                class="elevation-1"
                :search="search"  
                :hide-default-footer="data.challenges ? false : true"
                no-data-text="No Actice Challenges"
                >
                <template v-slot:top>
                    <v-flex class="px-5 py-3">
                        <h2 class="mb-4">Challenges</h2>
                        <v-text-field class="pt-0" v-model="search" label="search challenges"></v-text-field>
                    </v-flex>
                </template>
                
                <template v-slot:item.created_at="props">
                    {{time(props.item.created_at)}}
                </template>

                <template v-slot:item.actions="props">
                    <v-btn @click="close('containers', props.item.id)" color="red" small dark>Close</v-btn>
                    <v-btn @click="show('games', props.item)" color="blue" small dark>Show Challenge</v-btn>
                </template>
            </v-data-table>
        </v-flex>
        <v-flex v-if="data && data.lessons">
            <v-data-table
                :headers="headers.lessons"
                :items="data.lessons"
                :sort-by="['created_at']"
                :sort-desc="[false, true]"
                class="elevation-1"
                :search="search"  
                :hide-default-footer="data.lessons ? false : true"
                no-data-text="No Actice Lessons"
                >
                <template v-slot:top>
                    <v-flex class="px-5 py-3">
                        <h2 class="mb-4">Practice Arena</h2>
                        <v-text-field class="pt-0" v-model="search" label="search lessons"></v-text-field>
                    </v-flex>
                </template>
                <template v-slot:item.created_at="props">
                    {{time(props.item.created_at)}}
                </template>
                <template v-slot:item.actions="props">
                    <v-btn @click="close('lesson_containers', props.item.id)" color="red" small dark>Close</v-btn>
                    <v-btn @click="show('lesson', props.item)" color="blue" small dark>Show Lesson</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-flex>
</template>

<script>

export default {
    props: ['type', 'headers'],
    data() {
        return {
            data: null,
            loading: false,
            search: '',
        };
    },
    created() {
        this.getData();  
    },
    methods: {
        getData(){
            axios.get(`/api/cms/${this.type}/${this.$route.params.slug}/dockers`).then(res => {
                this.data = res.data;
            })
        },
        close(type, id){
            axios.post(`/api/cms/${this.type}/${this.$route.params.slug}/dockers`, {table: type, id: id}).then(res => {
                if(type == 'containers'){
                    let index = this.data.challenges.findIndex( e => {
                        if(e.id == id) return e;
                    } )
                    this.data.challenges.splice(index, 1);
                }else{
                    let index = this.data.lessons.findIndex( e => {
                        if(e.id == id) return e;
                    } )
                    this.data.lessons.splice(index, 1);
                }
                return Alert.on(["success", res.data]);
            }).catch(err => {
                return Alert.on(["error", err.response.data]);
            })
        },
        time(date){
            return Time.set(date);
        },
        show(type, item){
            if(type == 'games') this.$router.push('/CMS/games/' + item.game_id)
            else this.$router.push('/CMS/lessons/' + item.lesson_id)
        }
    }
};
</script>

<style>
</style>
