<template>
  <v-flex class="px-5">
    <v-toolbar>
      <v-toolbar-title>Challenges History</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>{{data.games.length}} Challenges Played Total</v-toolbar-title>
    </v-toolbar>
    <v-data-table flat :headers="gamesHeaders" :items="data.games" class="elevation-1">
      <template v-slot:top>
        <v-btn class="ma-3" color="indigo" outlined rounded @click="dialog = true">reset all activity</v-btn>
      </template>
      <template v-slot:item.status="props">
        <v-icon large v-if="props.item.status" color="success">toggle_on</v-icon>
        <v-icon large v-else color="red">toggle_off</v-icon>
      </template>
      <template v-slot:item.locked="props">
        <v-icon class="pointer" @click="gameLock('0', props.item.game_id)" large v-if="props.item.locked" color="success">toggle_on</v-icon>
        <v-icon class="pointer" @click="gameLock('1', props.item.game_id)" large v-else color="red">toggle_off</v-icon>
      </template>

      <template v-slot:item.actions="props">
          <v-icon color="green" @click="changeRoute(props.item.game_id)">visibility</v-icon>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title primary-title>
          Reset all the challenges activity
        </v-card-title>
        <v-card-text>
          Are you sure you want to reset all activities?
        </v-card-text>
        <v-card-actions>
          <v-btn @click="dialog = false">cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green" dark @click="reset('all')">Accept</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-flex>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      dialog: false,
      gamesHeaders: [
        { text: "Category", value: "category" },
        { text: "Challenge", value: "name" },
        { text: "Points", value: "points" },
        { text: "Attempts", value: "attempts"},
        { text: "Status", value: "status", align: 'end' },
        { text: "Locked", value: "locked", align: 'end' },
        { text: "Actions", value: "actions", align: 'end' },
      ]
    };
  },
  created() {},
  methods: {
    changeRoute(v) {
      this.$router.push("/CMS/games/" + v);
    },
    gameLock(status, game){
      let index = this.data.games.findIndex( e => {
        if(e.game_id == game) return e;
      })
        
      axios.post(`/api/cms/students/game/locked`, {status: status, user_id: this.data.id, game_id: game}).then(res => {
        this.data.games[index].locked = !this.data.games[index].locked;
        Alert.on(["success", "User's Challenge unlocked"]);
      })
    },
    reset(content){
      let data = {
        tables: ['attempts', 'game_hints', 'total_scores'],
        data: content,
        id: window.location.pathname.split('/')[3]
      };
      this.dialog = false;
      axios.post(`/api/cms/students/reset-activities`, data).then(res => {
        Alert.on(['success', res.data]);
        this.data.games = [];
      }).catch(err => {
        Alert.on(['error', err.response.data]);
      })
    }
  }
};
</script>

<style>
</style>
