<template>
    <v-flex v-if="games.data">
        <v-toolbar>
            <v-toolbar-title>Lessons Allowed</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title>{{avail_lessons}}/{{games.data.length}} Lessons</v-toolbar-title>
        </v-toolbar>
        <v-data-table
            v-model="selected"
            :headers="gamesAllowsHeaders"
            :items="games.data"
            :sort-by="pagination.sortBy.findIndex"
            show-select
            :search="search"
            item-key="name"
            class="elevation-1 mb-4"
            >
            <template v-slot:top>
            <v-flex class="pt-5">
                <v-text-field
                    outlined
                    class="mx-4 mt-2"
                    placeholder="Seach Lesson"
                    v-model="search"
                ></v-text-field>            
            </v-flex>
            </template>
            <template v-slot:headers="props">
            <tr>
                <th>
                <v-checkbox
                    :input-value="props.all"
                    :indeterminate="props.indeterminate"
                    primary
                    hide-details
                    @click.stop="toggleAll()"
                ></v-checkbox>
                </th>
                <th
                v-for="header in props.headers"
                :key="header.text"
                :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                @click="changeSort(header.value)"
                >
                <v-icon small>arrow_upward</v-icon>
                {{ header.text }}
                </th>
            </tr>
            </template>
            <template v-slot:items="props">
                <tr :active="props.selected" @click="props.selected = !props.selected">
                    <td>
                    <v-checkbox
                        :input-value="props.selected"
                        primary
                        hide-details
                    ></v-checkbox>
                    </td>
                    <td>{{ props.item.name }}</td>
                    <td class="text-center">{{ props.item.category ? props.item.category.name : 'No Category' }}</td>
                    <td class="text-center">{{ props.item.points ? props.item.points.name : 'No Points' }}</td>
                </tr>
            </template>
        </v-data-table>
        <v-btn color="primary" block @click="submit()">Submit Lessons</v-btn>
    </v-flex>
</template>

<script>
export default {
    props: ['data'],
    data(){
        return {
            games: [],
            selected: [],
            search: '',
            pagination: {
                sortBy: 'name',
                amount: 10
            },
            gamesAllowsHeaders: [
                { text: 'Name', value: 'name' },
                { text: 'Module', value: 'module' },
                { text: 'Points', value: 'points' },
            ],
            role: Auth.role(),
            avail_lessons: null
        }
    },
    created(){
        this.getLessons()
        this.selected = this.data.lessons_allowed;
        this.avail_lessons = this.data.lessons_allowed.length;
    },
    methods:{
        getLessons(){
            axios.get(`/api/cms/lessons/${1000}?page=${1}`).then(res => {     
                this.games = res.data;      
            }).catch(err => {
                Alert.on(['error', err.response.data])
                this.$router.go(-1)
            })
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
            else this.selected = this.games.data.slice()
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        submit(){
            axios.post(`/api/cms/students/lessons`, {id: this.data.id, lessons: this.selected}).then( res => {
                Alert.on(['success', res.data])
            }).catch(err => {
                Alert.on(['error', err.response.data])
            })
        }
    }
}
</script>

<style>

</style>
