<template>
    <v-flex class="mx-5">
      <v-card class="pa-3">
        <v-form @submit.prevent="profileSubmit()" class="text-left">
          <h1 class="headline mb-2">Multi Factor Authentication</h1>
          <p>
            2 factor authentication with google authenticator.
            <br>
            When ever logs in, the user needs to enter the valid code he recived after scanned the QR.
            <br>
            If the user needs a new QR you can send him.
          </p>
            <v-switch v-model="data.active_2fa" class="ma-2 d-flex justify-center" color="success" label="2 Factor Authentication"></v-switch>
            <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
        </v-form>
      </v-card>
      <v-card class="pa-3 mt-4">
        <h1 class="headline">Send QR Code</h1>
        <p>Send mail to the user with a one time link to receive a new QR code</p>
        <v-btn class="mt-3" outlined color="primary" block @click="sendQR()">Send QR Code</v-btn>
      </v-card>
    </v-flex>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      errors: {},
      type: window.location.pathname.split("/")[2],
      loading: false,
      form: {
        id: null,
        active_2fa: null
      },
    };
  },

  created(){
    this.form.id = this.data.id
  },

  methods: {
    profileSubmit() {
        this.data.active_2fa = this.data.active_2fa ? 1 : 0;
        if(![0, 1].includes(this.data.active_2fa)) return;

        this.loading = true;
        this.form.active_2fa = this.data.active_2fa;

        axios
          .post(`/api/cms/${this.type}/active-mfa`, this.form)
          .then(res => {
            this.loading = false;
            Alert.on(["success", res.data]);
          })
          .catch(err => {
            this.loading = false;
            if (err.response.data.errors)
              this.errors = err.response.data.errors;
            else Alert.on(["error", err.response.data]);
          });
    },
    showInput(val){
      if(val == 'pass') this.vispass = !this.vispass;
      else this.vispassconf = !this.vispassconf;
    },
    sendQR(){
      axios.post(`/api/cms/${this.type}/new-qrcode/${this.data.id}`).then( res => {
        Alert.on(["success", 'QR Code Sent Successfully']);
      }).catch( err => {
        Alert.on(["error", 'Failed To Sent QR Code']);
      })
    }
  }
};
</script>

<style>
</style>
