<template>
    <v-flex class="mx-5">
      <v-card class="pa-3">
        <v-form @submit.prevent="profileSubmit()" ref="profile">
          <h1 class="headline mb-2">Update Password</h1>
            <v-text-field
                  outlined
                  :type="vispass ? 'text' : 'password'"
                  label="Password"
                  v-model="form.password"
                  :rules="[rules.password]"
                  :error-messages="errors.password ? errors.password : ''"
                  :append-icon="!vispass ? 'visibility_off' : 'visibility'"
                  @click:append="showInput('pass')"
            ></v-text-field>
            <v-text-field
                  outlined
                  :type="vispassconf ? 'text' : 'password'"
                  label="Password Confirmation"
                  v-model="form.password_confirmation"
                  :rules="[rules.password_confirmation]"
                  :error-messages="errors.password_confirmation ? errors.password_confirmation : ''"
                  :append-icon="!vispassconf ? 'visibility_off' : 'visibility'"
                  @click:append="showInput('passconf')"
            ></v-text-field>
            <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
        </v-form>
      </v-card>
    </v-flex>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      roles: [],
      subs: [],
      vispass: false,
      vispassconf: false,
      form: {
        password: "",
        password_confirmation: ""
      },
      rules: {
        password: v => !!v && v.length > 8 && /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d#$@!%&*\^?]{8,40}$/.test(v) || "Password must be at least 9 chars & contain at least one lowercase, one uppercase and one numeric",
        password_confirmation: v => !!v && v == this.form.password || "Password confirm is doesnt match password",
      },
      errors: {},
      teacher: Auth.teacher(),
      type: window.location.pathname.split("/")[2],
      loading: false
    };
  },

  methods: {
    profileSubmit() {
      if (this.$refs.profile.validate()) {
        this.errors = {};
        this.form.id = this.data.id;
        this.loading = true;
        axios
          .post(`/api/cms/${this.type}/password`, this.form)
          .then(res => {
            this.loading = false;
            Alert.on(["success", res.data]);
          })
          .catch(err => {
            this.loading = false;
            if (err.response.data.errors)
              this.errors = err.response.data.errors;
            else Alert.on(["error", err.response.data]);
          });
      }
    },
    showInput(val){
      if(val == 'pass') this.vispass = !this.vispass;
      else this.vispassconf = !this.vispassconf;
    }
  }
};
</script>

<style>
</style>
