<template>
  <v-flex class="px-5 pb-5">
    <v-toolbar>
      <v-toolbar-title>Practice Arena History</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>{{data.played_practice.length}} Lessons Played Total</v-toolbar-title>
    </v-toolbar>
    <v-data-table flat :headers="gamesHeaders" :items="data.played_practice" class="elevation-1">
      <template v-slot:top>
        <v-btn class="ma-3" color="indigo" outlined rounded @click="dialog = true">reset all activity</v-btn>
      </template>
      
      <template v-slot:item.status="props">
        <v-icon large class="cms_status" v-if="props.item.status" color="success">toggle_on</v-icon>
        <v-icon large class="cms_status" v-else color="red">toggle_off</v-icon>
      </template>

      <template v-slot:item.actions="props">
        <td class="text-xs-left">
          <v-icon color="green" @click="changeRoute(props.item.game_id)">visibility</v-icon>
        </td>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title primary-title>
          Reset all the practice arena activity
        </v-card-title>
        <v-card-text>
          Are you sure you want to reset all activities?
        </v-card-text>
        <v-card-actions>
          <v-btn @click="dialog = false">cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green" dark @click="reset('all')">Accept</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      dialog: false,
      gamesHeaders: [
        { text: "Module", value: "module" },
        { text: "Lesson", value: "lesson" },
        { text: "Points", value: "points" },
        { text: "Status", value: "status", align: 'end' },
      ]
    };
  },
  created() {},
  methods: {
    changeRoute(v) {
      this.$router.push("/CMS/games/" + v);
    },
    reset(content){
      let data = {
        tables: ['lesson_attempts', 'mission_task_attempts', 'mission_task_hints', 'practice_arena_total_scores'],
        data: content,
        id: window.location.pathname.split('/')[3]
      };
      this.dialog = false;
      axios.post(`/api/cms/students/reset-activities`, data).then(res => {
        Alert.on(['success', res.data]);
        this.data.played_practice = [];
      }).catch(err => {
        Alert.on(['error', err.response.data]);
      })
    }
  }
};
</script>

<style>
</style>
