<template>
    <v-layout v-if="data" xs12 wrap d-flex class="my-5" style="min-height:370px">
        <v-flex xs12 md4 class="px-1">
            <v-toolbar color="indigo" dark>
                <v-toolbar-title>PRIVATE</v-toolbar-title>
            </v-toolbar>
            <v-list two-line subheader>

                <v-list-item>

                    <v-list-item-icon>
                    <v-icon color="indigo">person</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>{{data.name}}</v-list-item-title>
                    <v-list-item-subtitle>Name</v-list-item-subtitle>
                    </v-list-item-content>

                </v-list-item>

                <v-divider inset></v-divider>
                
                <v-list-item>
                    <v-list-item-icon>
                    <v-icon color="indigo">mdi-email</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>{{data.email}}</v-list-item-title>
                    <v-list-item-subtitle>Email</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item>

                    <v-list-item-icon>
                    <v-icon color="indigo">mdi-phone</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>{{data.phone}}</v-list-item-title>
                    <v-list-item-subtitle>Phone</v-list-item-subtitle>
                    </v-list-item-content>

                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item>

                    <v-list-item-icon>
                    <v-icon color="indigo">fingerprint</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>{{data.role.role}}</v-list-item-title>
                    <v-list-item-subtitle>Role</v-list-item-subtitle>
                    </v-list-item-content>

                </v-list-item>

                <v-divider inset></v-divider>
                
                <v-list-item v-if="data.full_address">

                    <v-list-item-icon>
                    <v-icon color="indigo">mdi-map-marker</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>{{data.full_address.country}}, {{data.full_address.college}}, {{data.full_address.class}}</v-list-item-title>
                    <v-list-item-subtitle>Class</v-list-item-subtitle>
                    </v-list-item-content>

                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item v-if="data.subscription">
                    <v-list-item-icon>
                    <v-icon color="indigo">card_giftcard</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>{{data.subscription.name}}, 
                        <span v-if="data.subscription.name == 'Normal Class'">While In Course</span>
                        <span v-else>
                            <span v-if="data.subscription.duration == -1">Unlimited</span>
                            <span v-else>{{data.subscription.duration}} / {{data.subscription.duration > 1 ? 'MONTHS' : 'MONTH'}}
                            </span>
                        </span>

                    </v-list-item-title>
                    <v-list-item-subtitle>Subscription</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-flex>
        <v-flex xs12 md8 class="px-1">
            <v-flex d-flex>
                <v-flex xs12 lg6 class="px-2">
                    <v-toolbar color="indigo" dark>
                        <v-toolbar-title>ACTIVITIES</v-toolbar-title>
                    </v-toolbar>
                     <v-list two-line subheader>
                        <v-flex v-for="(item, i) in statics" :key="item.title">
                            <v-list-item avatar>
                                <v-list-item-avatar>
                                    <v-icon color="indigo">{{ item.icon }}</v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content class="text-left">
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>
                                <v-list-item-action>
                                    {{ item.value ? item.value : '0' }}
                                </v-list-item-action>
                            </v-list-item>
                            <v-divider v-if="i != (statics.length - 1)"></v-divider>
                        </v-flex>
                    </v-list>
                </v-flex>
                <v-flex xs12 lg6 class="px-2">
                    <v-toolbar color="indigo" dark>
                        <v-toolbar-title>GENERAL</v-toolbar-title>
                    </v-toolbar>
                      <v-list two-line subheader>
                        <v-flex v-for="(item, i) in details" :key="item.title">
                            <v-list-item avatar>
                                <v-list-item-avatar>
                                    <v-icon :color="item.color">{{ item.icon }}</v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content class="text-left">
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item-content>

                                <v-list-item-action>
                                    {{ item.value ? item.value : 'No Data' }}
                                </v-list-item-action>
                            </v-list-item>
                            <v-divider v-if="i != (details.length - 1)"></v-divider>
                        </v-flex>
                    </v-list>
                </v-flex>
            </v-flex>
        </v-flex>
    </v-layout>
</template>

<script>
import ProfileEdit from './profile_edit'
export default {
    components: { ProfileEdit },
    props: ['data'],
    data(){
        return {
            items: [
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Photos', subtitle: 'Jan 9, 2014' },
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Recipes', subtitle: 'Jan 17, 2014' },
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Work', subtitle: 'Jan 28, 2014' }
            ],
            items2: [
                { icon: 'assignment', iconClass: 'blue white--text', title: 'Vacation itinerary', subtitle: 'Jan 20, 2014' },
                { icon: 'call_to_action', iconClass: 'amber white--text', title: 'Kitchen remodel', subtitle: 'Jan 10, 2014' }
            ],
            statics: [
                {title: 'Challenges Played', icon: 'videogame_asset', value: null},
                {title: 'Challenges Finished', icon: 'emoji_events', value: null},
                {title: 'Challenges Hints', icon: 'help', value: null},
                {title: 'Lessons Practiced', icon: 'videogame_asset', value: null},
                {title: 'Lessons Finished', icon: 'emoji_events', value: null},
                {title: 'Lessons Hints', icon: 'help', value: null},
            ],
            details: [
                {title: 'Signup Date', color: 'indigo', icon: 'person_add', value: null},
                {title: 'Last Login', color: 'indigo', icon: 'emoji_people', value: null},
                {title: 'Last Attempt', color: 'indigo', icon: 'sports_handball', value: null},
                {title: 'Last IP', color: 'indigo', icon: 'device_unknown', value: null},
            ],
            img: IMG + 'avatars/',
            role: Auth.role(),
        }
    },
    created(){
        this.setDetails(this.data);
    },
    methods:{
        setDetails(data){
            this.statics[0].value = data.played_count;
            this.statics[1].value = data.finished_count;
            this.statics[2].value = data.hints_count;
            this.statics[3].value = data.played_practice.length;
            this.statics[4].value = data.finished_practice_count;
            this.statics[5].value = data.hints_practice_count;
            
            this.details[0].value = data.created_at;
            this.details[1].value = data.last_logged ? data.last_logged.created_at : 'No Logs';
            this.details[2].value = data.last_attempt ? data.last_attempt.created_at : 'No Attempts';
            this.details[3].value = data.last_ip ? data.last_ip.ip : 'No IP';
        },
    }
}
</script>

<style scoped>
    .img{
        width: 300px;
        max-width: 50vw;
        border-radius: 50% !important;
        height: auto;
    }
</style>
