<template>
    <v-flex xs10 mx-auto class="mt-4">
      <v-form class="px-3 py-2" @submit.prevent="profileSubmit()" ref="profile">
          <v-select
              outlined
              v-if="!teacher"
              :items="roles"
              item-text="role"
              item-value="id"
              v-model="formEdit.role"
              label="User Role"
          ></v-select>
          <v-text-field
              outlined
              label="Edit Name"
              v-model="formEdit.name"
              :rules="[rules.name]"
              :error-messages="errors.name ? errors.name : ''"
          ></v-text-field>
          <v-text-field
              outlined
              label="Edit Email"
              v-model="formEdit.email"
              :rules="[rules.email]"
              :error-messages="errors.email ? errors.email : ''"
          ></v-text-field>
          <v-text-field
              outlined
              label="Edit Phone"
              v-model="formEdit.phone"
              :error-messages="errors.phone ? errors.phone : ''"
          ></v-text-field>
          <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
      </v-form>
    </v-flex>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      roles: [],
      subs: [],
      formEdit: {
        password: ""
      },
      password: false,
      rules: {
        name: v => !!v || "Name is required",
        email: v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      },
      errors: {},
      teacher: Auth.teacher(),
      loading: false
    };
  },
  created() {
    if (!Auth.teacher()) this.getRoles();
    this.formEdit.name = this.data.name;
    this.formEdit.active_2fa = this.data.active_2fa;
    this.formEdit.email = this.data.email;
    this.formEdit.phone = this.data.phone;
    this.formEdit.role = this.data.role.id;
  },
  methods: {
    getRoles() {
      axios.get("/api/cms/users/roles").then(res => {
        this.roles = res.data;
      });
    },
    profileSubmit() {
      if (this.$refs.profile.validate()) {
        this.errors.name = [];
        this.errors.email = [];
        this.errors.phone = [];
        this.errors.password = [];
        this.formEdit.id = this.data.id;
        let user = window.location.pathname.split("/")[2];
        this.loading = true;
        this.formEdit.active_2fa = this.formEdit.active_2fa ? 1 : 0;
        axios
          .post(`/api/cms/${user}/profile`, this.formEdit)
          .then(res => {
            this.loading = false;
            Alert.on(["success", res.data]);
            this.data.name = this.formEdit.name;
          })
          .catch(err => {
            this.loading = false;
            if (err.response.data.errors)
              this.errors = err.response.data.errors;
            else Alert.on(["error", err.response.data]);
          });
      }
    }
  }
};
</script>

<style>
</style>
