<template>
    <v-flex v-if="data" d-flex justify-space-between align-center>
        <v-flex xs12 lg6 class="text-center py-2">
            <img class="img" :src="img + data.image" alt="">
            <h1 class="headline">{{data.name}}</h1>
            <h3 v-if="data.details.level">Level {{data.details.level.level}}</h3>
            <h3>{{data.details.points + ' / ' + data.details.level.next_level}} Points</h3>
            <v-flex xs12 md6 class="mx-auto my-2">
                <v-progress-linear
                    color="info"
                    height="30"
                    :value="data.details.points * 100 / data.details.level.next_level"
                    class="progress"
                >{{Math.floor(data.details.points * 100 / data.details.level.next_level)}}%</v-progress-linear>
            </v-flex>
            <v-btn text :class="data.status == 1 ? 'green--text' : 'red--text'" title="update status">
                Status &nbsp;
                <span v-if="data.status == 1"> Active</span>
                <span v-if="data.status == 2"> Waiting</span>
                <span  v-if="data.status == 0"> Inactive</span>
                <v-icon
                class="pointer ml-2"
                @click="statusSubmit(0)"
                v-if="data.status == 1"
                style="font-size:3em;"
                color="green"
                >toggle_on</v-icon>
                <v-icon
                class="pointer ml-2"
                @click="statusSubmit(1)"
                v-else
                style="font-size:3em;"
                color="red"
                >toggle_off</v-icon>
            </v-btn>
        </v-flex>
        <v-flex xs12 lg6 class="py-3">
            <profile-edit :data="data" />
        </v-flex>
    </v-flex>
</template>

<script>
import ProfileEdit from './profile_edit'
export default {
    components: { ProfileEdit },
    props: ['data'],
    data(){
        return {
            items: [
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Photos', subtitle: 'Jan 9, 2014' },
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Recipes', subtitle: 'Jan 17, 2014' },
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Work', subtitle: 'Jan 28, 2014' }
            ],
            items2: [
                { icon: 'assignment', iconClass: 'blue white--text', title: 'Vacation itinerary', subtitle: 'Jan 20, 2014' },
                { icon: 'call_to_action', iconClass: 'amber white--text', title: 'Kitchen remodel', subtitle: 'Jan 10, 2014' }
            ],
            statics: [
                {title: 'Games Played', color: 'primary', icon: 'videogame_asset', value: null},
                {title: 'Games Finished', color: 'success', icon: 'insert_emoticon', value: null},
                {title: 'Games Failed', color: 'red', icon: 'sentiment_very_dissatisfied', value: null},
                {title: 'Hints Used', color: 'info', icon: 'help_outline', value: null},
            ],
            details: [
                {title: 'Signup Date', color: 'primary', icon: 'person_add', value: null},
                {title: 'Last Login', color: 'success', icon: 'emoji_people', value: null},
                {title: 'Last Attempt', color: 'red', icon: 'sports_handball', value: null},
                {title: 'Last IP', color: 'info', icon: 'device_unknown', value: null},
            ],
            img: IMG + 'avatars/',
            role: Auth.role(),
        }
    },
    created(){
        this.setDetails(this.data);
    },
    methods:{
        setDetails(data){
            this.statics[0].value = data.played_count;
            this.statics[1].value = data.finished_count;
            this.statics[2].value = data.played_count - data.finished_count;
            this.statics[3].value = data.hints_count;
            
            this.details[0].value = data.created_at;
            this.details[1].value = data.last_logged ? data.last_logged.date : 'No Logs';
            this.details[2].value = data.last_attempt ? data.last_attempt.date : 'No Attempts';
            this.details[3].value = data.last_ip ? data.last_ip.ip : 'No IP';
        },
        statusSubmit(status) {
            if (this.role == "admin" || this.role != this.data.role.role) {
                axios
                .post("/api/cms/users/status", { id: this.data.id, status: status })
                .then(res => {
                    this.data.status = status;
                    Alert.on(["success", res.data]);
                });
            }
        },
    }
}
</script>

<style scoped>
    .img{
        width: 25%;
        max-width: 50vw;
        border-radius: 50% !important;
        height: auto;
    }
</style>
