<template>
    <v-flex >
        Settings
    </v-flex>
</template>

<script>
export default {
    props: ['data'],
    data(){
        return {
           
        }
    },
    created(){
       
    },
    methods:{
       
    }
}
</script>

<style>

</style>
