<template>
    <div>
        <v-flex d-flex>
            <v-flex md6>
                <v-toolbar flat>
                    <v-toolbar-title>
                        Categories Activities - Total {{ total }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-icon color="amber" style="font-size:3em">view_list</v-icon>
                </v-toolbar>
                <apexcharts type="donut" height="350" :options="categories.chartOptions" :series="categories.series"></apexcharts>
            </v-flex>
        </v-flex>
    </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
export default {
    components: {
        apexcharts: VueApexCharts,
    },

    props: ['data'],

    data(){
        return {
            categories: {
                series: [],
                series_red: [],
                series_blue: [],
                chartOptions: {
                    colors: ['#F44336','#E91E63','#9C27B0','#CDDC39','#2196F3','#00BCD4','#009688', '#8BC34A', '#FFC107', '#FF9800', '#607D8B', '#795548', '#4CAF50'],
                    labels: [],
                    responsive: [{
                        breakpoint: 100,
                        options: {
                        chart: {
                            width: 250
                        },
                        },
                    }],
                    plotOptions: {
                        pie: {
                            size: 140
                        }
                    }
                },
            },
            type: window.location.pathname.split("/")[2],
            total: 0
        }
    },

    created(){
        this.getStatistics();
    },

    methods:{
        getStatistics(){
            axios.get(`/api/cms/${this.type}/${this.$route.params.slug}/statistics`).then(res => {
       
                // Most categories challenges 
                this.setCategories(res.data.categories);
                
            })
        },

        setCategories(data){
            for(let i = 0; i < data.length; i++){
                this.total+= data[i].total;
                this.categories.chartOptions.labels.push(`${data[i].name}`)
                this.categories.series.push(data[i].total)
            }  
        }
    }
}
</script>

<style scoped>

</style>