<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :multisort="multisort"
      :actions="actions"
      :dialog="dialog"
      :active="active"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
      title: "Active Users",
      multisort: true,
      api: "cms/users",
      active: 1,
      id: Auth.id(),
      img: IMG + "games/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Users",
        one: "user",
        multiple: "users"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Role", value: "role" },
        { text: "Email", value: "email" },
        { text: "Phone", value: "phone" },
        { text: "Country", value: "country" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Deactivate", "Delete"],
      actionBtns: ["visibility"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
