<template>
    <v-container>
        <v-flex xs12>
            <v-toolbar flat color="transparent">
                <v-toolbar-title>
                    <v-flex d-flex align-center>
                        New User
                        <v-icon class="pointer ml-3" @click="updateStatus(0)" v-if="form.status" style="font-size:3em;" color="green">toggle_on</v-icon>
                        <v-icon class="pointer ml-3" @click="updateStatus(1)" v-else style="font-size:3em;" color="red">toggle_off</v-icon>
                        <span>Status</span>
                    </v-flex>
                </v-toolbar-title>
            </v-toolbar>
            <v-form @submit.prevent="submit()" ref="form">
                <v-layout xs12 wrap d-flex justify-content-between>
                    <v-flex xs12 md8 class="mt-3">
                         <v-card class="px-3 mx-2 pb-3">
                            <v-toolbar flat color="transparent">
                                <v-toolbar-title>
                                    <v-flex d-flex align-center>
                                        User Details
                                    </v-flex>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-select
                                outlined
                                :items="roles"
                                item-text="role"
                                item-value="id"
                                v-model="form.role"
                                label="Role"
                                :rules="[rules.role]"
                                :error-messages="errors && errors.role ? errors.role : ''"
                                @change="rolePicked"
                            ></v-select>
                            <v-text-field
                                outlined
                                v-model="form.name"
                                label="Name"
                                :rules="[rules.name]"
                                :error-messages="errors && errors.name ? errors.name : ''"
                            ></v-text-field>
                            <v-text-field
                                outlined
                                v-model="form.email"
                                label="Email"
                                :rules="[rules.email]"
                                :error-messages="errors && errors.email ? errors.email : ''"
                            ></v-text-field>
                            <v-text-field
                                outlined
                                v-model="form.phone"
                                label="Phone"
                                :rules="[rules.phone]"
                                :error-messages="errors && errors.phone ? errors.phone : ''"
                            ></v-text-field>
                            <v-text-field
                                outlined
                                autocomplete="new-password"
                                v-model="form.password"
                                label="Password"
                                type="password"
                                :rules="[rules.password]"
                                :error-messages="errors && errors.password ? errors.password : ''"
                            ></v-text-field>
                            <v-text-field
                                outlined
                                v-model="form.password_confirmation"
                                label="Password Confirmation"
                                type="password"
                                :rules="[rules.password_confirmation]"
                            ></v-text-field>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 md4 class="mt-3">
                        <v-card class="px-3 mx-2 pb-3">
                            <v-toolbar flat color="transparent">
                                <v-toolbar-title>
                                    <v-flex d-flex align-center>
                                        User Classes
                                    </v-flex>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-select
                                outlined
                                :items="filter.countries"
                                item-text="country"
                                item-value="id"
                                v-model="form.country"
                                label="Country"
                                @change="filterCountry"
                                :disabled="disable.country || !form.role"
                            ></v-select>
                            <v-combobox
                                outlined
                                v-model="form.colleges"
                                :items="filter.colleges"
                                item-text="name"
                                item-value="id"
                                label="Choose Colleges"
                                multiple
                                chips
                                @change="filterCollege"
                                :disabled="disable.college || !form.role"
                                :error-messages="errors && errors.colleges ? errors.colleges : ''"
                            ></v-combobox>
                            <v-combobox
                                outlined
                                v-model="form.classes"
                                :items="filter.classes"
                                item-text="name"
                                item-value="id"
                                label="Choose Classes"
                                multiple
                                chips
                                :disabled="disable.class || !form.role"
                                :error-messages="errors && errors.classes ? errors.classes : ''"
                            ></v-combobox>
                        </v-card>
                    </v-flex>
                </v-layout>
                 <v-flex xs12 d-flex class="mt-5">
                    <v-flex xs6>
                        <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
                    </v-flex>
                </v-flex>
            </v-form>
        </v-flex>
    </v-container>
</template>

<script>
import { filter } from 'minimatch';
export default {
    data(){
        return {
            form: {
                status: true
            },
            filter: {
                data: null,
                countries: null,
                colleges: [],
                classes: [],
            },
            roles: [],
            rules: {
                role: v => !!v || 'Role is required',
                name: v => !!v || 'Name is required',
                email: v => !!v && /.+@.+\..+/.test(v) || 'Email is required and Email must be valid',
                phone: v => !!v || 'Phone is required',
                password: v => !!v && /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d#$@!%&*\^?]{9,40}$/.test(v) || 'Password is required and must be minimum 9 characters, at least one lowercase letter, uppercase letter and one number.',
                password_confirmation: v => !!v && v == this.form.password || 'Password Confirmation is Required and must match Password',
            },
            errors: {},
            disable: {
                country: false,
                college: false,
                class: false,
            },
            loading: false
        }
    },
    created(){
        this.getData()
    },
    methods:{
        getData(){
            axios.get('/api/cms/alldata').then(res => {                
                this.filter.data = res.data;
                this.filter.countries = res.data.countries;
                this.roles = res.data.roles;
            })
        },
        submit(){
            if(this.$refs.form.validate()){
                this.loading = true;
                axios.post('/api/cms/users/create', this.form).then(res => {
                    this.loading = false;
                    Alert.on(['success', res.data]);
                    let to = this.form.status ? 'active' : 'inactive';
                    this.$router.push('/CMS/users/' + to)
                }).catch(err => {
                    this.loading = false;
                    Alert.on(['error', err.response.data]);
                    this.errors = err.response.data.errors
                })
            }
        },
        filterCountry(v){
            this.form.country = v;
            this.form.colleges = []
            this.form.classes = null
            this.filter.colleges = [];
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.colleges.length; i++){
                if(this.form.country == this.filter.data.colleges[i].country_id) this.filter.colleges.push(this.filter.data.colleges[i])
            } 
        },
        filterCollege(v){
            this.form.colleges = v;
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.classes.length; i++){
                for(let z = 0; z < this.form.colleges.length; z++){
                    if(this.form.colleges[z].id == this.filter.data.classes[i].college_id){
                        this.filter.classes.push(this.filter.data.classes[i])
                        if(this.form.role == 67) this.form.classes.push(this.filter.data.classes[i])
                    }
                }
            } 
        },
        rolePicked(v){
            this.disable.country = false
            this.disable.college = false
            this.disable.class = false
            
            if(v == 134){
                this.disable.country = true  
                this.disable.college = true  
                this.disable.class = true  
            }else if(v == 67){
                this.disable.class = true  
            }else if(v == 149){
                this.disable.country = true  
                this.disable.college = true  
                this.disable.class = true  
            }
        }
    }
}
</script>

<style scoped>
 
</style>
