<template>
  <v-container>
    <v-card v-if="data">
      <v-toolbar flat color="primary" dark>
        <v-toolbar-title>USER PANEL - {{data.name}}'s {{tab}}</v-toolbar-title>
      </v-toolbar>
      <v-tabs vertical>
        <v-tab @click="tab = 'Profile'" style="justify-content: start">
          <v-icon v-if="tab != 'Profile'" left>person</v-icon>
          <v-icon v-else left>person_outline</v-icon>
          Profile
        </v-tab>
        <v-tab @click="tab = 'Details'" style="justify-content: start">
           <v-icon v-if="tab != 'Details'" left>help</v-icon>
          <v-icon v-else left>help_outline</v-icon>
          Details
        </v-tab>
        <v-tab @click="tab = 'Institutions'" style="justify-content: start">
          <v-icon v-if="tab != 'Institutions'" left>school</v-icon>
          <v-icon v-else left>school</v-icon>
          Institutions
        </v-tab>
        <v-tab @click="tab = 'Security'" style="justify-content: start">
          <v-icon v-if="tab != 'Security'" left>lock</v-icon>
          <v-icon v-else left>lock_open</v-icon>
          Security
        </v-tab>
        <v-tab @click="tab = 'Activity History'" style="justify-content: start">
          <v-icon v-if="tab != 'Activity History'" left>event_note</v-icon>
          <v-icon v-else left>event_available</v-icon>
          Activity History
        </v-tab>
        <v-tab @click="tab = 'Live Dockers'" style="justify-content: start">
          <v-icon left>dns</v-icon>
          Active Containers
        </v-tab>
        <v-tab @click="tab = 'Statistics'" style="justify-content: start">
          <v-icon left>equalizer</v-icon>
          Statistics
        </v-tab>
        <!-- <v-tab @click="tab = 'Settings'" style="justify-content: start">
          <v-icon left>settings</v-icon>
          Settings
        </v-tab> -->

        <v-tab-item>
          <profile :data="data" />
        </v-tab-item>
        <v-tab-item>
          <profile-details :data="data" />
        </v-tab-item>
        <v-tab-item>
          <classes
              class="pa-3"
              :data="data"
          />
        </v-tab-item>
        <v-tab-item>
          <v-flex class="pa-3 mt-2">
            <v-flex lg5 mx-auto>
              <profile-password :data="data" />
            </v-flex>
            <v-flex lg5 mx-auto class="mt-5 mb-3">
              <profile-mfa :data="data" />
            </v-flex>
          </v-flex>
        </v-tab-item>
        <v-tab-item>
          <games-history :data="data" class="my-4 px-2"/>
          <practice-arena-history :data="data" class="px-2"/>
        </v-tab-item>
        <v-tab-item>
          <dockers :type="'users'" :headers="headers" />
        </v-tab-item>
        <v-tab-item>
          <statistics :data="data"/>
        </v-tab-item>
        <!-- <v-tab-item>
          <settings :data="data" />
        </v-tab-item> -->
      </v-tabs>
    </v-card>
  </v-container>
</template>

<script>
    import Profile from '../General/show_parts/profile'
    import ProfileDetails from '../General/show_parts/profile_details'
    import ProfilePassword from '../General/show_parts/password'
    import ProfileMfa from '../General/show_parts/mfa'
    import Settings from '../General/show_parts/settings'
    import Classes from "../General/show_parts/classes_users"
    import GamesAllowed from '../General/show_parts/games_allowed'
    import LessonsAllowed from '../General/show_parts/lessons_allowed'
    import GamesHistory from '../General/show_parts/games_history'
    import PracticeArenaHistory from '../General/show_parts/practice_arena_history'
    import Dockers from '../General/show_parts/dockers'
    import Statistics from '../General/show_parts/statistics'

    export default {
        components: {Profile, Dockers, ProfileDetails, ProfilePassword, ProfileMfa, Settings, Classes, GamesAllowed, LessonsAllowed, GamesHistory, PracticeArenaHistory, Statistics},
        data() {
            return {
                role: Auth.role(),
                tab: 'Profile',
                data: null,
                headers: {
                  challenges: [
                      { text: 'Category', value: 'category' },
                      { text: 'Challenge', value: 'game' },
                      { text: 'IP', value: 'ip' },
                      { text: 'Port', value: 'port' },
                      { text: 'Started At', value: 'created_at' },
                      { text: 'Actions', value: 'actions' },
                  ],
                  lessons: [
                      { text: 'Module', value: 'module' },
                      { text: 'Lesson', value: 'lesson' },
                      { text: 'Container ID', value: 'container_id' },
                      { text: 'IP', value: 'ip' },
                      { text: 'Port', value: 'port' },
                      { text: 'Started At', value: 'created_at' },
                      { text: 'Actions', value: 'actions' },
                  ],
              },
            }
        },
        created() {
            this.getStudent()
        },
        methods: {
            getStudent() {
                axios.get(`/api/cms/users/show/${window.location.pathname.split('/')[3]}`).then(res => {
                    this.data = res.data;
                }).catch(err => {
                    Alert.on(['error', err.response.data])
                    this.$router.go(-1)
                })
            },
        }
    }
</script>

<style scoped>

</style>
