<template>
  <v-flex d-flex class="wrapper">
    <v-flex md5 lg4 xl3 class="h100">
      <sidebar :game="game" :docker="docker"/>
    </v-flex>

    <v-flex md7 lg8 xl9 class="h100 px-2">
      <div class="card_title">
        <h1>MACHINE</h1>
      </div>

      <div class="card machine_wrapper h100 w100">

        <!-- DOCKERS -->
        <div class="h100" v-if="docker">

          <!-- TOP -->
          <v-flex align-center d-flex justify-space-between class="top">
            <!-- TABS -->
            <v-flex md8 lg7 class="tabs_wrapper">                              
              <div v-for="(port, i) in docker.ports" @click="active_tab = i" :key="i" class="tab py-2 pr-5 pl-4 pointer" :class="active_tab == i ? 'active_tab' : ''">
                <v-menu offset-y open-on-hover v-if="active_tab == i">
                  <template v-slot:activator="{ on }">
                    <v-icon color="white" v-on="on">more_vert</v-icon>
                  </template>
                  <v-list class="py-0">
                    <v-list-item
                      class="pointer"
                      v-for="(item, index) in menuOptions"
                      :key="index"
                      @click="setAction(item.title, i, port)" 
                    >
                      <v-list-item-action class="mr-3">
                        <v-icon>{{item.icon}}</v-icon> 
                      </v-list-item-action>
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <span class="mr-3">Machine {{i + 1}}</span>
                <span v-if="active_tab == i">
                  <v-tooltip bottom color="black" v-for="(option ,z) in options" :key="z">
                    <template v-slot:activator="{ on }">
                      <v-icon @click="setAction(option.title, i, port)" v-on="on" color="grey">{{option.icon}}</v-icon>
                    </template>
                    <span>{{option.title}}</span>
                  </v-tooltip>
                </span>
              </div>
            </v-flex>
            <!-- IPS -->
            <v-flex md4 lg5 class="ip_wrapper px-3 text-right">
              <v-tooltip bottom color="black">
                <template v-slot:activator="{ on }">
                  <span v-on="on" class="pointer" @click="setAction('Machine IP', active_tab, docker.ports[active_tab])">URL <v-icon style="font-size: 0.8em" color="white">mdi-link-variant</v-icon></span>
                </template>
                <span>{{'https://' + docker.ip + ':' + docker.ports[active_tab]}} - Click to copy</span>
              </v-tooltip>
            </v-flex>
          </v-flex>

          <!-- MACHINES -->
          <div class="iframe_wrapper">
            <div v-for="(port, i) in docker.ports" :key="i" :class="active_tab == i ? 'h100' : ''">
              <!-- <iframe class="h100" :id="'iframe_' + i" src="https://cywar.hackeru.com/files/troll-web-code/index.html" frameborder="0" v-show="active_tab == i"></iframe> -->
              <!-- <iframe :id="'iframe_' + i" :src="'https://ynet.co.il'" frameborder="0" v-show="active_tab == i"></iframe> -->
              <iframe :id="'iframe_' + i" :src="'https://' + docker.ip + ':' + port" frameborder="0" v-show="active_tab == i"></iframe>
            </div>
          </div>

        </div>

        <!-- FILES -->
        <div v-if="codeFiles && codeFiles.length" class="h100">
          <div class="tabs_wrapper">                              
            <div v-for="(file, i) in codeFiles" :key="i" class="tab py-2 px-5 pointer" :class="active_tab == i ? 'active_tab' : ''">
              <span @click="active_tab = i" class="mr-3">File {{i + 1}}</span>
            </div>
          </div>
          <div v-for="(file, i) in codeFiles" :key="i" class="iframe_wrapper">
            <iframe class="h100" :src="`${origin}/files/${file.name}/index.html`" frameborder="0"></iframe>
          </div>
        </div>
        
      </div>
     
    </v-flex>

    <!-- FULLSCREEN MACHINES -->
    <v-flex d-flex align-center justify-space-between v-if="fullScreenPort" class="fullscreen_toolbar">
      <v-flex d-flex align-center>
        <h1 class="white--text mr-3 mb-0">Machine {{ fullScreenPort.index + 1 }}</h1>
        <v-tooltip bottom color="black">
          <template v-slot:activator="{ on }">
            <span v-on="on" class="pointer" @click="setAction('Machine IP', active_tab, docker.ports[active_tab])">URL <v-icon style="font-size: 0.8em" color="white">mdi-link-variant</v-icon></span>
          </template>
          <span>{{'https://' + docker.ip + ':' + docker.ports[active_tab]}} - Click to copy</span>
        </v-tooltip>
        <v-tooltip bottom color="black" v-for="(option ,z) in options" :key="z">
          <template v-slot:activator="{ on }">
            <v-icon @click="setAction(option.title, active_tab, port)" v-on="on" color="grey">{{option.icon}}</v-icon>
          </template>
          <span>{{option.title}}</span>
        </v-tooltip>
      </v-flex>
      <v-tooltip bottom color="black">
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" fab x-small @click="closeFullScreen()">
            <v-icon color="black" style="font-size:26px">fullscreen_exit</v-icon>
          </v-btn>
        </template>
        <span>Zoom Out</span>
      </v-tooltip>
    </v-flex>

  </v-flex>
</template>

<script>
import Alert from "./../../General/alerts";
import Sidebar from './sidebar'
export default {
  props: ["game"],
  components: { Alert, Sidebar },
  data() {
    return {
      form: {
        inputs: []
      },
      errors: null,
      alert: null,
      docker: null,
      codeFiles: null,
      loading: false,
      resetMode: false,
      clock: null,
      error: false,
      challengeReady: false,
      isArray: false,
      ArrIP: [],
      active_tab: 0,
      dialog: false,
      fullScreenPort: null,
      options: [ 
        // {title: 'Zoom Out', icon: 'zoom_out'},
        // {title: 'Zoom In', icon: 'zoom_in'},
      ],
      menuOptions: [ 
        {title: 'Full Screen', icon: 'fullscreen'},
        {title: 'Refresh', icon: 'refresh'},
      ],
      zoom: 1,
      origin: window.location.origin
    };
  },

  created(){
    EventBus.$on('challengeReady', docker => {
      this.docker = docker;
    });
    this.checkIfFileisCode()
  },

  methods: {
    openFullScreen(port, i){
      this.dialog = true;
      this.fullScreenPort = {index: i, port: port};
    },

    closeFullScreen(){
      document.querySelector('.iframe_wrapper').classList.remove('full_screen');
      this.fullScreenPort = null;
    },

    setAction(item, i, port){
      let ele = document.getElementById('iframe_' + i);
      if(!ele) return;
       switch(item) {
        case "Refresh":
          ele.contentWindow.location.reload();
          break;
        case "Full Screen":
          document.querySelector('.iframe_wrapper').classList.add('full_screen');
          this.fullScreenPort = {index: i, port: port};
          break;
        case "Zoom In":
          if(this.zoom == 3) return;
          ele.classList.remove('zoom_level_' + this.zoom)
          this.zoom = this.zoom + 1;
          ele.classList.add('zoom_level_' + this.zoom);
          break;
        case "Zoom Out":
          if(this.zoom == 0) return;
          ele.classList.remove('zoom_level_' + this.zoom)
          this.zoom = this.zoom - 1;
          ele.classList.add('zoom_level_' + this.zoom);
          break;
        case "Machine IP":
          navigator.clipboard.writeText('https://' + this.docker.ip + ':' + port);
          break;
      }
    },
    
    checkIfFileisCode(){
      this.codeFiles = this.game.files.filter(e => {
        return e.type == 'code';
      })
    }
  },

};
</script>

<style scoped lang="scss">

  .wrapper{
    margin-top: 95px;
    height: calc(100vh - 95px);
  }
  
  h1{
    font-weight: 200;
    font-size: 1.5em;
  }
  
  .card{
    width: 100%;
    background-color: rgb(13,25,41);
    border-radius: 10px;
    border: 1px solid rgba(85, 178, 206, 0.5);
  }

  .menu{
    background-color: rgb(19, 35, 54);
    box-shadow: 0 5px 10px 3px rgb(5, 11, 19);
  }

  .machine_wrapper{
    margin-bottom: 8px;
    height: calc(100% - 57px);
  }

  .top{
    background-color: rgb(21, 38, 59);
    border-radius: 10px 10px 0 0;
  }

  .tabs_wrapper{
    height: 40px;
    width: 100%;
    display: flex;
    overflow-y: auto;
    max-width: 100%;
  }

    ::-webkit-scrollbar {
        height: 1px;
    }

  .iframe_wrapper{
    height: calc(100% - 40px);
    background-color: #222;
    border-radius: 0 0 10px 10px;
  }
  
  .tab{
    min-width: 130px;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid rgb(33, 56, 83);
  }
  
  .active_tab{
    min-width: 220px;
    background-color: rgb(13,25,41);
    border-bottom: 1px solid rgb(13,25,41);
  }

  .card_title{
    height: 30px;
    margin-bottom: 18px;
  }
    
  .iframe_wrapper iframe {
    border-radius: 0 0 10px 10px ;
    width: 100%;
    height: 100%;
  }

  .iframe_wrapper > div{
    max-height: 100%;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
  }
  
  #logs {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 35px;
  }

  .fullscreen{
    height: 100vh;
    width: 100vw;
  }

  .fullscreen_wrapper{
    background-color: rgb(5, 10, 17);
  }

  .fullscreen_wrapper > div{
    height: 50px;
  }

  .fullscreen_wrapper iframe{
    height: calc(100% - 57px);
    width: 100%;
  }

  .full_screen{
    height: calc(100vh - 50px) !important;
    width: 100vw !important;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 100;
  }

  .zoom_level_3{
    -ms-zoom: 1.5;
    -moz-transform: scale(1.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.5);
    -webkit-transform-origin: 0 0;
  }

  .zoom_level_2{
    -ms-zoom: 1.25;
    -moz-transform: scale(1.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.25);
    -webkit-transform-origin: 0 0;
  }

  .zoom_level_1{
    -ms-zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
  }

  .zoom_level_0{
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }

  .fullscreen_toolbar{
    padding: 0 10px;
    background-color: rgb(5, 10, 17);
    height: 50px !important;
    width: 100vw !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
  }
</style>