<template>
  <v-flex d-flex class="wrapper">
    <v-flex md5 lg4 xl3 class="h100">
      <sidebar :game="game" :docker="docker" :alert="gameAlert"/>
    </v-flex>
    <v-flex md7 lg8 xl9 class="h100 px-2">

      <div class="card machine_wrapper h100 w100">
        <!-- form -->
          <v-flex class="h100" md8 xl6 mx-auto d-flex align-center justify-center>
            <div class="w100">
              <v-flex class="h100 w100" v-if="game && game.inputs">
                <v-form @submit.prevent="submit()">
                  <!-- <h1 v-if="game.details.title">{{game.details.title}}</h1> -->
                  <div class="title_wrapper">
                    <div class="title" :style="`background: url(${flag})`"></div>
                  </div>
                  <h1>Submit The {{ game.inputs.length > 1 ? 'Flags' : 'Flag'}}</h1>
                  <v-flex>
                    <v-flex v-for="(input, i) in game.inputs" :key="i">
                      <input type="text" v-model="form.inputs[i]" :placeholder="input.name" />
                      <small class="red--text" v-if="errors && errors.inputs[i]">{{errors.inputs[i]}}</small>
                    </v-flex>
                    <v-flex class="mt-5">
                      <button class="button outline bg_white text_purple w100" height="60" type="submit">Submit</button>
                    </v-flex>
                  </v-flex>
                </v-form>
              </v-flex>
              <v-flex class="mt-5">
                <alert v-if="gameAlert" :alert="gameAlert" />
              </v-flex>

              <br>
              <br>

              <div v-if="game && game.details.docker" class="my-5">
                <v-flex v-if="!isArray" class="pa-10 bg_light text-left">
                  <p class="mb-0">MACHINES</p>
                  <div class="divider mb-3"></div>
                  <div v-if="docker && docker.ip">
                    <div v-for="(room, i) in docker.ports"
                      :key="i"
                     >
                      <div v-if="(game.name == 'Breaking Hollywood' && i == 0) || game.name != 'Breaking Hollywood'" class="item pa-2 pointer mt-3" @click="enterGame(i)">
                        Enter Machine {{ docker.ports.length > 1 ? `0${i + 1}` : ''}}
                      </div>
                    </div>
                  </div>
                </v-flex>
                <v-flex v-else md10 mx-auto class="pa-5 card text-left">
                  <p class="mb-0">MACHINES</p>
                  <div class="divider mb-3"></div>
                  <div v-if="docker && docker.ip">
                    <div :key="i" v-for="(room, i) in ArrIP">
                      <div v-if="!i" class="item pa-2 pointer mt-3" @click="enterGame(i)">
                        Enter Machine 
                      </div>
                      <div v-else class="item pa-2 mt-3">
                        Server Machine IP: {{ArrIP[i]}}
                      </div>
                    </div>
                  </div>
                </v-flex>
              </div>
            </div>
          </v-flex>
      </div>
     
    </v-flex>

    <v-dialog
      v-model="dialog"
      fullscreen 
      transition="dialog-transition"
    >
      <div class="h100 w100 fullscreen_wrapper" v-if="docker && fullScreenPort">
        <v-flex d-flex justify-space-between align-center class="pa-3">
          <h1 class="white--text mb-0">Machine {{ fullScreenPort.index + 1 }}</h1>
          <v-tooltip bottom color="black">
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" fab x-small @click="dialog = false">
                <v-icon color="black" style="font-size:26px">fullscreen_exit</v-icon>
              </v-btn>
            </template>
            <span>Zoom Out</span>
          </v-tooltip>
        </v-flex>
        <iframe class="h100" src="cywar.hackeru.com" frameborder="0"></iframe>
        <!-- <iframe :src="docker.ip + ':' + fullScreenPort.port" frameborder="0"></iframe> -->
      </div>
    </v-dialog>

  </v-flex>
</template>

<script>
import Alert from "./../../General/alerts";
import Sidebar from './sidebar'
export default {
  props: ["game", 'alert'],
  components: { Alert, Sidebar },
  data() {
    return {
      form: {
        inputs: []
      },
      errors: null,
      docker: null,
      loading: false,
      resetMode: false,
      clock: null,
      error: false,
      isArray: false,
      ArrIP: [],
      active_tab: 0,
      dialog: false,
      fullScreenPort: null,
      valid: true,
      gameAlert: null,
      flag: IMG + 'general/pirate_flag.png'
    };
  },

  created(){
    this.gameAlert = this.alert;
    EventBus.$on('challengeReady', docker => {
      this.docker = docker;
    });
    if(this.gameAlert) {
      this.setAlert("alert_error", 'Challenge Is Unavailable At The Moment');
      setTimeout(
        () => {
          this.gameAlert = false;
          EventBus.$emit('exitGameMode', true);
        },2000)
    }
  },

  methods: {
    openFullScreen(port, i){
      this.dialog = true;
      this.fullScreenPort = {index: i, port: port};
    },

    enterGame(i) {
      let url;
      if(this.isArray){
        url = `${this.ArrIP[i]}:8000`;
      }else{
        url = `${this.docker.ip}:${this.docker.ports[i]}`;
      }
      url.includes('.hackeruarena') ? window.open('https://' + url) : window.open('http://' + url) ;
    },
    
    submit() {
      if (this.gameAlert) return;
      this.checkForm();
      if (this.valid) {
        axios
          .post(`/api/games/${this.game.id}`, this.form)

          .then(res => {
            EventBus.$emit('game_finished', this.game.points.points)
            this.setAlert("alert_success", res.data.data);
            if (res.data.jc) window.location.replace(`${res.data.jc}`);

            setTimeout(
              function() {
                this.$router.push("/challenges");
              }.bind(this),
              3000
            );
          })
          .catch(err => {
            if (err.response.data && err.response.data.data)
              this.setAlert("alert_error", err.response.data.data);
            else if(err.response.status == 429)
              this.setAlert(
                "error",
                "You Have Tried Too Many Times Please Wait"
              );
            else 
            this.setAlert(
                "error",
                "Sorry, There is an error with this challenge. Please report it"
              );
          });
      } else {
        this.setAlert("alert_error", "The Form Is Not Filled Properly");
      }
    },

    checkForm() {
      this.valid = true;
      if (this.form && this.form.inputs.length) {
        this.form.inputs.forEach(e => {
          if (!e.trim()) this.valid = false;
        });
      } else {
        this.valid = false;
      }
    },

    setAlert(type, content) {
      this.gameAlert = { type: type, content: content };
      setTimeout(
        () => {
          this.gameAlert = false;
        },
        3000
      );
    },
    
  },

};
</script>

<style scoped>

  .wrapper{
    margin-top: 95px;
    height: calc(100vh - 95px);
  }
  
  h1{
    font-weight: 200;
    font-size: 1.5em;
  }
  
  .card{
    width: 100%;
    background-color: rgb(13,25,41);
    border-radius: 10px;
    border: 1px solid rgba(85, 178, 206, 0.5);
  }

  .machine_wrapper{
    margin-bottom: 8px;
    height: calc(100% - 10px);
    min-height: 400px;
    overflow-y: auto;
    background: linear-gradient(153deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 9%,rgba(197, 197, 197, 0.03) 9%, rgba(197, 197, 197, 0.03) 21%,rgba(106, 106, 106, 0.03) 21%, rgba(106, 106, 106, 0.03) 32%,rgba(222, 222, 222, 0.03) 32%, rgba(222, 222, 222, 0.03) 72%,rgba(16, 16, 16, 0.03) 72%, rgba(16, 16, 16, 0.03) 92%,rgba(181, 181, 181, 0.03) 92%, rgba(181, 181, 181, 0.03) 97%,rgba(130, 130, 130, 0.03) 97%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(39deg, rgba(237, 237, 237, 0.03) 0%, rgba(237, 237, 237, 0.03) 22%,rgba(126, 126, 126, 0.03) 22%, rgba(126, 126, 126, 0.03) 55%,rgba(196, 196, 196, 0.03) 55%, rgba(196, 196, 196, 0.03) 61%,rgba(121, 121, 121, 0.03) 61%, rgba(121, 121, 121, 0.03) 71%,rgba(133, 133, 133, 0.03) 71%, rgba(133, 133, 133, 0.03) 84%,rgba(132, 132, 132, 0.03) 84%, rgba(132, 132, 132, 0.03) 97%,rgba(185, 185, 185, 0.03) 97%, rgba(185, 185, 185, 0.03) 100%),linear-gradient(124deg, rgba(168, 168, 168, 0.03) 0%, rgba(168, 168, 168, 0.03) 7%,rgba(169, 169, 169, 0.03) 7%, rgba(169, 169, 169, 0.03) 19%,rgba(73, 73, 73, 0.03) 19%, rgba(73, 73, 73, 0.03) 50%,rgba(150, 150, 150, 0.03) 50%, rgba(150, 150, 150, 0.03) 67%,rgba(68, 68, 68, 0.03) 67%, rgba(68, 68, 68, 0.03) 81%,rgba(111, 111, 111, 0.03) 81%, rgba(111, 111, 111, 0.03) 91%,rgba(191, 191, 191, 0.03) 91%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(95deg, rgba(147, 147, 147, 0.03) 0%, rgba(147, 147, 147, 0.03) 17%,rgba(79, 79, 79, 0.03) 17%, rgba(79, 79, 79, 0.03) 27%,rgba(28, 28, 28, 0.03) 27%, rgba(28, 28, 28, 0.03) 45%,rgba(27, 27, 27, 0.03) 45%, rgba(27, 27, 27, 0.03) 56%,rgba(228, 228, 228, 0.03) 56%, rgba(228, 228, 228, 0.03) 64%,rgba(38, 38, 38, 0.03) 64%, rgba(38, 38, 38, 0.03) 72%,rgba(42, 42, 42, 0.03) 72%, rgba(42, 42, 42, 0.03) 100%),linear-gradient(346deg, rgba(59, 59, 59, 0.03) 0%, rgba(59, 59, 59, 0.03) 16%,rgba(66, 66, 66, 0.03) 16%, rgba(66, 66, 66, 0.03) 20%,rgba(236, 236, 236, 0.03) 20%, rgba(236, 236, 236, 0.03) 41%,rgba(244, 244, 244, 0.03) 41%, rgba(244, 244, 244, 0.03) 55%,rgba(106, 106, 106, 0.03) 55%, rgba(106, 106, 106, 0.03) 61%,rgba(220, 220, 220, 0.03) 61%, rgba(220, 220, 220, 0.03) 63%,rgba(209, 209, 209, 0.03) 63%, rgba(209, 209, 209, 0.03) 100%),linear-gradient(90deg, rgb(21,38,59),rgb(8, 17, 13));
  }

  .tabs_wrapper{
    height: 40px;
    width: 100%;
    display: flex;
    border-radius: 10px 10px 0 0;
    background-color: rgb(21, 38, 59);
  }

  .iframe_wrapper{
    height: 100%;
  }
  
  .tab{
    padding: 7px 25px;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid rgb(33, 56, 83);
  }
  
  .active_tab{
    background-color: rgb(13,25,41);
    border-bottom: 1px solid rgb(13,25,41);
  }
    
  .iframe_wrapper iframe {
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 100%;
  }
  
  #logs {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 35px;
  }

  .fullscreen{
    height: 100vh;
    width: 100vw;
  }

  .fullscreen_wrapper{
    background-color: rgb(5, 10, 17);
  }

  .bg_light{
    background-color: rgb(8, 16, 27, 0.8);
    border-radius: 10px;
  }

  .item{
    transition: .2s transform linear;
    background-color: rgb(21, 37, 58);
  }

  .item:hover{
    transform: scale(1.05);
  }

  .fullscreen_wrapper > div{
    height: 50px;
  }

  .fullscreen_wrapper iframe{
    height: 100%;
    width: 100%;
  }

  .title_wrapper{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid #070d16;
    margin: auto;
    overflow: hidden;
  }

  .title{
    border-radius: 50%;
    height: 215px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 115% !important;
  }
</style>