<template>
  <v-dialog
    v-model="dialog"
    scrollable 
    persistent
    max-width="900px"
    transition="dialog-transition"
    overlay-opacity=".9"
    overlay-color="black"
    >
    <v-flex class="card">
      <v-layout justify-space-between column fill-height v-if="data">
        <div class="pa-5">
            <v-btn color="white" outlined rounded class="mb-2" dense @click="exitChallenge()">Exit Challenge</v-btn>
            <h1>OVERVIEW</h1>
        </div>
        <v-flex d-flex justify-space-between class="pa-5 body">
          <v-flex md6>
            <h2>SCENARIO</h2>
            <div class="divider_glow"></div>
            <p v-if="skipped" v-html="skippedStory.replace(/(\\r\\n)/g, '<br />')"></p>
            <p v-else id="scenario"></p>

          </v-flex>
          <v-flex md5>
            <h2>OBJECTIVES</h2>
            <div class="divider_glow"></div>
            <p class="content" v-if="skippedObjective && skipped" v-html="skippedObjective.replace(/(\\r\\n)/g, '<br />')"></p>
            <p class="content" v-if="!skipped" id="objective"></p>
          </v-flex>
     
        </v-flex>
        <!-- <v-flex class="pa-5">
            <h2>ITEMS</h2>
            <div class="divider_glow"></div>
            <v-flex md6 v-for="(item, i) in data.files" :key="i" class="file_wrapper pointer pa-2 w100">
                <a class="text_white w100" title="click to download" :href="path + '/files/' + item.name" download>
                    <v-flex d-flex justify-space-between>
                        <p class="mb-0 ml-2">
                        {{item.name}}
                        </p>
                    <v-icon color="white">folder_open</v-icon>
                    </v-flex>
                </a>
            </v-flex>
        </v-flex> -->
        <v-flex class="ma-3" d-flex justify-space-between>
          <button></button>
          <button
            class="bg_white text_purple button start_button"
            v-if="!skipped"
            @click="skip()"
          >SKIP</button>
          <button
            v-if="skipped"
            class="bg_white text_purple button start_button"
            @click="closeMission()"
          >
            <span v-if="gameStart">BACK TO CHALLENGE</span>
            <span v-else>START THE CHALLENGE</span>
          </button>
          <!-- <button v-else class="bg_blue_purple button start_button default">START THE CHALLENGE</button> -->
        </v-flex>
        <v-flex class="card_bottom"></v-flex>
      </v-layout>
    </v-flex>
  </v-dialog>
</template>

<script>
export default {
  props: ["data", 'docker', 'dialog'],
  data() {
    return {
        scenario: false,
        counter: 0,
        skipped: false,
        video: IMG + 'lessons/videos/',
        opening: true,
        skippedStory: null,
        skippedObjective: null,
        scenario: false,
        scenarioCompleted: false,
        dialogs: {
            docker: false,
            scenario: false
        },
        path: window.location.origin,
        gameStart: false
    };
  },

  created(){
    EventBus.$on('exitGameMode', bool => {
      this.exitChallenge();
    })
  },

  mounted() {
    if(this.data && this.data.details.story){
        this.skippedStory = this.data.details.story.replace(/~/g, '\\r\\n');
        this.skippedObjective = this.data.details.objective.replace(/~/g, '\\r\\n');
        this.checkScenario()
        this.scenarioTyper();
    }else{
        this.loading = false;
    }
  },
  methods: {
    checkScenario(){
        if(!this.getCookie(`${this.data.name}_scenario`)){
            this.data.details.story = this.data.details.story.replace(/\\r\\n/g, '');
            this.dialogs.scenario = true;
            let now = new Date();
            
            let time = now.getTime();
            let expires = time + 1000 * 60 * 60 * 24;
            now.setTime(expires);
            document.cookie=`${this.data.name}_scenario=true;expires=Thu, 01 Jan 1970 00:00:01 GMT;`;
            document.cookie=`${this.data.name}_scenario=true;expires=${now}`;
        }else{
            this.scenarioCompleted = true;
            this.skipped = true;
        }
    },
    scenarioTyper(){
        let ele = document.getElementById('scenario');
        if(ele)
        {
            if(+this.counter < this.data.details.story.length){
                this.writeScenario()
                this.counter++;
                setTimeout(() => {
                    this.scenarioTyper()
                }, 30)
            }else{
                this.counter = 0;
                this.objectiveTyper()
            }
        }
    },
    writeScenario(){
        let ele = document.getElementById('scenario');
        if(this.data.details.story.charAt(this.counter) != "~"){
            ele.innerHTML += this.data.details.story.charAt(this.counter);
        }
        if(this.data.details.story.charAt(this.counter) == '~'){
            ele.innerHTML += '<br>';
        }
    },
    objectiveTyper(){
        if(document.getElementById('objective'))
        {
            if(+this.counter < this.data.details.objective.length){
                
                this.writeObjectives()
                this.counter++;
                setTimeout(() => {
                    this.objectiveTyper()
                }, 30)
            }else{
                this.scenarioCompleted = true;
                this.skipped = true;
            }
        }
    },
    writeObjectives(){
        let ele = document.getElementById('objective');
        if(this.data.details.objective.charAt(this.counter) != "~"){
            ele.innerHTML += this.data.details.objective.charAt(this.counter);
        }
        if(this.data.details.objective.charAt(this.counter) == '~'){
            ele.innerHTML += '<br>';
        }
    },
    skip(){
        this.skipped = true;
        this.scenarioCompleted = true;
    },
    getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    },
    closeMission() {
      EventBus.$emit("missionStatus", false);
      setTimeout( () => {
        this.gameStart = true;
      }, 500 )
    },
    exitChallenge(){
      let path = this.$route.fullPath.split('/');
      this.$router.push(`/${path[1]}/${path[2]}`)
    }
  }
};
</script>

<style scoped>

    h1{
        font-weight: 100;
    }

  .card{
    color: #fff;
    height: 100%;
    /* background-color: rgb(13,25,41); */
    background: linear-gradient(153deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 9%,rgba(197, 197, 197, 0.03) 9%, rgba(197, 197, 197, 0.03) 21%,rgba(106, 106, 106, 0.03) 21%, rgba(106, 106, 106, 0.03) 32%,rgba(222, 222, 222, 0.03) 32%, rgba(222, 222, 222, 0.03) 72%,rgba(16, 16, 16, 0.03) 72%, rgba(16, 16, 16, 0.03) 92%,rgba(181, 181, 181, 0.03) 92%, rgba(181, 181, 181, 0.03) 97%,rgba(130, 130, 130, 0.03) 97%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(39deg, rgba(237, 237, 237, 0.03) 0%, rgba(237, 237, 237, 0.03) 22%,rgba(126, 126, 126, 0.03) 22%, rgba(126, 126, 126, 0.03) 55%,rgba(196, 196, 196, 0.03) 55%, rgba(196, 196, 196, 0.03) 61%,rgba(121, 121, 121, 0.03) 61%, rgba(121, 121, 121, 0.03) 71%,rgba(133, 133, 133, 0.03) 71%, rgba(133, 133, 133, 0.03) 84%,rgba(132, 132, 132, 0.03) 84%, rgba(132, 132, 132, 0.03) 97%,rgba(185, 185, 185, 0.03) 97%, rgba(185, 185, 185, 0.03) 100%),linear-gradient(124deg, rgba(168, 168, 168, 0.03) 0%, rgba(168, 168, 168, 0.03) 7%,rgba(169, 169, 169, 0.03) 7%, rgba(169, 169, 169, 0.03) 19%,rgba(73, 73, 73, 0.03) 19%, rgba(73, 73, 73, 0.03) 50%,rgba(150, 150, 150, 0.03) 50%, rgba(150, 150, 150, 0.03) 67%,rgba(68, 68, 68, 0.03) 67%, rgba(68, 68, 68, 0.03) 81%,rgba(111, 111, 111, 0.03) 81%, rgba(111, 111, 111, 0.03) 91%,rgba(191, 191, 191, 0.03) 91%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(95deg, rgba(147, 147, 147, 0.03) 0%, rgba(147, 147, 147, 0.03) 17%,rgba(79, 79, 79, 0.03) 17%, rgba(79, 79, 79, 0.03) 27%,rgba(28, 28, 28, 0.03) 27%, rgba(28, 28, 28, 0.03) 45%,rgba(27, 27, 27, 0.03) 45%, rgba(27, 27, 27, 0.03) 56%,rgba(228, 228, 228, 0.03) 56%, rgba(228, 228, 228, 0.03) 64%,rgba(38, 38, 38, 0.03) 64%, rgba(38, 38, 38, 0.03) 72%,rgba(42, 42, 42, 0.03) 72%, rgba(42, 42, 42, 0.03) 100%),linear-gradient(346deg, rgba(59, 59, 59, 0.03) 0%, rgba(59, 59, 59, 0.03) 16%,rgba(66, 66, 66, 0.03) 16%, rgba(66, 66, 66, 0.03) 20%,rgba(236, 236, 236, 0.03) 20%, rgba(236, 236, 236, 0.03) 41%,rgba(244, 244, 244, 0.03) 41%, rgba(244, 244, 244, 0.03) 55%,rgba(106, 106, 106, 0.03) 55%, rgba(106, 106, 106, 0.03) 61%,rgba(220, 220, 220, 0.03) 61%, rgba(220, 220, 220, 0.03) 63%,rgba(209, 209, 209, 0.03) 63%, rgba(209, 209, 209, 0.03) 100%),linear-gradient(90deg, rgb(21,38,59),rgb(8, 17, 13));
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(65, 69, 126, 0.7);
    transition: .2s all linear;
  }
  
  .body{
    min-height: 300px;
  }
  
  .card h2{
      font-size: 1.2em;
      font-weight: bold;
  }

  .card_bottom{
      background: linear-gradient(90deg, rgb(48, 65, 75), rgb(17, 27, 34));
      height: 8px;
      border-radius: 0 0 10px 10px;
  }

  .button{
    width: 25%;
    height: 45px;
    margin: 0 5px;
    border-radius: 30px;
  }

  .start_button{
      width: 50%;
  }

  .file_wrapper{
    border: 1px solid rgb(65, 91, 122);
    color: rgb(158, 183, 212);
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .2s all linear;
  }

  .file_wrapper a{
    color: rgb(158, 183, 212);
    text-decoration: none;
  }

  .file_wrapper:hover{
      transform: scale(1.03);
  }
</style>
