<template>
  <v-flex  class="h100">
    <v-layout justify-space-between column fill-height>

      <v-flex class="sidebar mb-2 ml-2">
        
        <!-- header -->
        <v-flex v-if="game" class="image" :style="`background-image: url('${img}${game.image}')`">
          <div>
            <p class="pa-5 time_wrapper" v-if="time">TIME LEFT: {{time}}</p>
          </div>
        </v-flex>

        <!-- content -->
        <div class="content_wrapper">
            
          <!-- details -->
          <v-flex v-if="game" d-flex justify-space-between align-center class="pl-5 pr-10 py-4 details_wrapper">
            <div>
              <p class="mb-0">DIFFICULTY LEVEL</p>
              <small><strong :class="getColor(game.points.name)">{{game.points.name.toUpperCase()}}</strong></small>
            </div>
            <div>
              <h2 style="letter-spacing: normal" class="mb-0"><strong>{{game.points.points}} </strong><small>pt.</small></h2>
            </div>
          </v-flex>

          <!-- hints -->
          <div v-if="game" class="px-5 py-4">
            <v-flex d-flex justify-space-between align-center>
              <p class="mb-0">HINT</p>
              <button v-if="!hint_text" class="hint_button button" @click="getHint()">USE HINT</button>
            </v-flex>
            <div v-show="hint" class="hint_wrapper">
              <small v-if="skipped" class="hint" v-html="hint_text.replace('~', '<br>')"></small>
              <small id="hint_content" class="hint"></small>
            </div>
          </div>

          <!-- items -->
          <div class="px-5 py-4 details_wrapper" v-if="game && game.files && game.files.length">
            <v-flex>
              <p class="mb-0">ITEMS</p>
            </v-flex>
            <v-flex v-for="(item, i) in game.files" :key="i" class="file_wrapper  pointer pa-2 w100">
              <a class="text_white w100" title="click to download" :href="path + '/files/' + item.name" download>
                  <v-flex d-flex justify-space-between>
                      <p class="mb-0 ml-2">
                      {{item.name}}
                      </p>
                  <v-icon color="white">folder_open</v-icon>
                  </v-flex>
              </a>
          </v-flex>
          </div>

          <!-- form -->
          <!-- <v-flex class="mx-5 px-5 py-4 details_wrapper">
            <h1>{{ game.inputs.length > 1 ? 'Flags' : 'Flag'}}</h1>
            <v-form @submit.prevent="submit()">
              <v-flex>
                <v-flex v-for="(input, i) in game.inputs" :key="i">
                  <input type="text" v-model="form.inputs[i]" :placeholder="input.name" />
                  <small class="red--text" v-if="errors && errors.inputs[i]">{{errors.inputs[i]}}</small>
                </v-flex>
                <v-flex class="mt-5">
                  <button class="button outline bg_white text_purple w100" type="submit">Submit</button>
                </v-flex>
              </v-flex>
            </v-form>
          </v-flex>
          <v-flex class="mt-5 mx-5">
            <alert v-if="alert" :alert="alert" />
          </v-flex> -->
        </div>

      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import Alert from './../../General/alerts'
export default {
  components: { Alert },
  props: ["game", "alert"],
  data() {
    return {
      img: IMG + 'games/',
      time: null,
      counter: 0,
      clock: null,
      hint: false,
      skipped: false,
      errors: false,
      hint_text: "",
      loading: false,
      docker: null,
      form: {
        inputs: []
      },
      valid: true,
      path: window.location.origin
    };
  },

  created() {
    if(this.alert) return;

    this.setInputs();
    this.checkHint();
    EventBus.$on('challengeReady', docker => {
      this.time = docker.time;
      this.runClock();
    });
  },

  methods: {
    getColor(diff){
      let color;
      if(diff == "Easy") color = 'text_green'; 
      else if(diff == "Medium") color = 'text_yellow'; 
      else if(diff == "Hard") color = 'text_orange'; 
      else if(diff == "Insane") color = 'text_red'; 

      return color;
    },

    setInputs(){
      this.game.inputs.forEach(e => {
        this.form.inputs.push('');
      })
      
    },

    checkHint() {
      if (this.game.hint_text){
        this.hint = true;
        this.skipped = true;
        this.hint_text = this.game.hint_text;
      }
    },
    
    getHint() {
      axios.get(`/api/games/${this.game.id}/hint`).then(res => {
        this.hint = true;
        this.hint_text = res.data.hint;
        this.hintTyper();
      });
    },

    hintTyper() {
      if (+this.counter < this.hint_text.length) {
        this.writeHint();
        this.counter++;
        setTimeout(() => {
          this.hintTyper();
        }, 60);
      }
    },

    writeHint() {
      let ele = document.getElementById("hint_content");
      if (this.hint_text.charAt(this.counter) != "~") {
        ele.innerHTML += this.hint_text.charAt(this.counter);
      }
      if (this.hint_text.charAt(this.counter) == ".") {
        ele.innerHTML += "<br>";
      }
      if (this.hint_text.charAt(this.counter) == "~") {
        ele.innerHTML += "<br>";
      }
    },

    submit() {
      this.checkForm();
      if (this.alert) return;
      if (this.valid) {
        axios
          .post(`/api/games/${this.game.id}`, this.form)

          .then(res => {
            EventBus.$emit('game_finished', this.game.points.points)
            this.setAlert("alert_success", res.data.data);
            if (res.data.jc) window.location.replace(`${res.data.jc}`);

            setTimeout(
              function() {
                this.$router.push("/challenges");
              }.bind(this),
              3000
            );
          })
          .catch(err => {
            if (err.response.data && err.response.data.data)
              this.setAlert("alert_error", err.response.data.data);
            else if(err.response.status == 429)
              this.setAlert(
                "error",
                "You Have Tried Too Many Times Please Wait"
              );
            else 
            this.setAlert(
                "error",
                "Sorry, There is an error with this challenge. Please report it"
              );
          });
      } else {
        this.setAlert("alert_error", "The Form Is Not Filled Properly");
      }
    },

    checkForm() {
      this.valid = true;
      if (this.form.inputs.length) {
        this.form.inputs.forEach(e => {
          if (!e) this.valid = false;
        });
      } else {
        this.valid = false;
      }
    },

    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        2000
      );
    },
    
    runClock() {
      let parts = this.time.split(":");

      let hours = parts[0];
      let mins = parts[1];
      let secs = parts[2];

      if (mins == "00" && (secs == "00" || secs == "0")) {
        hours--;
        mins = 59;
        secs = 59;
      }

      this.clock = setInterval(
        function() {
          if (secs == "00") {
            if (mins == "00") {
              if (hours == "00") {
                this.TimeOut();
                this.setAlert(
                  "alert_error",
                  "Challenge Time Has Expired, Please Try Again"
                );
                setTimeout(
                  function() {
                    this.$router.push("/challenges");
                  }.bind(this),
                  3000
                );
              } else {
                hours--;
                mins = 59;
                this.time = `${hours}:${mins}:${secs}`;
              }
            } else {
              mins--;
              secs = 59;
              this.time = `${hours}:${mins}:${secs}`;
            }
          } else {
            secs--;
            this.time = `${hours}:${mins}:${secs}`;
          }
          if (document.getElementById("time"))
            document.getElementById("time").innerHTML = this.time;
        }.bind(this),
        1000
      );
    },

    TimeOut(){
      clearInterval(this.clock);
    },
  }
};
</script>

<style scoped>

  h1{
    font-weight: 200;
    font-size: 1.5em;
  }

  .missions_wrapper{
    max-height: 100%;
    overflow-y: auto;
  }
  .sidebar h2, .task_card h2{
      font-size: 1.2em;
      font-weight: bold;
  }

  .sidebar{
    background-color: rgb(13,25,41);
    border-radius: 10px;
    /* border: 1px solid rgba(85, 178, 206, 0.5); */
    height: 100%;
  }

  .card:hover{
      transform: scale(1.02);
      border: 1px solid rgba(85, 178, 206);
      border-bottom: none ;
      box-shadow: 0 0 10px 3px rgba(47, 49, 83, 0.3);
  }

  .card{
      min-height: 200px;
      height: 200px;
      width: 100%;
      margin: auto;
      background-color: rgb(13,25,41);
      border-radius: 10px;
      border: 1px solid rgba(85, 178, 206, 0.5);
      border-bottom: none ;
      transition: .2s all linear;
      cursor: pointer;
  }

  .image{
    height: 30%;
    max-height: 30%; 
    border-radius: 10px 10px 0 0;
    background-size: 100% 100%;
  }
    
  .image > div{
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .details_wrapper{
    background-color: rgb(21, 38, 59)
  }
  
  .hint_button{
    border: 1px solid rgb(153, 136, 177);
  }

  .hint_button:hover{
    background-color: rgb(167, 150, 192);
    color: rgb(30, 31, 41);
  }

  .hint_wrapper{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(7, 13, 22);
  }

  .content_wrapper{
    max-height: 70%;
    height: 70%;
    overflow-y: auto;
  }

  .time_wrapper{
    border-radius: 10px 10px 0 0;
    background-color: rgba(2, 4, 7, 0.4);
  }
  
  .file_wrapper{
    border: 1px solid rgb(65, 91, 122);
    color: rgb(158, 183, 212);
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .2s all linear;
  }

  .file_wrapper a{
    color: rgb(158, 183, 212);
    text-decoration: none;
  }

  .file_wrapper:hover{
      transform: scale(1.03);
  }
</style>
