<template>
    <v-flex xs12 sm10 md6 mx-auto class="wrapper_center text-center">
      <v-flex>
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <br>
        <router-link to="/" class="border_bottom">
          <button @click="route('/')" class="bg_white text_purple button">Home Page</button>
        </router-link>
      </v-flex>
    </v-flex>
</template>

<script>
export default {
  data(){
    return {
      img: IMG + 'background/404.png',
    }
  },
  created(){
    EventBus.$emit('404', this.img);
  },
  destroyed(){
    EventBus.$emit('404', false);
  }
}
</script>

<style lang="scss" scoped>
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    font-weight: 100;
    letter-spacing: 3px;
  }

  h2{
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 5px;
  }

</style>
