<template>
  <v-menu
    ref="menu2"
    v-model="menu2"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    full-width
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="dateFormatted"
        :label="title"
        hint="DD/MM/YYYY format"
        persistent-hint
        append-icon="event"
        readonly
        @blur="dateEnd = parseDate(dateFormatted)"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker v-model="date" no-title @input="menu2 = false"></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: ["title", "setdate"],
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false,
    menu2: false
  }),

  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },

  created() {
    if (this.setdate && this.setdate != "0000-00-00") this.date = this.setdate;
  },

  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
      EventBus.$emit("dateChange", { title: this.title, date: this.date });
    }
  },

  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    }
  }
};
</script>