<template>
  <v-container class="pt-0">
    <Top :avatars="true" :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :settings="true"
      :img="img"
      :editByDialog="true"
      :searchApi="null"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Avatars",
      api: "cms/avatars",
      img: IMG + "avatars/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Avatars",
        one: "avatar",
        multiple: "avatars"
      },
      headers: [
        { text: "Level", value: "level" },
        { text: "image", value: "image" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit", "delete"]
    };
  },
  components: { Table, Top }
};
</script>

