<template>
  <v-flex class="wrapper">
    <v-flex d-flex justify-space-between class="top px-4">
      <v-flex align-center d-flex>
        <v-icon
          v-if="sidebar"
          color="white"
          large
          class="mr-3"
          @click="sidebaraction(false)"
          title="close sidebar"
        >arrow_left</v-icon>
        <v-icon v-else color="white" large class="mr-3" @click="sidebaraction(true)" title="open sidebar">arrow_right</v-icon>
        <h1>{{lesson.name}}</h1>
      </v-flex>
      <v-flex align-center d-flex justify-end>
        <button
          v-if="!overview"
          class="bg_white text_purple button"
          @click="overview = true"
        >OVERVIEW</button>
        <button v-else class="bg_white text_purple button" @click="overview = false">BACK</button>
      </v-flex>
    </v-flex>
    <v-flex class="h100" v-if="overview">
      <overview :data="lesson" />
    </v-flex>
    <v-flex class="h100" v-else>
      <v-flex class="h100 bg_dark" d-flex justify-center align-center>
        <!-- <v-flex class="h100" v-if="!alert" d-flex justify-center align-center>
          <loading class="loader" v-if="loading" />
          <iframe v-else :src="`https://${docker.ip}:${docker.ports[0]}`" frameborder="0"></iframe>
        </v-flex> -->
        <v-flex class="h100" v-show="overview">
            <overview :data="lesson" />
        </v-flex>
        <v-flex class="h100" v-show="!overview">
            <v-flex class="frame bg_dark" d-flex justify-center align-center>
                <v-flex class="h100" v-if="!alert" d-flex justify-center align-center>
                    <loading class="loader" v-if="loading" />
                    <iframe v-else :src="`https://${docker.ip}:${docker.ports[0]}`" frameborder="0"></iframe>
                </v-flex>
                <alert v-else :alert="alert" />
            </v-flex>
            <v-flex class="bg_dark logs_wrapper">
                <v-flex class="bg_blue_purple pa-3" d-flex justify-space-between align-center>
                    <small>LOGS HISTORY ( <small>{{logs.length}}</small> )</small>
                    <small @click="logs = []" class="pointer">CLEAR LOGS</small>
                </v-flex>
                <v-flex id="logs" class="px-2">
                    <p v-for="(log, i) in logs" :key="i" :class="log.status ? 'text_green' : 'text_red'">{{log.text}}</p>
                </v-flex>
            </v-flex>
        </v-flex>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
import Loading from "../../General/loading";
import Alert from "./../../General/alerts";
import Overview from "./../game_parts/mission";
export default {
  components: { Loading, Alert, Overview },
  props: ["lesson"],

  data() {
    return {
      logs: [],
      docker: {
        ip: "",
        ports: null,
        time: null,
        status: false
      },
      loading: true,
      alert: null,
      overview: true,
      resetMode: false,
      count: 0,
      error: false,
      sidebar: true
    };
  },

  created() {
    this.checkDocker();

    EventBus.$on("closeMission", e => {
      this.overview = false;
    });

    EventBus.$on("testTask", data => {
      this.addLog(data);
    });

    EventBus.$on("resetChallenge", e => {
      this.resetChallenge();
    });
  },

  methods: {
    checkDocker() {
      let cookie = atob(this.getCookie(`${this.lesson.name}_docker`));
      if (cookie) {
        this.overview = false;
        EventBus.$emit("loadingFinished", true);
        EventBus.$emit("dockerID", this.docker);
        let data = cookie.split("-");
        this.docker.ip = data[0];
        this.docker.ports = data[1].split("|");
        this.docker.time = data[2];
        this.docker.id = data[3];
        setTimeout(
          function() {
            this.checkContainer();
          }.bind(this),
          1000
        );
        // setTimeout(function(){
        //     this.loading = false
        // }.bind(this), 2000)
        // EventBus.$emit('runClock', data[2]);
      } else {
        this.runDocker();
      }
    },
    getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    },
    changeRoute(to) {
      this.$router.push(to);
    },
    runDocker() {
      this.loading = true;
      axios
        .get(`/api/practice/docker/${this.lesson.id}`)
        .then(res => {
          let ports = String(res.data.port);
          this.docker.ports = ports.split("|");
          this.docker.ip = res.data.ip;
          this.docker.time = res.data.time;
          this.docker.id = res.data.dockerID
            ? res.data.dockerID
            : res.data.container_id;
          this.docker.status = true;

          EventBus.$emit("loadingFinished", true);
          EventBus.$emit("dockerID", this.docker);

          let now = new Date();
          let hours = now.getHours();
          let mins = now.getMinutes();
          let secs = now.getSeconds();
          hours = hours < 10 ? `0${hours}` : `${hours}`;
          mins = mins < 10 ? `0${mins}` : `${mins}`;
          secs = secs < 10 ? `0${secs}` : `${secs}`;
          let startTime = `${hours}:${mins}:${secs}`;
          let time = now.getTime();
          let expires = time + 1000 * 60 * this.lesson.play_time;
          let newDate = new Date(expires);
          let data = btoa(`${res.data.ip}-${res.data.port}-${startTime}-${this.docker.id}`);
          document.cookie = `${this.lesson.name}_docker=${data};expires=${newDate}`;

          setTimeout(
            function() {
              this.loading = false;
            }.bind(this),
            2000
          );
        })
        .catch(err => {
          EventBus.$emit("loadingFinished", true);
          this.overview = false;
          this.loading = false;
          setTimeout(
            function() {
              this.$router.go(-1);
            }.bind(this),
            2500
          );
          if (err.response.data.error)
            this.setAlert("alert_error", err.response.data.error);
          else this.setAlert("alert_error", err.response.data);
        });
    },
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        2000
      );
    },
    addLog(data) {
      if (data.status)
        data.content = "Congratulations! You have finished the task";
      this.logs.push({
        status: data.status ? data.status : 0,
        text: data.content
          ? data.content
          : "Sorry, there is a problem, please let us know"
      });
      let objDiv = document.getElementById("logs");
      let height = objDiv.scrollHeight;
      objDiv.scrollTop = height;
    },
    resetChallenge() {
      if (this.loading) return;
      axios
        .post(`/api/practice/reset-game/${this.docker.id}`)
        .then(res => {
          if (this.getCookie(`${this.lesson.name}_docker`))
            document.cookie =
              this.lesson.name +
              "_docker=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
          this.logs = [];
          this.loading = false;
        })
        .catch(err => {
          this.runDocker();
        });
    },
    checkContainer() {
      if (this.count == 2) {
        this.setAlert(
          "alert_error",
          "Sorry, Lesson is unavailable at the moment. Please try again later"
        );
        this.removeCookie();
        this.error = true;
        setTimeout(
          function() {
            this.$router.go(-1);
          }.bind(this),
          2000
        );
        return;
      }
      this.count++;
      axios
        .get(
          `/api/practice/pulse?ip=${this.docker.ip}&port=${
            this.docker.ports[0]
          }&model=LessonContainer`
        )
        .then(res => {
          EventBus.$emit("loadingFinished", true);
          setTimeout(
            function() {
              this.docker.status = true;
              this.loading = false;
            }.bind(this),
            2000
          );
          // this.runClock();
        })
        .catch(err => {
          this.setAlert('alert_error', 'Docker Is Invalid',)
          this.resetMode = true;
          this.docker.status = null;
          this.docker.time = null;
          this.loading = false;
        });
    },
    sidebaraction(bool) {
      this.sidebar = bool;
      EventBus.$emit("lessonSidebar", bool);
    }

  }
};
</script>

<style scoped>
.top {
  height: 70px;
}

.frame {
  height: calc(70% - 70px);
}

.logs_wrapper {
  height: 30%;
}

#logs {
  height: calc(100% - 48px);
  overflow-y: auto;
  padding-bottom: 35px;
}
h1 {
  font-weight: 100;
}

.bg_blue_purple {
  background-color: rgba(70, 73, 139, 0.3);
}

iframe {
  width: 100%;
  height: 100%;
}
</style>