<template>
  <v-flex d-flex class="wrapper">
      <v-flex md5 lg4 xl3 class="h100">
        <sidebar :lesson="lesson" :docker="docker"/>
      </v-flex>
      <v-flex md7 lg8 xl9 class="h100 px-2">
        <v-flex d-flex justify-space-between align-center class="card_title pr-2">
          <h1 class="mb-0">MACHINE</h1>
          <v-tooltip bottom color="black">
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" class="mb-1 pointer" @click="openFullScreen()" color="grey">fullscreen</v-icon>
            </template>
            <span>Full Screen</span>
          </v-tooltip>
        </v-flex>
        <div class="card machine_wrapper h100 w100">
          <v-flex d-flex align-center justify-center class="h100" v-if="lesson.has_file">
            <h1 class="display-2">COMING SOON</h1>
          </v-flex>
          <div class="h100" v-else>
            <!-- <iframe :src="`https://54.67.5.15:8000/?user=student`" frameborder="0"></iframe> -->
            <iframe v-if="dockerStatus" :src="`https://${docker.ip}:${docker.main_port}`" frameborder="0"></iframe>
          </div>
        </div>
        <v-flex d-flex justify-space-between align-center class="card_title pr-2">
          <h1>LOGS HISTORY ( <small>{{logs.length}}</small> )</h1>
          <small @click="logs = []" class="pointer">CLEAR LOGS</small>
        </v-flex>
        <div class="card logs_wrapper">
          <v-flex id="logs" class="px-2 pt-2">
              <p v-for="(log, i) in logs" :key="i" :class="log.status ? 'text_green' : 'text_red'">{{log.text}}</p>
          </v-flex>
        </div>
      </v-flex>

      <v-dialog
      v-model="dialog"
      fullscreen 
      transition="dialog-transition"
    >
      <div class="h100 w100 fullscreen_wrapper" v-if="docker">
        <span class="zoomout_icon">
          <v-tooltip left color="black">
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" fab x-small @click="dialog = false">
                <v-icon color="black" style="font-size:26px">fullscreen_exit</v-icon>
              </v-btn>
            </template>
            <span>Zoom Out</span>
          </v-tooltip>
        </span>
        <iframe v-if="dockerStatus" :src="`https://${docker.ip}:${docker.main_port}`" frameborder="0"></iframe>
      </div>
    </v-dialog>

  </v-flex>
</template>

<script>
import Loading from "../../General/loading";
import Sidebar from "./../game_parts/sidebar";
import Alert from "./../../General/alerts";
export default {
  components: { Loading, Sidebar, Alert },
  props: ["lesson", "docker"],

  data() {
    return {
      logs: [],
      loading: true,
      alert: null,
      resetMode: false,
      count: 0,
      error: false,
      dialog: false,
      sidebar: true,
      dockerStatus: false
    };
  },

  created() {    
    EventBus.$on('dockerStatus', bool => {
      this.dockerStatus = bool;
    })

    EventBus.$on("testTask", data => {
      this.addLog(data);
    });

    EventBus.$on("resetChallenge", e => {
      this.resetChallenge();
    });
  },

  methods: {
    changeRoute(to) {
      this.$router.push(to);
    },
    
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        2000
      );
    },

    addLog(data) {
      if (data.status)
        data.content = `Congratulations! You have finished the Task ${data.id}`;
      this.logs.push({
        status: data.status ? data.status : 0,
        text: data.content
          ? data.content
          : "Sorry, there is a problem, please let us know"
      });
      let objDiv = document.getElementById("logs");
      let height = objDiv.scrollHeight;
      objDiv.scrollTop = height;
    },

    resetChallenge() {
      EventBus.$emt('refreshToken', true);
      if (this.loading) return;
      axios
        .post(`/api/practice/reset-game/${this.docker.id}`)
        .then(res => {
          this.logs = [];
          this.loading = false;
        })
        .catch(err => {
          this.runDocker();
        });
    },

    checkContainer() {
      if (this.count == 2) {
        this.setAlert(
          "alert_error",
          "Sorry, Lesson is unavailable at the moment. Please try again later"
        );
        this.error = true;
        setTimeout(
          function() {
            this.$router.go(-1);
          }.bind(this),
          2000
        );
        return;
      }
      this.count++;
      axios
        .get(
          `/api/practice/pulse?ip=${this.docker.ip}&port=${
            this.docker.ports[0]
          }&model=LessonContainer`
        )
        .then(res => {
          EventBus.$emit("loadingFinished", true);
          setTimeout(
            function() {
              this.docker.status = true;
              this.loading = false;
            }.bind(this),
            2000
          );
          // this.runClock();
        })
        .catch(err => {
          this.setAlert('alert_error', 'Docker Is Invalid',)
          this.resetMode = true;
          this.docker.status = null;
          this.docker.time = null;
          this.loading = false;
        });
    },

    sidebaraction(bool) {
      this.sidebar = bool;
      EventBus.$emit("lessonSidebar", bool);
    },

    openFullScreen(port, i){
      this.dialog = true;
    }
  }
};
</script>

<style scoped>

  .wrapper{
    margin-top: 95px;
    height: calc(100vh - 95px);
  }
  
  h1{
    font-weight: 200;
    font-size: 1.5em;
  }
  
  .card{
    width: 100%;
    background-color: rgb(13,25,41);
    border-radius: 10px;
    border: 1px solid rgba(85, 178, 206, 0.5);
  }

  .machine_wrapper{
    margin-bottom: 10px;
    height: calc(70% - 38px);
  }

  .card_title{
    height: 30px;
    margin-bottom: 10px;
  }

  .logs_wrapper{
    height: calc(30% - 65px);
  }
    
  iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  
  #logs {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 35px;
  }

  .zoomout_icon{
    position: absolute;
    right: 25px;
    top: 10px;
  }
  
  .fullscreen_wrapper{
    background-color: rgb(5, 10, 17);
  }
</style>