<template>
  <v-flex v-if="lesson" class="h100">
    <v-layout justify-space-between column fill-height>
      <v-flex d-flex justify-space-between class="mr-3">
        <h1 class="ml-3">MISSIONS</h1>
        <v-btn v-if="current_mission" @click="current_mission = null" color="transparent" dark>
          <v-icon color="white">keyboard_arrow_left</v-icon>
          BACK TO MISSIONS
        </v-btn>
      </v-flex>
      <v-flex v-if="!current_mission" class="missions_wrapper pa-3">
        <v-flex v-for="(mission, i) in lesson.missions"
            :key="mission + i" class="card mb-3" @click="openMission(mission, i)">
          
          <v-layout justify-space-between column fill-height>
            <div class="px-5 pt-2">
              <h2>{{mission.title}}</h2>
              <p v-html="mission.description"></p>
            </div>
            <v-flex xs12 d-flex align-end class="text-center">
                <v-flex>
                    TASKS COMPLETED
                    <br>
                    <span
                          :class="mission.finished == mission.tasks.length && mission.tasks.length ? 'crossed' : ''"
                      >{{mission.finished}} / {{mission.tasks.length}}</span>
                    <v-flex mx-auto>
                        <div class="mt-3 progress_wrapper">
                            <div class="filler" :class="Math.floor(mission.finished * 100 / mission.tasks.length) ? 'filler_shadow' : ''" :style="`width:${Math.floor(mission.finished * 100 / mission.tasks.length)}%`"></div>
                        </div>
                    </v-flex>
                </v-flex>
            </v-flex>
          </v-layout>

        </v-flex>
      </v-flex>
      <v-flex v-else class="missions_wrapper pa-3">

        <v-flex class="card main_mission mb-3">
          
          <v-layout justify-space-between column fill-height>
            <div class="px-5 pt-2">
              <h2>{{current_mission.title}}</h2>
              <p v-html="current_mission.description"></p>
            </div>
            <v-flex xs12 d-flex align-end class="text-center">
                <v-flex>
                    TASKS COMPLETED
                    <br>
                    <span
                          :class="current_mission.finished == current_mission.tasks.length && current_mission.tasks.length ? 'crossed' : ''"
                      >{{current_mission.finished}} / {{current_mission.tasks.length}}</span>
                    <v-flex mx-auto>
                        <div class="mt-3 progress_wrapper">
                            <div class="filler" :class="Math.floor(current_mission.finished * 100 / current_mission.tasks.length) ? 'filler_shadow' : ''" :style="`width:${Math.floor(current_mission.finished * 100 / current_mission.tasks.length)}%`"></div>
                        </div>
                    </v-flex>
                </v-flex>
            </v-flex>
          </v-layout>

        </v-flex>

        <v-flex v-for="(task, z) in current_mission.tasks"
            :key="task + z" class="task_card mb-3">
          
          <v-layout justify-space-between column fill-height class="pl-5 pr-3 pt-2">
            <v-flex d-flex justify-space-between>
              <v-flex d-flex align-center>
                <div class="check_circle mr-3" :class="task.user_completed.status ? 'check_filled' : ''"></div>
                <h2>Task {{z +1}}</h2>
              </v-flex>
              <v-btn v-if="z == current_task" color="transparent" fab x-small @click="openTask(null)">
                <v-icon color="white">keyboard_arrow_up</v-icon>
              </v-btn>
              <v-btn v-else color="transparent" fab x-small @click="openTask(z)">
                <v-icon color="white">keyboard_arrow_down</v-icon>
              </v-btn>
            </v-flex>
            <div v-show="current_task == z" class="mb-3">
              <p v-html="task.content"></p>
              <v-flex d-flex align-center>
                <v-tooltip bottom color="black">
                  <template v-slot:activator="{ on }">
                    <a v-on="on" :href="`/support?type=lesson&lesson=${lesson.name}&mission=${current_mission.index}&task=${z}`" class="no_dec icon" target="_blank">
                      <img :src="img + 'Asset2.svg'" alt="">
                    </a>
                  </template>
                  <span>send a report for this task</span>
                </v-tooltip>
                <v-tooltip v-if="task.user_completed && task.user_completed.status" bottom color="black">
                  <template v-slot:activator="{ on }">
                    <img v-on="on" class="icon_small help_cursor" :src="img + 'Asset3.svg'" alt="">
                  </template>
                  <p v-if="task.explanation">
                    <strong><u>Explanaion</u>:</strong>
                    <br>
                    <span v-html="task.explanation.replace(/;/g, '<br />')"></span>
                  </p>
                  <p v-else> This task does not have explanation</p>
                </v-tooltip>
              </v-flex>
              <v-flex d-flex justify-space-between align-center class="mt-3">
                <button v-if="!task.solution_status" class="solution_button" :class="`solution${current_mission.index}${z}`" @click="solution(task, current_mission.index, z)">SOLUTION</button>
                <strike v-else>SOLUTION</strike>
                <button class="button practice_button" :class="`test${current_mission.index}${z}`" @click="testTask(task, current_mission.index, z)">
                  TEST
                </button>
              </v-flex>
              <v-flex v-show="task.solution_status" class="pa-3 solution_wrapper">
                <p class="mb-0 text-left" :id="`solution${current_mission.index}${z}`"></p>
              </v-flex>
            </div>
          </v-layout>

        </v-flex>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  props: ["lesson"],
  data() {
    return {
      hint: false,
      hint_text: "",
      counter: 0,
      tasks: [],
      docker: null,
      loading: false,
      counter: 0,
      current_mission: null,
      current_task: null,
      img: IMG + 'general/'
    };
  },

  created() {
    this.checkTasks();
    EventBus.$on("dockerID", docker => {
      this.docker = docker;
    });
  },

  methods: {
    testTask(item, missionI, taskI) {
      if(this.loading) return;
      if (!this.lesson.missions[missionI].tasks[taskI].user_completed)
        this.lesson.missions[missionI].tasks[taskI].user_completed = {};
      this.checkTasks();
      this.loading = true;
      let docker = {
        id: this.lesson.id,
        ip: this.docker.ip,
        missionNum: missionI + 1,
        checkNum: taskI + 1
      };
      let ele = document.querySelector(`.test${missionI}${taskI}`);
      if (ele) ele.classList.add("loading_Animation", "text_white");
      axios
        .post("/api/practice/test-task", {
          lesson: this.lesson,
          task: item.id,
          docker: docker
        })
        .then(res => {
          if (ele) ele.classList.remove("loading_Animation", "text_white");
          if (!this.lesson.missions[missionI].tasks[taskI].user_completed)
            this.lesson.missions[missionI].tasks[taskI].user_completed = {};
          this.lesson.missions[missionI].tasks[
            taskI
          ].user_completed.status = true;
          this.lesson.missions[missionI].tasks[
            taskI
          ].user_completed.status = true;
          EventBus.$emit("testTask", res.data);
          this.checkTasks();
          this.loading = false;
        })
        .catch(err => {
          if (ele) ele.classList.remove("loading_Animation", "text_white");
          EventBus.$emit("testTask", err.response.data);
          this.loading = false;
        });
    },
    solution(item, i, z) {
      if (this.lesson.missions[i].tasks[z].solution_status) return;
      let ele = document.querySelector(`.solution${i}${z}`);
      if (ele) ele.classList.add("loading_Animation", "text_white");
      axios.get(`/api/practice/solution/${item.id}`).then(res => {
        
        if (ele) ele.classList.remove("loading_Animation", "text_white");
        let solution = res.data.replace(/<EOL>/gm, '!-');

        this.lesson.missions[i].tasks[z].solution = solution;
        this.lesson.missions[i].tasks[z].solution_status = true;
        this.solutionTyper(i, z);
        this.current_mission = null;
        this.current_mission = this.lesson.missions[i];
      });
    },
    solutionTyper(i, z) {
      let text = this.lesson.missions[i].tasks[z].solution;
      let ele = document.getElementById(`solution${i}${z}`);
      if (ele) {
        if (+this.counter < this.lesson.missions[i].tasks[z].solution.length) { // check if thers still chars to print
        if(text.charAt(this.counter) == '!' && text.charAt(this.counter + 1) == '-'){ // check for the signs to the break line
          ele.innerHTML += "<br>";
          this.counter++;
        }else{ // the char is valid, print it
          ele.innerHTML += text.charAt(this.counter);
        }
          this.counter++;
          
          setTimeout(() => {
            this.solutionTyper(i, z);
          }, 30);
        } else {
          this.counter = 0;
        }
      }
    },
    async checkTasks() {
      this.lesson.tasks = 0;
      this.lesson.finished = 0;
      for (let i = 0; i < this.lesson.missions.length; i++) {
        this.lesson.missions[i].finished = 0;
        for (let z = 0; z < this.lesson.missions[i].tasks.length; z++) {
          this.lesson.missions[i].tasks[z].solution = '';
          this.lesson.tasks++;
          if (
            this.lesson.missions[i].tasks[z].user_completed &&
            this.lesson.missions[i].tasks[z].user_completed.status
          ) {
            this.lesson.missions[i].finished++;
            this.lesson.finished++;
          }
        }
      }
    },
    openRow(mission, i) {
      for (let z = 0; z < this.lesson.missions.length; z++) {
        if (z != i) {
          let ele = document.getElementById(`row${z}`);
          if(ele) ele.classList.add('task_desc_hide');
        }
      }
      let element = document.getElementById(`row${i}`);
      if(element){
        if(element.classList.contains('task_desc_hide')) element.classList.remove('task_desc_hide');
        else element.classList.add('task_desc_hide')
      }
      this.selected == i ? (this.selected = null) : (this.selected = i);
    },
    reset() {
      EventBus.$emit("resetChallenge", true);
    },
    openMission(mission, index){
      this.current_mission = mission;
      this.current_mission.index = index;
    },
    openTask(index){
      this.current_task = index;
    },
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        2000
      );
    },
  }
};
</script>

<style scoped>

  h1{
    font-weight: 200;
    font-size: 1.5em;
  }

</style>
