<template>
  <v-flex d-flex flex-wrap class="h100">
    <v-flex lg6>
      <v-layout justify-space-between column fill-height class="pa-5">
        <v-flex>
          <h2 class="main_title">OVERVIEW</h2>
          <div class="divider"></div>
          <p v-if="skipped" v-html="skippedOverview.replace(/(<EOL>)/g, '<br />')"></p>
          <p v-else id="objective"></p>
        </v-flex>
        <v-flex d-flex align-center>
          <v-flex>
            <h2 class="main_title">EXTRA INFORMATION</h2>
            <div class="divider"></div>
            <div v-if="docker.ports">
              <div v-if="docker.ports[1]">
                <p class="mb-0">PORTS:</p>
                <p v-for="(port, i) in docker.ports" :key="i">
                  <span v-if="i != 0">{{port}}</span>
                </p>
              </div>
              <p v-else>
                This lesson does not require extra information 
              </p>
            </div>
            <button
              v-else
              type="button"
              class="bg_light_brown text_white button loading_Animation mt-2 mb-5"
            >LOADING
            </button>
          </v-flex>
        </v-flex>
        <v-flex>
          <button
            :class="!skipped ? 'bg_white text_purple button' : 'bg_light_purple button default'"
            @click="skip()"
          >SKIP</button>
          <button
            v-if="skipped"
            class="bg_white text_purple button"
            @click="stopVideo(false), closeMission()"
          >CONTINUE</button>
          <button v-else class="bg_light_purple button default">CONTINUE</button>
          <br>
          <br>
          <br>
          <br>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex lg6 class="pb-10">
      <v-flex class="pa-3">
        <h2 class="main_title">LESSON VIDEO</h2>
        <div class="divider"></div>
      </v-flex>
      <v-flex>
        <video v-show="opening" class="video" id="openVideo" muted autoplay>
          <source :src="video + 'opening_video.mp4'" type="video/mp4">
        </video>
        <video id="mainVideo" v-if="!opening" class="video" controls autoplay>
          <source :src="video + data.video + '?loop=false&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media'" type="video/mp4">
        </video>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
export default {
  props: ["data", 'docker'],
  data() {
    return {
      scenario: false,
      counter: 0,
      skipped: false,
      skippedOverview: null,
      video: IMG + 'lessons/videos/',
      opening: true
    };
  },

  created(){
    EventBus.$on('videoStatus', bool => {
      this.stopVideo(bool)
    })
  },

  mounted() {
    if (!this.skipped) {
      this.skippedOverview = this.data.objectives.replace(/~/g, "\\r\\n");
      this.checkScenario();
      this.objectiveTyper();
    } else {
      this.loading = false;
    }

    document.getElementById('openVideo').addEventListener('ended', () => {
      this.opening = false;
    });
  },
  methods: {
    stopVideo(bool){
      let vid = document.getElementById("mainVideo");
      if(vid){
        if(!bool){
          vid.pause();
        }else{
          vid.play();
        }
      }
    },
    checkScenario() {
      if (!this.getCookie(`${this.data.name}_scenario`)) {
        this.data.objectives = this.data.objectives.replace(/\\r\\n/g, "");
        let now = new Date();
        let time = now.getTime();
        let expires = time + 1000 * 60 * 60 * 24;
        now.setTime(expires);
        document.cookie = `${this.data.name}_scenario=true;expires=${now}`;
        this.data.objectives = this.data.objectives.replace(/<EOL>/gm, '!-');

        this.objectiveTyper();
      } else {
        this.skipped = true;
      }
    },
    objectiveTyper() {
      if (document.getElementById("objective")) {
        if (+this.counter < this.data.objectives.length) {
          this.writeObjectives();
          this.counter++;
          setTimeout(() => {
            this.objectiveTyper();
          }, 30);
        } else {
          this.skipped = true;
        }
      }
    },
    writeObjectives() {
      let ele = document.getElementById("objective");

      if(ele){
        if (+this.counter < this.data.objectives.length) { // check if thers still chars to print
          if(this.data.objectives.charAt(this.counter) == '!' && this.data.objectives.charAt(this.counter + 1) == '-'){ // check for the signs to the break line
            ele.innerHTML += "<br>";
            this.counter++;
          }else{ // the char is valid, print it
            ele.innerHTML += this.data.objectives.charAt(this.counter);
          }
        }
      }
  
      // if (this.data.objectives.charAt(this.counter) != "~") {
      //   ele.innerHTML += this.data.objectives.charAt(this.counter);
      // }
      // if (this.data.objectives.charAt(this.counter) == "~") {
      //   ele.innerHTML += "<br>";
      // }

      // if (ele) {
      //   if (+this.counter < this.lesson.missions[i].tasks[z].solution.length) { // check if thers still chars to print
      //   if(text.charAt(this.counter) == '!' && text.charAt(this.counter + 1) == '-'){ // check for the signs to the break line
      //     ele.innerHTML += "<br>";
      //     this.counter++;
      //   }else{ // the char is valid, print it
      //     ele.innerHTML += text.charAt(this.counter);
      //   }
      //     this.counter++;
          
      //     setTimeout(() => {
      //       this.solutionTyper(i, z);
      //     }, 30);
      //   } else {
      //     this.counter = 0;
      //   }
      // }
    },
    skip() {
      this.skipped = true;
    },
    getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    },
    closeMission() {
      EventBus.$emit("closeMission", true);
    },
  }
};
</script>

<style scoped>
h2 {
  font-size: 2em;
}

.divider {
  width: 50px;
}

.bg_brown {
  background: linear-gradient(
    90deg,
    rgba(45, 39, 59, 0.5),
    rgba(59, 39, 46, 0.5)
  );
}

.bg_light_brown {
  background-color: rgb(105, 106, 119, 0.4);
}

.h100 {
  overflow-y: auto;
  background-color: rgb(109, 94, 153, 0.1);
}

.video{
  width: 100%;
  min-height: 400px;
}

.bg_light_purple{
  background-color: rgb(109, 94, 153);
  opacity: 0.4;
}

</style>
