<template>
  <v-dialog
    v-model="dialog"
    scrollable 
    persistent
    max-width="900px"
    transition="dialog-transition"
    overlay-opacity=".9"
    overlay-color="black"
    >
    <v-flex class="card">
      <v-layout justify-space-between column fill-height>
        <v-flex d-flex class="pa-3">
          <v-flex md6 class="px-5">
            <v-btn color="white" outlined rounded class="mb-2" dense @click="exitChallenge()">Exit Lesson</v-btn>
            <h2>OVERVIEW</h2>
            <div class="divider_glow"></div>
            <p v-if="skipped" v-html="skippedOverview.replace(/(<EOL>)/g, '<br />')"></p>
            <p v-else id="objective"></p>

          </v-flex>
          <v-flex md6>
              <video v-show="opening" class="video" id="openVideo" muted autoplay>
                <source :src="video + 'opening_video.mp4'" type="video/mp4">
              </video>
              <video id="mainVideo" v-if="!opening" class="video" controls autoplay>
                <source :src="video + data.video + '?loop=false&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media'" type="video/mp4">
              </video>

              <br><br>

              <div>
                <h2>LESSON PROGRESS</h2>
                <div class="divider_glow"></div>
                <p class="mb-1 mt-2">COMPLETED TASKS {{data.finished}} / {{data.tasks}}</p>
                <div v-if="data" class="progress_wrapper total">
                  <div
                    class="filler"
                    :style="`width:${Math.floor(data.finished * 100 / data.tasks)}%`"
                  ></div>
                </div>
              </div>

              <br>

              <h2>EXTRA INFORMATION</h2>
              <div class="divider_glow"></div>
              <div v-if="finished_loading_docker">
                <div v-if="docker.ports[1]">
                  <p class="mb-0">PORTS:</p>
                  <p v-for="(port, i) in docker.ports" :key="i">
                    <span v-if="i != 0">{{port}}</span>
                  </p>
                </div>
                <div v-else-if="data.has_file">
                  <button @click="downloadFile()">Download File</button>
                </div>
                <p v-else>
                  This lesson does not require extra information 
                </p>
              </div>
              <button
                v-else
                type="button"
                class="default text_white px-2 py-1 loading_Animation mt-2 mb-5"
              >LOADING...
              </button>

          </v-flex>
     
        </v-flex>
        <v-flex class="ma-3" d-flex justify-space-between>
          <button
            class="bg_white text_purple button"
            v-if="!skipped"
            @click="skip()"
          >SKIP</button>
          <button v-else></button>
          <button
            v-if="skipped"
            class="bg_white text_purple button"
            @click="stopVideo(false), closeMission()"
          >CONTINUE</button>
          <button v-else class="bg_blue_purple button default">CONTINUE</button>
        </v-flex>
        <v-flex class="card_bottom"></v-flex>
      </v-layout>
    </v-flex>
  </v-dialog>
</template>

<script>
export default {
  props: ["data", 'docker', 'dialog'],
  data() {
    return {
      scenario: false,
      counter: 0,
      skipped: false,
      skippedOverview: null,
      video: IMG + 'lessons/videos/',
      opening: true,
      finished_loading_docker: false
    };
  },

  created(){
    EventBus.$on('videoStatus', bool => {
      this.stopVideo(bool)
    })

    EventBus.$on('testTask', data => {
      if(data.status) this.data.finished++;
    })

    EventBus.$on('dockerStatus', data => {
      this.finished_loading_docker = true
    })
  },

  mounted() {
    if (!this.skipped) {
      this.skippedOverview = this.data.objectives;
      this.checkScenario();
      this.objectiveTyper();
    } else {
      this.loading = false;
    }
    
    let ele = document.getElementById('openVideo');
    if(ele) ele.addEventListener('ended', () => {
      this.opening = false;
    });
  },
  methods: {
    stopVideo(bool){
      let vid = document.getElementById("mainVideo");
      if(vid){
        if(!bool){
          vid.pause();
        }else{
          vid.play();
        }
      }
    },
    checkScenario() {
      if (!this.getCookie(`${this.data.name}_scenario`)) {
        this.data.objectives = this.data.objectives.replace(/\\r\\n/g, "");
        let now = new Date();
        let time = now.getTime();
        let expires = time + 1000 * 60 * 60 * 24;
        now.setTime(expires);
        document.cookie = `${this.data.name}_scenario=true;expires=${now}`;
        this.data.objectives = this.data.objectives.replace(/<EOL>/gm, '!-');

        this.objectiveTyper();
      } else {
        this.skipped = true;
      }
    },
    objectiveTyper() {
      if (document.getElementById("objective")) {
        if (+this.counter < this.data.objectives.length) {
          this.writeObjectives();
          this.counter++;
          setTimeout(() => {
            this.objectiveTyper();
          }, 30);
        } else {
          this.skipped = true;
        }
      }
    },
    writeObjectives() {
      let ele = document.getElementById("objective");

      if(ele){
        if (+this.counter < this.data.objectives.length) { // check if thers still chars to print
          if(this.data.objectives.charAt(this.counter) == '!' && this.data.objectives.charAt(this.counter + 1) == '-'){ // check for the signs to the break line
            ele.innerHTML += "<br>";
            this.counter++;
          }else{ // the char is valid, print it
            ele.innerHTML += this.data.objectives.charAt(this.counter);
          }
        }
      }
    },
    skip() {
      this.skipped = true;
    },
    getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    },
    closeMission() {
      EventBus.$emit("missionStatus", false);
    },
    exitChallenge(){
      let path = this.$route.fullPath.split('/');
      this.$router.push(`/${path[1]}/${path[2]}/${path[3]}`)
    },
    downloadFile(){
      let data = {
        ip: this.docker.ip,
        name: this.data.name
      }
      axios.post(`/api/practice/download-file`, data).then(res => {
        const link = document.createElement("a");
        link.href = window.location.origin + '/' + res.data.replace(/\\/g, '/');
        link.setAttribute("download", this.data.name + '_connection.rdp');
        
        document.body.appendChild(link);
        link.click();
        return;
      }).catch(err => {
      })
    }
  }
};
</script>

<style scoped>

  .card{
    color: #fff;
    height: 100%;
    background: linear-gradient(153deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 9%,rgba(197, 197, 197, 0.03) 9%, rgba(197, 197, 197, 0.03) 21%,rgba(106, 106, 106, 0.03) 21%, rgba(106, 106, 106, 0.03) 32%,rgba(222, 222, 222, 0.03) 32%, rgba(222, 222, 222, 0.03) 72%,rgba(16, 16, 16, 0.03) 72%, rgba(16, 16, 16, 0.03) 92%,rgba(181, 181, 181, 0.03) 92%, rgba(181, 181, 181, 0.03) 97%,rgba(130, 130, 130, 0.03) 97%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(39deg, rgba(237, 237, 237, 0.03) 0%, rgba(237, 237, 237, 0.03) 22%,rgba(126, 126, 126, 0.03) 22%, rgba(126, 126, 126, 0.03) 55%,rgba(196, 196, 196, 0.03) 55%, rgba(196, 196, 196, 0.03) 61%,rgba(121, 121, 121, 0.03) 61%, rgba(121, 121, 121, 0.03) 71%,rgba(133, 133, 133, 0.03) 71%, rgba(133, 133, 133, 0.03) 84%,rgba(132, 132, 132, 0.03) 84%, rgba(132, 132, 132, 0.03) 97%,rgba(185, 185, 185, 0.03) 97%, rgba(185, 185, 185, 0.03) 100%),linear-gradient(124deg, rgba(168, 168, 168, 0.03) 0%, rgba(168, 168, 168, 0.03) 7%,rgba(169, 169, 169, 0.03) 7%, rgba(169, 169, 169, 0.03) 19%,rgba(73, 73, 73, 0.03) 19%, rgba(73, 73, 73, 0.03) 50%,rgba(150, 150, 150, 0.03) 50%, rgba(150, 150, 150, 0.03) 67%,rgba(68, 68, 68, 0.03) 67%, rgba(68, 68, 68, 0.03) 81%,rgba(111, 111, 111, 0.03) 81%, rgba(111, 111, 111, 0.03) 91%,rgba(191, 191, 191, 0.03) 91%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(95deg, rgba(147, 147, 147, 0.03) 0%, rgba(147, 147, 147, 0.03) 17%,rgba(79, 79, 79, 0.03) 17%, rgba(79, 79, 79, 0.03) 27%,rgba(28, 28, 28, 0.03) 27%, rgba(28, 28, 28, 0.03) 45%,rgba(27, 27, 27, 0.03) 45%, rgba(27, 27, 27, 0.03) 56%,rgba(228, 228, 228, 0.03) 56%, rgba(228, 228, 228, 0.03) 64%,rgba(38, 38, 38, 0.03) 64%, rgba(38, 38, 38, 0.03) 72%,rgba(42, 42, 42, 0.03) 72%, rgba(42, 42, 42, 0.03) 100%),linear-gradient(346deg, rgba(59, 59, 59, 0.03) 0%, rgba(59, 59, 59, 0.03) 16%,rgba(66, 66, 66, 0.03) 16%, rgba(66, 66, 66, 0.03) 20%,rgba(236, 236, 236, 0.03) 20%, rgba(236, 236, 236, 0.03) 41%,rgba(244, 244, 244, 0.03) 41%, rgba(244, 244, 244, 0.03) 55%,rgba(106, 106, 106, 0.03) 55%, rgba(106, 106, 106, 0.03) 61%,rgba(220, 220, 220, 0.03) 61%, rgba(220, 220, 220, 0.03) 63%,rgba(209, 209, 209, 0.03) 63%, rgba(209, 209, 209, 0.03) 100%),linear-gradient(90deg, rgb(21,38,59),rgb(8, 17, 13));
    /* background-color: rgb(13,25,41); */
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(65, 69, 126, 0.7);
    transition: .2s all linear;
  }
  
  .card h2{
      font-size: 1.2em;
      font-weight: bold;
  }

  .card_bottom{
      background: linear-gradient(90deg, rgb(48, 65, 75), rgb(17, 27, 34));
      height: 8px;
      border-radius: 0 0 10px 10px;
  }
    
  .video{
    width: 100%;
    border: 1px solid rgba(98, 151, 146, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0);
  }

  .button{
    width: 25%;
    height: 45px;
    margin: 0 5px;
    border-radius: 30px;
  }

  .video:focus{
    outline: none;
  }
</style>
