<template>
  <v-flex v-if="lesson" class="wrapper">
    <v-layout justify-space-between column fill-height>
      <v-flex>
        <v-flex>
          <v-flex class="top objectives pa-3 text-center">
            <h1>OBJECTIVES</h1>
          </v-flex>
          <v-flex
            v-for="(mission, i) in lesson.missions"
            :key="mission + i"
            class="mission"
            :style="i % 2 == 0 ? '' : 'background-color: rgba(105, 119, 106, 0.2)'"
          >
            <v-flex>
              <v-flex d-flex align-center class="pa-3 pointer" @click="openRow(mission, i)">
                <v-icon
                large
                  v-if="mission.finished == mission.tasks.length"
                  color="green lighten-4"
                >check_circle_outline</v-icon>
                <v-icon large v-else color="red lighten-4">remove_circle_outline</v-icon>
                <v-flex class="ml-3" d-flex justify-space-between>
                  <div>
                    <p class="mb-0">{{mission.title}}</p>
                    <p class="mb-0">{{mission.finished}} / {{mission.tasks.length}}</p>
                  </div>
                  <v-flex d-flex align-center justify-end>
                    <v-icon color="white">keyboard_arrow_down</v-icon>
                  </v-flex>
                </v-flex>
              </v-flex>
              <v-flex xs12 d-flex align-end>
                <div class="progress_wrapper">
                  <div
                    v-if="mission.tasks.length"
                    class="filler"
                    :style="`width:${Math.floor(mission.finished * 100 / mission.tasks.length)}%`"
                  ></div>
                </div>
              </v-flex>
              <v-flex :id="`row${i}`" class="pa-2 task_desc_hide">
                <v-flex>
                  <p>
                    <strong>Description</strong>:
                    <br />
                    <span v-html="mission.description"></span>
                  </p>
                </v-flex>
                <v-flex v-for="(task, z) in mission.tasks" :key="z" class="ma-3 pa-3 task">
                  <v-flex d-flex align-center justify-space-between>
                    <v-flex align-center d-flex>
                        <v-icon
                        v-if="task.user_completed && task.user_completed.status"
                        color="green lighten-4"
                      >check_circle_outline</v-icon>
                      <v-icon v-else color="red lighten-4">remove_circle_outline</v-icon>
                      <p class="mb-0 ml-3">Task {{z +1}}</p>
                    </v-flex>
                    
                    <v-tooltip bottom color="black">
                      <template v-slot:activator="{ on }">
                        <a v-on="on" :href="`/support?type=lesson&lesson=${lesson.name}&mission=${i}&task=${z}`" class="no_dec" target="_blank">
                          <v-icon cmall class="pointer" color="grey">error_outline</v-icon>
                        </a>
                      </template>
                      <span>send a report for this task</span>
                    </v-tooltip>
                    
                    <v-tooltip v-if="task.user_completed && task.user_completed.status" right color="black" max-width="250">
                      <template v-slot:activator="{ on }">
                        <a href="#" class="no_dec ml-1 help_cursor" v-on="on">
                          <v-icon cmall class="" color="grey">help</v-icon>
                        </a>
                      </template>
                      <p v-if="task.explanation">
                        <strong><u>Explanaion</u>:</strong>
                        <br>
                        <span v-html="task.explanation.replace(/;/g, '<br />')"></span>
                      </p>
                      <p v-else> This task does not have explanation</p>
                    </v-tooltip>
                  </v-flex>
                  <v-flex class="pa-3 ml-5">
                    <p v-html="task.content.replace(/;/g, '<br />')"></p>
                  </v-flex>
                  <v-flex d-flex justify-space-between flex-wrap>
                    <button
                      :disabled="loading"
                      class="button bg_white text_purple mt-2"
                      :class="`test${i}${z}`"
                      @click="testTask(task, i, z)"
                    >Test</button>
                    <button
                      class="button bg_white text_purple solution mt-2"
                      :class="`solution${i}${z}`"
                      @click="solution(task, i, z)"
                    >Solution</button>
                  </v-flex>
                  <v-flex class="pa-3">
                    <p class="mb-0 text-left" :id="`solution${i}${z}`"></p>
                  </v-flex>
                </v-flex>
              </v-flex>
            </v-flex>
          </v-flex>
        </v-flex>
      </v-flex>
      <v-flex d-flex flex-wrap align-center justify-center>
        <v-flex xs9 mx-auto class="text-center my-4">
          <h2 v-if="lesson.finished != lesson.tasks">LESSON PROGRESS</h2>
          <h2 class="text_green" v-else>LESSON FINISHED</h2>
          <p>{{lesson.finished}} / {{lesson.tasks}}</p>
          <div class="progress_wrapper mt-2 total">
            <div
              v-if="lesson.tasks"
              class="filler"
              :style="`width:${Math.floor(lesson.finished * 100 / lesson.tasks)}%`"
            ></div>
          </div>
          <!-- <h3 class="mt-5 main_title">{{docker ? docker.time : ''}}</h3> -->
        </v-flex>
        <div class="px-3 text-center">
          <small>Using a solution will not grant you points for the task</small>
          <div class="mt-3">
            <button class="button bg_white text_purple ml-3 mr-auto" @click="$router.go(-1)">Back</button>
          </div>
        </div>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  props: ["lesson"],
  data() {
    return {
      hint: false,
      hint_text: "",
      counter: 0,
      tasks: [],
      docker: null,
      loading: false,
      counter: 0,
      resetMode: false
    };
  },

  created() {
    this.checkTasks();
    EventBus.$on("dockerID", docker => {
      this.docker = docker;
    });
    // EventBus.$on('runClock', time => {
    //   this.runClock(time);
    // })
    EventBus.$on("resetContainer", bool => {
      this.resetMode = bool;
    });
  },

  methods: {
    testTask(item, missionI, taskI) {
      if (!this.lesson.missions[missionI].tasks[taskI].user_completed)
        this.lesson.missions[missionI].tasks[taskI].user_completed = {};
      this.checkTasks();
      this.loading = true;
      let docker = {
        id: this.lesson.id,
        ip: this.docker.ip,
        missionNum: missionI + 1,
        checkNum: taskI + 1
      };
      let ele = document.querySelector(`.test${missionI}${taskI}`);
      if (ele) ele.classList.add("loading_Animation", "text_white");
      axios
        .post("/api/practice/test-task", {
          lesson: this.lesson,
          task: item.id,
          docker: docker
        })
        .then(res => {
          if (ele) ele.classList.remove("loading_Animation", "text_white");
          if (!this.lesson.missions[missionI].tasks[taskI].user_completed)
            this.lesson.missions[missionI].tasks[taskI].user_completed = {};
          this.lesson.missions[missionI].tasks[
            taskI
          ].user_completed.status = true;
          this.lesson.missions[missionI].tasks[
            taskI
          ].user_completed.status = true;
          EventBus.$emit("testTask", res.data);
          this.checkTasks();
          this.loading = false;
        })
        .catch(err => {
          if (ele) ele.classList.remove("loading_Animation", "text_white");
          EventBus.$emit("testTask", err.response.data);
          this.loading = false;
        });
    },
    solution(item, i, z) {
      if (this.lesson.missions[i].tasks[z].solution_status) return;
      let ele = document.querySelector(`.solution${i}${z}`);
      if (ele) ele.classList.add("loading_Animation", "text_white");
      axios.get(`/api/practice/solution/${item.id}`).then(res => {
        
        if (ele) ele.classList.remove("loading_Animation", "text_white");
        let solution = res.data.replace(/<EOL>/gm, '!-');

        this.lesson.missions[i].tasks[z].solution = solution;
        this.lesson.missions[i].tasks[z].solution_status = true;
        this.solutionTyper(i, z);
      });
    },
    solutionTyper(i, z) {
      let text = this.lesson.missions[i].tasks[z].solution;
      let ele = document.getElementById(`solution${i}${z}`);
      if (ele) {
        if (+this.counter < this.lesson.missions[i].tasks[z].solution.length) { // check if thers still chars to print
        if(text.charAt(this.counter) == '!' && text.charAt(this.counter + 1) == '-'){ // check for the signs to the break line
          ele.innerHTML += "<br>";
          this.counter++;
        }else{ // the char is valid, print it
          ele.innerHTML += text.charAt(this.counter);
        }
          this.counter++;
          
          setTimeout(() => {
            this.solutionTyper(i, z);
          }, 30);
        } else {
          this.counter = 0;
        }
      }
    },
    async checkTasks() {
      this.lesson.tasks = 0;
      this.lesson.finished = 0;
      for (let i = 0; i < this.lesson.missions.length; i++) {
        this.lesson.missions[i].finished = 0;
        for (let z = 0; z < this.lesson.missions[i].tasks.length; z++) {
          this.lesson.missions[i].tasks[z].solution = '';
          this.lesson.tasks++;
          if (
            this.lesson.missions[i].tasks[z].user_completed &&
            this.lesson.missions[i].tasks[z].user_completed.status
          ) {
            this.lesson.missions[i].finished++;
            this.lesson.finished++;
          }
        }
      }
    },
    openRow(mission, i) {
      for (let z = 0; z < this.lesson.missions.length; z++) {
        if (z != i) {
          let ele = document.getElementById(`row${z}`);
          if(ele) ele.classList.add('task_desc_hide');
        }
      }
      let element = document.getElementById(`row${i}`);
      if(element){
        if(element.classList.contains('task_desc_hide')) element.classList.remove('task_desc_hide');
        else element.classList.add('task_desc_hide')
      }
      this.selected == i ? (this.selected = null) : (this.selected = i);
    },
    reset() {
      EventBus.$emit("resetChallenge", true);
    },
    // runClock(v) {
    //   let parts = v.split(":");
    //   let now = new Date();
    //   let current = {
    //     hours: now.getHours(),
    //     mins: now.getMinutes(),
    //     secs: now.getSeconds()
    //   };
    //   let secs1 = 0;
    //   secs1 += Number(parts[0]) * 60 * 60; // hours
    //   secs1 += Number(parts[1]) * 60; // minuts
    //   secs1 += Number(parts[2]); // secs

    //   let secs2 = 0;
    //   secs2 += Number(current.hours) * 60 * 60; // hours
    //   secs2 += Number(current.mins) * 60; // minuts
    //   secs2 += Number(current.secs); // secs
    //   let time = secs2 - secs1;
    //   time = this.lesson.play_time * 60 - time;

    //   let hours = Math.floor(time / 60 / 60);
    //   let mins = Math.floor(time / 60) - hours * 60;
    //   let secs = time - hours * 60 * 60 - mins * 60;

    //   if (mins == "00" && secs == "00") {
    //     hours--;
    //     mins = 59;
    //     secs = 59;
    //   }

    //   this.docker.time = `0${hours}:${mins}:${secs}`;

    //   const timefunc = setInterval(
    //     function() {
    //       if (secs == "00") {
    //         if (mins == "00") {
    //           if (hours == "00") {
    //             document.cookie =
    //               this.lesson.name +
    //               "_docker=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
    //             TimeOut();
    //             this.setAlert(
    //               "alert_error",
    //               "Lesson Time Has Expired, Please Try Again"
    //             );
    //             setTimeout(
    //               function() {
    //                 this.$router.push("/practice-arena");
    //               }.bind(this),
    //               3000
    //             );
    //           } else {
    //             hours--;
    //             mins = 59;
    //             this.docker.time = `0${hours}:${mins}:${secs}`;
    //           }
    //         } else {
    //           mins--;
    //           secs = 59;
    //           this.docker.time = `0${hours}:${mins}:${secs}`;
    //         }
    //       } else {
    //         secs--;
    //         this.docker.time = `0${hours}:${mins}:${secs}`;
    //       }
    //       if (document.getElementById("time"))
    //         document.getElementById("time").innerHTML = this.docker.time;
    //     }.bind(this),
    //     1000
    //   );

    //   function TimeOut() {
    //     clearInterval(timefunc);
    //   }
    // },
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        2000
      );
    },
  }
};
</script>

<style scoped>
h1,
h2 {
  font-weight: 100;
}

*{
  word-wrap: break-word
}

h3 {
  font-size: 2em;
}

.wrapper {
  overflow-y: auto !important;
  background-color: rgb(11, 11, 31) !important;
}

.objectives {
  background-color: rgba(105, 119, 106, 0.2);
}

.task_desc_hide{
  display: none;
}

.progress_wrapper {
  width: 100%;
  background-color: rgb(105, 106, 119, 0.7);
  border: 1px solid rgba(165, 166, 172, 0.5);
  height: 4px;
}

.total {
  height: 10px;
}

.task {
  background: linear-gradient(
    90deg,
    rgba(72, 66, 158, 0.2),
    rgba(95, 90, 170, 0.2),
    rgba(146, 94, 153, 0.2),
    rgba(220, 83, 163, 0.2),
    rgb(220, 83, 105, 0.2)
  );
}

.button {
  font-size: 0.8em;
}

.top {
  height: 70px;
}

.text_green {
  font-weight: 500;
}

.solution{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
</style>
