<template>
    <div v-if="data" id="toolbar">
        <v-flex class="h100 px-5" d-flex justify-space-between align-center>
            <h1 class="mb-0">
                <router-link class="no_dec white--text" to="/">HOME</router-link>
                | {{data.name}}
            </h1>

            

            <!-- <v-btn @click="dialog = true" class="transparent" fab>
                <v-icon large color="white">subject</v-icon>
            </v-btn> -->


        </v-flex>
        <v-dialog
            @click:outside="closeVideo()"
            v-model="dialog"
            max-width="1000px"
            transition="dialog-transition"
            >
            <v-card class="pa-3 dialog">
                <v-flex d-flex justify-space-around>
                    <div>
                        <h2>Main Menu</h2>
                        <div class="divider"></div>
                        <p><router-link class="no_dec white--text" to="/">Home</router-link></p>
                        <p><router-link class="no_dec white--text" to="/challenges">Challenges</router-link></p>
                        <p><router-link class="no_dec white--text" to="/practice-arena">Practice Arena</router-link></p>
                        <p><router-link class="no_dec white--text" to="/news">News</router-link></p>
                        <p><router-link class="no_dec white--text" to="/about">About</router-link></p>
                        <p><router-link class="no_dec white--text" to="/hof">Hall Of Fame</router-link></p>
                        <p><router-link class="no_dec white--text" to="/support">Support</router-link></p>
                    </div>
                    <div>
                        <h2>Profile</h2>
                        <div class="divider"></div>
                    </div>
                    <div>
                        <h2>{{data.name}}</h2>
                        <div class="divider"></div>
                    </div>
                </v-flex>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: ['data'],

    data(){
        return {
            dialog: false
        }
    },

    created(){

    },

    methods:{
        
    }
}
</script>

<style scoped>
    #toolbar{
        background: linear-gradient(90deg, rgb(24,43,55), rgb(14,24,29));
        border-bottom: 1px solid rgba(104, 108, 161, 0.7);
        height: 88px;
    }

    h1, h2{
        font-weight: 100;
    }

    .dialog{
        background-color: rgb(25,33,38);
        border: 1px solid rgba(104, 108, 161, 0.7);
        color: #fff;
    }
</style>