<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :countries="true"
      :institutions="true"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Countries",
      api: "cms/countries",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Countries",
        one: "country",
        multiple: "countries"
      },
      headers: [
          { text: 'Name', value: 'country' },
          { text: 'Colleges', value: 'colleges_count' },
          { text: 'Classes', value: 'classes.length' },
          { text: 'Students', value: 'students.length' },
          { text: 'Status', value: 'status' },
          { text: 'Created At', value: 'created_at' },
          { text: 'Actions', value: 'actions' },
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["visibility", "delete"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
