<template>
    <v-flex v-if="cat">
        <v-flex xs12 md8 lg6 mx-auto class="text-center games_wrapper">
            <v-flex
                class="row mx-0 pointer"
                v-for="(cat, i) in cat"
                :key="i"
                :style="`background-image: url('${img}cats/${cat.image}')`"
                @click="openCat(cat, i)"
            >
                <v-flex
                    d-flex
                    flex-wrap
                    :class="i % 2 == 0 ? 'row_1' : 'row_2'"
                    align-end
                    class="row_wrapper"
                >
                    <v-flex xs12 md3 d-flex align-center justify-end class="px-3 mt-2">
                        <div class="text-right pr-5">
                            <span :class="cat.finished == cat.games ? 'crossed' : ''">
                                {{cat.finished}} / {{cat.games}}
                            </span>
                            <p class="mb-0">Challenges</p>
                        </div>
                    </v-flex>
                    <v-flex xs12 md9 d-flex align-center class="text-left">
                        <h2 class="mb-3">{{cat.name}}</h2>
                    </v-flex>
                    <v-flex xs12 d-flex align-end>
                        <div class="progress_wrapper">
                            <div class="filler" :style="`width:${Math.floor(cat.finished * 100 / cat.games)}%`"></div>
                        </div>
                    </v-flex>
                </v-flex>
            </v-flex>
            <v-flex class="row"></v-flex>
        </v-flex>
    </v-flex>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {
                cats: [],
                mode: "cats",
                img: IMG,
                cat: null,
                selectedGames: [],
                role: Auth.role(),
                cat: this.data
            };
        },

        methods: {
            openCat(cat, i) {
                this.cat = cat;
                let name = cat.name.toLowerCase();
                name = name.replace(/\s/g, "-");
                name = name.replace(/&/g, "and");
                name = name.replace(/\//g, "or");
                this.$router.push("/challenges/" + name);

                EventBus.$emit("changeRouteChallenges", cat.name);
            }
        }
    };
</script>

<style scoped>
    h1 {
        letter-spacing: 5px;
    }

    h2 {
        font-weight: 200;
        letter-spacing: 5px;
    }

    .progress_wrapper {
        width: 100%;
        background-color: rgb(105, 106, 119, 0.7);
        border: 1px solid rgba(165, 166, 172, 0.5);
        height: 7px;
    }

    /* .games_wrapper {
        min-height: 500px;
    } */

    .row {
        object-fit: cover;
        background-repeat: repeat-x;
        background-position: 0 50%;
    }

    .row_wrapper {
        mix-blend-mode: inherit;
        opacity: 1;
    }
</style>