<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :institutions="true"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Colleges",
      api: "cms/colleges",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Colleges",
        one: "college",
        multiple: "colleges"
      },
      headers: [
          { text: 'Name', value: 'name' },
          { text: 'Country', value: 'country.country' },
          { text: 'Classes', value: 'classes_count' },
          { text: 'Students', value: 'students.length' },
          { text: 'Status', value: 'status' },
          { text: 'Created At', value: 'created_at' },
          { text: 'Actions', value: 'actions' },
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["visibility"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
