<template>
    <v-container>
        <v-flex v-if="data">
            <v-layout xs12 wrap d-flex justify-content-between>
                 <v-flex class="text-center text-md-left">
                    <v-toolbar flat color="transparent">
                        <v-toolbar-title>College Classes - {{ data ? data.total : '' }}</v-toolbar-title>
                        <v-toolbar-items>
                            <v-icon class="pointer ml-3" @click="statusSubmit(0)" v-if="form.status" style="font-size:3em;" color="green">toggle_on</v-icon>
                            <v-icon class="pointer ml-3" @click="statusSubmit(1)" v-else style="font-size:3em;" color="red">toggle_off</v-icon>
                            <v-btn text color="red" @click="dialogCollege = true">delete</v-btn>
                        </v-toolbar-items>
                    </v-toolbar>
                </v-flex>
            </v-layout>
            <v-text-field
                outlined
                class="pt-0"
                v-model="search"
                label="Search classes"
            ></v-text-field>
            <v-layout wrap xs12 d-flex justify-space-between>
                <v-flex xs12 md3 class="mt-3">
                    <v-form @submit.prevent="submit()" ref="form">
                        <v-card class="px-3 py-3">
                            <v-toolbar class="mb-3" flat>
                                <v-toolbar-title>College Details</v-toolbar-title>
                            </v-toolbar>
                            <v-autocomplete
                                outlined
                                :items="countries"
                                item-value="id"
                                item-text="country"
                                v-model="form.country_id"
                                label="Choose Country"
                                autocomplete
                                :rules="[rules.country]"
                            ></v-autocomplete>
                            <v-text-field
                                outlined
                                v-model="form.name"
                                label="College Name"
                                :rules="[rules.name]"
                            ></v-text-field>
                            <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
                        </v-card>
                    </v-form>
                </v-flex>
                <v-flex xs12 md8 class="my-3">
                    <v-flex v-if="data">
                        <v-data-table
                            :loading="loading"
                            v-model="selected"
                            :headers="headers"
                            :items="data.data"
                            :pagination.sync="pagination"
                            :rows-per-page-items="[100]"
                            hide-actions
                            show-select
                            :search="search"
                            item-key="name"
                            class="elevation-1"
                        >
                        <template v-slot:top>
                            <v-flex class="text-center text-md-right pa-3">
                                <v-btn title="Classes 10" @click="paginatePage(10)" :color="pagination.amount == 10 ? 'primary' : 'blue lighten-4'" class="mr-2" fab small>10</v-btn>
                                <v-btn title="Classes 20" @click="paginatePage(20)" :color="pagination.amount == 20 ? 'primary' : 'blue lighten-4'" class="mr-2" fab small>20</v-btn>
                                <v-btn title="Classes 50" @click="paginatePage(50)" :color="pagination.amount == 50 ? 'primary' : 'blue lighten-4'" class="mr-2" fab small>50</v-btn>
                            </v-flex>
                        </template>
                            <template v-slot:headers="props">
                            <tr>
                                <th>
                                <v-checkbox
                                    :input-value="props.all"
                                    :indeterminate="props.indeterminate"
                                    primary
                                    hide-details
                                    @click.stop="toggleAll()"
                                ></v-checkbox>
                                </th>
                                <th
                                v-for="header in props.headers"
                                :key="header.text"
                                :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                                @click="changeSort(header.value)"
                                >
                                <v-icon small>arrow_upward</v-icon>
                                {{ header.text }}
                                </th>
                            </tr>
                            </template>
                            
                            <template v-slot:item.status="props">
                                <v-icon large class="cms_status" @click="changeStatus(0, props.item.id)" v-if="props.item.status" color="success">toggle_on</v-icon>
                                <v-icon large class="cms_status" @click="changeStatus(1, props.item.id)" v-else color="red">toggle_off</v-icon>
                            </template>
                            <template v-slot:item.actions="props">
                                <v-icon
                                    v-for="(action,i) in actionBtns"
                                    :key="i"
                                    :class="{'mr-2': i != actionBtns.length - 1}"
                                    @click="changeRoute('', props.item.id)"
                                    :color="btnColor(action)"
                                >{{action}}</v-icon>
                            </template>
                    </v-data-table>
                    <v-layout d-flex wrap justify-content-between>
                        <v-flex xs12 md6 d-flex align-center>
                            <v-select
                                solo
                                class="mt-3"
                                :items="actions"
                                v-model="select"
                                label="Multiple Actions"
                            ></v-select>
                            <v-btn color="primary" style="height:52%" class="mb-3" @click="MultiAction()">Submit</v-btn>
                        </v-flex>
                        <v-flex xs10 md6 style="display:inline-block" class="mt-4 text-center text-md-right" xs12>
                            <v-pagination
                                v-if="pages.length > 1"
                                v-model="page"
                                :length="pages[pages.length - 1]"
                                :total-visible="10"
                                @input="getClasses(page)"
                            ></v-pagination>
                            <!-- <button class="pages_btn edges_btn" @click="getStudents(1)">First</button>
                            <v-flex style="display:inline-block" v-for="(page, i) in pages" :key="i">
                                <button :class="page == data.current_page ? 'pages_btn_active' : ''" class="pages_btn" @click="getStudents(page)">{{page}}</button>
                            </v-flex>
                            <button class="pages_btn edges_btn" @click="getStudents(pages.length)">Last</button> -->
                        </v-flex>
                    </v-layout>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-dialog
            v-model="dialogCollege"
            max-width="500"
            >
            <v-card>
                <v-card-title class="headline">Delete College</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    Are You sure You want to delete the college?
                </v-card-text>
                <v-card-actions>
                <v-btn
                    color="green darken-1"
                    text
                    @click="deleteCollege()"
                >
                    Accept
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"
                    text
                    @click="dialogCollege = false"
                >
                    Cancel
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="deleteDialog"
            max-width="500"
            >
            <v-card>
                <v-card-title class="headline">Delete Classes</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    Are You sure You want to delete the <span v-if="selected.length > 1">classes</span><span v-else>class</span>?
                </v-card-text>
                <v-card-actions>
                <v-btn
                    color="green darken-1"
                    text
                    @click="MultiAction()"
                >
                    Accept
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"
                    text
                    @click="deleteDialog = false, select = 'Choose An Action'"
                >
                    Cancel
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            data: null,
            countries: null,
            search: null,
            form:{},
            pagination: {
                sortBy: 'name',
                amount: 10
            },
            loading: false,
            dialogCollege: false,
            deleteDialog: false,
            headers: [
                { text: 'Class', value: 'name' },
                { text: 'Status', value: 'status' },
                { text: 'Actions', value: 'actions', align: 'end' },
            ],
            page: 0,
            pages: [],
            actions: ['Choose An Action', 'Active', 'Inactive', 'Delete'],
            select: 'Choose An Action',
            rules: {
                country: v => !!v || 'Country is Required',
                name: v => !!v || 'Category Name is Required',
            },
            selected: [],
            search: '',
            actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
            actionBtns: ["edit"],
            btnColors: {
                edit: "success",
                visibility: "info",
                delete: "red"
            },
        }
    },
    created(){
        Load.on()
        this.getCollege()
        this.getClasses(1);
    },
    methods:{
        getCollege(){
            axios.get(`/api/cms/colleges/show/${window.location.pathname.split('/')[4]}`).then(res => {
                this.form = res.data.college
                this.countries = res.data.countries
                Load.off()
            }).catch(err => {
                Alert.on(['error', 'College not found'])
                this.$router.go(-1)
            })
        },
        getClasses(page){
            this.page = page;
            axios.get(`/api/cms/colleges/classes/${window.location.pathname.split('/')[4]}/${this.pagination.amount}?page=${page}`).then(res => {
                Load.off()
                this.data = res.data;
                this.pages = Pagination.pages(res.data)
            })
        },
        statusSubmit(status){ // college status
            this.form.status = status;
            axios.post('/api/cms/colleges/status', {id: this.form.id, status: status}).then(res => {
                Alert.on(['success', res.data]);
            })
        },
        btnColor(btn) {
            const btnColors = this.btnColors,
                keys = Object.keys(btnColors);

            for (let i = 0; i < keys.length; i++)
                if (btn == keys[i]) return btnColors[keys[i]];

            return "info";
        },
        changeRoute(to, id){
            this.$router.push(`/CMS/institutions/classes/${to + id}`)
        },
        paginatePage(num){
            this.pagination.amount = num;
            this.getClasses(1);
        },
        submit(){
             if(this.$refs.form.validate()){
                this.loading = true;
                axios.post('/api/cms/colleges/update', this.form).then(res => {
                    this.loading = false;
                    Alert.on(['success', res.data])
                }).catch(err => {
                    this.loading = false;
                    Alert.on(['error', err.response.data])
                })
            }
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
            else this.selected = this.data.data.slice()
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        changeStatus(status, id){ // classes status
            for(let i = 0; i < this.data.data.length; i++){
                if(this.data.data[i].id == id){
                    this.data.data[i].status = status;
                    break;
                }
            }
            axios.post('/api/cms/classes/status', {id: id, status: status}).then(res => {
                Alert.on(['success', res.data]); 
            })
        },
        MultiAction(v){
            if(this.select == 'Delete' && !this.deleteDialog){
                    this.deleteDialog = true;
            }else{
                if(this.select == 'Choose An Action') return Alert.on(['error', 'Sorry, you haven\'t chose any action']);
                    if(!this.selected.length) {
                        this.deleteDialog = false;
                        return Alert.on(['error', 'Sorry, you haven\'t chose any class']);
                    }else{
                }
                this.deleteDialog = false;
                var data = [];
                for(let i = 0; i < this.selected.length; i++){
                    data.push(this.selected[i].id)
                }
                axios.post(`/api/cms/classes/multiple`, {mode: this.select, data: data}).then(res => {
                    data.forEach(e => {
                        if(this.data.data){
                            if(this.select == 'Delete'){
                                let index = this.data.data.forEach( (v, i) => {
                                    if(e == v.id) this.data.data.splice(i, 1)
                                })
                            }else{
                                var status = this.select == 'Active' ? 1: 0; 
                                let index = this.data.data.forEach( (v, i) => {
                                    if(e == v.id) v.status = status;
                                })
                            }
                        }
                    })
                    Alert.on(['success', res.data])
                    this.selected = []
                    this.select = 'Choose An Action';
                }).catch(err => {
                    Alert.on(['error', err.response.data.errors.data[0]])
                    this.select = 'Choose An Action';
                })
            }
        },
        deleteCollege(){
            this.dialogCollege = false;
            axios.post('/api/cms/colleges/delete', {id: this.form.id}).then(res => {
                Alert.on(['success', res.data]);
                this.$router.push('/CMS/institutions/colleges')
            }).catch(err => {
                Alert.on(['error', err.response.data]);
            })
        }
    }
}
</script>

<style>

</style>
