<template>
    <div class="wrapper wrapper_center">
    <v-flex v-if="loading" class="text-center">
        <loading class="mx-auto"/>
    </v-flex>
    <v-flex v-else>
        <v-flex v-if="check" xs12 sm10 md6 mx-auto class="text-center">
            <h1 class="mt-md-4 main_title text_green">Payment Verified</h1>
            <h3 class="text-center mt-3 main_sub_title mt-md-5">
                Thank You, your payment has been verified.
                <br>
                WELCOME TO CYWAR
            </h3>
            <br>
            <router-link to="/"><button class="bg_white text_purple button mb-3">LETS START</button></router-link>
        </v-flex>
        <v-flex v-else xs12 sm10 md6 mx-auto class="text-center">
            <h1 class="mt-md-4 main_title text_red">Payment Cancelled</h1>
            <h3 class="text-center mt-3 main_sub_title mt-md-5">
                Sorry, we had a problem to complete the payment.
                <br>
                Please contact us for help.
            </h3>
        </v-flex>
    </v-flex>
  </div>
</template>

<script>
import Loading from './../../General/loading'
export default {
  components: { Loading },
  data(){
    return {
      loading: true,
      check: false
    }
  },
  mounted(){
    let status = this.$route.query.status;
    let token = this.$route.query.token;
    if(status == 'true')
    {
      axios.post('/api/user/execute-agreement', {
        status: status,
        token: token
      }).then( res => {
        this.loading = false;
        this.check = true;
      }).catch( err => {
        this.loading = false;
        this.check = false;
      })
    }
  },
  methods:{
  }
}
</script>

<style scoped>
  .wrapper{
    background-image: url('http://127.0.0.1:8000/images/background/congratz.png');
  }
</style>