<template>
  <v-flex v-if="data">
    <v-flex d-flex align-center class="wrapper">
      <v-flex mt-10 mt-md-0 md5 class="box bb px-md-3 py-1 bg_blue_purple" d-flex align-center>
        <v-form @submit.prevent="submit()" ref="form" class="form text-left w100">
          <v-flex  >
            <input
              type="text"
              v-model="form.name"
              placeholder="Full Name"
              :class="errors.name ? 'input_error' : ''"
            />
            <small
              class="red--text"
              v-if="errors.name"
            >{{Array.isArray(errors.name) ? errors.name[0] : errors.name}}</small>
          </v-flex>
          <br/>
          <v-flex class="form_row">
            <input
              type="email"
              v-model="form.email"
              placeholder="Email Address"
              :class="errors.email ? 'input_error' : ''"
            />
            <small
              class="red--text"
              v-if="errors.email"
            >{{Array.isArray(errors.email) ? errors.email[0] : errors.email}}</small>
          </v-flex>
          <br/>
          <v-flex class="form_row">
            <input
              type="text"
              v-model="form.phone"
              placeholder="Phone"
              :class="errors.phone ? 'input_error' : ''"
            />
            <small
              class="red--text"
              v-if="errors.phone"
            >{{Array.isArray(errors.phone) ? errors.phone[0] : errors.phone}}</small>
          </v-flex>
          <br/>
          <v-flex xs12 mx-auto class="text-left mt-3">
            <input type="password" placeholder="Old Password" v-model="form.old_password"/>
            <small
              class="main_error"
              v-if="errors.old_password"
            >{{Array.isArray(errors.old_password) ? errors.old_password[0] :
              errors.old_password}}</small>
          </v-flex>
          <br/>
          <v-flex xs12 mx-auto class="text-left mt-3">
            <input
              type="password"
              placeholder="New Password"
              v-model="form.password"
              autocomplete="new-password"
            />
            <small
              class="main_error"
              v-if="errors.password"
            >{{Array.isArray(errors.password) ? errors.password[0] : errors.password}}</small>
          </v-flex>
          <br/>
          <v-flex class="text-center mb-3">
            <button type="submit" class="bg_white text_purple button mb-0">UPDATE PROFILE</button>
          </v-flex>
        </v-form>
      </v-flex>
      <v-flex mt-4 mt-md-0 order-first order-md-last xs12 md6 offset-md1
              class="vw-100 avatars_wrapper text-center px-3">
        <div class="rounded bg_white pa-1 big_image">
          <img :src="bigImage" alt="avatar" id="main_image"/>
        </div>
        <h2 class="main_sub_title">AVATAR GALLERY</h2>
        <v-layout xs12 row wrap class="gallery">
          <v-flex v-for="avatar in data.avatars" :key="avatar.id" xs3 d-flex class="pointer">
            <v-flex
              class="img_wrapper bg_white text_red"
              :class="avatar.level > data.user.details.level.level && role == 'student' ? 'avatar_block' : ''"
              @click="changeImage(avatar)"
            >
              <img :src="img + avatar.image" alt/>
              <span
                v-if="avatar.level > data.user.details.level.level && role == 'student'"
              >LEVEL {{avatar.level}}</span>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {
                img: IMG + "avatars/",
                bigImage: null,
                form: {
                    name: null,
                    email: null,
                    phone: null,
                    old_password: null,
                    password: null,
                    image: null
                },
                updated: false,
                errors: {},
                role: Auth.role()
            };
        },
        beforeUpdate() {
            if (!this.updated) this.setDetails();
        },
        created() {
            if (this.data) this.setDetails();
        },
        methods: {
            setDetails() {
                this.form.name = this.data.user.name;
                this.form.email = this.data.user.email;
                this.form.phone = this.data.user.phone;
                this.form.image = this.data.user.image;
                this.bigImage = `${IMG}avatars/${this.data.user.image}`;
                this.updated = true;
            },
            submit() {
                let validation = R.check(
                    ["name", "email", "image"],
                    [this.form.name, this.form.email, this.form.image]
                );
                if (!validation.name && !validation.email && !validation.image) {
                    axios
                        .post(`/api/user`, this.form)
                        .then(res => {
                            Alert.onApp({
                                type: "alert_success",
                                content: "PROFILE UPDATED SUCCESSFULLY"
                            });
                            this.data.user.name = this.form.name;
                            this.data.user.email = this.form.email;
                            this.data.user.phone = this.form.phone;
                            this.data.user.image = this.form.image;
                            this.errors = {};
                            EventBus.$emit("profileUpdate", true);
                        })
                        .catch(err => {
                            if (err.response.data.errors) {
                                this.errors = err.response.data.errors;
                            } else {
                                let error = !err.response.data.message
                                    ? err.response.data
                                    : "SORRY, BUT WE HAVE FAILED UPDATING YOUR PROFILE";
                                Alert.onApp({type: "alert_error", content: err.response.data});
                            }
                        });
                } else {
                    this.errors = validation;
                }
            },
            changeImage(avatar) {
                if (
                    avatar.level > this.data.user.details.level.level &&
                    this.role == "student"
                )
                    return;
                document
                    .getElementById("main_image")
                    .setAttribute("src", this.img + avatar.image);
                this.form.image = avatar.image;
            }
        }
    };
</script>

<style scoped>

  .avatars_wrapper {
    position: relative;
    background-color: rgb(109, 94, 153, 0.2);
    height: fit-content;
  }

  .big_image {
    position: relative;
    top: -50px;
    width: 30%;
    min-width: 100px;
    display: inline-block;
    transition: 0.2s all linear;
    overflow: hidden;
  }

  .big_image img {
    position: relative;
    top: 20px;
  }

  .big_image:hover {
    transform: scale(1.1);
  }

  .gallery {
    max-height: 200px;
    overflow-y: scroll;
  }

  .img_wrapper {
    margin: 1px;
    overflow: hidden;
  }

  .img_wrapper img {
    position: relative;
    top: 10px;
  }

  .main_sub_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }

  .avatar_block {
    background-color: rgba(106, 83, 110, 0.5);
    position: relative;
  }

  .avatar_block img {
    opacity: 0.1;
  }

  .avatar_block span {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    letter-spacing: 1.2px;
  }

  .wrapper {
    margin: 10px 0 50px 0;
  }

  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }

    .gallery {
      max-height: 300px;
    }

    .form {
      padding: 20px !important;
    }
  }

</style>
