<template>
    <v-flex v-if="data">
        <v-flex xs12 mx-auto row wrap class="wrapper">
            <v-flex>
                <h2 class="mb-4">{{data.length}} / 50 CHALLENGES</h2>
                <v-flex class="table-wrap">
                    <v-flex xs12 mx-auto class="table text-center mt-4">
                        <v-row d-flex align-center justify-space-between class="bg_blue_purple py-3">
                            <v-col>
                                <!--xs2-->
                                <h2>No</h2>
                            </v-col>
                            <v-col>
                                <!--xs2-->
                                <h2>Date</h2>
                            </v-col>
                            <v-col>
                                <!--xs4-->
                                <h2>Name</h2>
                            </v-col>
                            <v-col>
                                <!--xs1-->
                                <h2>Points</h2>
                            </v-col>
                            <v-col>
                                <!--xs1-->
                                <h2>Status</h2>
                            </v-col>
                            <v-col>
                                <!--xs2-->
                                <h2>Attempts</h2>
                            </v-col>
                        </v-row>
                        <v-flex class="vw-100 table_body">
                            <v-row
                                d-flex
                                align-center
                                justify-space-between
                                v-for="(row, i) in data"
                                :key="row.id"
                                :class="i % 2 == 0 ? 'bg_light_brown' : 'bg_brown'"
                                class="table_row mx-0"
                            >
                                <v-col>
                                    <!--xs2-->
                                    <h2>{{i + 1}}</h2>
                                </v-col>
                                <v-col>
                                    <!--xs2-->
                                    <h2>{{ row.created_at }}</h2>
                                </v-col>
                                <v-col>
                                    <!--xs4-->
                                    <h2>{{ row.name }}</h2>
                                </v-col>
                                <v-col>
                                    <!--xs1-->
                                    <h2>{{ row.points }}</h2>
                                </v-col>
                                <v-col>
                                    <!--xs1-->
                                    <h2>{{ row.status ? 'Success' : 'Failed' }}</h2>
                                </v-col>
                                <v-col>
                                    <!--xs2-->
                                    <h2>{{row.attempts}}</h2>
                                </v-col>
                            </v-row>
                        </v-flex>
                    </v-flex>
                </v-flex>
            </v-flex>
        </v-flex>
    </v-flex>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {};
        },
        created() {
        },
        methods: {}
    };
</script>


<style lang="scss" scoped>
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        align-items: center;
        display: flex;
        justify-content: center;
    }


    @media (max-width: 768px) {
        .table-wrap {
            overflow-x: auto;
        }

        .table {
            min-width: 800px;
        }

        .table_body {
            width: initial !important;
            height: initial !important;
        }

        .table_row {
            height: initial !important;
        }
    }
</style>

