<template>
    <v-flex class="margin_menu">
      <v-flex>
        <v-flex xs12 md10 lg6 mx-auto class="pb-5">
          <h1 class="text_white">Payment</h1>
          <h2 class="text_white">Complete The Purchase, Just Choose Your Subscription & Pay</h2>
          <br />
          <v-flex class="mt-5 box bb px-4 py-2 bg_blue_purple mx-3">
            <v-flex d-flex v-if="!loading">
              <v-flex xs6 v-for="(plan, i) in data" :key="i" class="px-2">
                <v-layout row column justify-space-between>
                    <div>
                    <h2 class="main_sub_title text-center">{{plan.name}}</h2>
                   <div class="px-5">
                      <p>{{plan.description}}</p>
                      <p>Price: {{plan.price}}</p>
                      <p>Duration: {{plan.duration}} Months</p>
                   </div>
                  </div>
                  <div class="mb-3 text-center">
                    <v-btn color="white" :loading="loading == plan.id ? true : false" rounded @click="createAgreement(plan.id)">GET STARTED</v-btn>
                  </div>
                </v-layout>
              </v-flex>
            </v-flex>
            <!-- <v-flex d-flex v-if="!loading">
              <v-flex xs6 v-for="(plan, i) in data" :key="i" class="px-2">
                <v-layout row column justify-space-between>
                    <div>
                    <h2 class="main_sub_title text-center">{{plan.name}}</h2>
                   <div class="px-5">
                      <p>{{plan.description}}</p>
                      <p>Price: {{plan.price}}</p>
                      <p>Duration: {{plan.duration}} Months</p>
                   </div>
                  </div>
                  <div class="mb-3 text-center">
                    <v-btn color="white" :loading="loading == plan.id ? true : false" rounded @click="createAgreement(plan.id)">GET STARTED</v-btn>
                  </div>
                </v-layout>
              </v-flex>
            </v-flex> -->
            <v-flex v-else d-flex align-center justify-center>
              <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
              ></v-progress-circular>
            </v-flex>
            <!-- <v-flex xs3>
              <div class="top">
                <h2 class="main_sub_title mb-5">PACKAGE</h2>
              </div>
              <div class="text-left">
                <p>
                  <v-icon color="white" class="mr-3">monetization_on</v-icon>
                    Price
                </p>
                <p>
                  <v-icon color="white" class="mr-3">videogame_asset</v-icon>
                  Challenges
                </p>
                <p>
                  <v-icon color="white" class="mr-3">school</v-icon>
                  Practice Arena
                </p>
                <p>
                  <v-icon color="white" class="mr-3">contact_support</v-icon>
                  Contact Support
                </p>
              </div>
            </v-flex>
            <v-flex xs3 class="package">
              <div class="top">
                <h2 class="main_sub_title mb-5">CHALLENGES <br> PACKAGE</h2>
                <button class="button bg_white text_purple">START</button>
              </div>
              <div class="text-center">
                <p>
                    9.99$
                </p>
                <p>
                  Unlimited
                </p>
                <p>
                  Unavailable
                </p>
                <p>
                  Available
                </p>
              </div>
            </v-flex>
            <v-flex xs3 class="package">
              <div class="top">
                <h2 class="main_sub_title mb-5">PRACTICE <br> PACKAGE</h2>
                <button class="button bg_white text_purple">START</button>
              </div>
              <div class="text-center">
                <p>
                    9.99$
                </p>
                <p>
                  Unavailable
                </p>
                <p>
                  Unlimited
                </p>
                <p>
                  Available
                </p>
              </div>
            </v-flex>
            <v-flex xs3 class="package">
              <div class="top">
                <h2 class="main_sub_title mb-5">PREMIUM <br> PACKAGE</h2>
                <button class="button bg_white text_purple">START</button>
              </div>
              <div class="text-center">
                <p>
                    14.99$
                </p>
                <p>
                  Unlimited
                </p>
                <p>
                  Unlimited 
                </p>
                <p>
                  Available
                </p>
              </div>
            </v-flex> -->
          </v-flex>
          <!-- <v-form v-if="data" class="pa-5" ref="form" @submit.prevent="submit()">
            <v-select
              :items="durations"
              v-model="form.duration"
              outlined
              label="Durations"
              :persistent-hint="true"
              hint="duration in months"
              @change="changeSubs()"
            ></v-select>
            <v-select
              class="mt-3"
              :items="data.subs"
              v-model="form.subscription_id"
              item-text="name"
              item-value="id"
              outlined
              label="Subscriptions"
            ></v-select>
          </v-form> -->
        </v-flex>
      </v-flex>
    </v-flex>
</template>

<script>
export default {
  data(){
    return {
      loading: false,
      form: {},
      data: null,
      payment: 1,
      durations: [1, 3, 12],
      subs: {
        one: [],
        three: [],
        twelve: [],
      }
    }
  },
  created(){
    this.getData();
  },
  
  methods:{
    async getData() {
      this.loading = true;
      axios.get(`/api/user/payment`).then(res => {
        this.loading = false;
        this.data = res.data;
        Load.off();
      });
    },
    setSubs(){
      for(let i = 0; i < this.data.subs.length; i++){

        if(this.data.subs[i].duration == 1) this.subs.one.push(this.data.subs[i])
        if(this.data.subs[i].duration == 3) this.subs.three.push(this.data.subs[i])
        if(this.data.subs[i].duration == 12) this.subs.twelve.push(this.data.subs[i])

        if(this.data.subs[i].id == this.data.user.subscription_id) {
          this.form.duration = this.data.subs[i].duration;
        }

      }
        this.changeSubs();
    },
    changeSubs(){
      if(this.form.duration == 1){
        this.data.subs = this.subs.one;
      }else if(this.form.duration == 3){
        this.data.subs = this.subs.three;
      }
      else if(this.form.duration == 12){
        this.data.subs = this.subs.twelve;
      }
    },
    createAgreement(id){
      if(this.loading) return;
      this.loading = id;
      // id = 'P-9WR87090TL3125412MF6MC6I';
      let products = [
        {product_id: id}
      ];
      axios.post(`/api/user/payment`, {products}).then( res => {
        this.loading = false;
        // window.location.href = res.data;
      }).catch( err => {
        this.loading = false;
      })
    },
    // submit(){
    //   axios.post("/api/user/payment")
    // },
  }
}
</script>

<style scoped>
  h1, h2{
    font-weight: 100;
  }

  .top{
    height: 140px;
  }

  .margin_menu{
    margin-bottom: 50px;
    min-height: 90vh;
  }
    
  .box>div>div>div{
    min-height: 400px;
    max-height: 400px;
    transition: .3s all linear;
  }

  .package{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .package:last-of-type{
    border-right: none;
  }

  .button{
    transition: .2s all linear;
  }

  .button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgb(255, 255, 255, 0.3);
  }
</style>
