<template>
    <v-flex class="margin_menu">
      <v-flex class="text-center">
        <v-flex xs12 md10 lg6 xl5 mx-auto class="box bb bg_white">
          <h1 class="text_purple">Payment</h1>
          <h2 class="text_purple">Complete The Purchase, Just Choose Your Subscription & Pay</h2>
          <br />
          <v-form v-if="data" class="pa-5" ref="form" @submit.prevent="submit()">
            <!-- <v-select
              :items="durations"
              v-model="form.duration"
              outlined
              label="Durations"
              :persistent-hint="true"
              hint="duration in months"
              @change="changeSubs()"
            ></v-select> -->
            <v-select
              class="mt-3"
              :items="data.subs"
              v-model="form.subscription_id"
              item-text="name"
              item-value="id"
              outlined
              label="Subscriptions"
            ></v-select>
          </v-form>
          
          <!-- CHALLENGES -->
          <v-flex xs10 md6 lg4 xl3 class="mx-auto">
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="TLHD5NR8GW424">
              <input type="image" src="https://www.sandbox.paypal.com/en_US/IL/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </v-flex>

          <!-- PRACTICE -->
          <v-flex xs10 md6 lg4 xl3 class="mx-auto">
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="KARE65KFQGZ98">
              <input type="image" src="https://www.sandbox.paypal.com/en_US/IL/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </v-flex>
          
          <!-- PREMIUM -->
          <v-flex xs10 md6 lg4 xl3 class="mx-auto">
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="DVY2U5VUZS48W">
              <input type="image" src="https://www.sandbox.paypal.com/en_US/IL/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </v-flex>

          <!-- <div id="paymant_wrapper" class="pb-4"></div> -->
        </v-flex>
      </v-flex>
    </v-flex>
</template>

<script>
export default {
  data(){
    return {
      step: 1,
      form: {},
      data: null,
      payment: 1,
      durations: [1, 3, 12],
      subs: {
        one: [],
        three: [],
        twelve: [],
      }
    }
  },
  created(){
    // if(this.$route.query.success)
    // {
    //   axios.post('/api/execute-agreement/P-36Y01173GJ765440EYDMSZYQ').then( res => {
    //     console.log(res.data);
    //     window.location.href = res.data;
    //   })
    // }
    // this.getData();
    axios.post('/api/create-agreement/P-2A002266PL904293EYWNTSVQ').then( res => {
      window.location.href = res.data;
    })
    // axios.post('/api/activate-plan/P-2A002266PL904293EYWNTSVQ').then( res => {
    //   console.log(res.data);
    // })
    // axios.post('/api/create-plan').then( res => {
    //   console.log(res.data);
    // })
    // axios.get('/api/list-plans').then( res => {
    //   console.log(res.data);
    // })
    // axios.get('/api/show-plan/P-2A002266PL904293EYWNTSVQ').then( res => {
    //   console.log(res.data);
    // })
  },
  mounted(){
    // paypal.Buttons({

    //   createSubscription: function(data, actions) {

    //     return actions.subscription.create({

    //       'plan_id': 'P-1DH73466001319811LXPWYLI'

    //     });

    //   },


    //   onApprove: function(data, actions) {

    //     alert('You have successfully created subscription ' + data.subscriptionID);

    //   },

    // }).render('#paymant_wrapper');
    // paypal.Button.render({
    //   env: 'sandbox', // Or 'production'
    //   style: {
    //     size: 'medium'
    //   },
    //   // Set up the payment:
    //   // 1. Add a payment callback
    //   payment: (data, actions) => {
    //     // 2. Make a request to your server
    //     return axios.post('/api/user/payment', this.form)
    //       .then(function(res) {
    //         // 3. Return res.id from the response
    //         return res.data.id;
    //       })
    //   },
    //   // Execute the payment:
    //   // 1. Add an onAuthorize callback
    //   onAuthorize: (data, actions) => {
    //     // 2. Make a request to your server
    //     return axios.post('/api/user/exec-order', {
    //       paymentID: data.paymentID,
    //       payerID:   data.payerID
    //     }).then((res) => {
    //         this.$router.push('/')   
    //         Alert.onApp({ type: "alert_success", content: 'Contratulation! You are now free to hack your way inside' });
    //         // 3. Show the buyer a confirmation message.
    //       });
    //   }
    // }, '#paymant_wrapper');
  },
  methods:{
    getData() {
      axios.get("/api/user/payment").then(res => {
        this.data = res.data;
        this.setSubs();
        this.form.subscription_id = res.data.user.subscription_id;
        this.form.duration = res.data.user.subscription ? res.data.user.subscription.duration : '';
      }).catch(err => {
        this.$router.go(-1);
      });
    },
    setSubs(){
      for(let i = 0; i < this.data.subs.length; i++){

        if(this.data.subs[i].duration == 1) this.subs.one.push(this.data.subs[i])
        if(this.data.subs[i].duration == 3) this.subs.three.push(this.data.subs[i])
        if(this.data.subs[i].duration == 12) this.subs.twelve.push(this.data.subs[i])

        if(this.data.subs[i].id == this.data.user.subscription_id) {
          this.form.duration = this.data.subs[i].duration;
        }

      }
        this.changeSubs();
    },
    changeSubs(){
      if(this.form.duration == 1){
        this.data.subs = this.subs.one;
      }else if(this.form.duration == 3){
        this.data.subs = this.subs.three;
      }
      else if(this.form.duration == 12){
        this.data.subs = this.subs.twelve;
      }
    },
    submit(){
      axios.post("/api/user/payment")
    },
  }
}
</script>

<style scoped>
  h1, h2{
    font-weight: 100;
  }

  .margin_menu{
    margin-bottom: 50px;
  }
</style>
