<template>
    <v-flex v-if="data">
        <v-flex xs12 xl12 mx-auto d-flex class="wrapper">
            <v-flex mt-10 mt-md-0 xs12 md5>
                <v-flex xs12 d-flex class="bb">
                    <v-flex
                        xs6
                        class="border pointer bg_purple px-2 py-1"
                        :class="activeStat == 'challenges' ? 'bg_light_purple text_yellow' : ''"
                        @click="activeStat = 'challenges'"
                    >Challenges
                    </v-flex>
                    <v-flex
                        xs6
                        class="pointer bg_purple px-2 py-1"
                        :class="activeStat == 'practice-arena' ? 'bg_light_purple text_yellow' : ''"
                        @click="activeStat = 'practice-arena'"
                    >Practice Arena
                    </v-flex>
                </v-flex>
                <v-flex v-if="activeStat == 'challenges'" class="stats pa-3 px-5 text-left">
                    <p class="main_sub_title">{{data.played_count}} CHALLENGES PLAYED</p>
                    <p class="main_sub_title">{{data.finished_count}} CHALLENGES FINISHED</p>
                    <p class="main_sub_title">{{data.hints_count}} FINISHED CATEGORIES</p>
                    <p class="main_sub_title">{{data.hints_count}} HINTS USED</p>
                    <br/>
                    <p class="main_sub_title text-center">PROGRESS</p>
                    <div class="progress_wrapper mb-2">
                        <div
                            class="filler"
                            :style="`width:${Math.floor(data.finished_count * 100 / data.games)}%`"
                        ></div>
                    </div>
                </v-flex>
                <v-flex v-else class="stats pa-3 px-5 text-left">
                    <p class="main_sub_title">{{data.pa_details.lessons_failed}} LESSONS IN PROGRESS</p>
                    <p class="main_sub_title">{{data.pa_details.lessons_complete}} LESSONS FINISHED</p>
                    <p class="main_sub_title">{{data.pa_details.tasks_complete}} TASKS FINISHED</p>
                    <p class="main_sub_title">{{data.pa_details.hints}} SOLUTIONS USED</p>
                    <br/>
                    <p class="main_sub_title text-center">PROGRESS</p>
                    <div class="progress_wrapper mb-2">
                        <div
                            class="filler"
                            :style="`width:${Math.floor(data.pa_details.tasks_complete * 100 / data.pa_details.tasks)}%`"
                        ></div>
                    </div>
                </v-flex>
            </v-flex>
            <v-flex order-first order-md-last d-flex xs12 md6 offset-md1 align-center>
                <v-flex>
                    <v-flex xs12 d-flex justify-center>
                        <v-flex xs12 md4>
                            <div class="rounded bg_white pa-2">
                                <img :src="img + data.image" alt/>
                            </div>
                        </v-flex>
                        <v-flex xs12 md5 d-flex align-center class="ml-5">
                            <div class="text-left">
                                <h1 class="main_title">{{data.name}}</h1>
                                <div class="divider"></div>
                                <h2
                                    class="main_sub_title"
                                    v-if="data.details.level"
                                >Level {{data.details.level.level}}</h2>
                                <h3
                                    class="main_sub_title"
                                >{{data.details.points + ' / ' + data.details.level.next_level}} Points</h3>
                                <div class="progress_wrapper mt-2">
                                    <div
                                        class="filler"
                                        :style="`width:${Math.floor(data.details.points * 100 / data.details.level.next_level)}%`"
                                    ></div>
                                </div>
                            </div>
                        </v-flex>
                    </v-flex>
                    <!-- <v-flex xs12 d-flex align-center class="messages_wrapper text-left">
                                  <v-flex class="message pl-4">
                                      <img class="message_icon" :src="message.icon" alt="">
                                      <p class="main_sub_title">You have'nt play a single game in the last week</p>
                                  </v-flex>
                    </v-flex>-->
                </v-flex>
            </v-flex>
        </v-flex>
    </v-flex>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {
                img: IMG + "avatars/",
                message: {
                    icon: IMG + "general/notafication.svg"
                },
                activeStat: "challenges"
            };
        },
        mounted() {
        },
        methods: {}
    };
</script>

<style lang="scss" scoped>
    .stats {
        background-color: rgb(109, 94, 153, 0.3);
        min-height: 300px;
    }

    .main_title {
        font-size: 2em;
    }

    h3.main_sub_title {
        font-size: 1em;
    }

    .messages_wrapper {
        height: 150px;
    }

    .message {
        height: 100px;
        border-left: 6px solid rgb(255, 255, 255, 0.8);
    }

    .message_icon {
        height: 30px;
        width: 30px;
    }

    .rounded {
        position: relative;
        overflow: hidden;
    }

    .rounded img {
        position: relative;
        top: 30px;
        left: 5px;
    }

    .wrapper {
        margin: 10px 0 50px 0;
    }

    @media (max-width: 768px) {
        .main_sub_title {
            font-size: 1rem;
        }

        .wrapper {
            flex-direction: column;
        }
    }

    .filler{
        transition: none;
    }


</style>
