<template>
  <v-flex>
    <v-flex xs12 md11 lg10 mx-auto d-flex class="mt-5 text-left">
      <v-flex>
        <v-flex v-for="(item, i) in items" :key="i" class="bb pa-2 item">
          <v-flex d-flex justify-space-between align-center>
            <v-flex>
              <h2 class="main_sub_title">{{item.title}}</h2>
              <p>{{item.description}}</p>
            </v-flex>
            <v-flex class="text-right">
              <v-btn color="white" icon v-if="item.show" @click="item.show = !item.show">
                <v-icon>keyboard_arrow_up</v-icon>
              </v-btn>
              <v-btn color="white" icon v-else @click="item.show = !item.show">
                <v-icon>keyboard_arrow_down</v-icon>
              </v-btn>
            </v-flex>
          </v-flex>
          <v-flex>
            <transition name="slide" mode="out-in">
              <v-flex v-show="item.show">
                <v-list color="transparent" two-line flat>
                  <v-list-item-group v-model="settings" multiple>
                    <v-list-item v-for="(row, b) in item.items" :key="b">
                      <template v-slot:default="{ active, toggle }" v-if="row.type == 'checkbox'">
                        <v-list-item-action>
                          <v-checkbox v-model="active" dark @click="toggle"></v-checkbox>
                        </v-list-item-action>

                        <v-list-item-content>
                          <v-list-item-title class="white--text">{{row.title}}</v-list-item-title>
                          <v-list-item-subtitle class="white--text">{{row.sub}}</v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                      <v-flex v-if="row.type == 'info' " class="white--text">
                        <h4 v-if="row.sub">{{row.sub}}</h4>
                        <p class="mb-0" v-if="row.content">{{row.content}}</p>
                        <p class="mb-0" v-if="row.price">Price: {{row.price}}$</p>
                      </v-flex>
                      <v-flex v-if="row.type == 'action' " class="white--text">
                        <button
                          v-if="row.title && row.url"
                          class="button bg_white text_purple"
                          @click="changeRoute(row.url)"
                        >{{row.title}}</button>
                      </v-flex>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-flex>
            </transition>
          </v-flex>
        </v-flex>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: "Notifications",
          description: "You can change your notifications configuration",
          show: false,
          items: [
            {
              type: "checkbox",
              title: "Challenges",
              sub:
                "Notify me when new challenge is up or a challenge been updated"
            },
            {
              type: "checkbox",
              title: "Practice Arena",
              sub: "Notify me when new lesson is up or a lesson been updated"
            },
            {
              type: "checkbox",
              title: "Profile",
              sub:
                "Notify me when my profile has been updated (level up, profile update, etc.)"
            },
            {
              type: "checkbox",
              title: "Messages",
              sub: "Notify me when I receive new messages"
            }
          ]
        },
        {
          type: "checkbox",
          title: "Subscription",
          description: "You can change your subscription configuration",
          show: false,
          items: [
            {
              type: "info",
              title: "Subscription Type",
              sub: "Golden Subscription",
              content: "Unlimited challenges and lessons",
              price: "19.99"
            },
            {
              type: "action",
              title: "Change Subscription",
              url: "/profile/settings/subscription/update"
            },
            {
              type: "action",
              title: "Cancel Subscription",
              url: "/profile/settings/subscription/cancel"
            }
          ]
        },
        {
          type: "checkbox",
          title: "Video",
          description: "You can change the Opening video configuration",
          show: false,
          items: [
            {
              type: "checkbox",
              title: "Show",
              sub:
                "Choose if you would like to see the video each time you login"
            },
            {
              type: "checkbox",
              title: "Sound",
              sub:
                "The sound may not be for everyone so choose to have sound or not"
            }
          ]
        }
      ],
      role: Auth.role()
    };
  },
  created() {},
  methods: {
    changeRoute(url) {
      this.$router.push(url);
    }
  }
};
</script>

<style scoped>
.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 1000px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
</style>
