// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand:300,400&display=swap');
@import '~vuetify/dist/vuetify.min.css';

  
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.theme--light .white-text .ql-editor {
    background-color: #303030;
}


@media (max-width: 768px) {
    .games_wrapper {
        max-height: initial !important;
        margin-bottom: 35px;

        .row {
            height: initial !important;
        }
    }
}