<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <v-text-field class="pt-0" v-model="search" label="Search categories"></v-text-field>

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :title="title"
      :actionBtns="actionBtns"
      :img="img"
    />
  </v-container>
</template>


<script>
import { VueEditor } from "vue2-editor";
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  components: { VueEditor, Top, Table },
  data() {
    return {
      title: "Notifications",
      api: "cms/categories",
      img: IMG + "cats/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Slug", value: "slug" },
        { text: "Min Points", value: "min_points" },
        { text: "Min Level", value: "min_level" },
        { text: "Games", value: "games_count" },
        { text: "Status", value: "status" },
        { text: "Image", value: "image" },
        { text: "Created At", value: "created_at" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Deactivate", "Delete"],
      actionBtns: ["edit"]
    };
  }
};
</script>
