<template>
    <v-container>
        <v-flex xs12 md4 d-flex align-center>
            <h1>New Notification</h1>
        </v-flex>
        <v-flex v-if="data" xs12 md4>
            <v-form @submit.prevent="submit()" ref="form">
                <v-select
                    :items="data.types"
                    item-value="id"
                    item-text="name"
                    v-model="form.notification_type_id"
                    label="Notification Type"
                ></v-select>
                <v-text-field
                    v-model="form.title"
                    label="Notification Title"
                    :rules="[rules.title]"
                    :error-messages="errors && errors.title ? errors.title : ''"
                ></v-text-field>
                <v-textarea 
                    v-model="form.content"
                    label="Notification Content"
                    :rules="[rules.content]"
                    :error-messages="errors && errors.content ? errors.content : ''"
                >
                </v-textarea>
                <v-text-field
                    v-model="form.expire"
                    label="Notification Expiration Date"
                ></v-text-field>
                <!-- <v-autocomplete
                    :items="data.countries"
                    item-value="id"
                    item-text="country"
                    v-model="form.country"
                    label="Choose Country"
                    :rules="[rules.country]"
                    @change="countryPicked"
                ></v-autocomplete>
                <v-autocomplete
                    :items="data.colleges"
                    item-value="id"
                    item-text="name"
                    v-model="form.college_id"
                    label="Choose College"
                    :rules="[rules.category]"
                    :error-messages="errors && errors.college_id ? errors.college_id : ''"
                ></v-autocomplete> -->
                
                <v-btn type="submit" color="primary" block>Create</v-btn>
            </v-form>
            <router-link to="/CMS/settings/classes">
                <v-btn flat block>Cancel</v-btn>
            </router-link>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            data: null,
            filter: {
                countries: [],
                colleges: [],
            },
            form: {
                status: true
            },
            rules: {
                title: v => !!v || 'Title is Required',
                content: v => !!v || 'Content is Required',
                type: v => !!v || 'Type is Required',
            },
            errors: {}
        }   
    },
    created(){
        this.getData();
    },
    methods:{
        getData(){
            axios.get('/api/cms/notifications/new').then(res => {
                this.data = res.data
            })
        },
        submit(){
            axios.post('/api/cms/classes/create', this.form).then(res => {
                Alert.on(['success', res.data])
                this.$router.push('/CMS/settings/classes')
            }).catch(err => {
                if(err.response.data.errors) this.errors = err.response.data.errors;
            })
        },
        countryPicked(v){
            this.data.colleges = [];
            for(let i = 0; i < this.filter.colleges.length; i++){
                if(v == this.filter.colleges[i].country_id) this.data.colleges.push(this.filter.colleges[i])
            }
        }
    }
}
</script>

<style>

</style>
