<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :title="title"
      :actionBtns="actionBtns"
      :img="img"
      :policy="true"
      :searchApi="null"
    />
  </v-container>
</template>


<script>
import { VueEditor } from "vue2-editor";
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  components: { VueEditor, Top, Table },
  data() {
    return {
      title: "Cookies",
      api: "cms/cookies",
      img: IMG + "games/",
      search: "",
      pagination: {
        sortBy: "updated_at",
        amount: 10,
        descending: true
      },
      headers: [
        { text: "English", value: "content" },
        { text: "Hebrew", value: "content_heb" },
        { text: "Last Update", value: "updated_at" },
        { text: "Created", value: "created_at" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Deactivate", "Delete"],
      actionBtns: ["edit"]
    };
  }
};
</script>
