<template>
    <v-container>
        <v-flex>
            <h1>New Cookies</h1>
            <v-form @submit.prevent="submit()" ref="form">
                <v-flex class="mt-4">
                    <h2 class="mb-2">English</h2>
                    <vue-editor v-model="form.english"></vue-editor>
                    <span class="red--text" v-if="errors && errors.english">{{ errors.english[0] }}</span>
                </v-flex>
                <v-flex class="mt-4">
                    <h2 class="mb-2">Hebrew</h2>
                    <vue-editor v-model="form.hebrew"></vue-editor>
                    <span class="red--text" v-if="errors && errors.hebrew">{{ errors.hebrew[0] }}</span>
                </v-flex>
                <v-btn class="mt-3" color="primary" block type="submit">Create</v-btn>
            </v-form>
        </v-flex>
    </v-container>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
    components: {
        VueEditor
    },

    data() {
        return {
            form:{
                english: '',
                hebrew: '',
            },
            errors: {},
        };
    },

    methods:{
        submit(){
            axios.post('/api/cms/cookies/create', this.form).then(res => {
                this.errors = {};
                Alert.on(['success', res.data])
                this.$router.push('/CMS/policies/cookies')
            }).catch(err => {
                this.errors = err.response.data.errors;
            })
        }
    }
}
</script>

<style>
    .ql-editor *[style='color: rgb(255, 255, 255)'] {
        background-color: yellow;
    }
</style>
