<template>
    <v-container>
        <v-flex xs12 md4 d-flex align-center>
            <h1>Edit Notification Type</h1>
        </v-flex>
        <v-flex v-if="form.name" xs12 md4>
            <v-form @submit.prevent="submit()" ref="form">
                <v-text-field
                    v-model="form.name"
                    label="Notification Type Name"
                    :rules="[rules.name]"
                    :error-messages="errors && errors.name ? errors.name : ''"
                ></v-text-field>
                <v-select
                    :items="colors"
                    item-text="name"
                    item-value="color"
                    v-model="form.color"
                    label="Type Color"
                    :error-messages="errors && errors.color ? errors.color : ''"
                ></v-select>
                <v-alert :color="form.color ? form.color : ''" :value="true">
                    <span :class="form.color == 'white' ? 'black--text' : ''">Type Color</span>
                </v-alert>
                <v-btn type="submit" color="primary" block>Create</v-btn>
            </v-form>
            <router-link to="/CMS/settings/classes">
                <v-btn flat block>Cancel</v-btn>
            </router-link>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            form: {
                color: 'white'
            },
            rules: {
                name: v => !!v || 'Name is Required',
                color: v => !!v || 'Color is Required',
            },
            colors: [
                {name: 'White', color: 'white'},
                {name: 'Red', color: 'red'},
                {name: 'Blue', color: 'blue'},
                {name: 'Green', color: 'green'},
                {name: 'Yellow', color: 'yellow'},
                {name: 'Purple', color: 'purple'},
                {name: 'Pink', color: 'pink'},
                {name: 'Orange', color: 'orange'},
                {name: 'Teal', color: 'teal'},
            ],
            errors: {}
        }   
    },
    created(){
        this.getData()
    },
    methods:{
        getData(){
            axios.get(`/api/cms/notification-types/edit/${window.location.pathname.split('/')[4]}`).then(res => {
                this.form = res.data;
            })
        },
        submit(){
            axios.post('/api/cms/notification-types/update', this.form).then(res => {
                Alert.on(['success', res.data])
                this.$router.push('/CMS/notification-types')
            }).catch(err => {
                if(err.response.data.errors) this.errors = err.response.data.errors;
                if(err.response.data == 'Color is not available') Alert.on(['error', 'Color is not available'])
            })
        },
        countryPicked(v){
            this.data.colleges = [];
            for(let i = 0; i < this.filter.colleges.length; i++){
                if(v == this.filter.colleges[i].country_id) this.data.colleges.push(this.filter.colleges[i])
            }
        }
    }
}
</script>

<style>

</style>
