*{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

.w_100{
    width: 100%;
}

/* Form */
    textarea, input, select{
        width: 100%;
        border-bottom: 1px solid #fff;
        outline: none;
        padding: 5px;
        margin: 10px 0;
    }

    button{
        outline: none;
    }
    
    select:focus option{
        color: rgb(109, 94, 153);
    }

    .main_error{
        color: rgb(220, 83, 105);
        font-weight: 700;
    }

    .success_input{
        border-bottom: 1px solid rgb(145, 224, 215);
    }

    .error_input{
        border-bottom: 1px solid rgb(220, 83, 105);
    }
/* End Form */

/* General */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px rgba(70, 73, 139, 0.4) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgba(70, 73, 139, 0.4) inset !important;
}

.margin_menu{
    margin-top: 120px;
}

.breadcrumbs{
    text-align: left;
}

.bread_link:hover{
    color: rgb(109, 94, 153);
}

.breadcrumbs .spacer{
    margin: 0 5px;
}

.divider{
    height: 1px;
    width: 40px;
    background-color: #fff;
    margin: 5px 0;
}

.divider_glow{
    height: 3px;
    width: 30px;
    background-color: rgb(150, 224, 216);
    box-shadow: 0 0 8px 1px rgb(150, 224, 216);
    border-radius: 50px;
    margin: 5px 0;
}

.not_allowed{
    cursor: not-allowed !important;
}

.bb{
    transition: .1s all linear;
    border-width: 4px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to right, 
        rgb(254, 249, 196), 
        rgb(150, 224, 216)
        ) 0 0 100% 0;
        border-right: none;
        border-left: none;
}

.pointer{
    cursor: pointer;
}

.zoom {cursor: zoom-in;}


.default{
    cursor: default !important;
}

.no_dec{
    text-decoration: none;
}

.link{
    text-decoration: none;
    padding-bottom: 4px;
}
.link:hover{
    border-bottom: 1px solid #fff;
}

.rounded{
    border-radius: 50%;
}

.poa{
    position: absolute;
}

.default{
    cursor: default;
}

.help_cursor{
    cursor: help !important;
}

/* End General */

/* Typo */
.main_title{
    font-weight: 100;
    font-size: 4em;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.main_sub_title{
    font-size: 1.3em;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.crossed{
    text-decoration: line-through;
}

.skinny{
    font-weight: 100;
}
/* End Typo */

/* Buttons */
    .button{
        border-radius: 20px;
        padding: 5px 30px;
        border: none;
        font-weight: bold;
        opacity: 0.8;
        letter-spacing: 2px;
        word-spacing: 5px;
        cursor: pointer;
    }
    .outline{
        border: 1px solid #fff;
        color: #fff !important;
        background-color: transparent !important;
        transition: .1s all linear;
    }
    .outline:hover{
        border: 1px solid #fff;
        color: rgb(109, 94, 153) !important;
        background-color: #fff !important;
    }
  
/* End Buttons */

/* BG Colors */
    .bg_white{
        background-color: rgb(255, 255, 255);
    }
    .bg_grey{
        background-color: rgb(207, 207, 207, 0.5);
    }
    .bg_purple{
        background-color: rgb(75, 54, 128);
    }
    .bg_blue_purple{
        background-color: rgba(70, 73, 139, 0.6);
    }
    .bg_light_purple{
        background-color: rgb(109, 94, 153);
    }
    .bg_blue{
        background-color: rgb(51, 39, 190);
    }
    .bg_light_blue{
        background-color: rgb(182, 248, 232);
    }
    .bg_lighter_blue{
        background-color: rgb(182, 248, 232);
    }
    .bg_brown{
        background-color: rgb(43, 39, 59, 0.7);
    }
    .bg_light_brown{
        background-color: rgb(105, 106, 119, 0.7);
    }
    .bg_yellow{
        background-color: rgb(254, 249, 196);
    }
    .bg_red{
        background-color: rgb(220, 83, 105);
    }
    .bg_green{
        background-color: rgb(145, 224, 215);
    }
    .bg_dark{
        background-color: rgb(0, 0, 0, 0.2);
    }
    .bg_black{
        background-color: rgb(0, 0, 0, 0.5);
    }
/* End BG Colors */

/* TEXT Colors */
    .text_purple{
        color: rgb(75, 54, 128);
    }
    .text_light-purple{
        color: rgb(109, 94, 153);
    }
    .text_light-blue{
        color: rgb(182, 248, 232);
    }
    .text_lighter-blue{
        color: rgb(182, 248, 232);
    }
    .text_brown{
        color: rgb(50, 30, 59);
    }
    .text_light_brown{
        color: rgb(112, 98, 118);
    }
    .text_yellow{
        color: rgb(254, 249, 196);
    }
    .text_red{
        color: rgb(220, 83, 105);
    }
    .text_hardred{
        color: rgb(199, 24, 63);
    }
    .text_orange{
        color: rgb(215, 121, 77);
    }
    .text_green{
        color: rgb(145, 224, 215);
    }
    .text_white{
        color: rgb(255, 255, 255);
    }
    .text_dark{
        color: rgb(27, 27, 27);
    }
/* End TEXT Colors */

/* BORDER Colors */
    .border_light_purple{
        border: 1px solid rgb(109, 94, 153);
    }
/* End BORDER Colors */

/* Sizes */
    .w100{
        width: 100%;
    }
    .h100{
        height: 100%;
    }
    .h50{
        height: 50%;
    }
/* End Sizes */


/* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background-color: rgb(75, 54, 128);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(254, 249, 196), rgb(150, 224, 216));
        box-shadow: 0px 3px 10px 3px rgb(254, 249, 196, 0.3);
        border-radius: 5px;
    }
    
/* End Scrollbar */

/* Progress */
    .progress_wrapper{
        background-color: rgb(109, 94, 153, 0.5);
        height: 12px;
    }

    .filler{
        height: 100%;
        background: linear-gradient(90deg, rgb(254, 249, 196), rgb(150, 224, 216));
        box-shadow: 0px 3px 10px 3px rgb(254, 249, 196, 0.3);
        transition: 1s all linear;
        max-width: 100%;
    }

    .filler_shadow{
        box-shadow: 0px -7px 15px 2px rgba(99, 247, 232, 0.5);
    }
/* End Progress */

/* Table */
    .table img{
        width: 25px;
        height: 25px;
        margin-top: 5px;
    }
    
    .table_row{
        height: 50px;
    }

    .table_body{
        padding-bottom: 30px;
        overflow-y: auto;
        height: 500px;
        max-height: 60vh;
    }

    .table h2{
        font-size: 1em;
        letter-spacing: 2px;
        font-weight: 100;
    }
/* End Table */

/* Games */
        
    /* .games_wrapper{
        min-height: 300px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    } */
        
    .games_wrapper .disabled{
        opacity: 0.1;
        cursor: not-allowed;
    }
        
    .disabled_block{
        cursor: not-allowed;
        position: absolute;
        width: 100%;
        height: 100%;
        letter-spacing: 3px;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        font-weight: 100;
        font-style: italic !important;
    }
    
    .disabled_block img{
        max-width: 100%;
    }

    .disabled_block h1{
        font-family: 'Montserrat', sans-serif !important;
    }

    .games_wrapper .row{
        transition: .2s all linear;
        height: 80px;
        width: 100%;
        background-size: 100% 400%;
        object-fit: cover;
        opacity: 0.8;
        position: relative;
    }
        
    .games_wrapper .row .img_wrapper{
        max-width: 120px;
        height: 100%;
        background-color: rgb(110, 110, 143);
    }
        
    .games_wrapper .row img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
        
    .games_wrapper .row:hover{
        opacity: 0.9;
    }
        
    .row_1{
        background-color: rgba(55, 55, 68, 0.95);
    }
    
    .row_2{
        background-color: rgba(66, 58, 62, 0.95);
    }

    .cat_title {
        height: 30px;
        margin-right: 15px;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 2px;
    }

    .coming_soon{
        /* background-color: rgba(76, 85, 87, 0.7); */
        background-color: rgba(11, 20, 26, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        position: absolute;
    }
/* End Games */

.wrapper_center{
    height: 100vh;
    display: flex;
    align-items: center;
}

/* PHONE VERSION */
@media only screen and (max-width: 900px){

    .main_title{
        font-size: 2em;
    }
    .games_wrapper h2 {
        margin-left: 20px;
    }
    .table-wrap {
        overflow-x: auto;
    }

    .table {
        min-width: 600px;
    }

    .table_body {
        width: initial !important;
        height: initial !important;
    }

    .table_row {
        height: initial !important;
    }
}

/* DESKTOP VERSION */
@media only screen and (min-width: 1500px) {
    .games_wrapper {
        min-height: 500px;
        max-height: 500px;
      }
  }


  /* Routing */
  .fade-enter-active,
    .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
    opacity: 0;
    }
  /* End Routing */

  /* Alerts */
    .alert{
        padding: 10px;
        opacity: 0.8;
    }
    .alert_error{
        background-color: rgb(220, 83, 105, 0.3);
        border: 1px solid rgb(220, 83, 105, 0.8);
    }
    .alert_success{
        background-color: rgb(145, 224, 215, 0.3);
        border: 1px solid rgb(145, 224, 215, 0.8);
    }
    .alert:hover{
        opacity: 1;
    }
  /* End Alerts */

  /* CMS images */
  
    .cms_small_img{
        width: 100px;
        height: 100%;
        object-fit: cover;
        margin-top: 5px;
    }

    .cms_big_img{
        width: 100%;
        height: 100%;
        max-height: 500px;
        object-fit: cover;
        margin: auto;
    }
    
    .cms_image_new{
        padding: 15px;
        width: 500px;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
  /* END CMS images */
  
  /* Animations */
    
    .loading_Animation{
        background:  linear-gradient(90deg, rgb(109, 94, 153, 0.5), rgba(178, 167, 209, 0.5), rgb(109, 94, 153, 0.5));
        animation-name: btnAnimation;
        animation: btnAnimation 1.5s linear infinite;
        background-size: 400%;
        animation-duration: 4s;
        border-radius: 20px;
    }
    
    @keyframes btnAnimation
    {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }
  /* END Animations */
  

  