<template>
  <v-flex class="pa-5 h100" v-if="data">

    <v-flex d-flex align-center class="h100" v-if="loading">
      <loading class="mx-auto" v-if="loading" />
    </v-flex>

    <v-flex v-else class="h100">
      <div>
        <v-btn outlined color="white" small fab title="back to overview" @click="overviewFunc()">
          <v-icon small color="white">keyboard_arrow_left</v-icon>
        </v-btn>
        <!-- <button class="button overview_btn bg_white" title="show overview" @click="showMission()"><v-icon color="white">keyboard_arrow_left</v-icon></button> -->
      </div>
      <v-flex d-flex align-center justify-center v-if="challengeReady" class="h100">
        <v-flex md8 lg7 xl6 mx-auto class="text-center">
          <v-form @submit.prevent="submit()">
            <v-flex v-if="!loading" class="mt-5">
              <h2 class="main_title">{{data.details.title}}</h2>
              <v-flex md10 mx-auto>
                <v-flex v-for="(input, i) in data.inputs" :key="i">
                  <input type="text" v-model="form.inputs[i]" :placeholder="input.name" />
                  <small class="red--text" v-if="errors && errors.inputs[i]">{{errors.inputs[i]}}</small>
                </v-flex>
                <v-flex class="mt-5">
                  <button class="button outline bg_white text_purple w100" type="submit">Submit</button>
                </v-flex>
                <v-flex class="mt-5">
                  <alert v-if="alert" :alert="alert" />
                </v-flex>
              </v-flex>
            </v-flex>
          </v-form>

          <br><br>

          <div v-if="docker.ip" class="mb-5">
            <v-flex v-if="!isArray" md10 mx-auto class="pa-5 card text-left">
              <p class="mb-0">MACHINES</p>
              <div class="divider mb-3"></div>
              <div v-for="(room, i) in docker.ports" class="item pa-2 pointer bg_light_brown mt-3"
                :key="i"
                @click="enterGame(i)">
                Machine {{ docker.ports.length > 1 ? `0${i + 1}` : ''}}
                </div>
              <!-- <button
                type="button"
                class="button enter bg_purple text_white mt-3 mr-3"
                v-for="(room, i) in docker.ports"
                :key="i"
                @click="enterGame(i)"
              >Machine {{ docker.ports.length > 1 ? `0${i + 1}` : ''}}</button> -->
            </v-flex>
            <v-flex v-else md10 mx-auto class="pa-5 card text-left">
              <p class="mb-0">MACHINES</p>
              <div class="divider mb-3"></div>
              <div :key="i" v-for="(room, i) in ArrIP">
                <div v-if="!i" class="item pa-2 pointer bg_light_brown mt-3" @click="enterGame(i)">
                  Machine 
                </div>
                <div v-else class="item pa-2 bg_light_brown mt-3">
                  Server Machine IP: {{ArrIP[i]}}
                </div>
              </div>
              <!-- <button
                type="button"
                class="button enter bg_purple text_white mt-3 mr-3"
                v-for="(room, i) in docker.ports"
                :key="i"
                @click="enterGame(i)"
              >Machine {{ docker.ports.length > 1 ? `0${i + 1}` : ''}}</button> -->
            </v-flex>
          </div>
        </v-flex>
      </v-flex>
      <!-- <v-flex class="pa-5 ml-5" v-if="challengeReady">
        <v-form @submit.prevent="submit()">
          <v-flex v-if="!loading" class="mt-5">
            <h2 class="main_title">{{data.details.title}}</h2>
            <v-flex md6 lg5>
              <v-flex v-for="(input, i) in data.inputs" :key="i">
                <input type="text" v-model="form.inputs[i]" :placeholder="input.name" />
                <small class="red--text" v-if="errors && errors.inputs[i]">{{errors.inputs[i]}}</small>
              </v-flex>
              <v-flex class="mt-5">
                <button class="button outline bg_white text_purple w100" type="submit">Submit</button>
              </v-flex>
              <v-flex class="mt-5">
                <alert v-if="alert" :alert="alert" />
              </v-flex>
            </v-flex>
          </v-flex>
        </v-form>

        <br><br>

        <v-flex md5 lg4 xl3>
          <button
            type="button"
            class="button enter w100 bg_purple text_white mt-3"
            v-for="(room, i) in docker.ports"
            :key="i"
            @click="enterGame(i)"
          >Machine {{ docker.ports.length > 1 ? `0${i + 1}` : ''}}</button>
        </v-flex>
      </v-flex> -->
      <v-flex v-else>
        <v-alert type="error" outlined :value="true">
          <strong>Sorry, the challenge is not working at the moment. Please report about it.</strong>
        </v-alert>
      </v-flex>
    </v-flex>

  </v-flex>
</template>

<script>
import Alert from "./../../General/alerts";
import Loading from "./../../General/loading";
export default {
  props: ["data"],
  components: { Alert, Loading },
  data() {
    return {
      form: {
        inputs: []
      },
      docker: {
        time: "",
        ip: "",
        ports: null
      },
      errors: null,
      alert: null,
      loading: false,
      resetMode: false,
      clock: null,
      error: false,
      challengeReady: false,
      isArray: false,
      ArrIP: []
    };
  },

  created(){
    EventBus.$on('missionToggle', bool => {
      
      if(!this.challengeReady){
        if(this.data.details.docker) {
          this.loading = bool;
          this.runDocker();
        }
        else this.challengeReady = true;
      }

    })
  },

  methods: {
    submit() {
      this.checkForm();
      if (this.alert) return;
      if (this.valid) {
        axios
          .post(`/api/games/${this.data.id}`, this.form)

          .then(res => {
            this.setAlert("alert_success", res.data.data);
            if (res.data.jc) window.location.replace(`${res.data.jc}`);

            setTimeout(
              function() {
                this.$router.push("/challenges");
              }.bind(this),
              3000
            );
          })
          .catch(err => {
            if (err.response.data && err.response.data.data)
              this.setAlert("alert_error", err.response.data.data);
            else
              this.setAlert(
                "error",
                "You Have Tried Too Many Times Please Wait"
              );
          });
      } else {
        this.setAlert("alert_error", "The Form Is Not Filled Properly");
      }
    },
    checkForm() {
      this.valid = true;
      if (this.form.inputs.length) {
        this.form.inputs.forEach(e => {
          if (!e) this.valid = false;
        });
      } else {
        this.valid = false;
      }
    },
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        2000
      );
    },
    changeRoute(to) {
      this.$router.push(to);
    },
    sidebar(mode) {
      this.drawer = mode;
      EventBus.$emit("game_sidebar", mode);
    },
    async runDocker() {
      this.loading = true;
      axios
        .get(`/api/games/docker/${this.data.id}`)
        .then(res => {
          if(Array.isArray(res.data)){
            this.isArray = true;
            res.data.forEach(e => {
              this.ArrIP.push(e.ip);
            });
            this.docker.time = '02:59:59';
            this.challengeReady = true;
            this.loading = false;
          }else{
            this.docker.ip = res.data.ip;
            let ports = String(res.data.port);
            this.docker.ports = ports.split("|");
            this.docker.time = res.data.time;
            this.checkContainer();
            EventBus.$emit('challengeReady', res.data);
          }

        })
        .catch(err => {
          this.loading = false;
          if (err.response.data.error)
            this.setAlert("alert_error", err.response.data.error);
          else this.setAlert("alert_error", err.response.data);
        });
    },
    enterGame(i) {
      if(this.isArray){
        window.open(`http://${this.ArrIP[i]}:8000`);
      }else{
        window.open(`http://${this.docker.ip}:${this.docker.ports[i]}`);
      }
    },
    openMission() {
      EventBus.$emit("mission", true);
    },
    async checkContainer() {
      axios
        .get(
          `/api/games/pulse?ip=${this.docker.ip}&port=${
            this.docker.ports[0]
          }&model=Container`
        )
        .then(res => {
          EventBus.$emit("loadingFinished", true);
          setTimeout(
            () => {
              this.challengeReady = true;
              this.loading = false;
            },
            2000
          );
        })
        .catch(err => {
          this.resetMode = true;
          this.challengeReady = false;
          this.loading = false;
          this.docker.time = null;
        });
    },
    overviewFunc(){
      EventBus.$emit('missionToggle', false);
    }
  },

};
</script>

<style scoped>
h2 {
  font-size: 2em;
}

p.main_title {
  font-size: 2em;
}

.form {
  margin-top: 15%;
}

.wrapper {
  overflow-y: auto;
  max-height: 100%;
}

.card{
  min-height: 200px;
  height: 100%;
  box-shadow: -2px -2px 13px -5px rgb(255, 255, 255, 0.5), 3px 3px 13px 3px rgb(0, 0, 0, 0.5);
}

.bg_light_purple{
  background-color: rgb(109, 94, 153, 0.5);
}

.button{
  height: 40px;
}

.enter{
  transition: .3s all linear;
}

.enter:hover{
  transform: scale(1.05);
}

.item{
    opacity: 0.7;
}

.item:hover{
  opacity: 1;
}
</style>