<template>
    <v-layout justify-space-between
        column
        fill-height class="pa-5 ma-5">
        <div>
            <!-- <v-flex mx-auto>
                <h3>Overview</h3>
            </v-flex> -->
            <v-flex md11 mx-auto>
                <h3>Overview</h3>
            </v-flex>
            <br>
            <!-- <v-flex justify-space-around class="h100">
                <v-flex>
                    <div class="card px-3 py-5">
                        <p>Scenario</p>
                        <div class="divider"></div>
                        <p class="content" v-if="skippedStory && skipped" v-html="skippedStory.replace(/(\\r\\n)/g, '<br />')"></p>
                        <p class="content" v-if="!skipped" id="scenario"></p>
                    </div>
                </v-flex>

                <br><br>

                <v-flex>
                    <div class="card px-3 py-5">
                        <p>Objectives</p>
                        <div class="divider"></div>
                        <p class="content" v-if="skippedObjective && skipped" v-html="skippedObjective.replace(/(\\r\\n)/g, '<br />')"></p>
                        <p class="content" v-if="!skipped" id="objective"></p>
                    </div>
                </v-flex>

            </v-flex> -->

            <v-flex d-flex justify-space-around class="h100">
                <v-flex md5 class="h100">
                    <div class="card py-5">
                        <p class="mb-0">Scenario</p>
                        <div class="divider my-3"></div>
                        <p class="content" v-if="skippedStory && skipped" v-html="skippedStory.replace(/(\\r\\n)/g, '<br />')"></p>
                        <p class="content" v-if="!skipped" id="scenario"></p>
                    </div>
                </v-flex>

                <v-flex md5 class="h100">
                    <div class="card py-5">
                        <p class="mb-0">Objectives</p>
                        <div class="divider my-3"></div>
                        <p class="content" v-if="skippedObjective && skipped" v-html="skippedObjective.replace(/(\\r\\n)/g, '<br />')"></p>
                        <p class="content" v-if="!skipped" id="objective"></p>
                    </div>
                </v-flex>

            </v-flex>
            
            <br><br>
        </div>

        <v-flex md5 mx-auto d-flex justify-space-between align-center>
            <div>
                <button class="mr-5" :class="!skipped ? 'bg_white text_purple button' : 'button default'" @click="skip()">SKIP</button>
                <button v-if="skipped" class="bg_white text_purple button" @click="closeMission()">Start The Challenge</button>
                <button v-else class="bg_light_purple button default">Start The Challenge</button>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    props: ['data'],
    data(){
        return {
            scenario: false,
            scenarioCompleted: false,
            counter: 0,
            skipped: false,
            drawer: false,
            alert:{
                status: false,  
                mode: null,
                icon: null,
                content: null
            },
            skippedStory: null,
            skippedObjective: null,
            dialogs: {
                docker: false,
                scenario: false
            },
            path: window.location.origin
        }
    },

    mounted(){        
        if(this.data.details.story){
            this.skippedStory = this.data.details.story.replace(/~/g, '\\r\\n');
            this.skippedObjective = this.data.details.objective.replace(/~/g, '\\r\\n');
            this.checkScenario()
            this.scenarioTyper();
        }else{
            this.loading = false;
        }
        EventBus.$on('mission', e => {
            this.dialogs.scenario = true;
        });
    },

    methods:{
        checkScenario(){
            if(!this.getCookie(`${this.data.name}_scenario`)){
                this.data.details.story = this.data.details.story.replace(/\\r\\n/g, '');
                this.dialogs.scenario = true;
                let now = new Date();
                
                let time = now.getTime();
                let expires = time + 1000 * 60 * 60 * 24;
                now.setTime(expires);
                document.cookie=`${this.data.name}_scenario=true;expires=Thu, 01 Jan 1970 00:00:01 GMT;`;
                document.cookie=`${this.data.name}_scenario=true;expires=${now}`;
            }else{
                this.scenarioCompleted = true;
                this.skipped = true;
            }
        },
        scenarioTyper(){
            let ele = document.getElementById('scenario');
            if(ele)
            {
                if(+this.counter < this.data.details.story.length){
                    this.writeScenario()
                    this.counter++;
                    setTimeout(() => {
                        this.scenarioTyper()
                    }, 30)
                }else{
                    this.counter = 0;
                    this.objectiveTyper()
                }
            }
        },
        writeScenario(){
            let ele = document.getElementById('scenario');
            if(this.data.details.story.charAt(this.counter) != "~"){
                ele.innerHTML += this.data.details.story.charAt(this.counter);
            }
            if(this.data.details.story.charAt(this.counter) == '~'){
                ele.innerHTML += '<br>';
            }
        },
        objectiveTyper(){
            if(document.getElementById('objective'))
            {
                if(+this.counter < this.data.details.objective.length){
                    
                    this.writeObjectives()
                    this.counter++;
                    setTimeout(() => {
                        this.objectiveTyper()
                    }, 30)
                }else{
                    this.scenarioCompleted = true;
                    this.skipped = true;
                }
            }
        },
        writeObjectives(){
            let ele = document.getElementById('objective');
            if(this.data.details.objective.charAt(this.counter) != "~"){
                ele.innerHTML += this.data.details.objective.charAt(this.counter);
            }
            if(this.data.details.objective.charAt(this.counter) == '~'){
                ele.innerHTML += '<br>';
            }
        },
        skip(){
            this.skipped = true;
            this.scenarioCompleted = true;
        },
        getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        },
        closeMission(){
            EventBus.$emit('missionToggle', true);
        }
    }
}
</script>

<style scoped>
  h2{
      font-size: 2em;
  }

  .divider{
      width: 50px;
  }

  .bg_brown{
    background: linear-gradient(90deg, rgba(45, 39, 59, 0.5), rgba(59, 39, 46, 0.5));
  }

  .bg_light_brown{
    background-color: rgb(105, 106, 119, 0.4);
  }

  .item{
      opacity: 0.7;
  }

  .item:hover{
    opacity: 1;
  }

  .card{
        min-height: 400px;
        max-height: 70%;
        overflow-y: auto;
        border-radius: 10px;
        /* box-shadow: -2px -2px 13px -5px rgb(255, 255, 255, 0.5), 3px 3px 13px 3px rgb(0, 0, 0, 0.5); */
  }

  a{
      color: #fff !important;
      text-decoration: none !important;
  }

  .content{
      letter-spacing: 2px;
  }

  p{
      font-weight: 100
  }

  .bg_light_purple{
      opacity: 0.3;
  }

</style>
