<template>
  <v-layout
    justify-space-between
    column
    fill-height
    class="wrapper text-center"
    v-if="game"
    >

    <v-flex d-flex align-end class="image" :style="`background-image: url('${img}${game.image}')`">
      <v-layout justify-space-between
                column
                fill-height class="text-left">
        <v-flex class="pa-5">
          <div>
            <h2 class="mb-0">{{game.name}}</h2>
            <p><span v-if="time">TIME LEFT: {{time}}</span>&nbsp;</p>
          </div>
          <!-- <button v-if="!overview" class="button overview_btn bg_purple" title="show overview" @click="showMission()"><v-icon color="white">keyboard_arrow_left</v-icon></button> -->
        </v-flex>
        <v-flex class="pa-5" d-flex align-end>
          <div>
            <!-- <h2 class="mb-0">{{game.name}}</h2>
            <p><span v-if="time">TIME LEFT: {{time}}</span>&nbsp;</p> -->
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex d-flex class="px-0 pt-5 bg_dark_purple">
      <div class="text-left w100" style="height: 40px !important">
        <v-flex d-flex justify-space-between align-center class="pl-5 pr-10">
          <div>
            <p class="mb-0">DIFFICULTY LEVEL</p>
            <small><strong :class="getColor(game.points.name)">{{game.points.name.toUpperCase()}}</strong></small>
          </div>
          <div>
            <!-- <p class="mb-0">REAWARD</p> -->
            <h2 style="letter-spacing: normal" class="mb-0"><strong>{{game.points.points}} </strong><small>pt.</small></h2>
          </div>
        </v-flex>

        <br><br>

      </div>
    </v-flex>
      <div>
        <v-flex v-for="(item, i) in game.files" :key="i" class="item pointer pa-2 w100" :class="i % 2 == 0 ? 'bg_light_brown' : ''">
          <a class="text_white w100" title="click to download" :href="path + '/files/' + item.name" download>
              <v-flex d-flex justify-space-between>
                  <p class="mb-0 ml-2">
                  {{item.name}}
                  </p>
              <v-icon color="white">folder_open</v-icon>
              </v-flex>
          </a>
        </v-flex>
      </div>

      <v-flex d-flex class="mt-5 px-5 hint_wrapper text-left">
        <v-flex v-if="hint">
          <p class="mb-1"><v-icon color="white" medium>help_outline</v-icon> HINT</p>
          <!-- <div class="divider"></div> -->
          <small v-if="skipped" id="hint_content" class="hint">{{ hint_text }}</small>
          <small v-else id="hint_content" class="hint"></small>
        </v-flex>
        <v-flex v-else>
          <!-- <button  class="w100 py-2 button bg_white text_white">Use Hint</button> -->
          <v-btn @click="getHint()" color="white" rounded block outlined>Use Hint</v-btn>
        </v-flex>
      </v-flex> 

  </v-layout>
</template>

<script>
export default {
  props: ["game"],
  data() {
    return {
      hint: false,
      hint_text: "",
      skipped: false,
      counter: 0,
      img: IMG + "games/",
      clock: null,
      time: null,
      overview: true,
      path: window.location.origin
    };
  },
  created() {
    
    this.checkHint();

    EventBus.$on('challengeReady', data => {
      this.time = data.time;
      this.runClock()
    });

    EventBus.$on("missionToggle", bool => {
      this.overview = !bool;
    });
  },
  methods: {
    checkHint() {
      if (this.game.hint_text) this.hint = true;
      this.skipped = true;
      this.hint_text = this.game.hint_text;
    },

    getHint() {
      axios.get(`/api/games/${this.game.id}/hint`).then(res => {
        this.hint = true;
        this.hint_text = res.data.hint;
        this.hintTyper();
      });
    },

    hintTyper() {
      if (+this.counter < this.hint_text.length) {
        this.writeHint();
        this.counter++;
        setTimeout(() => {
          this.hintTyper();
        }, 60);
      }
    },

    writeHint() {
      let ele = document.querySelector("#hint_content");
      if (this.hint_text.charAt(this.counter) != "~") {
        ele.innerHTML += this.hint_text.charAt(this.counter);
      }
      if (this.hint_text.charAt(this.counter) == ".") {
        ele.innerHTML += "<br>";
      }
      if (this.hint_text.charAt(this.counter) == "~") {
        ele.innerHTML += "<br>";
      }
    },

    getColor(diff){
      let color;
      if(diff == "Easy") color = 'text_green'; 
      else if(diff == "Medium") color = 'text_yellow'; 
      else if(diff == "Hard") color = 'text_orange'; 
      else if(diff == "Insane") color = 'text_red'; 

      return color;
    },

    runClock() {
      let parts = this.time.split(":");

      let hours = parts[0];
      let mins = parts[1];
      let secs = parts[2];

      if (mins == "00" && (secs == "00" || secs == "0")) {
        hours--;
        mins = 59;
        secs = 59;
      }

      this.clock = setInterval(
        function() {
          if (secs == "00") {
            if (mins == "00") {
              if (hours == "00") {
                this.TimeOut();
                this.setAlert(
                  "alert_error",
                  "Challenge Time Has Expired, Please Try Again"
                );
                setTimeout(
                  function() {
                    this.$router.push("/challenges");
                  }.bind(this),
                  3000
                );
              } else {
                hours--;
                mins = 59;
                this.time = `${hours}:${mins}:${secs}`;
              }
            } else {
              mins--;
              secs = 59;
              this.time = `${hours}:${mins}:${secs}`;
            }
          } else {
            secs--;
            this.time = `${hours}:${mins}:${secs}`;
          }
          if (document.getElementById("time"))
            document.getElementById("time").innerHTML = this.time;
        }.bind(this),
        1000
      );
    },

    TimeOut(){
      clearInterval(this.clock);
    },

    showMission() {
      EventBus.$emit("MissionToggle", true);
    },

    showMission(){
        EventBus.$emit('missionToggle', false);
    }

  },
  
  beforeDestroy() {
    clearInterval(this.clock);
  }
};
</script>

<style scoped>
.wrapper {
  background-color: rgb(62, 46, 83);
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 10px -2px rgb(0, 0, 0, 0.8);
}

img {
  width: 100%;
  height: 100%;
}

h2{
  font-size: 1.4rem;
  letter-spacing: .25rem;
  font-weight: 200;
}

p {
  font-weight: 100;
}

h3 {
  font-size: 1em;
}

.hint {
  letter-spacing: 1.5px;
}

.image{
  height: 300px;
  max-height: 40%; 
  background-size: 100% 100%;
}

.image > div{
  background-color: rgba(0, 0, 0, 0.6);
}

.bg_dark_purple{
  background-color: rgb(39,28,54);
}

.overview_btn:hover{
  box-shadow: 0 0 8px 3px rgb(255, 255, 255, 0.2)
}

.bg_brown{
  background: linear-gradient(90deg, rgba(45, 39, 59, 0.5), rgba(59, 39, 46, 0.5));
}

.bg_light_brown{
  background-color: rgb(105, 106, 119, 0.4);
}

.item{
    opacity: 0.7;
}

.item:hover{
  opacity: 1;
}

a{
  color: #fff !important;
  text-decoration: none !important;
}
</style>
