<template>
  <v-container class="pt-0">
    <v-flex class="mb-2">
      <v-layout d-flex wrap justify-content-between>
        <v-flex xs12 md9 d-flex align-center>
          <h1 class="d-inline" :class="dark ? 'white--text' : ''">All Students {{data ? data.total : ''}}</h1>
          <v-flex hidden-sm-and-up>
            <v-btn color="indigo" dark title="Clear Filter" @click="getStudents(1)" icon>
              <v-icon>refresh</v-icon>
            </v-btn>
          </v-flex>
        </v-flex>
        <v-flex class="text-right" d-flex xs12 md3>
          <v-flex hidden-sm-and-down>
            <v-btn color="indigo" dark title="Clear Filter" @click="getStudents(1)" icon>
              <v-icon>refresh</v-icon>
            </v-btn>
          </v-flex>
          <v-btn color="info" class="mx-3" @click="dialog = true">Filter Students</v-btn>
          <!-- <v-btn color="primary" @click="columnsDialog = true">Table Columns</v-btn> -->
        </v-flex>
      </v-layout>
      <v-flex>
        <v-dialog v-model="dialog" max-width="500">
          <v-card>
            <v-card-title class="headline">Filter Students</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-select
                    :items="filter.status"
                    item-text="name"
                    item-value="value"
                    v-model="form.status"
                    label="Status"
                  ></v-select>
                  <v-select
                    :items="filter.country"
                    item-text="country"
                    item-value="id"
                    v-model="form.country"
                    label="Country"
                    @change="filterCountry"
                  ></v-select>
                  <v-select
                    :items="filter.college"
                    item-text="name"
                    item-value="id"
                    v-model="form.college"
                    label="College"
                    @change="filterCollege"
                  ></v-select>
                  <v-select
                    :items="filter.class"
                    item-text="name"
                    item-value="id"
                    v-model="form.class"
                    label="Class"
                  ></v-select>
                  <v-select
                    :items="filter.pagination"
                    v-model="form.pagination"
                    label="Students Per Page"
                  ></v-select>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-btn color="green darken-1" text @click="submitFilter()">Filter</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="dialog = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="columnsDialog" max-width="500">
          <v-card>
            <v-card-title class="headline">Table Columns</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-combobox
                v-model="selectColumns"
                :items="columns"
                label="I use a scoped slot"
                multiple
                chips
                @change="filterCoulmns"
              >
                <template v-slot:selection="data">
                  <v-chip
                    :key="JSON.stringify(data.item)"
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    :disabled="data.disabled"
                    @click:close="data.parent.selectItem(data.item)"
                  >
                    <v-avatar
                      class="accent white--text"
                      left
                      v-text="data.item.slice(0, 1).toUpperCase()"
                    ></v-avatar>
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-combobox>
            </v-card-text>
            <v-card-actions>
              <v-btn text @click="columnsDialog = false" block>Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-flex>
    <v-flex d-flex>
      <v-flex md3 xl1>
        <v-select
          :items="searchData.items"
          v-model="searchData.name"
          outlined
          height="30"
          label="Search By"
        ></v-select>
      </v-flex>
      <v-flex md8 xl10 offset-md1>
        <v-autocomplete @change="updateData()" :items="searchData.data" :item-text="searchData.name" item-value="id" @update:search-input="autocomplete" outlined class="pt-0" v-model="searchData.id" label="Search students"></v-autocomplete>
      </v-flex>
    </v-flex>
    <v-flex v-if="data">
      <v-data-table
        :loading="loading"
        v-model="selected"
        :headers="headers"
        :items="data.data"
        :sort-by="[]"
        hide-default-footer
        show-select
        :search="search"
        item-key="name"
        class="elevation-1"
        @update:options="sortUpdated"
      >

        <template v-slot:top>
          <v-flex class="px-5 py-3">
            <v-text-field class="pt-0" v-model="search" label="search from table"></v-text-field>
          </v-flex>
        </template>
        <!-- <template v-slot:headers="props">
          <tr>
            <th>
              <v-checkbox
                :input-value="props.all"
                :indeterminate="props.indeterminate"
                primary
                hide-details
                @click.stop="toggleAll()"
              ></v-checkbox>
            </th>
            <th
              v-if="props.headers[0].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[0].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[0].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[0].text }}
            </th>
            <th
              v-if="props.headers[1].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[1].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[1].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[1].text }}
            </th>
            <th
              v-if="props.headers[2].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[2].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[2].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[2].text }}
            </th>
            <th
              v-if="props.headers[3].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[3].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[3].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[3].text }}
            </th>
            <th
              v-if="props.headers[4].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[4].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[4].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[4].text }}
            </th>
            <th
              v-if="props.headers[5].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[5].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[5].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[5].text }}
            </th>
            <th
              v-if="props.headers[6].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[6].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[6].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[6].text }}
            </th>
            <th
              v-if="props.headers[7].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[7].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[7].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[7].text }}
            </th>
            <th
              v-if="props.headers[8].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[8].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[8].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[8].text }}
            </th>
            <th
              v-if="props.headers[9].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[9].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[9].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[9].text }}
            </th>
            <th
              v-if="props.headers[10].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[10].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[10].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[10].text }}
            </th>
            <th
              v-if="props.headers[11].status"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', props.headers[11].value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(props.headers[11].value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ props.headers[11].text }}
            </th>
          </tr>
        </template> -->
        <template v-slot:item.status="props">
          <v-icon large class="cms_status" @click="changeStatus(0, props.item.id)" v-if="props.item.status == 1" color="success">toggle_on</v-icon>
          <v-icon large class="cms_status" @click="changeStatus(1, props.item.id)" v-else color="red">toggle_off</v-icon>
        </template>
        
        <template v-slot:item.points="props">
          <p>{{props.item.points && props.item.points.total_points ? props.item.points.total_points : 0}}</p>
        </template>

        <template v-slot:item.actions="props">
            <v-icon color="primary" @click="changeRoute(props.item.id)">visibility</v-icon>
        </template>

      </v-data-table>
      <v-layout class="mb-2" d-flex wrap justify-content-between>
        <v-flex xs12 md5 d-flex align-center>
          <v-select
            solo
            class="mt-3 mr-4"
            :items="actions"
            v-model="select"
            label="Multiple Actions"
          ></v-select>
          <v-btn color="primary" style="height:52%" class="mb-4" @click="MultiAction()">Submit</v-btn>
        </v-flex>
        <v-flex
          xs12
          style="display:inline-block"
          class="mt-4 text-center text-md-right md7"
        >
          <div class="text-center">
            <v-pagination
              v-model="page"
              :length="pages[pages.length - 1]"
              :total-visible="10"
              @input="submitFilter(page)"
            ></v-pagination>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex v-else>
      <v-data-table
        :loading="true"
        hide-default-footer
      >
      </v-data-table>
    </v-flex>
    <v-dialog v-model="deleteDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Delete Students</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          Are You sure You want to delete the student
          <span v-if="selected.length > 1">s</span>?
        </v-card-text>
        <v-card-actions>
          <v-btn color="green darken-1" text @click="MultiAction()">Accept</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="deleteDialog = false, select = 'Choose An Action'"
          >Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      data: null,
      students: null,
      selected: [],
      search: "",
      loading: false,
      dialog: false,
      columnsDialog: false,
      deleteDialog: false,
      filter: {
        data: null,
        status: [
          { value: 3, name: "All" },
          { value: 1, name: "Active" },
          { value: 0, name: "Inactive" },
          { value: 0, name: "Waiting" }
        ],
        country: [],
        college: [],
        class: [],
        pagination: [10, 20, 50, 100, 250]
      },
      form: {
        page: 1,
        pagination: 10
      },
      pagination: {
        sortBy: 'name'
      },
      page: 1,
      headers: [
        { text: "Name", value: "name", status: 1 },
        { text: "Email", value: "email", status: 1 },
        { text: "Subscription", value: "sub", status: 1 },
        { text: "Phone", value: "phone", status: 0 },
        { text: "Class", value: "class", status: 1 },
        { text: "College", value: "college", status: 1 },
        { text: "Country", value: "country", status: 1 },
        { text: "Points", value: "points", status: 1 },
        { text: "Status", value: "status", status: 1 },
        { text: "Actions", value: "actions", status: 1 }
      ],
      pages: [],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      select: "Choose An Action",
      selectColumns: [
        "Name",
        "Email",
        "Subscription",
        "Phone",
        "Class",
        "College",
        "Country",
        "Points",
        "Actions"
      ],
      columns: [
        "Name",
        "Email",
        "Subscription",
        "Phone",
        "Class",
        "College",
        "Country",
        "Points",
        "Actions"
      ],
      searchData: {
        id: '',
        name: 'name',
        data: [],
        items: ['name', 'email', 'phone']
      },
      sortBy: {
        name: '',
        order: true
      },
    };
  },
  
  computed: {
    dark() {
      return this.$vuetify.theme.dark;
    }
  },

  created() {
    Load.on();
    this.getStudents(1);
  },
  
  methods: {
    getStudents() {
      this.loading = true;
      axios.get(`/api/cms/students?sortBy=${this.sortBy.name}&sortOrder=${this.sortBy.order}`).then(res => {
        this.filter.data = res.data;
        this.filter.country = res.data.countries;
        this.filter.country.unshift({ id: 0, country: "All" });
        this.loading = false;
        this.data = res.data.students;
        this.pages = Pagination.pages(res.data.students);
        Load.off();
      });
    },
    toggleAll() {
      if (this.selected.length) this.selected = [];
      else this.selected = this.data.data.slice();
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    autocomplete(v){
      if(v && v.trim()){
        axios.get(`/api/cms/autocomplete?model=Students&search=${v}&status=null`).then( res => {
          this.searchData.data = res.data;
        })
      }
    },
    updateData(){
      this.$router.push(`/CMS/students/` + this.searchData.id)
    },
    MultiAction(v) {
      if (this.select == "Delete" && !this.deleteDialog) {
        this.deleteDialog = true;
      } else {
        if (this.select == "Choose An Action")
          return Alert.on(["error", "Sorry, you haven't chose any action"]);
        if (!this.selected.length) {
          this.deleteDialog = false;
          return Alert.on(["error", "Sorry, you haven't chose any student"]);
        }
        this.deleteDialog = false;
        var data = [];
        for (let i = 0; i < this.selected.length; i++) {
          data.push(this.selected[i].id);
        }

        axios
          .post(`/api/cms/students/multiple`, { mode: this.select, data: data })
          .then(res => {
            if (this.select == "Delete") {
              data.forEach(e => {
                this.data.total = this.data.total - 1;
                if (this.data.data) {
                  let index = this.data.data.forEach((v, i) => {
                    if (e == v.id) this.data.data.splice(i, 1);
                  });
                }
              });
            }else{
              let status = this.select == 'Activate' ? 1 : 0;
              data.forEach(e => {
                this.data.total = this.data.total - 1;
                if (this.data.data) {
                  let index = this.data.data.forEach((v, i) => {
                    if (e == v.id) v.status = status;
                  });
                }
              });
            }
            Alert.on(["success", res.data]);
            this.selected = [];
            this.select = "Choose An Action";
          })
          .catch(err => {
            if (err.response.data.errors)
              Alert.on(["error", err.response.data.errors.data[0]]);
            Alert.on(["error", err.response.data]);
            this.select = "Choose An Action";
          });
      }
    },
    changeRoute(to) {
      this.$router.push(`/CMS/students/${to}`);
    },
    changeStatus(status, id){
        for(let i = 0; i < this.data.data.length; i++){
            if(this.data.data[i].id == id){
                this.data.data[i].status = status;
                break;
            }
        }
        axios.post('/api/cms/students/status', {id: id, status: status}).then(res => {
            Alert.on(['success', res.data]); 
        })
    },
    filterCountry(v) {
      this.form.country = v;
      this.form.college = null;
      this.form.class = null;
      this.filter.college = [];
      this.filter.class = [];
      this.filter.college.push({ id: 0, name: "All" });
      for (let i = 0; i < this.filter.data.colleges.length; i++) {
        if (this.form.country == this.filter.data.colleges[i].country_id)
          this.filter.college.push(this.filter.data.colleges[i]);
      }
    },
    filterCollege(v) {
      this.form.college = v;
      this.form.class = null;
      this.filter.class = [];
      this.filter.class.push({ id: 0, name: "All" });
      for (let i = 0; i < this.filter.data.classes.length; i++) {
        if (this.form.college == this.filter.data.classes[i].college_id)
          this.filter.class.push(this.filter.data.classes[i]);
      }
    },
    submitFilter(page) {
      if (page) this.form.page = page;
      else page = 1;
      this.dialog = false;
      this.loading = true;
      axios.post(`/api/cms/students/filter`, this.form).then(res => {
        this.loading = false;
        this.data = res.data;
        this.pages = Pagination.changed(page, res.data.last_page);
      });
    },
    filterCoulmns(v) {
      for (let i = 0; i < v.length; i++) {
        this.headers[i].status = 0;
      }
      for (let i = 0; i < v.length; i++) {
        if (v[i] == "Name") this.headers[0].status = 1;
        if (v[i] == "Email") this.headers[1].status = 1;
        if (v[i] == "Subscription") this.headers[1].status = 1;
        if (v[i] == "Phone") this.headers[2].status = 1;
        if (v[i] == "Class") this.headers[3].status = 1;
        if (v[i] == "College") this.headers[4].status = 1;
        if (v[i] == "Country") this.headers[5].status = 1;
        if (v[i] == "Points") this.headers[6].status = 1;
        if (v[i] == "Actions") this.headers[10].status = 1;
      }
    },
    paginationChanged(v) {
      let res = Pagination.changed(v, this.data.last_page);
      this.pages = res;
    },
    sortUpdated(e){
      if(['actions'].includes(e.sortBy[0])) return;
      if(e.sortBy.length){
        this.sortBy = {
          name: e.sortBy[0],
          order: !this.sortBy.order
        };
        this.getStudents();
      }
    }
  }
};
</script>

<style>
</style>
