<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :active="active"
      :multisort="multisort"
      :dialog="dialog"
      :title="title"
      :students="true"
      :actionBtns="actionBtns"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
      title: "Waiting Students",
      api: "cms/students",
      multisort: true,
      search: "",
      active: 2,
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Students",
        one: "student",
        multiple: "students"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Email", value: "email" },
        { text: "Email Verified", value: "email_verified_at" },
        { text: "Subscription", value: "sub", status: 1 },
        { text: "Phone", value: "phone" },
        { text: "Class", value: "class" },
        { text: "College", value: "college" },
        { text: "Country", value: "country" },
        { text: "Actions", value: "actions" }
      ],
      actionBtns: ["visibility"],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"]
    };
  },
  components: { Table, Top }
};
</script>
