<template>
  <v-layout row wrap>
    <v-flex>
      <v-flex xs11 mx-auto class="breadcrumbs mb-2">
        <router-link to="/" class="no_dec white--text">
          <span class="bread_link">Home</span>
        </router-link>
        <span class="spacer">/</span>
        <span>Cyberpedia</span>
      </v-flex>
      <v-row class="mx-0">
        <v-col  cols="12" sm="6" lg="4" v-for="cat in data" :key="cat.id">
          <div class="article d-block">
            <v-layout row wrap justify-space-between column fill-height>
              <div class="article__header d-flex flex-column justify-center align-center pa-5">
                <img :src="img + cat.image">
                <div class="black_screen"></div>
                <h2>{{cat.name}}</h2>
                <p>{{cat.description.length > 150 ? cat.description.substring(0,150) + '...' : cat.description}}
                </p>
              </div>
              <div class="article__content pa-5">
                <v-row>
                  <v-col class="text-center" :cols="cat.valid_terms.length > 1 ? 6 : 12" v-for="term in cat.visible_terms" :key="term.id">
                    <router-link class="no_dec" :to="`/cyberpedia/${cat.id}/${term.id}`">
                      <div class="term_link">
                          {{term.name.length > 12 ? term.name.substring(0, 11) + '...' : term.name}}
                      </div>
                    </router-link>
                  </v-col>
                </v-row>
              </div>
              <div class="article__footer pt-2 pb-5">
                <router-link :to="`/cyberpedia/${cat.id}`">Learn More</router-link>
              </div>
            </v-layout>
          </div>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: ["data"],
    data: () => ({
      img: IMG + "cyberpedia/cats/"
    }),

    created(){
      this.setVisibleTerms();
    },

    methods: {
      setVisibleTerms(){
        this.data.forEach((element, key) => {
          this.data[key].visible_terms = element.valid_terms.slice();
          this.data[key].visible_terms.splice(4, element.valid_terms.length - 4);
        });
      }
    }
  };
</script>

<style lang="scss" scoped>
  .article {
    background: linear-gradient(rgb(24,43,55), rgb(7, 11, 14));
    text-decoration: none;
    color: #fff;
    height: 360px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #17284360;
    transition: box-shadow 0.3s, top .3s;
    border-top: none;
    overflow: hidden;
    position: relative;
    top: 0;
  
    .term_link{
      cursor: pointer;
      margin: 0 5px;
      border-radius: 8px;
      background-color: rgb(33, 51, 61, 0.3);
      padding: 5px 20px;
      
      &:hover {
      background-color: rgb(33, 51, 61, 0.6);
      }
    }

    &__footer {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: .5rem 2.5rem;
        background-color: #482b80;
        border-radius: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: .9rem;
        transition: background-color .2s;
      }
    }

    &__content{
      height: 40%;
    }

    &__header {
      height: 40%;
      width: 100%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-color: black;
      mix-blend-mode: darken;
      position: relative;

      img {
        min-height: 100%;
        width: 100%;
        opacity: .4;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }

      p {
        font-weight: 100;
        text-align: justify;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3em;
        line-height: 1.5em;
      }
    }

    &:hover {
      box-shadow: 0 0 10px 5px #25416d60;
      top: -5px
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background: linear-gradient(
          to right,
          rgb(254, 249, 196),
          rgb(150, 224, 216)
      );
      width: 100%;
      height: 6px;
      left: 0;
      bottom: 0;
    }
  }

  .no_dec{
    color: #ccc;
  }

  .no_dec:hover{
    color: #fff !important;
  }
</style>
