<template>
  <v-layout row wrap>
    <v-flex>
      <v-flex xs11 mx-auto class="breadcrumbs mb-2">
        <router-link to="/" class="no_dec white--text">
          <span class="bread_link">Home</span>
        </router-link>
        <span class="spacer">/</span>
        <router-link to="/cyberpedia" class="no_dec white--text">
          <span class="bread_link">Cyberpedia</span>
        </router-link>
        <span class="spacer">/</span>
        <router-link :to="`/cyberpedia/${catId}`"
                     class="no_dec white--text">
          <span>{{category.name}}</span>
        </router-link>
        <span class="spacer">/</span>
        <span>{{term.name}}</span>
      </v-flex>
      <v-row class="mx-0">
        <v-col cols="12">
          <div class="article">
            <div
              class="article__content pa-5 d-flex flex-column justify-center align-center">
              <img :src="img + 'cyberpedia/terms/' + term.image" alt="">
              <h2>{{term.name}}</h2>
              <v-flex md10 mx-auto class="mt-7 mb-3 w-100" v-html="term.content"/>
              <v-tooltip bottom color="black">
                <template v-slot:activator="{ on }">
                  <a v-on="on" class="pt-6 pb-3 link" v-if="!!term.link"
                    :href="term.link" target="_blank">
                    <img :src="img + 'general/link-icon.svg'">
                  </a>
                </template>
                <span>External link - {{ term.link }}</span>
              </v-tooltip>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: ["data"],
    data: () => ({
      img: IMG
    }),
    computed: {
      catId() {
        return parseInt(this.$route.params.cat);
      },
      termId() {
        return parseInt(this.$route.params.term);
      },
      category() {
        return this.data.find(cat => cat.id === this.catId);
      },
      term() {
        return this.category.valid_terms.find(term => term.id === this.termId);
      }
    },
  };
</script>

<style lang="scss" scoped>
  .w-100 {
    width: 100%;
  }

  .title {
    h1 {
      font-size: 3.5rem;
    }

    * {
      margin: 1rem 0;
      font-weight: 100;
    }
  }

  .article {
    background: linear-gradient(rgb(24, 43, 55), rgb(7, 11, 14));
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #17284360;
    transition: box-shadow 0.3s;
    border-top: none;
    overflow: hidden;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px 5px #25416d60;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background: linear-gradient(
          to right,
          rgb(254, 249, 196),
          rgb(150, 224, 216)
      );
      width: 100%;
      height: 6px;
      left: 0;
      bottom: 0;
    }
  }

  img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .link {
    display: block;
    position: relative;
    text-decoration: none;
    border: none;

    &::before {
      content: '';
      display: block;
      width: 175%;
      height: 5px;
      background-color: #7dffd8;
      position: absolute;
      top: -5px;
      left: 0;
      margin-left: -25%;
      box-shadow: 0 2px 10px 3px #7dffd880;
      border-radius: 20px;
    }
  }
</style>
