<template>
  <v-layout row wrap>
    <v-flex>
      <v-flex xs11 mx-auto class="breadcrumbs mb-2">
        <router-link to="/" class="no_dec white--text">
          <span class="bread_link">Home</span>
        </router-link>
        <span class="spacer">/</span>
        <router-link to="/cyberpedia" class="no_dec white--text">
          <span class="bread_link">Cyberpedia</span>
        </router-link>
        <span class="spacer">/</span>
        <span>{{category.name}}</span>
      </v-flex>
      <div class="d-flex justify-center align-center flex-column title">
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
      </div>
      <v-row class="mx-0">
        <v-col cols="12" sm="6" md="4" v-for="term in category.valid_terms" :key="term.id">
          <router-link :to="`/cyberpedia/${catId}/${term.id}`" class="d-block article">
            <v-layout row wrap column justify-space-between fill-height class="px-3">
              <div
                class="article__content pa-5 d-flex flex-column align-center">
                <h2>{{term.name}}</h2>
                <!-- <div class="mt-3 mb-3" v-html="term.content.length > 90 ? term.content.substring(0,90) + '...' : term.content"/> -->
                <div class="mt-3 mb-3" v-html="term.content"/>
                <v-tooltip bottom color="black">
                  <template v-slot:activator="{ on }">
                    <a v-on="on" class="pt-6 pb-3 link" v-if="!!term.link"
                      :href="term.link" target="_blank">
                      <img :src="img + 'general/link-icon.svg'">
                    </a>
                  </template>
                  <span>External link - {{ term.link }}</span>
                </v-tooltip>
              </div>
              <div class="article__footer pt-2 pb-5">
                <router-link :to="`/cyberpedia/${catId}/${term.id}`">Learn More</router-link>
              </div>
            </v-layout>
          </router-link>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: ["data"],
    data: () => ({
      img: IMG
    }),
    computed: {
      catId() {
        return parseInt(this.$route.params.cat);
      },
      category() {
        return this.data.find(cat => cat.id === this.catId);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .title {
    h1 {
      font-size: 3.5rem;
    }

    * {
      margin: 1rem 0;
      font-weight: 100;
    }
  }

  .article {
    background: linear-gradient(rgb(24,43,55), rgb(7, 11, 14));
    text-decoration: none;
    color: #fff;
    height: 300px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #17284360;
    transition: box-shadow 0.3s;
    border-top: none;
    overflow: hidden;
    position: relative;

    &__footer {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: .5rem 2.5rem;
        background-color: #482b80;
        border-radius: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: .9rem;
        transition: background-color .2s;

        &:hover {
          background-color: #352060;
        }
      }
    }
    
    &__content{
      height: 80%;

      div{
        text-align: justify;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        max-height: 6em;
        line-height: 1.5em;

          ::v-deep p{
            margin: 0 !important;
          }
      }
    }

    &:hover {
      box-shadow: 0 0 10px 5px #25416d60;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background: linear-gradient(
          to right,
          rgb(254, 249, 196),
          rgb(150, 224, 216)
      );
      width: 100%;
      height: 6px;
      left: 0;
      bottom: 0;
    }
  }

  .link {
    display: block;
    position: relative;
    text-decoration: none;
    border: none;

    &::before {
      content: '';
      display: block;
      width: 175%;
      height: 5px;
      background-color: #7dffd8;
      position: absolute;
      top: -5px;
      left: 0;
      margin-left: -25%;
      box-shadow: 0 2px 10px 3px #7dffd880;
      border-radius: 20px;
    }
  }
</style>
