<template>
    <v-container class="pt-0">
        <v-card class="pa-3">
            <h1 class="mr-3">Edit Term</h1>
            <v-form @submit.prevent="submit()" ref="form">
                <span>Status</span>
                <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
                <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
                <v-select
                    :items="cats"
                    v-model="form.category_id"
                    label="Category"
                    outlined
                    dense
                    item-text="name"
                    item-value="id"
                    :rules="[rules.category_id]"
                    :error-messages="errors && errors.category_id"
                ></v-select>
                <v-text-field
                    outlined
                    dense
                    v-model="form.name"
                    label="Name"
                    :rules="[rules.name]"
                    :error-messages="errors && errors.name"
                ></v-text-field>
                <!-- <v-textarea
                    outlined
                    dense
                    v-model="form.content"
                    label="Content"
                    :rules="[rules.content]"
                    :error-messages="errors && errors.content"
                ></v-textarea> -->
                <div class="mb-5">
                    <vue-editor v-model="form.content">
                    </vue-editor>
                    <span v-if="errors && errors.content" class="red--text">{{errors.content[0]}}</span>
                </div>

                <v-text-field
                    outlined
                    dense
                    v-model="form.link"
                    label="Link"
                    :error-messages="errors && errors.link"
                ></v-text-field>
                <v-flex xs12 md6>
                    <v-btn color="info" @click="uploadFile()">Upload File</v-btn>
                    <img id="image" class="cms_image_new" src="" alt="">
                    <input type="file" class="d-none" id="new_file" @change="filePicked">
                </v-flex>
                <v-flex xs12 d-flex class="mt-5">
                    <v-flex xs6>
                        <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
                    </v-flex>
                </v-flex>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
    components: {
        VueEditor
    },

    data(){
        return {
            form: {
                status: true,
            },
            cats: [],
            rules: {
                name: v => !!v || "Name is required",
                category_id: v => !!v && !isNaN(v) || "Category is required",
                content: v => !!v || "Content is required",
                status: v => !!v || 'Status is required',
            },
            image: null,
            errors: {},
            loading: false
        }
    },

    created(){
        this.getData();
        this.FormData = new FormData;
    },

    methods:{
        getData(){
            axios.get('/api/cms/cyberpedia/terms/edit/' + this.$route.params.slug).then(res => {
                this.cats = res.data.cats;
                this.form = res.data.term;
            })
        },

        submit(){
            if(this.$refs.form.validate()){
                this.form.status = this.form.status ? 1 : 0; 
                this.FormData.append('id', this.form.id);
                this.FormData.append('category_id', this.form.category_id);
                this.FormData.append('name', this.form.name);
                this.FormData.append('content', this.form.content);
                this.FormData.append('link', this.form.link ? this.form.link : '');
                this.FormData.append('status', this.form.status);
                const config = {headers: { "content-type": "multipart/form-data" }};
                this.loading = true;
                axios.post('/api/cms/cyberpedia/terms/update', this.FormData, config).then(res => {  
                    this.errors = {};
                    Alert.on(['success', res.data]);
                    this.loading = false;
                    this.$router.push('/CMS/cyberpedia/terms')
                }).catch(err => {
                    this.loading = false;
                    this.errors = err.response.data.errors;
                })
            }
        },
        uploadFile(){
            document.getElementById('new_file').click();
        },
        filePicked(e){
            this.FormData.append('file', e.target.files[0]);
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
}
</script>

<style>
    
</style>
