<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="'edit/'"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Terms",
      api: "cms/cyberpedia/terms",
      img: IMG + "cyberpedia/terms/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Terms",
        one: "term",
        multiple: "terms"
      },
      headers: [
        { text: "Title", value: "name" },
        { text: "Category", value: "category" },
        { text: "Content", value: "content" },
        { text: "Image", value: "image" },
        { text: "Link", value: "link" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
