<template>
  <v-container class="pt-0">
    <Top :title="title" :orders="true" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="''"
      :options="options"
      :requestValue="1"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
     title: "Orders",
      api: "cms/orders",
      img: IMG + "cats/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Orders",
        one: "order",
        multiple: "orders"
      },
      headers: [
        { text: "User", value: "user.name" },
        // { text: "Subscription", value: "subscription.name" },
        { text: "Created At", value: "created_at" },
        // { text: "Time", value: "subscription.duration" },
        { text: "Price", value: "price" },
        { text: "Status", value: "status" },
        // { text: "Notes", value: "notes" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["visibility"],
      options: [
        {title: 'Approved', value: 1, color: 'green'},
        {title: 'Waiting', value: 2, color: 'orange'},
        {title: 'Dissaproved', value: 0, color: 'red'},
      ]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
