<template>
  <v-container class="pt-0">
    <v-flex md2 d-flex align-center>
      <h1>Show Order</h1>
    </v-flex>
  </v-container>
</template>

<script>
import { getDiffieHellman } from "crypto";
export default {
  data() {
    return {
      form: {
        status: true
      },
      rules: {
       
      },
      img: IMG + "cats/",
      errors: {}
    };
  },
  created() {
    this.getCat();
  },
  methods: {
    getCat() {
      axios
        .get(
          `/api/cms/orders/show/${window.location.pathname.split("/")[3]}`
        )
        .then(res => {
          this.form = res.data;
        })
        .catch(err => {
          this.$router.push("/CMS/categories");
          Alert.on(["error", "Category Not Found"]);
        });
    },
    submit() {
      
    },
  }
};
</script>
