<template>
    <v-form @submit.prevent="submit()" ref="form" v-if="form.name">
        <v-card class="px-3 py-3">
            <v-autocomplete
                outlined
                :items="colleges"
                item-value="id"
                item-text="name"
                v-model="form.college_id"
                label="Choose College"
                autocomplete
                :rules="[rules.category]"
            ></v-autocomplete>
            <v-text-field outlined v-model="form.name" label="Class Name" :rules="[rules.class]"></v-text-field>
            <v-row class="px-2">
                <v-flex xs12 class="px-1">
                <date-start :title="'Class Starting Date'" :setdate="form.start_at" />
                </v-flex>
                <v-flex xs12 class="px-1">
                <date-end :title="'Class Ending Date'" :setdate="form.end_at" />
                </v-flex>
            </v-row>
            <v-flex class="my-3 text-center">
                <span class="red--text" v-if="errorsdate">The Dates cannot be the same</span>
            </v-flex>
            <v-textarea outlined v-model="form.notes" label="Notes"></v-textarea>
            <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
        </v-card>
    </v-form>
</template>

<script>
import DateStart from "./../../../General/form/datapicker";
import DateEnd from "./../../../General/form/datapicker";
export default {
  components: { DateStart, DateEnd },
  props: ['form', 'colleges'],
  data() {
    return {
      img: IMG + "cats/",
      rules: {
        category: v => !!v || "Category is Required",
        teacher: v => !!v || "Teacher is Required",
        class: v => !!v || "Class is Required"
      },
      errorsdate: false,
      loading: false
    };
  },
  created() {
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        if (this.form.start_at == this.form.end_at)
          return (this.errorsdate = true);
        else this.errorsdate = false;
        this.loading = true;
        axios
          .post("/api/cms/classes/update", this.form)
          .then(res => {
            this.loading = false;
            Alert.on(["success", res.data]);
          })
          .catch(err => {
            this.loading = false;
            Alert.on(["error", err.response.data]);
          });
      }
    },
    statusSubmit(status) {
      // class status
      this.form.status = status;
      axios
        .post("/api/cms/classes/status", { id: this.form.id, status: status })
        .then(res => {
          Alert.on(["success", res.data]);
        });
    },
    changeStatus(status, id) {
      // student status
      for (let i = 0; i < this.data.data.length; i++) {
        if (this.data.data[i].id == id) {
          this.data.data[i].status = status;
          break;
        }
      }
      axios
        .post("/api/cms/students/status", { id: id, status: status })
        .then(res => {
          Alert.on(["success", res.data]);
        });
    },
    changeRoute(to, id) {
      this.$router.push(`/CMS/students/${to + id}`);
    },
    paginatePage(num) {
      this.pagination.amount = num;
      this.getStudents(1);
    },
    deleteClass() {
      this.dialogClass = false;
      axios
        .post("/api/cms/classes/delete", { id: this.form.id })
        .then(res => {
          Alert.on(["success", res.data]);
          this.$router.push("/CMS/settings/classes");
        })
        .catch(err => {
          Alert.on(["error", err.response.data]);
        });
    }
  }
};
</script>

<style>
</style>
