<template>
    <v-flex class="mt-5" v-if="games.data">
        <v-toolbar>
            <v-toolbar-title>Challenges Not Allowed - {{data.games_not_allowed.length}}/{{games.data.length}}</v-toolbar-title>
        </v-toolbar>
        <v-data-table
            v-model="selected"
            :headers="gamesAllowsHeaders"
            :items="games.data"
            :sort-by="pagination.sortBy.findIndex"
            :rows-per-page-items="[10, 50, 100]"
            show-select
            :search="search"
            item-key="id"
            class="elevation-1 mb-4"
        >
        <template v-slot:top>
            <v-flex class="pt-5">
                <v-text-field
                    outlined
                    class="mx-4 mt-2"
                    placeholder="Search Challenge"
                    v-model="search"
                ></v-text-field>            
            </v-flex>
        </template>
        </v-data-table>
        <v-flex>
            <v-btn color="primary" block @click="submit()">Submit Challenges</v-btn>
        </v-flex>
    </v-flex>
</template>

<script>
export default {
    props: ['data'],
    data(){
        return {
            games: [],
            selected: [],
            search: '',
            pagination: {
                sortBy: 'name',
                amount: 10
            },
            gamesAllowsHeaders: [
                { text: 'Name', value: 'name' },
                { text: 'Category', value: 'category.name' },
                { text: 'Points', value: 'points.name' },
            ],
            role: Auth.role(),
            pages: []
        }
    },
    created(){
        this.getGames()
        this.selected = this.data.games_not_allowed;
    },
    methods:{
        getGames(){
            axios.get(`/api/cms/games/1/${1000}?page=${1}`).then(res => {       
                this.games = res.data;         
                this.pages = Pagination.pages(res.data);
            }).catch(err => {
                Alert.on(['error', err.response.data])
                this.$router.go(-1)
            })
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
            else this.selected = this.games.data.slice()
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        submit(){
            axios.post(`/api/cms/classes/games`, {id: this.data.id, games: this.selected}).then( res => {
                Alert.on(['success', res.data])
            }).catch(err => {
                Alert.on(['error', err.response.data])
            })
        }
    }
}
</script>

<style>

</style>
