<template>
    <v-flex class="mt-5" v-if="games.data && data">
        <v-toolbar>
            <v-toolbar-title>Lessons Allowed - {{data.lessons_allowed ? data.lessons_allowed.length : 0}}/{{games.data.length}}</v-toolbar-title>
        </v-toolbar>
        <v-data-table
            v-model="selected"
            :headers="gamesAllowsHeaders"
            :items="games.data"
            :sort-by="pagination.sortBy.findIndex"
            show-select
            :search="search"
            item-key="name"
            class="elevation-1 mb-4"
        >
        <template v-slot:top>
            <v-flex class="pt-5">
                <v-text-field
                    class="mx-4 mt-2"
                    placeholder="Seach Lesson"
                    v-model="search"
                ></v-text-field>          
            </v-flex>
        </template>
        </v-data-table>
        <v-flex>
            <v-btn color="primary" block @click="submit()">Submit Lessons</v-btn>
        </v-flex>
    </v-flex>
</template>

<script>
export default {
    props: ['data'],
    data(){
        return {
            games: [],
            selected: [],
            search: '',
            pagination: {
                sortBy: 'name',
                amount: 10
            },
            gamesAllowsHeaders: [
                { text: 'Name', value: 'name' },
                { text: 'Module', value: 'module.name' },
            ],
            role: Auth.role()
        }
    },
    created(){
        this.getLessons()
        this.selected = this.data.lessons_allowed;
    },
    methods:{
        getLessons(){
            axios.get(`/api/cms/lessons/${1000}?page=${1}`).then(res => {     
                this.games = res.data;         
            }).catch(err => {
                Alert.on(['error', err.response.data])
                this.$router.go(-1)
            })
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
            else this.selected = this.games.data.slice()
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        submit(){
            axios.post(`/api/cms/classes/lessons`, {id: this.data.id, lessons: this.selected}).then( res => {
                Alert.on(['success', res.data])
            }).catch(err => {
                Alert.on(['error', err.response.data])
            })
        }
    }
}
</script>

<style>

</style>
