<template>
    <div>
      <v-card class="pa-3 mb-2 text-center">
        <v-form @submit.prevent="profileSubmit()" ref="profile">
            <h1 class="headline mb-2">Multi Factor Authentication</h1>
            <p>
              2 factor authentication with google authenticator.
              <br>
              When ever logs in, the user needs to enter the valid code he recived after scanned the QR.
              <br>
              If the user needs a new QR you can send him.
            </p>
            <v-switch v-model="data.active_2fa" class="ma-2 d-flex justify-center" color="success" label="2 Factor Authentication"></v-switch>
            <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
        </v-form>
      </v-card>
      <v-card class="pa-3 mt-4">
        <h1 class="headline">Send QR Code</h1>
        <p>
          Send mail to all the users with in the class with a one time link to receive a new QR code
          <br>
          It might take sometime, so be patient...
        </p>
        <v-btn class="mt-3" :loading="qrloading ? true : false" outlined color="primary" block @click="sendQR()">Send QR Code</v-btn>
      </v-card>
    </div>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      loading: false,
      qrloading: false,
      form: {
        id: null,
        active_2fa: null
      }
    };
  },

  created(){
    this.form.id = this.data.id;
  },

  methods: {
    profileSubmit() {

        this.data.active_2fa = this.data.active_2fa ? 1 : 0;
        if(![0, 1].includes(this.data.active_2fa)) return;

        this.loading = true;
        this.form.active_2fa = this.data.active_2fa;

        axios
          .post(`/api/cms/classes/update-mfa/${this.form.id}`, this.form)
          .then(res => {
            this.loading = false;
            Alert.on(["success", res.data]);
          })
          .catch(err => {
            this.loading = false;
            if (err.response.data.errors)
              this.errors = err.response.data.errors;
            else Alert.on(["error", err.response.data]);
          });
    },
    showInput(val){
      if(val == 'pass') this.vispass = !this.vispass;
      else this.vispassconf = !this.vispassconf;
    },
    sendQR(){
      this.qrloading = true;
      axios.post(`/api/cms/classes/new-qrcode/${this.data.id}`).then( res => {
        this.qrloading = false;
        Alert.on(["success", 'QR Code Sent Successfully']);
      }).catch( err => {
        this.qrloading = false;
        Alert.on(["error", 'Failed To Sent QR Code']);
      })
    }
  }
};
</script>

<style>
</style>
