<template>
    <div>
        <v-flex>
            <v-toolbar flat>
                <v-toolbar-title>
                    Top 10 Popular Challenges
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-icon color="green" style="font-size:3em">sentiment_very_satisfied</v-icon>
            </v-toolbar>
            <apexcharts
                width="100%"
                height="300"
                type="bar"
                :options="populars.chartOptions"
                :series="populars.series"
            ></apexcharts>
        </v-flex>
        
        <br>
        
        <v-flex d-flex>
            <v-flex md6>
                <v-toolbar flat>
                    <v-toolbar-title>
                        Top 5 Hardest Challenges <small>( min 5 attempts for challenge )</small>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-icon color="red" style="font-size:3em">flash_on</v-icon>
                </v-toolbar>
                <apexcharts
                    width="100%"
                    height="300"
                    type="bar"
                    :options="hardest.chartOptions"
                    :series="hardest.series"
                ></apexcharts>
            </v-flex>
            <v-flex md6>
                <v-toolbar flat>
                    <v-toolbar-title>
                        Top 5 Leading Students
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-icon color="blue" style="font-size:3em">emoji_events</v-icon>
                </v-toolbar>
                <apexcharts
                    width="100%"
                    height="300"
                    type="bar"
                    :options="leading.chartOptions"
                    :series="leading.series"
                ></apexcharts>
            </v-flex>
        </v-flex>
        
        <br>

        <v-flex>
            <v-flex md6>
                <v-toolbar flat>
                    <v-toolbar-title>
                        Categories Activities - Total {{ total }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-icon color="amber" style="font-size:3em">view_list</v-icon>
                </v-toolbar>
                <apexcharts type="donut" height="350" :options="categories.chartOptions" :series="categories.series"></apexcharts>
            </v-flex>
        </v-flex>
    </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
export default {
    components: {
        apexcharts: VueApexCharts,
    },

    props: ['data'],

    data(){
        return {
            populars:{
                chartOptions: {
                    colors: ['#1B5E20', '#2E7D32', '#388E3C', '#43A047', '#4CAF50', '#66BB6A', '#81C784', '#66BB6A', '#4CAF50', '#43A047'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "Challenges Plays",
                        data: []
                    }
                ]
            },
            leading:{
                chartOptions: {
                    colors: ['#0D47A1','#1565C0','#1976D2', '#1E88E5', '#42A5F5', '#64B5F6', '#90CAF9', '#80D8FF', '#40C4FF', '#00B0FF', '#0091EA'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "Game Plays",
                        data: []
                    }
                ]
            },
            hardest:{
                chartOptions: {
                    colors: ['#D32F2F', '#E53935', '#EF5350', '#E57373','#EF9A9A'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "% Of Fail",
                        data: []
                    }
                ]
            },
            categories: {
                series: [],
                series_red: [],
                series_blue: [],
                chartOptions: {
                    colors: ['#F44336','#E91E63','#9C27B0','#CDDC39','#2196F3','#00BCD4','#009688', '#8BC34A', '#FFC107', '#FF9800', '#607D8B', '#795548', '#4CAF50'],
                    labels: [],
                    responsive: [{
                        breakpoint: 100,
                        options: {
                        chart: {
                            width: 250
                        },
                        },
                    }],
                    plotOptions: {
                        pie: {
                            size: 140
                        }
                    }
                },
            },
            total: 0
        }
    },

    created(){
        this.getStatistics();
    },

    methods:{
        // submit(){
        //     this.populars.chartOptions.xaxis.categories = [];
        //     this.populars.series[0].data = [];
        //     this.getStatistics();
        // },

        getStatistics(){
            axios.get(`/api/cms/classes/${this.$route.params.slug}/statistics`).then(res => {
             
                // Most popular challenges 
                this.setPopulars(res.data.populars);
             
                // Most hardest challenges 
                this.setHardest(res.data.allChallenges);
             
                // Most leads challenges 
                this.setLeading(res.data.totalScores);
             
                // Most categories challenges 
                this.setCategories(res.data.categories);
                
            })
        },

        setPopulars(data){
            
            data.forEach(e => {
                this.populars.chartOptions.xaxis.categories.push(e.name)
                this.populars.series[0].data.push(e.total)
            });
        },

        setHardest(data){

            let arr = {};
            
            data.forEach(e => {
                
                if(arr[e.name]){

                    if(e.status) arr[e.name].wons++
                    else arr[e.name].lost++
                    arr[e.name].plays++

                }else{
                    arr[e.name] = {
                        name: e.name,
                        wons: 0,
                        lost: 0,
                        plays: 1
                    };

                    if(e.status) arr[e.name].wons++
                    else arr[e.name].lost++
                }

            });
            

            for (let key of Object.keys(arr)) {
                
                // ***** Should be at least from 4 attempts 
                if(arr[key].plays > 4){ 
                // if(arr[key].plays > 0){
                    // Calc % fail, total is the % of fail
                    arr[key].total = Math.floor(arr[key].lost / (arr[key].wons + arr[key].lost) * 100);
                    // Change NaN to 0, to the lowest in order
                    if(isNaN(arr[key].total)) arr[key].total = 0;
                }else{
                    arr[key].total = 0;
                }
            }

            // Sort the challenges by the total
            let sorted = Object.keys(arr).sort(function(a,b){
                return  arr[b].total - arr[a].total;
            })

            // leave on the top 5 with the highest %
            sorted.length = 5;

            // enter the data to the graph
            for(let i = 0; i < 5; i++){
                if(arr[sorted[i]].total > 4){
                    this.hardest.chartOptions.xaxis.categories.push(`${arr[sorted[i]].name} - ${arr[sorted[i]].plays} attempts`)
                    this.hardest.series[0].data.push(arr[sorted[i]].total)
                }
            }

        },

        setLeading(data){
            for(let i = 0; i < data.length; i++){
                this.leading.chartOptions.xaxis.categories.push(`${data[i].name} - ${data[i].games} Challenges`)
                this.leading.series[0].data.push(data[i].total_points)
            }
        },

        setCategories(data){
            for(let i = 0; i < data.length; i++){
                this.total+= data[i].total;
                this.categories.chartOptions.labels.push(`${data[i].name}`)
                this.categories.series.push(data[i].total)
            }  
        }
    }
}
</script>

<style scoped>

</style>