<template>
   <v-flex v-if="data">
          <v-data-table
            :loading="loading"
            v-model="selected"
            :headers="headers"
            :items="data.data"
            :pagination.sync="pagination"
            :sort-by="[]"
            @update:options="sortUpdated"
            show-select
            :search="search"
            item-key="id"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-flex class="pa-3" d-flex align-center>
                  <h2 class="headline">Total {{data.total}} {{type}}</h2>
                  <v-flex class="text-center text-md-right pa-3">
                    <v-btn
                    title="Students 10"
                    @click="paginatePage(10)"
                    :color="pagination.amount == 10 ? 'primary' : 'blue lighten-4'"
                    class="mr-2"
                    fab
                    small
                    >10</v-btn>
                    <v-btn
                    title="Students 20"
                    @click="paginatePage(20)"
                    :color="pagination.amount == 20 ? 'primary' : 'blue lighten-4'"
                    class="mr-2"
                    fab
                    small
                    >20</v-btn>
                    <v-btn
                    title="Students 50"
                    @click="paginatePage(50)"
                    :color="pagination.amount == 50 ? 'primary' : 'blue lighten-4'"
                    class="mr-2"
                    fab
                    small
                    >50</v-btn>
                </v-flex>
              </v-flex>
            </template>
            <template v-slot:headers="props">
              <tr>
                <th>
                  <v-checkbox
                    :input-value="props.all"
                    :indeterminate="props.indeterminate"
                    primary
                    hide-details
                    @click.stop="toggleAll()"
                  ></v-checkbox>
                </th>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                >
                  <v-icon small>arrow_upward</v-icon>
                  {{ header.text }}
                </th>
              </tr>
            </template>

            <template v-slot:item.status="props">
              <v-icon
                large
                class="cms_status"
                @click="changeStatus(0, props.item.id)"
                v-if="props.item.status"
                color="success"
              >toggle_on</v-icon>
              <v-icon
                large
                class="cms_status"
                @click="changeStatus(1, props.item.id)"
                v-else
                color="red"
              >toggle_off</v-icon>
            </template>

            <template v-slot:item.actions="props">
              <v-icon
                v-for="(action,i) in actionBtns"
                :key="i"
                :class="{'mr-2': i != actionBtns.length - 1}"
                @click="changeRoute('', props.item.id)"
                :color="btnColor(action)"
              >{{action}}</v-icon>
            </template>
          </v-data-table>
          <v-layout class="mb-2" d-flex wrap justify-content-between>
                <v-flex xs12 md6 d-flex align-center>
                <v-select
                    solo
                    class="mt-3 mr-4"
                    :items="actions"
                    v-model="select"
                    label="Multiple Actions"
                ></v-select>
                <v-btn color="primary" style="height:52%" class="mb-4" @click="MultiAction()">Submit</v-btn>
                </v-flex>
                <v-flex xs12 md6 style="display:inline-block" class="mt-4 text-center text-md-right">
                <v-pagination
                    v-if="pages.length > 1"
                    v-model="page"
                    :length="pages[pages.length - 1]"
                    :total-visible="10"
                    @input="getUsers(page)"
                ></v-pagination>
                </v-flex>
            </v-layout>
        </v-flex>
</template>

<script>
export default {
    props: ['type'],
    data() {
        return {
        tab: 'Details',
        data: null,
        games: null,
        form: null,
        colleges: [],
        img: IMG + "cats/",
        selected: [],
        search: "",
        loading: false,
        dialogClass: false,
        deleteDialog: false,
        pagination: {
            sortBy: "name",
            amount: 10
        },
        headers: [],
        page: 0,
        pages: [],
        actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
        select: "Choose An Action",
        rules: {
            category: v => !!v || "Category is Required",
            teacher: v => !!v || "Teacher is Required",
            class: v => !!v || "Class is Required"
        },
        actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
        actionBtns: ["visibility"],
        btnColors: {
            edit: "success",
            visibility: "info",
            delete: "red"
        },
        sortBy: {
          name: '',
          order: true
        },
        errorsdate: false
        };
    },
    created() {
        Load.on();
        this.setHeaders();
        this.getUsers(1);
    },
    methods: {
        getUsers(page) {
          this.loading = true;
          this.page = page;
          axios
              .get(
              `/api/cms/classes/${this.type}/${
                  window.location.pathname.split("/")[4]
              }/${this.pagination.amount}?page=${page}&sortBy=${this.sortBy.name}&sortOrder=${this.sortBy.order}`
              )
              .then(res => {
              Load.off();
              this.loading = false;
              this.data = res.data;

              this.pages = Pagination.pages(res.data);
              });
        },
        async setHeaders(){
          if(this.type == 'students'){
            this.headers = [
                { text: "Name", value: "name" },
                { text: "Email", value: "email" },
                { text: "phone", value: "phone" },
                { text: "Points", value: "total_points" },
                { text: "Challenges", value: "games" },
                { text: "Status", value: "status" },
                { text: "Actions", value: "actions" }
            ];
          }else{
              this.headers = [
                  { text: "Name", value: "name" },
                  { text: "Role", value: "role" },
                  { text: "Email", value: "email" },
                  { text: "phone", value: "phone" },
                  { text: "Status", value: "status" },
                  { text: "Actions", value: "actions" }
              ];

          }
        },
        toggleAll() {
        if (this.selected && this.selected.length) this.selected = [];
        else this.selected = this.data.data.slice();
        },
        changeSort(column) {
        if (this.pagination.sortBy === column) {
            this.pagination.descending = !this.pagination.descending;
        } else {
            this.pagination.sortBy = column;
            this.pagination.descending = false;
        }
        },
        btnColor(btn) {
        const btnColors = this.btnColors,
            keys = Object.keys(btnColors);

        for (let i = 0; i < keys.length; i++)
            if (btn == keys[i]) return btnColors[keys[i]];

        return "info";
        },
        MultiAction(v) {
        if (this.select == "Delete" && !this.deleteDialog) {
            this.deleteDialog = true;
        } else {
            if (this.select == "Choose An Action")
            return Alert.on(["error", "Sorry, you haven't chose any action"]);
            if (!this.selected.length) {
            this.deleteDialog = false;
            return Alert.on(["error", "Sorry, you haven't chose any student"]);
            } else {
            }
            this.deleteDialog = false;
            var data = [];
            for (let i = 0; i < this.selected.length; i++) {
            data.push(this.selected[i].id);
            }
            axios
            .post(`/api/cms/students/multiple`, { mode: this.select, data: data })
            .then(res => {
                data.forEach(e => {
                if (this.data.data) {
                    if (this.select == "Delete") {
                    let index = this.data.data.forEach((v, i) => {
                        if (e == v.id) this.data.data.splice(i, 1);
                    });
                    } else {
                    var status = this.select == "Active" ? 1 : 0;
                    let index = this.data.data.forEach((v, i) => {
                        if (e == v.id) v.status = status;
                    });
                    }
                }
                });
                Alert.on(["success", res.data]);
                this.selected = [];
                this.select = "Choose An Action";
            })
            .catch(err => {
                Alert.on(["error", err.response.data.errors.data[0]]);
                this.select = "Choose An Action";
            });
        }
        },
        statusSubmit(status) {
        // class status
        this.form.status = status;
        axios
            .post("/api/cms/classes/status", { id: this.form.id, status: status })
            .then(res => {
            Alert.on(["success", res.data]);
            });
        },
        changeStatus(status, id) {
        // student status
        for (let i = 0; i < this.data.data.length; i++) {
            if (this.data.data[i].id == id) {
            this.data.data[i].status = status;
            break;
            }
        }
        axios
            .post("/api/cms/students/status", { id: id, status: status })
            .then(res => {
            Alert.on(["success", res.data]);
            });
        },
        changeRoute(to, id) {
        this  .$router.push(`/CMS/${this.type}/${to + id}`);
        },
        paginatePage(num) {
          this.pagination.amount = num;
          this.getUsers(1);
        },
        deleteClass() {
          this.dialogClass = false;
          axios
            .post("/api/cms/classes/delete", { id: this.form.id })
            .then(res => {
            Alert.on(["success", res.data]);
            this.$router.push("/CMS/settings/classes");
            })
            .catch(err => {
            Alert.on(["error", err.response.data]);
            });
        },
        sortUpdated(e){
          if(['actions'].includes(e.sortBy[0])) return;
          if(e.sortBy.length){
            this.sortBy = {
              name: e.sortBy[0],
              order: !this.sortBy.order
            };
            this.getUsers()
          }
        }
    }
};
</script>

<style>
</style>

