<template>
  <v-navigation-drawer
    id="sidebar"
    v-model="drawer"
    :mini-variant="miniVariant"
    :clipped="clipped"
    fixed
    app
    width="300"
    class="background"
  >
    <v-toolbar flat class="background">
      <v-list class="mx-auto">
        <v-list-item-title class="title" v-if="!miniVariant">
          <h1>{{role}} Panel</h1>
        </v-list-item-title>
        <v-list-item-title class="title" v-else>
          <h1>AP</h1>
        </v-list-item-title>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>

    <v-list>
      <v-list-group
        v-for="link in filteredLinks"
        :key="link.title"
        :prepend-icon="link.icon"
        :title="link.title"
      >
        <template v-slot:activator>
          <v-list-item-content :class="{link: !link.items}" @click="changeRoute(link)">
            <v-list-item-title class="font-weight-medium" :class="link.title == 'Support' && supports ? 'red--text' : ''">{{ link.title }} <span v-if="link.title == 'Support'"> ( {{supports}} )</span></v-list-item-title>
          </v-list-item-content>
        </template>
        <template v-if="link.items">
          <v-list-item
            :to="`/CMS/${subLink.url}`"
            v-for="subLink in link.items"
            :key="subLink.title"
            :title="subLink.title"
          >
            <v-list-item-icon>
              <v-icon>{{subLink.icon}}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="font-weight-medium body-1" v-text="subLink.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>


<script>
import { isArray } from 'util';
export default {
  data: () => ({
    links: [
      // DASHBOARD
      {
        title: "Dashboard",
        titleHover: "Dashboard",
        cat: "Dashboard",
        link: true,
        url: "",
        icon: "dashboard",
        roles: ["admin", "developer"]
      },
      // STUDENTS
      {
        title: "Students",
        titleHover: "Students",
        cat: "Students",
        link: true,
        url: "students/all",
        icon: "people",
        roles: ["admin", "master"],
        items: [
          {
            title: "All Students",
            titleHover: "All Students",
            cat: "Students",
            link: true,
            url: "students/all",
            icon: "people"
          },
          {
            title: "Waiting List",
            titleHover: "Waiting Students",
            cat: "Students",
            link: true,
            url: "students/waiting",
            icon: "pan_tool"
          },
          {
            title: "Active",
            titleHover: "Active Students",
            cat: "Students",
            link: true,
            url: "students/active",
            icon: "visibility"
          },
          {
            title: "Inactive",
            titleHover: "Inactive Students",
            cat: "Students",
            link: true,
            url: "students/inactive",
            icon: "visibility_off"
          }
        ]
      },
      // CATEGORIES
      {
        title: "Categories",
        titleHover: "Categories",
        cat: "Categories",
        link: true,
        url: "categories",
        status: Auth.logged(),
        roles: ["admin", "developer"],
        icon: "view_list",
        items: [
          {
            title: "New",
            titleHover: "Categories",
            cat: "Categories",
            link: true,
            url: "categories/new",
            icon: "add_circle"
          },
          {
            title: "All",
            titleHover: "All Categories",
            cat: "Categories",
            link: true,
            url: "categories",
            icon: "visibility"
          }
        ]
      },
      // CHALLENGES
      {
        title: "Challenges",
        titleHover: "Challenges",
        cat: "Challenges",
        link: true,
        url: "games/active",
        icon: "videogame_asset",
        roles: ["admin", "developer"],
        items: [
          {
            title: "New",
            titleHover: "New Challenges",
            cat: "Challenges",
            link: true,
            url: "games/new",
            icon: "add_circle"
          },
          {
            title: "Active",
            titleHover: "Active Challenges",
            cat: "Challenges",
            link: true,
            url: "games/active",
            icon: "visibility"
          },
          {
            title: "Inactive",
            titleHover: "Inactive Challenges",
            cat: "Challenges",
            link: true,
            url: "games/inactive",
            icon: "visibility_off"
          },
        ]
      },
      // PRACTICE ARENA
      {
        title: "Practice Arena",
        titleHover: "Practice Arena",
        cat: "Practice Arena",
        link: true,
        url: "modules",
        icon: "gamepad",
        roles: ["admin", "developer"],
        items: [
          {
            title: "New",
            titleHover: "New Module",
            cat: "Practice Arena",
            link: true,
            url: "modules/new",
            icon: "add_circle"
          },
          {
            title: "Modules",
            titleHover: "All Modules",
            cat: "Practice Arena",
            link: true,
            url: "modules",
            icon: "book"
          },
          {
            title: "Lessons",
            titleHover: "All Lessons",
            cat: "Practice Arena",
            link: true,
            url: "lessons",
            icon: "description"
          }
        ]
      },
      // CYBEPEDIA
      {
        title: "Cyberpedia",
        titleHover: "Cyberpedia",
        cat: "Cyberpedia",
        link: true,
        url: "cyberpedia/terms",
        icon: "library_books",
        roles: ["admin", "editor"],
        items: [
          {
            title: "Categories",
            titleHover: "All categories",
            cat: "Cyberpedia",
            link: true,
            url: "cyberpedia/categories",
            icon: "book"
          },
          {
            title: "Terms",
            titleHover: "All Terms",
            cat: "Cyberpedia",
            link: true,
            url: "cyberpedia/terms",
            icon: "text_fields"
          }
        ]
      },
      // USERS
      {
        title: "Users",
        titleHover: "Users",
        cat: "Users",
        link: true,
        url: "users/active",
        icon: "people_outline",
        roles: ["admin", "master"],
        items: [
          {
            title: "New",
            titleHover: "New Users",
            cat: "Users",
            link: true,
            url: "users/new",
            icon: "add_circle"
          },
          {
            title: "Active",
            titleHover: "Active Users",
            cat: "Users",
            link: true,
            url: "users/active",
            icon: "visibility"
          },
          {
            title: "Inactive",
            titleHover: "Inactive Users",
            cat: "Users",
            link: true,
            url: "users/inactive",
            icon: "visibility_off"
          }
        ]
      },
      // SUBSCRIPTIONS
      {
        title: "Subscriptions",
        titleHover: "Subscriptions",
        cat: "Subscriptions",
        link: true,
        url: "orders",
        icon: "card_giftcard",
        roles: ["admin"],
        items: [
          {
            title: "Plans",
            titleHover: "Plans",
            cat: "Plans",
            link: true,
            url: "plans",
            icon: "local_offer"
          },
          // {
          //   title: "Subscriptions Types",
          //   titleHover: "Subscriptions Types",
          //   cat: "Subscriptions",
          //   link: true,
          //   url: "subscriptions",
          //   icon: "list"
          // },
          {
            title: "Orders",
            titleHover: "Orders",
            cat: "Subscriptions",
            link: true,
            url: "orders",
            icon: "shopping_cart"
          },
        ]
      },
      // INSTITUTIONS
      {
        title: "Institutions",
        titleHover: "Institutions",
        cat: "Institutions",
        link: true,
        url: "institutions/classes",
        icon: "location_city",
        roles: ["admin"],
        items: [
          {
            title: "Classes",
            titleHover: "Classes Settings",
            cat: "Settings",
            link: true,
            url: "institutions/classes",
            icon: "store",
            roles: ["admin"]
          },
          {
            title: "Colleges",
            titleHover: "Colleges Settings",
            cat: "Settings",
            link: true,
            url: "institutions/colleges",
            icon: "apartment",
            roles: ["admin"]
          },
          {
            title: "Countries",
            titleHover: "Countries Settings",
            cat: "Settings",
            link: true,
            url: "institutions/countries",
            icon: "flag",
            roles: ["admin"]
          },
          {
            title: "Businesses",
            titleHover: "Businesses Settings",
            cat: "Settings",
            link: true,
            url: "institutions/businesses",
            icon: "business",
            roles: ["admin"]
          },
        ]
      },
      // SETTINGS
      {
        title: "Settings",
        titleHover: "Settings",
        cat: "Settings",
        link: true,
        url: "settings/tags",
        icon: "settings",
        roles: ["admin"],
        items: [
          {
            title: "Tags",
            titleHover: "Tags",
            cat: "Settings",
            link: true,
            url: "settings/tags",
            icon: "label"
          },
          {
            title: "Avatars",
            titleHover: "Avatars Settings",
            cat: "Settings",
            link: true,
            url: "settings/Avatars",
            icon: "image",
            roles: ["admin"]
          },
          {
            title: "Levels",
            titleHover: "Levels Settings",
            cat: "Settings",
            link: true,
            url: "settings/Levels",
            icon: "school",
            roles: ["admin"]
          },
          {
            title: "Pod Descriptor",
            titleHover: "Pod Descriptor",
            cat: "Settings",
            link: true,
            url: "settings/pod-descriptor",
            icon: "school",
            roles: ["admin"]
          },
        ]
      },
      // POLICIES
      {
        title: "Policies",
        titleHover: "Policies",
        cat: "Policies",
        link: true,
        url: "policies/tnc",
        icon: "description",
        roles: ["admin"],
        items: [
          {
            title: "Terms & Conditions",
            titleHover: "T&C Policies",
            cat: "Policies",
            link: true,
            url: "policies/tnc",
            icon: "title"
          },
          {
            title: "Privacy Policy",
            titleHover: "Privacy Policies",
            cat: "Policies",
            link: true,
            url: "policies/privacy",
            icon: "person"
          },
          {
            title: "Cookies",
            titleHover: "Cookies Policies",
            cat: "Policies",
            link: true,
            url: "policies/cookies",
            icon: "settings_input_svideo"
          }
        ]
      },
      // NOTIFICTIONS, NOT VALID FOR NOW
      // {title: 'Notification', titleHover: 'Notifications', cat: 'Notification', link: true, url: 'notifications', icon: 'notifications', roles: ['teacher', 'master', 'admin'], items: [
      //     {title: 'New', titleHover: 'New Notification', cat: 'Notification', link: true, url: 'notifications/new' , icon: 'add_circle'},
      //     {title: 'All Notifications', titleHover: 'Notifications', cat: 'Notification', link: true, url: 'notifications', icon: 'notifications'},
      //     {title: 'Notification Types', titleHover: 'Notification Types', cat: 'Notification', link: true, url: 'notification-types' , icon: 'list', roles: ['admin']},
      // ]},
      // SIDEBAR 2 For Teachers / Masters
      {
        title: "Classes",
        titleHover: "Classes Institutions",
        cat: "Institutions",
        link: true,
        url: "institutions/classes",
        icon: "store",
        roles: ["master", "teacher"]
      },
      {
        title: "All Students",
        titleHover: "All Students",
        cat: "Students",
        link: true,
        url: "students/all",
        icon: "people",
        roles: ["teacher"]
      },
      {
        title: "Waiting Students",
        titleHover: "Waiting Students",
        cat: "Students",
        link: true,
        url: "students/waiting",
        icon: "pan_tool",
        roles: ["teacher"]
      },
      {
        title: "Active Students",
        titleHover: "Active Students",
        cat: "Students",
        link: true,
        url: "students/active",
        icon: "visibility",
        roles: ["teacher"]
      },
      {
        title: "Inactive Students",
        titleHover: "Inactive Students",
        cat: "Students",
        link: true,
        url: "students/inactive",
        icon: "visibility_off",
        roles: ["teacher"]
      },
      {
        title: "Support",
        titleHover: "Support",
        cat: "Support",
        link: true,
        url: "supports",
        icon: "help",
        roles: ["admin", "teacher", "master"]
      },
    ],
    clipped: true,
    drawer: true,
    fixed: false,
    miniVariant: false,
    openedMenu: null,
    activeLink: "/CMS",
    notifications: null,
    role: Auth.role(),
    supports: 0
  }),
  created() {
    EventBus.$on("sidebar", e => {
      this.miniVariant = !this.miniVariant;
    });
    EventBus.$on("supportStatus", data => {
      let count = 0;
      for(let i = 0; i < data.length; i++){
        if(data[i].status == 0) count++
      }      
      this.supports = count;
    });
    EventBus.$on('refreshSupports', bool =>{
      this.getSupports();
    });
    this.getSupports()
  },
  computed: {
    filteredLinks() {
      return this.links.filter(link => link.roles.includes(this.role));
    }
  },
  methods: {
    changeRoute(link) {
      if (link.link) this.$router.push(`/CMS/${link.url}`);
      this.openedMenu != link.title
        ? (this.openedMenu = link.cat)
        : (this.openedMenu = null);
      this.activeLink = link.url;
    },
    async getSupports(){
        if(['admin', 'teacher', 'master'].includes(this.role)){
          axios.get('/api/cms/support/count').then( res => {
            this.supports = res.data;          
          })
        }
      }
  },
  destroyed() {
    EventBus.$emit("sidebar", true);
  },
};
</script>

<style scoped>
h1 {
  font-size: 1em;
  letter-spacing: 1.2px;
}
.active_link {
  background-color: rgb(33, 150, 243);
}
.sublink {
  background-color: rgba(208, 220, 230, 0.4);
}
#sidebar {
  margin-top: 64px !important;
  height: calc(100vh - 64px) !important;
}

/* .background{
background: linear-gradient(90deg, rgb(254, 249, 196), 
        rgb(150, 224, 216)) !important;
} */

* {
  font-size: 1.1em;
  letter-spacing: 1px;
}

.font-weight-medium {
  font-size: 0.8em;
}
</style>


<style lang='scss'>
.link + .v-list-item__icon {
  display: none;
}

.v-list-group {
  .v-list-group__items {
    div {
      a {
        padding-left: 40px;
      }
    }
  }
}
</style>