<template>
  <v-flex>
    <v-toolbar class="wrapper">
      <v-app-bar-nav-icon class="ml-1 mr-3" @click="sidebar()"></v-app-bar-nav-icon>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          text
          @click="changeRoute('/CMS/users/' + id)"
          :color="`${dark ? 'white' : ''}`"
          class="link"
          title="Profile"
        >{{name}}</v-btn>
        <v-btn text @click="changeRoute('/')" class="link" color="amber darken-2">Website</v-btn>
        <!-- <v-btn
          v-if="role == 'admin'"
          text
          class="link"
          color="primary"
          title="full search in the system"
          @click="dialogSearch = true"
        >Full Search</v-btn> -->
      </v-toolbar-items>
      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-up">
        <v-btn text @click="changeRoute('/CMS/users/' + id)" class="link" title="Profile">
          <v-icon color="dark">person</v-icon>
        </v-btn>
        <v-btn text @click="changeRoute('/')" class="link">
          <v-icon color="amber darken-2">laptop</v-icon>
        </v-btn>
        <v-btn text @click="logout()" class="link">
          <v-icon color="red darken-2">redo</v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          :color="`${dark ? '#fff' : '#000'}`"
          app
          text
          @click="dayNight"
          title="Day Night"
          class="link"
        >
          <v-icon color="dark">nights_stay</v-icon>
        </v-btn>
        <v-btn v-if="!screenBtn" text @click="fullScreen()" title="Full Screen" class="link">
          <v-icon style="font-size:2.5em" color="success">fullscreen</v-icon>
        </v-btn>
        <v-btn v-else text @click="closeFullscreen()" title="Close Full Screen" class="link">
          <v-icon style="font-size:2.5em" color="warning">fullscreen_exit</v-icon>
        </v-btn>
        <v-btn text @click="logout()" class="link" color="red darken-2">Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <!-- <v-dialog v-model="dialogSearch" max-width="500px">
      <v-card class="pa-3">
        <h1 class="text-center headline">Full Search In The System</h1>
        <v-select
          :items="cats"
          v-model="form.category"
          label="Search By"
          @change="form.search = '', result = []"
        ></v-select>
        <v-select
          :items="result"
          hint="Must choose a category to search by"
          item-text="name"
          item-value="id"
          v-model="form.search"
          persistent-hint
          label="search"
          autocomplete
          @input.native="search"
        ></v-select>
        <span class="red--text" v-if="error">{{error}}</span>
        <v-btn color="primary" block @click="showResult()">show</v-btn>
        <v-btn text type="button" @click="dialogSearch = false" block>Close</v-btn>
      </v-card>
    </v-dialog> -->
  </v-flex>
</template>

<script>
import debounce from "debounce";
export default {
  data() {
    return {
      dark: false,
      name: Auth.name(),
      roles: ["admin", "teacher", "master"],
      role: Auth.role(),
      id: Auth.id(),
      logged: Auth.logged(),
      sidebarStatus: true,
      screenBtn: false,
      cats: ["games", "categories", "students", "users", "modules", "lessons"],
      form: {
        category: "",
        search: ""
      },
      dialogSearch: false,
      result: [],
      error: null
    };
  },
  created() {
    if(!Auth.id()) return this.$router.push('/login');
    EventBus.$emit("cms", true);
    this.initDayNight();
  },
  methods: {
    dayNight() {
      this.dark = !this.dark;
      this.initDayNight();
    },
    initDayNight() {
      this.$vuetify.theme.dark = this.dark;
      document.body.style.backgroundColor = this.dark ? "#303030" : "#fff";
    },
    changeRoute(to) {
      this.$router.push(to);
    },
    sidebar() {
      this.sidebarStatus = !this.sidebarStatus;
      EventBus.$emit("sidebar", this.sidebarStatus);
    },
    logout() {
      Auth.logout();
      this.$router.push("/");
    },
    fullScreen() {
      this.screenBtn = true;
      var elem = document.documentElement;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.msRequestFullscreen) {
        elem.msRequestFullscreen();
      } else if (elem.mozRequestFullScreen) {
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
      }
    },
    closeFullscreen() {
      this.screenBtn = false;
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.mozCancelFullScreen) {
        /* Firefox */
        document.mozCancelFullScreen();
      } else if (document.webkitExitFullscreen) {
        /* Chrome, Safari and Opera */
        document.webkitExitFullscreen();
      } else if (document.msExitFullscreen) {
        /* IE/Edge */
        document.msExitFullscreen();
      }
    },
    search(e) {
      axios
        .get(`/api/cms/full-search/${this.form.category}/${e.target.value}`)
        .then(res => {
          this.result = res.data;
        })
        .catch(err => {
          if (err.response.data.errors) this.errors = err.response.data.errors;
        });
    },
    showResult() {
      if (!this.form.category)
        return (this.error = "Must choose a category to search by");
      if (!this.form.search)
        return (this.error = "Must type a word/s to search");
      this.error = null;
      let to = this.form.category;
      this.$router.push(`/CMS/search?to=${to}&id=${this.form.search}`);
      this.dialogSearch = false;
    }
    // search(e){
    //     this.result = this.loadResult(e);
    // },
    // loadResult: debounce((e) => {
    //     const category = document.getElementById('category').innerHTML;
    //     if (e.target.value.length > 1) {
    //         axios.get(`/api/cms/full-search/${category}/${e.target.value}`).then(res => {
    //             console.log(res.data);
    //             return res.data;
    //             // this.result = res.data;
    //         }).catch(err => {
    //             console.log(err.response.data);
    //             if(err.response.data.errors) this.errors = err.response.data.errors
    //         })
    //     }
    // }, 300)
  },
  destroyed(){
    EventBus.$emit("sidebar", false);
  }
};
</script>

<style scoped>
.link {
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #353535;
}

.dark_theme {
  background-color: #222 !important;
}

.wrapper{
  position: fixed;
  width: 100vw;
  z-index: 5;
}
</style>
