<template>
  <div>
    <v-flex v-if="data">

      <v-flex d-flex v-if="multisort">
        <v-flex md3 xl1>
          <v-select
            :items="searchData.items"
            v-model="searchData.name"
            outlined
            height="30"
            label="Search By"
          ></v-select>
        </v-flex>
        <v-flex md8 xl10 offset-md1>
          <v-autocomplete
            v-if="searchApi != null"
            @change="updateData()"
            :items="searchData.data"
            :item-text="searchData.name"
            item-value="id"
            @update:search-input="autocomplete"
            outlined
            class="pt-0"
            v-model="searchData.id"
            :label="`Search ${title.toLowerCase()}`"
            v-show="title != 'Orders'"
          ></v-autocomplete>
        </v-flex>
      </v-flex>

      <v-flex v-else>
        <v-autocomplete
          v-if="searchApi != null"
          @change="updateData()"
          :items="searchData.data"
          :item-text="searchData.name"
          item-value="id"
          @update:search-input="autocomplete"
          outlined
          class="pt-0"
          v-model="searchData.id"
          :label="`Search ${title.toLowerCase()}`"
          v-show="title != 'Orders'"
        ></v-autocomplete>
      </v-flex>

      <v-flex class="mb-3" v-if="options">
        <v-btn v-for="(option, i) in options" :key="i" :color="option.color"
               dark class="mx-2" :outlined="option.value != requestValue"
               @click="changeReqVal(option.value)">{{option.title}}
        </v-btn>
      </v-flex>

      <v-data-table
        :loading="loading"
        v-model="selected"
        :headers="headers"
        :items="data.data"
        :items-per-page="perPage"
        :sort-by="[]"
        hide-default-footer
        show-select
        :search="search"
        item-key="id"
        class="elevation-1"
        @update:options="sortUpdated"
        disable-initial-sort
      >
        <template v-slot:top>
          <v-flex class="px-5 py-3">
            <v-text-field class="pt-0" v-model="search"
                          :label="`search from ${title.toLowerCase()}`"></v-text-field>
          </v-flex>
        </template>

        <template v-if="countries || policy"
                  v-slot:header.data-table-select></template>
        <template v-if="countries || policy"
                  v-slot:item.data-table-select></template>

        <template v-slot:item.image="props">
          <template v-if="props.value">
            <img
              @click="chosenImage = img + props.item.image, dialogImage = true"
              class="cms_small_img zoom"
              :src="img + props.value"
            />
          </template>
        </template>

        <template v-slot:item.email_verified_at="props">
          <p :class="props.item.email_verified_at ? '' : 'red--text'">
            {{props.item.email_verified_at ? time(props.item.email_verified_at)
            : "Not Verified"}}</p>
        </template>

        <template v-slot:item.points="props">
          <p>{{props.item.points ? props.item.points : 0}}</p>
        </template>

        <template v-slot:item.members="props">
          <p>{{props.item.members == -1 ? "Unlimited" : props.item.members}}</p>
        </template>

        <template v-slot:item.challenges="props">
          <p>{{props.item.challenges == -1 ? "Unlimited" :
            props.item.challenges}}</p>
        </template>

        <template v-slot:item.modules="props">
          <p>{{props.item.modules == -1 ? "Unlimited" : props.item.modules}}</p>
        </template>

        <template v-slot:item.created_at="props">
          {{time(props.item.created_at)}}
        </template>

        <template v-slot:item.status="props">
          <v-icon
            large
            class="cms_status"
            @click="changeStatus(0, props.item.id)"
            v-if="props.item.status"
            color="success"
          >toggle_on
          </v-icon>
          <v-icon
            large
            class="cms_status"
            @click="changeStatus(1, props.item.id)"
            v-else
            color="red"
          >toggle_off
          </v-icon>
        </template>

        <template v-slot:item.actions="props">
          <v-icon
            v-for="(action,i) in actionBtns"
            :key="i"
            :class="{'mr-2': i != actionBtns.length - 1}"
            @click="actionHandle(props, $event)"
            :color="btnColor(action)"
          >{{action}}
          </v-icon>
        </template>

        <template v-slot:item.start_at="props">
          <span>{{(props.item.start_at && props.item.start_at != "0000-00-00") ? props.item.start_at : "No Date"}}</span>
        </template>
        <template v-slot:item.end_at="props">
          <span>{{(props.item.end_at && props.item.end_at != "0000-00-00") ? props.item.end_at : "No Date"}}</span>
        </template>

        <template v-slot:item.support_content="props">
          <div class="short">{{ props.item.support_content &&
            props.item.support_content.length > 49 ?
            props.item.support_content.substring(0, 50) + "..." :
            props.item.support_content }}
          </div>
        </template>

        <template v-slot:item.content="props">
          <div class="short"
               v-html="props.item.content && props.item.content.length > 49 ? props.item.content.substring(0, 50) + '...' : props.item.content"></div>
        </template>

        <template v-slot:item.content_heb="props">
          <div class="short"
               v-html="props.item.content_heb && props.item.content_heb.length > 49 ? props.item.content_heb.substring(0, 50) + '...' : props.item.content_heb"></div>
        </template>


        <template v-slot:item.send_support="props">
          <v-btn dark rounded color="blue"
                 @click="handleMondayDialog({reporter:{email:props.item.email, msg: props.item.support_content}, category: props.item.category.id}), dialogMonday = true">
            Send To
            Monday
          </v-btn>
        </template>

      </v-data-table>

      <v-layout class="mb-2" d-flex wrap justify-content-between>
        <v-flex v-if="!policy" xs12 md6 d-flex align-center>
          <v-select
            solo
            class="mt-3 mr-4"
            :items="actions"
            v-model="select"
            label="Multiple Actions"
          ></v-select>
          <v-btn color="primary" style="height:52%" class="mb-4"
                 @click="MultiAction()">Submit
          </v-btn>
        </v-flex>
        <v-flex xs12 md6 style="display:inline-block"
                class="mt-4 text-center text-md-right">
          <v-pagination
            v-if="pages.length > 1"
            v-model="page"
            :length="pages[pages.length - 1]"
            :total-visible="10"
            @input="getData(page)"
          ></v-pagination>
        </v-flex>
      </v-layout>

    </v-flex>

    <v-flex v-else>
      <v-data-table
        :loading="loading"
        hide-default-footer
      >
      </v-data-table>
    </v-flex>

    <v-dialog v-model="deleteDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Delete {{title}}</v-card-title>
        <v-divider class="my-3"></v-divider>
        <v-card-text>Are You sure You want to delete the {{title}}?
        </v-card-text>
        <v-card-actions>
          <v-btn color="green darken-1" text @click="MultiAction()">Accept
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="deleteDialog = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-if="editDialog" v-model="editDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Edit Dialog</v-card-title>
        <v-divider class="my-3"></v-divider>
        <v-form class="px-3 py-2" @submit.prevent="submit()" ref="update">
          <v-text-field label="Level"
                        v-model="editDialog.data.level"></v-text-field>
          <v-text-field
            label="Points"
            v-model="editDialog.data.points"
          ></v-text-field>

          <img v-if="editDialog.data.image" :src="img + editDialog.data.image"
               class="big_img" alt/>
        </v-form>
        <v-card-actions>
          <v-btn color="green darken-1" text @click="submitUpdate()">Accept
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="editDialog = false">Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogImage" max-width="1200">
      <v-card class="px-0 py-0">
        <v-divider></v-divider>
        <v-card-text class="px-0">
          <img class="cms_big_img" :src="chosenImage" alt/>
        </v-card-text>
        <v-card-actions>
          <v-btn text block @click="dialogImage = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogMonday"
      transition="dialog-transition"
      overlay-opacity=".7"
      overlay-color="black"
      max-width="600">
      <v-card class="px-4 py-4">
        <v-text-field label="Task Name" v-model="mondayItem.name"/>
        <v-flex d-flex justify-center>
          <v-btn class="mr-4" style="max-width: 270px" dark
                 rounded
                 color="blue" @click="sendToMonday">Send
          </v-btn>
          <v-btn rounded
                 @click="clearMonday(), dialogMonday = false">Close
          </v-btn>
        </v-flex>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  export default {
    data: () => ({
      mondayItem: {
        name: "",
        category: null,
        reporter: {
          email: "",
          msg: ""
        }
      },
      id: null,
      data: null,
      selected: [],
      loading: false,
      deleteDialog: false,
      dialogMonday: false,
      editDialog: false,
      dialogNew: false,
      dialog: false,
      page: 1,
      pages: [],
      sortBy: {
        name: "",
        order: true
      },
      paginationZ: {},
      select: "Choose An Action",
      deleting: {
        index: null,
        data: null
      },
      btnColors: {
        edit: "success",
        visibility: "info",
        delete: "red"
      },
      perPage: 10,
      chosenImage: null,
      dialogImage: false,
      searchData: {
        id: "",
        name: "name",
        data: [],
        items: ["name", "email", "phone"]
      }
    }),
    props: [
      "editByDialog",
      "settings",
      "institutions",
      "search",
      "pagination",
      "headers",
      "api",
      "img",
      "actions",
      "active",
      "multisort",
      "title",
      "actionBtns",
      "rules",
      "policy",
      "columns",
      "filter",
      "form",
      "students",
      "countries",
      "searchApi",
      "options",
      "requestValue"
    ],
    created() {

      EventBus.$emit("refreshSupports", true);
      EventBus.$on("items_amount_update", num => {
        this.perPage = num;
        this.paginatePage(num);
      });
      EventBus.$on("getData", page => {
        this.getData(page);
      });
      this.paginationZ = this.pagination;
      Load.on();
      this.getData(1);

      if (this.title == "Countries") this.searchData.name = "country";

      EventBus.$on("selected_columns", selectColumns => {
        this.data.columns = selectColumns;
      });
    },
    watch: {
      page: v => {
        EventBus.$emit("change_page", v);
      }
    },
    methods: {
      handleMondayDialog(props) {
        this.mondayItem.reporter = props.reporter;
        this.mondayItem.category = props.category;
      },
      async sendToMonday() {
        const columns =
          {
            text0: this.mondayItem.notes,           // Notes
            text5: this.mondayItem.reporter.email,  // User Report Email
            people1: {
              "personsAndTeams": [{
                "id": 11645874,
                "kind": "person"
              }]
            },                         // Reporter
            status0: {
              index: 7
            },                         // Status
            status2: {
              index: 7
            }                          // Priority
          };

        const groups = [
          {
            id: 6,
            groupId: "new_group24893",
            name: "arena"
          },
          {
            id: 7,
            groupId: "new_group67324",
            name: "challenges"
          },
          {
            groupId: "new_group",
            name: "default"
          }
        ];

        const group = (() => {
          const currentGroupId = this.mondayItem.category;
          let currentGroup = "";

          groups.forEach(group => {
            if (group.id === currentGroupId)
              currentGroup = group.groupId;
          });

          if (!currentGroup)
            currentGroup = groups.find(group => group.name === "default").groupId;


          return currentGroup;
        })();

        const query = `mutation{create_item (board_id: 413061844, group_id: "${group}", item_name: "${this.mondayItem.name}", column_values: "${JSON.stringify(columns).replace(/"/gm, "\\\"")}" ) {id}}`;

        const data = {
          query
        };


        const config = {
          headers: {
            Authorization:
              "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjM3MTIyMzUxLCJ1aWQiOjExNjI5NjY0LCJpYWQiOiIyMDIwLTAyLTA5IDEzOjAyOjQwIFVUQyIsInBlciI6Im1lOndyaXRlIn0.7iIPQVNWyap6HEAht-KdJwt_f0qgzuPKJiAlsgX2O80"
          }
        };

        try {
          const res = await axios.post("https://api.monday.com/v2", data, config);
          const itemId = res.data.data.create_item.id;
          window.console.log("New Item Created");
          const query = `mutation {create_update (item_id: ${parseInt(itemId)}, body: "${this.mondayItem.reporter.msg}") {id}}`;
          await axios.post("https://api.monday.com/v2", { query }, config);
          window.console.log("Update Added successfully");
          this.clearMonday();
          this.dialogMonday = false;
        } catch (e) {
          window.console.error(e);
        }
      },
      clearMonday() {
        for (const key of Object.keys(this.mondayItem)) {
          this.mondayItem[key] = "";
        }
      },
      searchItem(header, items) {
        const v = header.value;

        if (v.indexOf(".") != -1) {
          const keys = v.split("."),
            el = items.item[keys[0]];

          return el ? el[keys[1]] : "——";
        } else {
          let v = items.item[header.value];

          return v && v.toString().trim() != "" ? v : "——";
        }
      },
      actionHandle(props, e) {
        const { index, item } = props;

        switch (e.target.innerHTML) {
          case "edit":
            this.editByDialog
              ? (this.editDialog = {
                index,
                data: item
              })
              : this.changeRoute("edit/", item.id);
            break;
          case "delete":
            this.deleteItem(item);
            break;
          case "visibility":
            this.changeRoute("", item.id);
            break;
        }
      },
      deleteItem(item) {
        // console.log(item);

      },
      btnColor(btn) {
        const btnColors = this.btnColors,
          keys = Object.keys(btnColors);

        for (let i = 0; i < keys.length; i++)
          if (btn == keys[i]) return btnColors[keys[i]];

        return "info";
      },
      autocomplete(v) {
        if (v && v.trim()) {
          axios
            .get(
              `/api/cms/autocomplete?model=${this.title}&search=${v}&status=${this.active}`
            )
            .then(res => {
              this.searchData.data = res.data;
            });
        }
      },
      updateData() {
        let parts = this.title.split(" ");
        let title = parts.length > 1 ? parts[1] : this.title;
        let settings = this.settings ? "settings/" : "";
        let institutions = this.institutions ? "institutions/" : "";
        if(title === 'Terms') title = 'cyberpedia/terms';
        this.$router.push(
          `/CMS/${institutions}${title.toLowerCase()}/${this.searchApi}` +
          this.searchData.id
        );
      },
      getData(page) {
        this.loading = true;
        this.page = page;
        if (this.columns) {
          axios.get(`/api/${this.api}?status=${this.options ? this.requestValue : ""}&sortBy=${this.sortBy.name}&sortOrder=${this.sortBy.order}`).then(res => {
            this.filter.data = res.data;
            this.filter.country = res.data.countries;
            this.filter.country.unshift({ id: 0, country: "All" });
            this.loading = false;
            this.data = res.data.students;
            this.pages = Pagination.pages(res.data.students);
            Load.off();
          });
        } else {
          axios
            .get(
              `/api/${this.api}/${
                typeof this.active != "number" ? "" : `${this.active}/`
              }${this.paginationZ.amount}?page=${page}&status=${this.options ? this.requestValue : ""}&sortBy=${this.sortBy.name}&sortOrder=${this.sortBy.order}`
            )
            .then(res => {
              this.loading = false;
              this.data = res.data;

              EventBus.$emit("update_count", res.data.total);
              this.pages = Pagination.pages(res.data);
              Load.off();
            });
        }
      },
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.data.data.slice();
      },
      changeSort(column) {
        if (this.paginationZ.sortBy === column) {
          this.paginationZ.descending = !this.paginationZ.descending;
        } else {
          this.paginationZ.sortBy = column;
          this.paginationZ.descending = false;
        }
      },
      MultiAction(v) {
        if (this.select == "Delete" && !this.deleteDialog) {
          this.deleteDialog = true;
        } else {
          if (this.select == "Choose An Action")
            return Alert.on(["error", "Sorry, you haven't chose any action"]);
          if (!this.selected.length) {
            this.deleteDialog = false;
            return Alert.on(["error", "Sorry, you haven't chose any category"]);
          }
          this.deleteDialog = false;
          var data = [];
          for (let i = 0; i < this.selected.length; i++) {
            data.push(this.selected[i].id);
          }
          const mode = this.select;
          axios
            .post(`/api/${this.api}/multiple`, { mode: mode, data: data })
            .then(res => {
              data.forEach(e => {
                if (this.data.data) {
                  if ([0, 1, 2].includes(this.active) || mode == "Delete") {
                    this.data.total = this.data.total - 1;
                    let index = this.data.data.forEach((v, i) => {
                      if (e == v.id) this.data.data.splice(i, 1);
                    });
                  } else {
                    var status = this.select == "Active" ? 1 : 0;
                    let index = this.data.data.forEach((v, i) => {
                      if (e == v.id) v.status = status;
                    });
                  }
                }
              });
              Alert.on(["success", res.data]);
              EventBus.$emit("update_count", this.data.total);
              this.selected = [];
              EventBus.$emit("supportStatus", this.data.data);
            })
            .catch(err => {
              Alert.on(["error", err.response.data.errors.data[0]]);
            })
            .then(() => {
              this.select = "Choose An Action";
            });
        }
      },
      submitUpdate(data) {
        axios
          .post(`/api/${this.api}/update`, this.editDialog.data)
          .then(res => {
            this.editDialog = false;
            Alert.on(["success", res.data]);
          }).catch(err => {
          Alert.on(["error", err.response.data]);
        });
      },
      changeStatus(status, id) {
        for (let i = 0; i < this.data.data.length; i++) {
          if (this.data.data[i].id == id) {
            this.data.data[i].status = status;
            break;
          }
        }
        axios
          .post(`/api/${this.api}/status`, { id: id, status: status })
          .then(res => {
            EventBus.$emit("supportStatus", this.data.data);
            Alert.on(["success", res.data]);
          });
      },
      changeRoute(to, id) {
        const api = this.api.replace("cms", () => {
          if (this.policy) {
            to = "";
            return "CMS/policies";
          } else if (this.settings) return "CMS/settings";
          else if (this.institutions) return "CMS/institutions";

          return "CMS";
        });

        this.$router.push(`/${api}/` + to + id);
      },
      paginatePage(num) {
        this.paginationZ.amount = num;
        this.getData(1);
      },
      changeReqVal(val) {
        this.requestValue = val;
        this.getData();
      },
      time(date) {
        return Time.set(date);
      },
      sortUpdated(e) {
        if (["students.length", "actions"].includes(e.sortBy[0])) return;
        if (e.sortBy.length) {
          this.sortBy = {
            name: e.sortBy[0],
            order: !this.sortBy.order
          };
          this.getData(this.page);
        }
      }
    }
  };
</script>


<style lang='scss' scoped>
  .v-data-table {
    font-size: 0.9em;
  }

  .short {
    max-width: 200px;
    max-height: 200px;
    overflow-y: auto;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    br {
      display: none;
    }
  }
</style>
