<template>
  <v-flex class="mb-2">
    <v-layout xs12 d-flex wrap justify-content-between>
      <v-flex class="text-center text-md-left">
        <h1 class="d-inline" :class="dark ? 'white--text' : ''">{{title}} {{count}}</h1>
        <v-btn
          v-if="!avatars && !support && !lessons && !orders && !students && role != 'teacher'"
          class="mb-3 ml-3"
          :color="`${dark ? 'blue darken-4' : 'blue lighten-1'}`"
          @click="createNew"
          fab
          small
        >
          <v-icon color="white">add</v-icon>
        </v-btn>
      </v-flex>
      <template v-if="columns">
        <v-flex class="text-right" d-flex xs12 md3>
          <v-flex hidden-sm-and-down>
            <v-btn color="indigo" dark title="Clear Filter" @click="getData(1)" icon>
              <v-icon>refresh</v-icon>
            </v-btn>
          </v-flex>
          <v-btn color="info" @click="dialog = true">Filter Students</v-btn>
          <v-btn color="primary" @click="columnsDialog = true">Table Columns</v-btn>
        </v-flex>
      </template>
      <template v-else>
        <v-flex class="text-center text-md-right">
          <v-btn
            class="mr-2"
            @click="paginatePage(10)"
            :color="`${dark ? pagination.amount == 10 ? 'primary' : 'blue darken-4' : pagination.amount == 10 ? 'primary' : 'blue lighten-4'}`"
            fab
            small
          >10</v-btn>
          <v-btn
            class="mr-2"
            @click="paginatePage(20)"
            :color="`${dark ? pagination.amount == 20 ? 'primary' : 'blue darken-4' : pagination.amount == 20 ? 'primary' : 'blue lighten-4'}`"
            fab
            small
          >20</v-btn>
          <v-btn
            class="mr-2"
            @click="paginatePage(50)"
            :color="`${dark ? pagination.amount == 50 ? 'primary' : 'blue darken-4' : pagination.amount == 50 ? 'primary' : 'blue lighten-4'}`"
            fab
            small
          >50</v-btn>
        </v-flex>
      </template>
    </v-layout>
    <v-flex v-if="columns">
      <v-dialog v-model="dialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Filter Students</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-select
                  :items="filter.status"
                  item-text="name"
                  item-value="value"
                  v-model="form.status"
                  label="Status"
                ></v-select>
                <v-select
                  :items="filter.country"
                  item-text="country"
                  item-value="id"
                  v-model="form.country"
                  label="Country"
                  @change="filterCountry"
                ></v-select>
                <v-select
                  :items="filter.college"
                  item-text="name"
                  item-value="id"
                  v-model="form.college"
                  label="College"
                  @change="filterCollege"
                ></v-select>
                <v-select
                  :items="filter.class"
                  item-text="name"
                  item-value="id"
                  v-model="form.class"
                  label="Class"
                ></v-select>
                <v-select
                  :items="filter.pagination"
                  v-model="form.pagination"
                  label="Students Per Page"
                ></v-select>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn color="green darken-1" flat="flat" @click="submitFilter()">Filter</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" flat="flat" @click="dialog = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="columnsDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Table Columns</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-combobox
              v-model="selectColumns"
              :items="columns"
              label="I use a scoped slot"
              multiple
              chips
              @change="filterColumns"
            >
              <template v-slot:selection="data">
                <v-chip
                  :key="JSON.stringify(data.item)"
                  v-bind="data.attrs"
                  :input-value="data.selected"
                  :disabled="data.disabled"
                  @click:close="data.parent.selectItem(data.item)"
                >
                  <v-avatar
                    class="accent white--text"
                    left
                    v-text="data.item.slice(0, 1).toUpperCase()"
                  ></v-avatar>
                  {{ data.item }}
                </v-chip>
              </template>
            </v-combobox>
          </v-card-text>
          <v-card-actions>
            <v-btn flat @click="columnsDialog = false" block>Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    count: null,
    dialog: false,
    columnsDialog: false,
    role: Auth.role(),
    selectColumns: []
  }),
  props: [
    "title",
    "pagination",
    "columns",
    "filter",
    "form",
    "headers",
    "avatars",
    "support",
    "lessons",
    "orders",
    "students"
  ],
  created() {
    EventBus.$on("update_count", count => {
      this.count = count;
    });

    if (this.headers) {
      const headers = this.headers;

      headers.forEach(header => {
        if (header.status) this.selectColumns.push(header.text);
      });
    }
  },
  
  computed: {
    dark() {
      return this.$vuetify.theme.dark;
    }
  },
  
  methods: {
    createNew() {
      const link = this.$route.path.split("/");
      let url;
      if (
        link[link.length - 1] == "active" ||
        link[link.length - 1] == "inactive"
      ) {
        link.pop();
        url = link.join("/") + "/new";
      } else url = link.join("/") + "/new";

      this.$router.push(url);
    },
    filterCollege(v) {
      this.form.college = v;
      this.form.class = null;
      this.filter.class = [];
      this.filter.class.push({ id: 0, name: "All" });
      for (let i = 0; i < this.filter.data.classes.length; i++) {
        if (this.form.college == this.filter.data.classes[i].college_id)
          this.filter.class.push(this.filter.data.classes[i]);
      }
    },
    paginatePage(num) {
      EventBus.$emit("items_amount_update", num);
    },
    submitFilter(page) {
      if (page) this.form.page = page;
      else page = 1;
      this.dialog = false;
      this.loading = true;
      axios.post(`/api/cms/students/filter`, this.form).then(res => {
        this.loading = false;
        this.data = res.data;
        this.pages = Pagination.changed(page, res.data.last_page);
      });
    },
    filterColumns(v) {
      this.headers.forEach(header => {
        header.status = 0;
      });

      v.forEach(value => {
        this.headers.forEach(header => {
          if (value == header.text) header.status = 1;
        });
      });

      EventBus.$emit("selected_columns", this.selectColumns);
    },
    filterCountry(v) {
      this.form.country = v;
      this.form.college = null;
      this.form.class = null;
      this.filter.college = [];
      this.filter.class = [];
      this.filter.college.push({ id: 0, name: "All" });
      for (let i = 0; i < this.filter.data.colleges.length; i++) {
        if (this.form.country == this.filter.data.colleges[i].country_id)
          this.filter.college.push(this.filter.data.colleges[i]);
      }
    },
    getData(page) {
      EventBus.$emit("getData", page);
    }
  }
};
</script>
