<template>
    <v-container>
            <v-flex v-if="countries" xs12 md4>
                <v-card class="pa-3">
                    <h1>New College</h1>
                    <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
                    <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
                    <span>Status</span>
                    <v-form @submit.prevent="submit()" ref="form">
                        <v-autocomplete
                            outlined
                            :items="countries"
                            item-value="id"
                            item-text="country"
                            v-model="form.country_id"
                            label="Choose Country"
                            :rules="[rules.country]"
                        ></v-autocomplete>
                        <v-text-field
                            outlined
                            v-model="form.name"
                            label="College Name"
                            :rules="[rules.name]"
                            :error-messages="errors && errors.name ? errors.name : ''"
                        ></v-text-field>
                        <v-btn height="60" type="submit" color="primary" block>Create</v-btn>
                    </v-form>
                    <router-link to="/CMS/institutions/colleges" class="no_dec">
                        <v-btn height="60" text block>Cancel</v-btn>
                    </router-link>
                </v-card>
            </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            countries: null,
            types: null,
            form: {
                status: true
            },
            rules:{
                country: v => !!v || 'Country is Required',
                name: v => !!v || 'Name is Required',
            },
            errors: {}
        }
    },
    created(){
        this.getData();
    },
    methods:{
        getData(){
            axios.get('/api/cms/businesses/new').then(res => {
                this.countries = res.data.countries;
            })
        },
        submit(){
            if(this.$refs.form.validate()){
                axios.post('/api/cms/businesses/create', this.form).then(res => {
                    Alert.on(['success', res.data])
                    this.$router.push('/CMS/institutions/businesses')
                }).catch(err => {
                    if(err.response.data.errors) this.errors = err.response.data.errors;
                })
            }
        }
    }
}
</script>

<style>

</style>
