<template>
  <v-container class="pt-0">
    <v-card class="pa-3">
      <h1 class="mr-3">Edit Category</h1>
      <v-form @submit.prevent="submit()" ref="form">
          <span>Status</span>
          <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
          <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
          <v-text-field
              outlined
              dense
              v-model="form.name"
              label="Name"
              :rules="[rules.name]"
              :error-messages="errors && errors.name"
          ></v-text-field>
          <v-textarea
              outlined
              dense
              v-model="form.description"
              label="Description"
              :rules="[rules.description]"
              :error-messages="errors && errors.description"
          ></v-textarea>
          <v-flex xs12 md6>
              <v-btn color="info" @click="uploadFile()">Upload File</v-btn>
              <img id="image" class="cms_image_new" src="" alt="">
              <input type="file" class="d-none" id="new_file" @change="filePicked">
          </v-flex>
          <v-flex xs12 d-flex class="mt-5">
              <v-flex xs6>
                  <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
              </v-flex>
              <v-flex xs6>
                  <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
              </v-flex>
          </v-flex>
      </v-form>
  </v-card>
  </v-container>
</template>

<script>
import { getDiffieHellman } from "crypto";
export default {
  data() {
    return {
      form: {
        status: true
      },
      FormData: {},
      rules: {
        name: v => !!v || "Name is required",
        description: v => !!v || "Description is required",
      },
      img: IMG + "cyberpedia/cats/",
      errors: {},
      loading: false
    };
  },
  created() {
    this.getCat();
    this.FormData = new FormData();
  },
  methods: {
    getCat() {
      axios
        .get(
          `/api/cms/cyberpedia/categories/edit/${window.location.pathname.split("/")[5]}`
        )
        .then(res => {
          this.form = res.data;
        })
        .catch(err => {
          this.$router.push("/CMS/cyberpedia/categories");
          Alert.on(["error", "Category Not Found"]);
        });
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.FormData.append("id", this.form.id);
        this.FormData.append("name", this.form.name);
        this.FormData.append("description", this.form.description);
        this.FormData.append("status", this.form.status);
        this.loading = true;
        const config = { headers: { "content-type": "multipart/form-data" } };
        axios
          .post("/api/cms/cyberpedia/categories/update", this.FormData, config)
          .then(res => {
            this.errors = {};
            Alert.on(["success", res.data]);
            this.loading = false;
            this.$router.push("/CMS/cyberpedia/categories");
          })
          .catch(err => {
            this.loading = false;
            this.errors = err.response.data.errors;
          });
      }
    },
    uploadFile() {
      document.getElementById("new_file").click();
    },
    filePicked(e) {
      this.FormData.append("file", e.target.files[0]);
      if (e.target.files && e.target.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $("#image").attr("src", e.target.result);
        };
        reader.readAsDataURL(e.target.files[0]);
      }
    }
  }
};
</script>
