<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="'edit/'"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Categories",
      api: "cms/cyberpedia/categories",
      img: IMG + "cyberpedia/cats/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Categories",
        one: "category",
        multiple: "categories"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Description", value: "description" },
        { text: "Terms", value: "terms_count" },
        { text: "Status", value: "status" },
        { text: "Image", value: "image" },
        { text: "Created At", value: "created_at" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
