<template>
    <v-container class="pt-0">
        <v-card class="pa-3">
            <h1 class="mr-3">New Category</h1>
            <v-form @submit.prevent="submit()" ref="form">
                <span>Status</span>
                <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
                <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
                <v-text-field
                    outlined
                    dense
                    v-model="form.name"
                    label="Name"
                    :rules="[rules.name]"
                    :error-messages="errors && errors.name"
                ></v-text-field>
                <v-textarea
                    outlined
                    dense
                    v-model="form.description"
                    label="Description"
                    :rules="[rules.description]"
                    :error-messages="errors && errors.description"
                ></v-textarea>
                <v-flex xs12 md6>
                    <v-btn color="info" @click="uploadFile()">Upload File</v-btn>
                    <img id="image" class="cms_image_new" src="" alt="">
                    <input type="file" class="d-none" id="new_file" @change="filePicked">
                </v-flex>
                <v-flex xs12 d-flex class="mt-5">
                    <v-flex xs6>
                        <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
                    </v-flex>
                </v-flex>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            form: {
                status: true,
            },
            FormData: {},
            rules: {
                name: v => !!v || "Name is required",
                description: v => !!v || "Description is required",
                slug: v => !!v || 'Slug is required',
            },
            image: null,
            errors: {},
            loading: false
        }
    },
    created(){
        this.FormData = new FormData;
    },
    methods:{
        submit(){
            if(this.$refs.form.validate()){
                this.FormData.append('name', this.form.name);
                this.FormData.append('description', this.form.description);
                this.FormData.append('status', this.form.status);
                const config = {headers: { "content-type": "multipart/form-data" }};
                this.loading = true;
                axios.post('/api/cms/cyberpedia/categories', this.FormData, config).then(res => {  
                    this.errors = {};
                    Alert.on(['success', res.data]);
                    this.$router.push('/CMS/cyberpedia/categories')
                }).catch(err => {
                    this.errors = err.response.data.errors;
                }).finally( () => {
                    this.loading = false;
                })
            }
        },
        uploadFile(){
            document.getElementById('new_file').click();
        },
        filePicked(e){
            this.FormData.append('file', e.target.files[0]);
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
}
</script>

<style>
    
</style>
