<template>
  <v-container class="pt-0">
    <v-form id="pod-descriptor-cms" @submit.prevent="submit" ref="form">
      <h1>Pod Descriptor</h1>
      <v-row>
        <v-col>
          <v-text-field
            solo
            v-model="json.podDescVersion"
            label="Pod Descriptor Version"
            :rules="[rules.required, rules.version]"
          />
        </v-col>
      </v-row>
      <h1>podInfo</h1>
      <v-row>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required]"
            v-lower-case
            v-model="json.podInfo.name"
            label="Name"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            solo
            v-model="json.podInfo.version"
            label="Version"
            :rules="[rules.required, rules.version]"
          />
        </v-col>
        <v-col>
          <v-row class="origin">
            <v-col cols="12">
              <v-text-field
                solo
                v-model="json.podInfo.uuid"
                label="UUID"
                :rules="[rules.required, rules.uuid]"
                append-icon="build"
                class="uuid-input"
                @click:append="generateUUID"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-select
            :items="contextSelect"
            label="Context"
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.context"
          />
        </v-col>
        <v-col>
          <v-select
            :items="typeSelect"
            label="Type"
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.type"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.creator"
            label="Creator"
          />
        </v-col>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.maintenair"
            label="Maintenair"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required, rules.number]"
            v-model.number="json.podInfo.playTime"
            label="Play Time"
          />
        </v-col>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required, rules.number]"
            v-model.number="json.podInfo.maxPlayers"
            label="Max Players"
          />
        </v-col>
      </v-row>
      <v-row class="align-start">
        <v-col>
          <v-textarea
            auto-grow
            no-resize
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.notes"
            label="Notes"
          />
        </v-col>
        <v-col>
          <v-textarea
            auto-grow
            no-resize
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.skillset"
            label="Skillset"
          />
        </v-col>
      </v-row>
      <h1 class="d-inline">Tags</h1>
      <v-btn
        small
        color="blue"
        dark
        @click="json.podInfo.tags.push('')"
        class="add-btn"
      >
        <v-icon size="20" dark>add</v-icon>
      </v-btn>
      <v-row>
        <v-col
          :cols="colCounter(tagsAmount)"
          v-for="(tag, i) in json.podInfo.tags"
          :key="i"
        >
          <v-text-field
            solo
            :rules="[rules.required]"
            v-model="json.podInfo.tags[i]"
            append-icon="delete"
            @click:append="deleteItem(i,'tags')"
            class="tag-field"
          />
        </v-col>
      </v-row>
      <h1>context</h1>
      <v-row>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required]"
            v-model="json.context.challengeDesc.info.category"
            label="Category"
          />
        </v-col>
        <v-col>
          <v-text-field
            solo
            :rules="[rules.required]"
            v-model="json.context.challengeDesc.info.difficulty"
            label="Difficulty"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-textarea
            auto-grow
            no-resize
            solo
            :rules="[rules.required]"
            v-model="json.context.challengeDesc.info.scenario"
            label="Scenario"
          />
        </v-col>
      </v-row>
      <h1 class="d-inline">Objectives</h1>
      <v-btn
        small
        color="blue"
        dark
        @click="json.context.challengeDesc.info.objectives.push('')"
        class="add-btn"
      >
        <v-icon size="20" dark>add</v-icon>
      </v-btn>
      <v-row>
        <v-col
          :cols="colCounter(objectivesAmount, 6)"
          v-for="(objective, i) in json.context.challengeDesc.info.objectives"
          :key="i"
        >
          <v-text-field
            solo
            :rules="[rules.required]"
            v-model="json.context.challengeDesc.info.objectives[i]"
            append-icon="delete"
            @click:append="deleteItem(i,'objectives')"
          />
        </v-col>
      </v-row>
      <h1 class="d-inline">Hints</h1>
      <v-btn
        small
        color="blue"
        dark
        @click="json.context.challengeDesc.content.hints.push({})"
        class="add-btn"
      >
        <v-icon size="20" dark>add</v-icon>
      </v-btn>
      <v-row>
        <v-col
          :cols="colCounter(hintsAmount, 12)"
          v-for="(hint, i) in json.context.challengeDesc.content.hints"
          :key="i"
        >
          <v-row class="origin">
            <v-col class="pb-0" cols="9">
              <v-text-field
                solo
                :rules="[rules.required]"
                v-model="json.context.challengeDesc.content.hints[i].text"
                label="Hint"
              />
            </v-col>
            <v-col class="pb-0" cols="3">
              <v-text-field
                solo
                :rules="[rules.required, rules.number]"
                v-model.number="
                  json.context.challengeDesc.content.hints[i].cost
                "
                label="Cost"
                append-outer-icon="delete"
                @click:append-outer="deleteItem(i,'hints')"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <h1 class="d-inline">Flags</h1>
      <v-btn
        small
        color="blue"
        dark
        @click="
          json.context.challengeDesc.content.flags.push({
            sequence: flagsAmount,
            id: `flag-${json.podInfo.name}-${flagsAmount}`
          })
        "
        class="add-btn"
      >
        <v-icon size="20" dark>add</v-icon>
      </v-btn>
      <v-row>
        <v-col
          :cols="colCounter(flagsAmount, 12)"
          v-for="(flag, i) in json.context.challengeDesc.content.flags"
          :key="i"
        >
          <v-row class="origin">
            <v-col class="pb-0" cols="6">
              <v-text-field
                solo
                :rules="[rules.required]"
                v-model="json.context.challengeDesc.content.flags[i].title"
                label="Title"
              />
            </v-col>
            <v-col class="pb-0" cols="6">
              <v-text-field
                solo
                :rules="[rules.required]"
                v-model.number="
                  json.context.challengeDesc.content.flags[i].value
                "
                label="Value"
                append-outer-icon="delete"
                @click:append-outer="deleteItem(i,'flags')"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-flex d-flex justify-center>
        <v-btn color="primary" class="px-10" x-large type="submit"
        >Create
        </v-btn>
      </v-flex>
    </v-form>
  </v-container>
</template>

<script>
  import uuidGen from "uuid/v1";

  export default {
    data: () => ({
      contextSelect: [
        {
          text: "Cyber Challenge",
          value: "cyber-challenge"
        },
        {
          text: "Arena Practice",
          value: "arena-practice"
        },
        {
          text: "Range Challenge",
          value: "range-challenge",
          disabled: true
        }
      ],
      typeSelect: [
        { text: "Terminal", value: "terminal" },
        { text: "Files", value: "files" },
        { text: "Code", value: "code" },
        { text: "WEB", value: "web" }
      ],
      rules: {
        required: v => !!v || v === 0 || "Required.",
        version: v =>
          /^v[0-9].[0-9].[0-9]$/.test(v) ||
          "Version is not valid. Example: v1.0.0",
        uuid: v =>
          /^[a-zA-Z0-9]{8}(-[a-zA-Z0-9]{4}){3}-[a-zA-Z0-9]{12}$/.test(v) ||
          "UUID is not valid.",
        number: v => /^\d*$/.test(v) || "Only numbers."
      },
      json: {
        podDescVersion: "",
        podInfo: {
          version: "",
          uuid: "",
          context: "",
          type: "",
          name: "",
          creator: "",
          maintenair: "",
          playTime: null,
          maxPlayers: null,
          notes: "",
          skillset: "",
          previewImage: "",
          tags: [""]
        },
        context: {
          practiceDesc: null,
          challengeDesc: {
            info: {
              identifier: "",
              category: "",
              difficulty: "",
              scenario: "",
              objectives: [""],
              instructionGuide: ""
            },
            content: {
              hints: [
                {
                  text: "",
                  cost: null
                }
              ],
              flags: [
                {
                  sequence: "0",
                  id: "",
                  title: "",
                  value: ""
                }
              ]
            }
          }
        },
        files: [
          {
            id: "",
            path: "\\rsrc\\preview.jpeg",
            displayName: "",
            description: "The preview image",
            downloadable: false
          },
          {
            id: "",
            path: "\\rsrc\\instructions.pdf",
            displayName: "",
            description:
              "A step by step instruction guide for breaking-hollywood challenge",
            downloadable: true
          }
        ],
        ports: [
          {
            number: 8443,
            displayType: "visible"
          },
          {
            number: 22,
            displayType: "hidden"
          }
        ]
      }
    }),
    computed: {
      podName() {
        return this.json.podInfo.name;
      },
      tagsAmount() {
        return this.json.podInfo.tags.length;
      },
      hintsAmount() {
        return this.json.context.challengeDesc.content.hints.length;
      },
      objectivesAmount() {
        return this.json.context.challengeDesc.info.objectives.length;
      },
      flagsAmount() {
        return this.json.context.challengeDesc.content.flags.length;
      }
    },
    methods: {
      colCounter(itemAmount, def = 3) {
        switch (true) {
          case itemAmount < 3:
            return 6 < def ? def : 6;
          case itemAmount === 3:
            return 4 < def ? def : 4;
          default:
            return def;
        }
      },
      generateUUID() {
        this.json.podInfo.uuid = uuidGen();
      },
      submit() {
        if (this.$refs.form.validate()) {
          console.log(JSON.parse(JSON.stringify(this.json)));
        }
      },
      deleteItem(idx, array) {
        const arr = (() => {
          switch (array) {
            case "tags":
              return this.json.podInfo.tags;
            case "objectives":
              return this.json.context.challengeDesc.info.objectives;
            case "hints":
              return this.json.context.challengeDesc.content.hints;
            case "flags":
              return this.json.context.challengeDesc.content.flags;
          }
        })();

        if (arr.length === 1) {
          for (const key in arr[0])
            arr[0][key] = "";
        } else
          arr.splice(idx, 1);
      }
    },
    watch: {
      podName(podName) {
        this.json.podInfo.previewImage = "prev-" + podName;
        this.json.context.challengeDesc.info.identifier = "chlg-" + podName;
        this.json.context.challengeDesc.info.instructionGuide = "inst-" + podName;

        const flags = this.json.context.challengeDesc.content.flags;
        const files = this.json.files;

        for (let i = 0; i < flags.length; i++) {
          flags[i].id = `flag-${podName}-${flags[i].sequence}`;
        }
      }
    },
    directives: {
      lowerCase: {
        update: function(el) {
          const input = el.querySelector("input");

          input.value = input.value.toLowerCase().replace(/(\s|--)/gm, "-");
          input.dispatchEvent(new Event("input"));
        }
      }
    }
  };
</script>

<style lang="scss">
  #pod-descriptor-cms {

    .v-input__icon--append .v-icon,
    .v-input__icon--append-outer .v-icon {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .v-input:not(.uuid-input) {
      .v-input__icon--append .v-icon,
      .v-input__icon--append-outer .v-icon {

        &:hover {
          color: #f44336 !important;
        }
      }
    }

    .v-input.uuid-input {
      .v-input__icon--append .v-icon,
      .v-input__icon--append-outer .v-icon {

        &:hover {
          color: #2196f3 !important;
        }
      }
    }
  }
</style>

<style lang="scss" scoped>
  .row {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }

  .add-btn {
    position: relative;
    margin-left: 0.5rem;
    top: -4px;
  }

  h1 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.0073529412em !important;
  }

  .row.origin {
    margin-right: -12px;
    margin-left: -12px;
  }


</style>
