<template>
    <div
        text
        :class="alert.type"
        class="alert"
    >
        {{alert.content}}    
    </div>
</template>

<script>
import { setTimeout } from 'timers';
export default {
    props: [ 'alert' ],
    mounted(){
      setTimeout(() => {
            let ele = document.querySelector(".alert");
            if(ele) ele.classList.add('hide');
        }, 2000)
    },
}
</script>

<style scoped>
    .hide{
        transition: 1s all linear;
        opacity: 0;
    }
    
    *{
        font-size: 1em;
        letter-spacing: 1.5px;
        color: #fff;
    }

</style>
