<template>
    <v-container id="container" v-if="alert">
        <v-alert
            id="alert"
            class="alert"
            :value="alert[0]"
            :type="alert[0]"
        >
        {{alert[1]}}
        </v-alert>
    </v-container>
</template>

<script>
import { setTimeout } from 'timers';
export default {
    props: [ 'alert' ],
    mounted(){        
        setTimeout(() => {
            document.getElementById("alert").classList.add('hide');
        }, 1000)
    },
}
</script>

<style scoped>

    .alert{
        width: 50%;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
    }

    .hide{
        transition: 2s all linear;
        opacity: 0;
    }

</style>
