<template>
  <div class="bg_purple text_white">
    <h1 class="pa-5">
      <!-- LOADING  -->
      <div class="l l1">L</div>
      <div class="l l2">O</div>
      <div class="l l3">A</div>
      <div class="l l4">D</div>
      <div class="l l5">I</div>
      <div class="l l6">N</div>
      <div class="l l7">G</div>
    </h1>
    <v-flex xs12 d-flex align-end>
      <div class="progress_wrapper">
        <div class="filler" :style="`width:${this.width}%`"></div>
      </div>
    </v-flex>
  </div>
</template>
  
<script>
import { setInterval } from 'timers';
export default {

  data(){
    return{
      width: 0,
      count: 1,
      status: true
    }
  },

  created(){

    this.timer();
  
    EventBus.$on('loadingFinished', e => {
      this.status = false;
      this.width = 100;
    })

    this.animation();
  },

  methods:{
    timer(){

      const func = setInterval(
        function() {
          if(this.width == 90) return TimeOut();
          this.width += 10;
        }.bind(this),
        1000
      );

      function TimeOut() {
        clearInterval(func);
      }

    },
    animation(){
      const anima = setInterval(function(){
        if(!this.status) return TimeOut();
        
        for(let i = 1; i < 8; i++){
          let eles = document.querySelector(`.l${i}`);
          if(eles) eles.classList.remove('big');
        }

        let ele = document.querySelector(`.l${this.count}`);
        if(ele) ele.classList.add('big');
        this.count++;
        if(this.count == 8) this.count = 1;
        
      }.bind(this), 300)

      function TimeOut() {
        clearInterval(anima);
      }
    }
  }
};
</script>
  
<style scoped>
.bg_purple{
  z-index: 1000000;
  width: 300px;
  background-color: rgb(75, 54, 128, 0.5);
}

.progress_wrapper {
  width: 100%;
  background-color: rgb(105, 106, 119, 0.7);
  border: 1px solid rgba(165, 166, 172, 0.5);
  height: 7px;
}

.filler{
  transition: 1s all linear;
  max-width: 100%;
}

*{
  letter-spacing: 2px;
  font-weight: 100;
}

.l{
  transition: 1s all linear;
  display: inline-block;
}

.big{
  transform: scale(1.7);
}
</style>
  