<template>
    <v-container>
        <vue-particles
            class="particles"
            color="#afd6de"
            :particleOpacity="0.7"
            :particlesNumber="80"
            shapeType="circle"
            :particleSize="4"
            linesColor="#dedede"
            :linesWidth="1"
            :lineLinked="true"
            :lineOpacity="0.4"
            :linesDistance="150"
            :moveSpeed="3"
            :hoverEffect="true"
            hoverMode="grab"
            :clickEffect="true"
            clickMode="push"
        >
        </vue-particles>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
         
        }
    },
}
</script>

<style scoped>
    .particles{
        position: absolute;
        height: calc(90vh - 64px);
        width: 100%;
    }
</style>
