<template>
      <vue-recaptcha :sitekey="sitekey" :loadRecaptchaScript="true"></vue-recaptcha>
</template>
 
<script>
  import VueRecaptcha from 'vue-recaptcha';
  export default {
    components: { VueRecaptcha },
    data(){
        return {
            sitekey: '6Leb2qAUAAAAAM2WLACqdb4MUJzM_pYfQGa5VdMI'
        }
    }
  };
</script>