<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      max-width="500"
      persistent
      class="dialog"
    >
      <v-card color="grey darken-3">
        <v-toolbar color="transparent" flat>
          <v-card-title class="main_subtitle white--text">Reset Session</v-card-title>
          <v-spacer></v-spacer>
          <v-progress-circular
            :size="30"
            color="indigo accent-2"
            indeterminate
          ></v-progress-circular>
        </v-toolbar>
        <v-divider></v-divider>
   
        <v-card-text v-if="!newtoken" class="white--text pa-5">
          We are generating you a new session, please wait patiently, it will take a few seconds.
          <br>
        </v-card-text>
        <v-card-text v-else class="white--text pa-5">
          Click continue to keep serving on the website.
          <br>
          If wont click you will be logged out in {{time}}
        </v-card-text>
        <v-card-actions class="pa-5">
          <button @click="refreshed()" class="button bg_purple text_white w_100">Continue</button>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
  export default {
    data(){
      return {
        dialog: true,
        newtoken: false,
        time: 60,
        clock: null
      }
    },

    created(){
      EventBus.$on('newtoken', bool => {
        this.newtoken = true;
        this.clock = setInterval(() => {
          this.time = this.time - 1;
          if(this.time == 0) {
            this.dialog = false;
            clearInterval(this.clock);
            this.$router.push('/logout');
          }
            else this.dialog = true;
        }, 1000)
      });
    },

    methods:{
      refreshed(){
        clearInterval(this.clock);
        EventBus.$emit('tokenRefreshed', true);
      }
    }
  }
</script>

<style scoped>

.bg_purple{
  border: 1px solid rgb(255, 255, 255, 0.3);
  transition: .1s background linear;
}
.bg_purple:hover{
  border: 1px solid rgb(255, 255, 255, 0.3);
  background-color: rgb(118, 100, 163);
}

.dialog{
  z-index: 10;
}
</style>