<template>
  <v-flex class="h100">
    <v-flex d-flex md8 align-center mx-auto class="text-center h100">
        <v-flex class="box bb pa-5 bg_blue_purple mt-5 h100" d-flex align-center justify-center mx-auto>
          <v-flex xs12 class="h100">
            <v-flex class="text-left">
              <button class="button bg_white text_purple" @click="back()">BACK</button>
            </v-flex>
            <h1 class="main_title">SIGN UP</h1>
            <h2 class="main_sub_title">{{form.sub_name.toUpperCase()}} PACKAGE</h2>
            <h2 class="main_sub_title">
                <span v-show="form.duration > 1">{{form.duration}} MONTHS</span>
                <span v-show="form.duration == 1">{{form.duration}} MONTH</span>
            </h2>
            <v-form @submit.prevent="submit()" ref="form" class="form mt-5">
              <v-flex xs12 mx-auto class="text-left" d-flex justify-space-between>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.name ? 'error_input' : 'success_input'" type="text" placeholder="Full Name" v-model="form.name">
                  <small class="main_error" v-if="errors.name">{{Array.isArray(errors.name) ? errors.name[0] : errors.name}}</small>
                </v-flex>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.phone ? 'error_input' : 'success_input'" type="text" placeholder="Phone ( optional )" v-model="form.phone">
                  <small class="main_error" v-if="errors.phone">{{Array.isArray(errors.phone) ? errors.phone[0] : errors.phone}}</small>
                </v-flex>
              </v-flex>
              <br>
              <v-flex xs12 mx-auto class="text-left" d-flex justify-space-between>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.email ? 'error_input' : 'success_input'" type="email" placeholder="Email" v-model="form.email">
                  <small class="main_error" v-if="errors.email">{{Array.isArray(errors.email) ? errors.email[0] : errors.email}}</small>
                </v-flex>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.email_verification ? 'error_input' : 'success_input'" type="text" placeholder="Email Verification" v-model="form.email_verification">
                  <small class="main_error" v-if="errors.email_verification">{{Array.isArray(errors.email_verification) ? errors.email_verification[0] : errors.email_verification}}</small>
                </v-flex>
              </v-flex>
              <v-flex xs12 mx-auto class="text-left mt-4">
                <v-flex xs12 class="px-5" v-if="form.sub_name == 'Normal Class'">
                  <input :class="errors.class ? 'error_input' : 'success_input'" type="text" placeholder="Class Code" v-model="form.class">
                  <small class="main_error" v-if="errors.class">{{Array.isArray(errors.class) ? errors.class[0] : errors.class}}</small>
                </v-flex>
              </v-flex>
              <br>
              <v-flex xs12 mx-auto class="text-left" d-flex justify-space-between>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.password ? 'error_input' : 'success_input'" type="password" placeholder="Password" v-model="form.password" autocomplete="new-password">
                  <small class="main_error" v-if="errors.password">{{Array.isArray(errors.password) ? errors.password[0] : errors.password}}</small>
                </v-flex>
                <v-flex xs12 md6 class="px-5">
                  <input :class="errors.password_confirmation ? 'error_input' : 'success_input'" type="password" placeholder="Password Confirmation" v-model="form.password_confirmation">
                  <small class="main_error" v-if="errors.password_confirmation">{{Array.isArray(errors.password_confirmation) ? errors.password_confirmation[0] : errors.password_confirmation}}</small>
                </v-flex>
              </v-flex>
              <br>
              <!-- <v-flex xs12 class="px-5" v-if="form.type != 'HACKERU STUDENT'">
                  <select v-model="form.duration" id="">

                  </select>
                  <small class="main_error" v-if="errors.class">{{Array.isArray(errors.class) ? errors.class[0] : errors.class}}</small>
                </v-flex>
              <br> -->
              <v-flex d-flex align-center>
                <v-checkbox v-model="form.checkbox" value="value" color="white" id="checkbox"></v-checkbox>
                <span>By clicking, you agree to our <span class="link pointer text_green" @click="openDialog('tnc')">Terms & Conditions</span>, and <span class="link pointer text_green" @click="openDialog('cookies')">Cookie Policy</span></span>
              </v-flex>
              <br>
              <small class="main_error" v-if="formError">{{formError}}</small>
              <br><br>
              <button :disabled="!form.checkbox ? true : false" :class="!form.checkbox ? 'bg_grey default' : ''" type="submit" class="bg_white text_purple button mb-3">SIGN UP</button>
              <br>
              <router-link to="/login" class="link white--text">Sign In</router-link>
            </v-form>
          </v-flex>
        </v-flex>
    </v-flex>
    <v-dialog
      v-model="dialog"
      max-width="700"
      max-height="800"
    >
      <v-card class="pa-2 card" color="red">
        <div class="text-center mb-4">
          <h2 class="main_sub_title text_white">{{selected ? selected.title : ''}}</h2>
          <br>
          <v-flex d-flex xs8 md5 lg3 mx-auto class="text-center">
            <v-flex :class="!lang ? 'bb selected' : 'border'" class="text_yellow pointer lang px-3 mx-0" @click="lang = false">English</v-flex>
            <v-flex :class="lang ? 'bb selected' : 'border'" class="text_yellow pointer lang px-3 mx-0" @click="lang = true">עברית</v-flex>
          </v-flex>
          
        </div>
        <v-card-text v-if="!lang" class="dialog_content" v-html="selected ? selected.content : ''"></v-card-text>
        <v-card-text dir="rtl" v-else class="dialog_content" v-html="selected ? selected.content_heb : ''"></v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="pa-3">
          <button class="button bg_white text_purple " @click="dialog = false, form.checkbox = false">CLOSE</button>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
export default {
  props: ['sub', 'oldform', 'data'],
  data() {
    return {
      form: {
        client_id: 2,
        client_secret: "dXccV61flMlRyfxIPnOpvB4DC9ZE2CaXq9wUekfZ",
        grant_type: "password",
        name: null,
        phone: null,
        email: null,
        email_verification: null,
        password: null,
        password_confirmation: null,
        class: null,
        checkbox: false
      },
      dialog: false,
      selected: null,
      lang: false,
      errors: {},
      formError: null,
      backerrors: [],
      validation: [
        "name",
        "email",
        "email_verification",
        "password",
        "password_confirmation",
      ],
      checkbox: false,
    };
  },
  created() {
    if(this.oldform) this.form = this.oldform
    this.form.sub_name = this.sub.name;
    this.form.subscription_id = this.sub.id;
    this.form.duration = this.sub.duration;
    if(this.sub.id == 6) this.validation.push('class');
  },

  destroyed(){
    EventBus.$emit('signupForm', this.form)
  },

  methods: {
    submit() {
      this.errors = [];
      let validation = R.check(this.validation, [
        this.form.name,
        this.form.email,
        this.form.email_verification,
        this.form.password,
        this.form.password_confirmation,
        this.form.class
      ]);
      if (
        !validation.email &&
        !validation.email_verification &&
        !validation.password &&
        !validation.name &&
        !validation.password_confirmation &&
        !validation.class
      ) {
        axios
          .post("/api/signup", this.form)
          .then(res => {
            this.$router.push("/waiting");
          })
          .catch(err => {
            if(err.response.data.errors){
              this.errors = err.response.data.errors;
              if(err.response.data.errors.time || err.response.data.errors.type) this.formError = 'Sorry, you have a problem with the subscription';
            }
          });
      } else {
        this.errors = validation;
      }
    },
    openDialog(val){
      if(val == 'tnc'){
        this.selected = this.data.tnc
      }else if(val == 'cookies'){
        this.selected = this.data.cookies
      }else{
        this.selected = this.data.privacy
      }
      this.dialog = true;
    },
    agree(){
      document.getElementById('checkbox').click();
      this.dialog = false;
      this.form.checkbox = true;
    },
    nextStep(){
      this.errors = [];
      let validation = R.check(this.validation, [
        this.form.name,
        this.form.phone,
        this.form.email,
        this.form.email_verification,
        this.form.password,
        this.form.password_confirmation,
        this.form.class
      ]);
      if (
        !validation.email &&
        !validation.email_verification &&
        !validation.password &&
        !validation.name &&
        !validation.phone &&
        !validation.password_confirmation &&
        !validation.class
      ) {
        this.step = 2;
      } else {
        this.errors = validation;
      }
    },
    back(){
      EventBus.$emit('subscriptionPicked', {type: null, step: 1});
    }
  }
};
</script>

<style scoped>
.dialog_content{
  max-height: 600px;
  overflow-y: scroll;
}

.card{
  background-color: rgba(45, 37, 59) !important;
}

.main_sub_title{
  font-weight: 100;
  font-size: 1.7em;
  letter-spacing: 1px;
}

.lang{
  background-color: rgb(75, 54, 128);
  transition: .3s all linear;
}

.border{
  border-bottom: 4px solid rgb(75, 54, 128);
}

.selected{
  background-color: rgb(109, 94, 153);
}

.box{
  max-height: 80vh;
  overflow-y: auto;
}
</style>
