<template>
  <v-flex class="h100">
    <v-layout align-center justify-space-around column fill-height class="h100">
      <v-flex>
      </v-flex>
      <v-flex>
        <h1 class="main_title">SIGN UP</h1>
          <!-- <v-flex d-flex justify-center>
            <button class="button mx-2" :class="duration == '1' ? 'bg_light_purple' : 'border_light_purple'" @click="showCards(1)">1 MOUNTH</button>
            <button class="button mx-2" :class="duration == '3' ? 'bg_light_purple' : 'border_light_purple'" @click="showCards(3)">3 MOUNTH</button>
            <button class="button mx-2" :class="duration == '12' ? 'bg_light_purple' : 'border_light_purple'" @click="showCards(12)">12 MOUNTH</button>
          </v-flex> -->
        <v-flex d-flex justify-space-between class="mt-5" v-if="subs">
          <v-flex xs12 md4 v-for="(sub, i) in subs" :key="i" @click="submit(sub)">
            <v-flex class="box bb px-4 py-2 bg_blue_purple mx-3">
              <h2 class="main_sub_title mb-5">{{sub.name.toUpperCase()}} <br> PACKAGE</h2>
              <p>
                <v-icon color="white" class="mr-3">monetization_on</v-icon>
                  $ {{sub.price}} / {{sub.duration}} 
                  <span v-show="sub.duration > 1">MONTHS</span>
                  <span v-show="sub.duration == 1">MONTH</span>
              </p>
              <p>
                <v-icon color="white" class="mr-3">videogame_asset</v-icon>
                3 Challenges
              </p>
              <p>
                <v-icon color="white" class="mr-3">school</v-icon>
                Practice Arena 1 Module
              </p>
              <p>
                <v-icon color="white" class="mr-3">contact_support</v-icon>
                Contact Support Unavailable
              </p>
            </v-flex>
          </v-flex>
        </v-flex>
      </v-flex>
      <v-flex>
        <button @click="submit(student)" class="bg_white text_purple button"> HackerU Student <u> SignUp</u></button>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      duration: 1,
      pricing: {
        challenges: [{price: 9.99, time: 1, title: '1 MONTH'}, {price: 19.99, time: 3, title: '3 MONTH'}, {price: 79.99, time: 12, title: '12 MONTH'}],
        practice: [{price: 9.99, time: 1, title: '1 MONTH'}, {price: 19.99, time: 3, title: '3 MONTH'}, {price: 79.99, time: 12, title: '12 MONTH'}],
        premium: [{price: 14.99, time: 1, title: '1 MONTH'}, {price: 29.99, time: 3, title: '3 MONTH'}, {price: 124.99, time: 12, title: '12 MONTH'}],
        tryout: [{price: 0, time: 1, title: 'COURSE'}, {price: 0, time: 3, title: 'COURSE'}, {price: 0, time: 12, title: 'COURSE'}],
        student: [{price: 0, time: 1, title: 'COURSE'}, {price: 0, time: 3, title: 'COURSE'}, {price: 0, time: 12, title: 'COURSE'}],
      },
      subs: [],
      student: null
    };
  },
  created() {
    this.showCards(this.duration);
  },
  methods: {
    submit(sub){
      EventBus.$emit('subscriptionPicked', {sub: sub, step: 2});
    },
    showCards(duration){
      this.duration = duration;
      this.subs = [];
      for(let i = 0; i < this.data.subs.length; i++){
        if(this.data.subs[i].duration == duration || this.data.subs[i].name == 'Tryout') this.subs.push(this.data.subs[i])
        if(this.data.subs[i].duration == -1 && this.data.subs[i].price < 1) this.student = this.data.subs[i];
      }
    }
  }
};
</script>

<style scoped>

.box{
  min-height: 400px;
}

.box:hover{
  background-color: rgba(118, 121, 180, 0.6);
  cursor: pointer;
}

.main_sub_title, .main_title{
  text-align: center;
}

.main_sub_title{
  font-weight: 100;
  font-size: 2em;
}

.bg_white{
  background-color: rgb(255, 255, 255, 0.7);
}

.bg_white:hover{
  background-color: rgb(255, 255, 255, 0.9);
}

</style>
