<template>
  <div>
    <video v-if="video && !cms" autoplay muted loop class="myVideo">
      <source :src="src" type="video/mp4" />Your browser does not support HTML5 video.
    </video>

    <img v-if="notfound" :src="notfound" alt id="page404" />

    <v-flex v-if="cms">
      <alert-cms v-if="alertCMS" id="alert" :alert="alertCMS" />
      <cms-toolbar />
      <div class="filler_space"></div>
      <sidebar />
    </v-flex>

    <v-flex v-else class="top">
      <toolbar />
    </v-flex>

    <v-flex xs6 mx-auto>
      <alert v-if="alert" :alert="alert" class="alert" />
      <time-dialog v-if="refreshing"/>
    </v-flex>

    <v-content :class="cms ? '' : 'black'">
      <transition name="fade" mode="out-in">
        <router-view
          :key="$route.fullpath"
          id="view"
          class="mx-auto"
          :class="cms ? 'text_dark pr-5' : 'text_white'"
        ></router-view>
      </transition>
    </v-content>

    <span v-if="footer">
      <v-footer class="py-1 px-3 footer" v-if="!cms">
        <router-link to="/policies" class="link" title="show policies">
          <span class="text_white">Policies</span>
        </router-link>
        <v-spacer></v-spacer>
        <small>Copyright &copy; 1996 - {{ new Date().getFullYear() }} Hackeru Ltd. All Rights Reserved.</small>
        <v-spacer></v-spacer>
        <small>V 3.3.0</small>
        <div></div>
      </v-footer>
    </span>
    
  </div>
</template>

<script>
import Toolbar from "./Master_parts/toolbar";
import Alert from "./General/alerts";
import AlertCms from "./General/alerts_app";
import CmsToolbar from "./Master_parts/CMS/toolbar";
import Sidebar from "./Master_parts/CMS/sidebar";
import TimeDialog from "./General/time_dialog";
export default {
  components: { Toolbar, Alert, AlertCms, CmsToolbar, Sidebar, TimeDialog },
  data() {
    return {
      src: IMG + "background/sywar_bg.mp4",
      video: true,
      notfound: false,
      alert: false,
      alertCMS: false,
      cms: false,
      screenSize: "xs10 offset-xs2",
      mins: null,
      refreshing: false,
      footer: true
    };
  },
  created() {
    this.t();
    this.i();

    EventBus.$on("404", e => {
      this.notfound = e;
    });

    EventBus.$on("routeChange", e => {
      this.cms = e;
    });

    EventBus.$on("screenWrapper", cms => {
      this.cms = cms;
    });

    EventBus.$on("sidebar", e => {
      if (!e) this.screenSize = "xs12 ml-10";
      else this.screenSize = "xs10 offset-xs2";
    });

    EventBus.$on('tokenRefreshed', bool => {
      this.refreshing = false;
    });

    if (window.location.pathname.split("/")[1].toLowerCase() == "cms")
      this.cms = true;

    EventBus.$on("game_mode", bool => {
      this.footer = !bool;
    });

    EventBus.$on("alert", data => {
      this.alertCMS = data;
      setTimeout(() => {
        this.alertCMS = null;
      }, 3000);
    });

    EventBus.$on("alertApp", alert => {
      this.alert = alert;
      setTimeout(
        function() {
          this.alert = false;
        }.bind(this),
        3000
      );
    });
  },

  methods: {
    // checkVideo() {
    //   var name = "video=";
    //   var decodedCookie = decodeURIComponent(document.cookie);
    //   var ca = decodedCookie.split(";");
    //   for (var i = 0; i < ca.length; i++) {
    //     var c = ca[i];
    //     while (c.charAt(0) == " ") {
    //       c = c.substring(1);
    //     }
    //     if (c.indexOf(name) == 0)
    //       return c.substring(name.length, c.length) == "true" ? true : false;
    //   }
    //   return false;
    // },
    // Tracking the user token, exp time
    t(){
      if(Auth.logged())
      {
        let exp = Auth.exp();
        let now = new Date;
        now = now.getTime()
        this.mins = (exp - now) / 1000 / 60;

        // if user exp time is over, logout
        
        if(Math.floor(this.mins) < 1)
        {
          axios.post('/api/logout');
          Auth.logout();
          window.location.reload();
        }else{

          // user's token about to expire, pop up alert
          if(Math.floor(this.mins) <= 15)
          {
            this.ut();
          }
        }
      }
    },
    // // Interval each minute to check token
    i(){
      if(Auth.logged())
      {
        const func = setInterval( () => {
          let res = this.t();
        }, 1000 * 60 )
      }
    },
    // // Update token time
    ut(){
      if(Auth.logged())
      {
        if(Math.floor(this.mins) <= 15)
        {
          if(this.refreshing) return;
          this.refreshing = true;
          axios.post('/api/user/refresh').then(res => {
            EventBus.$emit('newtoken', true);
            Auth.s(res.data.data, false);
            axios.defaults.headers.common["Authorization"] = `Bearer ${Auth.t()}`; // pass token for every request
          }).catch(err => {
            this.$router.push('/logout');
          })
        }
      }
    },
  },
  destroyed(){
    if(this.refreshing) this.$router.push('/logout')
  }
};
</script>

<style scoped>

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.top {
  position: fixed;
  height: 80px;
  width: 100vw;
  z-index: 5;
}

.content {
  position: relative;
  z-index: 2;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#page404 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  opacity: 0.8;
  object-fit: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 35px;
  z-index: 10000;
  color: rgba(178, 224, 233, 0.8) !important;
  background-color: rgba(18, 28, 48) !important;
}

.alert {
  position: absolute;
  top: 50px;
  width: 50%;
  text-align: center;
  z-index: 100000;
}

#screen_wrapper {
  transition: 0.2s all linear;
}

.filler_space {
  height: 120px;
  width: 100vw;
}

.ml-10 {
  padding-left: 50px;
}

#alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px auto;
  z-index: 100000000000;
  width: 50%;
}
</style>
