<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="'edit/'"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
      title: "Categories",
      api: "cms/categories",
      img: IMG + "cats/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Categories",
        one: "category",
        multiple: "categories"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Slug", value: "slug" },
        { text: "Description", value: "description" },
        { text: "Min Points", value: "min_points" },
        { text: "Min Level", value: "min_level" },
        { text: "Games", value: "games_count" },
        { text: "Status", value: "status" },
        { text: "Image", value: "image" },
        { text: "Created At", value: "created_at" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit"],
      searchData: {
        id: '',
        data: []
      }
    };
  },
  components: { Table, Top },

  methods: {
    autocomplete(v){
      if(v.trim()){
        axios.get(`/api/cms/autocomplete?model=categories&search=${v}`).then( res => {
          this.searchData.data = res.data;
        })
      }
    },
    updateData(){
      this.$router.push('/cms/categories/edit/' + this.searchData.id)
    }
  }
};
</script>

<style>
</style>
