<template>
    <v-container>
        <v-flex>
            <v-toolbar flat color="transparent">
                <v-toolbar-title>Show Privacy Policy</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn color="red" flat @click="dialog = true">Delete</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-form @submit.prevent="submit()" ref="form">
                <v-flex class="mt-4">
                    <h2 class="mb-2">English</h2>
                    <vue-editor :class="{'white-text': isWhiteTextEn}" v-model="form.english"></vue-editor>
                    <span class="red--text" v-if="errors && errors.english">{{ errors.english[0] }}</span>
                </v-flex>
                <v-flex class="mt-4">
                    <h2 class="mb-2">Hebrew</h2>
                    <vue-editor :class="{'white-text': isWhiteTextHe}" v-model="form.hebrew"></vue-editor>
                    <span class="red--text" v-if="errors && errors.hebrew">{{ errors.hebrew[0] }}</span>
                </v-flex>
                <v-btn class="mt-3" color="primary" block type="submit">Update</v-btn>
                <router-link to="/CMS/policies/privacy">
                    <v-btn class="mt-3" flat block type="submit">Cancel</v-btn>
                </router-link>
            </v-form>
        </v-flex>
        <v-dialog
            v-model="dialog"
            max-width="500"
            >
            <v-card>
                <v-card-title class="headline">Delete TNC</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    Are You sure You want to delete the TNC?
                </v-card-text>
                <v-card-actions>
                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="deletPolicy()"
                >
                    Accept
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"
                    flat="flat"
                    @click="dialog = false"
                >
                    Cancel
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
    components: {
        VueEditor
    },

    data() {
        return {
            form:{
                english: '',
                hebrew: '',
            },
            errors: {},
            dialog: false
        };
    },

    created(){
        this.getPrivacy()
    },

    computed: {
        isWhiteTextEn() {
            return this.form.english.includes('color: rgb(255, 255, 255);');
        },
        isWhiteTextHe() {
            return this.form.hebrew.includes('color: rgb(255, 255, 255);');
        }
    },

    methods:{
        getPrivacy(){
            axios.get(`/api/cms/privacy/show/${window.location.pathname.split('/')[4]}`, this.form).then(res => {
                this.form.english = res.data.content
                this.form.hebrew = res.data.content_heb
                this.form.id = res.data.id
            }).catch(err => {
                Alert.on(['error', err.response.data])
                this.$router.go(-1)
            })
        },
        submit(){
            axios.post('/api/cms/privacy/update', this.form).then(res => {
                this.errors = {};
                Alert.on(['success', res.data])
                this.$router.push('/CMS/policies/privacy')
            }).catch(err => {
                this.errors = err.response.data.errors;
            })
        },
        deletPolicy(){
            axios.post('/api/cms/privacy/delete', {id: this.form.id}).then(res => {
                Alert.on(['success', res.data])
                this.$router.push('/CMS/policies/privacy')
            })
        }
    }
}
</script>

<style>

</style>
