<template>
  <div class="game_wrapper">
    <v-flex v-if="game" class="d-none d-md-flex">
      <div v-if="error" class="error_wrapper">
        <alert v-if="alert" :alert="alert" />
      </div>
      <mission v-else :dialog="mission" :data="game" :docker="docker"/>
      <game-content :game="game"/>
    </v-flex>

    <v-layout row wrap align-center justify-center class="d-md-none vh-100">
      <div class="text-center">
          <h2>Challenge available <br> only on desktop</h2>
          <br>
          <button class="bg_light_purple text_white button my-3" @click="$router.go(-1)">Back</button>
      </div>
    </v-layout>

    <v-snackbar
      v-model="snackbar"
      :bottom="true"
      :left="false"
      color="black"
      :right="true"
      :top="false"
      :timeout="60000"
      :vertical="'vertical'"
      class="snackbar"
      >
      <v-layout justify-space-between column fill-height>
        <div class="card">
          <h2>LOADING MACHINE...</h2>
          <small>It may take some time, be patient</small>
          <br><br>
        </div>
        <div class="progress_wrapper mt-2">
          <div class="filler" :style="`width:${this.width}%`"></div>
        </div>
      </v-layout>
    </v-snackbar>
  </div>
</template>

<script>
import Mission from "./game_parts/mission";
import GameContent from "./game_parts/gameContent";
import { setTimeout, setInterval, clearInterval } from "timers";
export default {
  components: { Mission, GameContent },

  data() {
    return {
      game: null,
      mission: true,
      loading: true,
      snackbar: false,
      alert: false,
      error: false,
      docker: {},
      slug: null,
      category: window.location.pathname.split("/")[2],
      width: 0,
      challengeReady: false
    };
  },

  created() {
    let url = window.location.pathname.split("/");
    this.getGame();

    EventBus.$on("missionStatus", bool => {
      this.mission = bool;
      if(!bool) this.runDocker();
    });
  },

  methods: {
    getGame() {
      let game = window.location.pathname.split("/")[3];
      axios
        .get(`/api/games/${game.replace(/-/g, " ")}`)
        .then(res => {
          EventBus.$emit("game_mode", res.data.game.name);
          this.game = res.data.game;
        })
        .catch(err => {
          if(err.response.data == 'Need To Pay') return this.$router.push("/payment");
          this.$router.push("/challenges");
          Alert.onApp(["error", err.response.data]);
        });
    },

    getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    },

    async runDocker() {

      if(!this.game.details.docker) return;
      if(this.docker.ip) return;
    
      this.snackbar = true;
      this.timer();
      axios
        .get(`/api/games/docker/${this.game.id}`)
        .then(res => {
          if(Array.isArray(res.data)){
            this.isArray = true;
            res.data.forEach(e => {
              this.ArrIP.push(e.ip);
            });
            this.docker.time = '02:59:59';
            
            this.challengeReady = true;
            this.loading = false;
          }else{
            this.docker.ip = res.data.ip;
            let ports = String(res.data.port);
            this.docker.ports = ports.split("|");
            this.docker.time = res.data.time;
            this.checkContainer();
            EventBus.$emit('challengeReady', this.docker);
          }
        })
        .catch(err => {
          this.loading = false;
          if (err.response.data.error)
            this.setAlert("alert_error", err.response.data.error);
          else this.setAlert("alert_error", err.response.data);
        });
    },

    timer(){
      const func = setInterval(
        function() {
          if(this.width == 90) return TimeOut();
          this.width += 10;
        }.bind(this),
        1000
      );

      function TimeOut() {
        clearInterval(func);
      }

    },

    checkContainer() {
      axios
        .get(
          `/api/games/pulse?ip=${this.docker.ip}&port=${
            this.docker.ports[0]
          }&model=Container`
        )
        .then(res => {
          this.width = 100;
          setTimeout(
            function() {
              this.snackbar = false;
            }.bind(this),
            2000
          );
          setTimeout(
            () => {
              this.challengeReady = true;
            },
            2000
          );
        })
        .catch(err => {
          this.resetMode = true;
          this.challengeReady = false;
          this.loading = false;
          this.docker.time = null;
        });
    },
    
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
          this.$router.go(-1);
        }.bind(this),
        2000
      );
    },
  },

  destroyed() {
    EventBus.$emit("game_mode", false);
  }
};
</script>

<style scoped>
  .game_wrapper{
    background-color: rgb(0, 0, 0, .7);
  }
</style>
