<template>
    <v-flex xs12 mx-auto class="text-center" v-if="cat" style="max-height: 415px;">
        <v-flex xs12 md11 lg10 xl8 mx-auto d-none d-md-block class="text-center games_wrapper" :class="{'slider-mode': sliderMode}">
            <v-flex v-if="sliderMode">
                <swiper :options="swiperOption" ref="mySwiper">
                    <!-- slides -->
                    <swiper-slide v-for="(game, i) in cat.fullgames"
                                  @click="openRow(game, i)" :key="i">
                        <div class="card">
                            <v-flex class="top">
                                <v-row class="mt-3">
                                    <v-col cols="7"><h2>{{game.name}}</h2>
                                        <v-row class="ts-2">
                                            <v-col class="pt-0 mt-0"><b>{{game.points.points}} POINTS
                                                |
                                                <span :class="`text-${game.points.name.toLowerCase()}`"
                                                >{{game.points.name.toUpperCase()}}</span></b>
                                            </v-col>
                                        </v-row>
                                    </v-col>
                                    <v-col cols="5" class="text-right">
                                        <button
                                            v-if="['admin', 'teacher', 'master'].includes(role)"
                                            type="submit"
                                            class="text_white button btn-purp"
                                            :class="`instruction${i}`"
                                            @click="downloadGuide(game, i, i)"
                                        >INSTRUCTIONS
                                        </button>
                                    </v-col>
                                </v-row>

                            </v-flex>
                            <v-flex class="content" v-html="game.details.story.replace(/~/g, '<br>')"></v-flex>
                             <v-flex class="disabled_block finished_block bg_green" v-if="game.locked && ['student', 'candidate'].includes(role)">
                                <img class="finished" :src="img + 'general/finished.svg'" alt="">
                            </v-flex>
                            <v-flex class="disabled_block bg_brown" v-if="blocked.includes(game.id)">
                                <img class="finished" :src="img + 'general/unavailable.svg'" alt="">
                            </v-flex>
                            <v-flex class="bottom position-relative"
                                    :style="{backgroundImage: `url('${img}games/${game.image}')`}">
                                <button
                                    v-if="!blocked.includes(game.id) && !game.locked"
                                    :disabled="game.locked ? true : false"
                                    type="submit"
                                    class="bg_white text_purple button big_btn"
                                    :class="game.locked ? 'disabled' : ''"
                                    @click="enterGame(game.name)"
                                >PLAY
                                </button>
                                <span v-else></span>

                                <div class="overlay-black"></div>
                                <div v-if="game.finished || game.failed || game.hint" class="status-box stats">
                                    <svg v-if="game.finished && !['student', 'candidate'].includes(role)"
                                          title="game finished"
                                          style="fill:none;stroke:#e0f7fa;stroke-linecap:round;fill:none;stroke:#383B72;stroke-linecap:round;stroke-miterlimit:10;stroke-linejoin:round;"
                                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.35 52.35">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <g class="cls-2">
                                                    <path class="cls-3"
                                                          d="M34.41,14.57a3,3,0,0,0-2.18-.44,2.87,2.87,0,0,0-1.85,1.24L23.57,25.53l-2.42-2.62a2.93,2.93,0,0,0-2-.92,2.82,2.82,0,0,0-2.08.77,2.9,2.9,0,0,0-.16,4.1l5,5.34a2.83,2.83,0,0,0,2,.92H24a2.9,2.9,0,0,0,2-.78,2.8,2.8,0,0,0,.68-1L35.2,18.6a2.9,2.9,0,0,0-.79-4Zm-.27,3.31L25.55,30.71l-.07.12a1.55,1.55,0,0,1-.4.58,1.62,1.62,0,0,1-1.16.44,1.64,1.64,0,0,1-1.14-.52l-5-5.34a1.62,1.62,0,1,1,2.38-2.21l3.52,3.8,7.71-11.5a1.64,1.64,0,0,1,2.26-.45,1.64,1.64,0,0,1,.69,1A1.61,1.61,0,0,1,34.14,17.88Z"/>
                                                    <path class="cls-3"
                                                          d="M16.7,11.82a14.27,14.27,0,0,1,23.47,10,.57.57,0,0,0,.58.54h0a.57.57,0,0,0,.54-.6A15.42,15.42,0,0,0,16,10.94a.57.57,0,0,0-.06.81A.57.57,0,0,0,16.7,11.82Z"/>
                                                    <path class="cls-3"
                                                          d="M43.51,39l-4.95-7.46a15.29,15.29,0,0,0,2.74-7.63.59.59,0,0,0-.13-.42.58.58,0,0,0-1,.33A14.28,14.28,0,1,1,15.28,13.2a.58.58,0,0,0,0-.81.56.56,0,0,0-.42-.15.58.58,0,0,0-.39.19,15.39,15.39,0,0,0-.89,19.48L8.84,39a.64.64,0,0,0,.64,1l2.33-.41.07,4.79a.65.65,0,0,0,.49.61l.15,0a.65.65,0,0,0,.57-.34l1.69-3.13,1.5,3.16a.63.63,0,0,0,.57.36h0a.65.65,0,0,0,.57-.45l2.31-7.73a15.34,15.34,0,0,0,12.75-.22l2.38,8a.62.62,0,0,0,.56.45h.05a.63.63,0,0,0,.57-.36l1.6-3.36,1.93,3.35a.65.65,0,0,0,.55.32.64.64,0,0,0,.64-.67l-.23-4.74,2.29.4a.63.63,0,0,0,.64-.28A.64.64,0,0,0,43.51,39Zm-4.24-.15.14,2.9-4-6.89c.34-.27.68-.55,1-.85a15.73,15.73,0,0,0,1.31-1.4l3.88,5.86L40,38.2a.6.6,0,0,0-.53.15A.62.62,0,0,0,39.27,38.86ZM36.91,40l-1.26,2.65-2-6.6.7-.43ZM15,33.63a15.77,15.77,0,0,0,1.77,1.5L13.12,41.9l0-3.08a.66.66,0,0,0-.24-.49.58.58,0,0,0-.51-.13l-1.61.28L14.39,33C14.59,33.18,14.79,33.41,15,33.63Zm2.83,2.22.77.47-1.89,6.32-1.19-2.5Z"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <svg v-if="game.failed"
                                        title="game failed"
                                         style="fill:none;stroke:#383B72;stroke-linecap:round;fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-linejoin:round;"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.35 52.35">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <path class="cls-2"
                                                      d="M27.22,39.76h0a13.6,13.6,0,1,0-2.28,0,.48.48,0,0,0,.09-1,12.66,12.66,0,1,1,2.12,0,.47.47,0,0,0-.44.51A.48.48,0,0,0,27.22,39.76Z"/>
                                                <path class="cls-2"
                                                      d="M42,26.92a.48.48,0,0,0-.51.44A15.36,15.36,0,1,1,14.75,15.93a.48.48,0,0,0-.71-.64A16.31,16.31,0,1,0,42.45,27.44.48.48,0,0,0,42,26.92Z"/>
                                                <path class="cls-2"
                                                      d="M16.28,14.44A15.36,15.36,0,0,1,41.51,25.23a.49.49,0,0,0,.48.45h0a.49.49,0,0,0,.45-.51A16.31,16.31,0,0,0,15.66,13.71a.48.48,0,1,0,.62.73Z"/>
                                                <path class="cls-2"
                                                      d="M31.58,34.2a2.67,2.67,0,0,1-1.89-.78l-3.53-3.53-3.52,3.53a2.68,2.68,0,0,1-3.78-3.79l3.52-3.52-3.52-3.52A2.68,2.68,0,0,1,20.75,18h0a2.67,2.67,0,0,1,1.89.78l3.52,3.52,3.53-3.52a2.68,2.68,0,0,1,3.78,3.79L30,26.11l3.52,3.52a2.68,2.68,0,0,1-1.89,4.57Zm-5.42-5.66,4.2,4.2a1.72,1.72,0,0,0,2.44-2.43l-4.2-4.2,4.2-4.2a1.72,1.72,0,0,0-2.44-2.43l-4.2,4.2L22,19.48A1.67,1.67,0,0,0,20.75,19,1.72,1.72,0,0,0,19,20.69a1.74,1.74,0,0,0,.5,1.22l4.2,4.2-4.2,4.2a1.73,1.73,0,0,0,1.22,2.94A1.67,1.67,0,0,0,22,32.74Z"/>
                                            </g>
                                        </g>
                                    </svg>
                                    <svg v-if="game.hint"
                                          title="hint used"
                                         style="fill:none;stroke:#e0f7fa;stroke-linecap:round;fill:none;stroke:#383B72;stroke-linecap:round;stroke-miterlimit:10;stroke-linejoin:round;"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.35 52.35">
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <path class="cls-1"
                                                      d="M15.26,23.12a10.55,10.55,0,0,0,3.68,8,7.56,7.56,0,0,1,2.58,5.73v5.27a3.7,3.7,0,0,0,3.7,3.7h1.25a3.7,3.7,0,0,0,3.7-3.7V36.79a7.6,7.6,0,0,1,2.63-5.7,10.59,10.59,0,0,0,3.62-8,10.58,10.58,0,0,0-21.16,0ZM26.59,33.65v2.54H25.1V33.65a.75.75,0,0,1,1.49,0Zm2.09,4v1.09H23V37.68Zm0,3.68H23v-1.1h5.67Zm-5.55,1.49h5.42a2.21,2.21,0,0,1-2.08,1.49H25.22A2.23,2.23,0,0,1,23.13,42.85ZM24.36,32h0a2.24,2.24,0,0,0-.75,1.67v2.54H23A9,9,0,0,0,19.91,30a9.08,9.08,0,1,1,12.3-13.35,9,9,0,0,1,2.72,6.44A9.09,9.09,0,0,1,31.82,30a9.07,9.07,0,0,0-3.12,6.22h-.62V33.65a2.36,2.36,0,0,0-2.23-2.23A2.48,2.48,0,0,0,24.36,32Z"/>
                                                <path class="cls-1"
                                                      d="M25,16.92a.75.75,0,0,0,.75.73h0a.75.75,0,1,0,0-1.49h0A.76.76,0,0,0,25,16.92Z"/>
                                                <path class="cls-1"
                                                      d="M18.84,23.12a.75.75,0,0,0,1.49,0,5.47,5.47,0,0,1,2.81-4.78.74.74,0,1,0-.72-1.3A6.94,6.94,0,0,0,18.84,23.12Z"/>
                                                <path class="cls-1"
                                                      d="M25.84,11.18a.74.74,0,0,0,.75-.74v-2a.75.75,0,1,0-1.49,0v2A.74.74,0,0,0,25.84,11.18Z"/>
                                                <path class="cls-1"
                                                      d="M40.53,22.37h-2a.75.75,0,0,0-.74.75.74.74,0,0,0,.74.74h2a.74.74,0,0,0,.75-.74A.75.75,0,0,0,40.53,22.37Z"/>
                                                <path class="cls-1"
                                                      d="M13.17,22.37h-2a.75.75,0,0,0-.74.75.74.74,0,0,0,.74.74h2a.74.74,0,0,0,.74-.74A.75.75,0,0,0,13.17,22.37Z"/>
                                                <path class="cls-1"
                                                      d="M35.34,31.56a.75.75,0,0,0-1.06,1.05L35.71,34a.7.7,0,0,0,.52.22A.75.75,0,0,0,36.76,33Z"/>
                                                <path class="cls-1"
                                                      d="M16.35,14.68a.75.75,0,0,0,1.06,0,.75.75,0,0,0,0-1.06L16,12.2a.74.74,0,0,0-1.05,0,.75.75,0,0,0,0,1.06Z"/>
                                                <path class="cls-1"
                                                      d="M16.35,31.56,14.93,33a.75.75,0,0,0,.53,1.27A.7.7,0,0,0,16,34l1.43-1.42a.75.75,0,0,0-1.06-1.05Z"/>
                                                <circle class="cls-1" cx="35.13" cy="13.32" r="6.8"/>
                                                <g class="cls-2">
                                                    <path class="cls-3"
                                                          d="M35.36,9c.67,0,.92.27.92.61a7.56,7.56,0,0,1-.09,1C36,11.93,35.84,13,35.7,14.5H35c-.15-1.52-.31-2.57-.5-3.93a7.56,7.56,0,0,1-.09-1C34.43,9.23,34.69,9,35.36,9Zm0,8.49a.92.92,0,0,1-.94-1,.95.95,0,1,1,1.89,0A.92.92,0,0,1,35.37,17.44Z"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </v-flex>
                        </div>
                    </swiper-slide>

                    <!-- Optional controls -->
                    <div class="swiper-pagination" slot="pagination"></div>
                    <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div>
                    <div class="swiper-scrollbar" slot="scrollbar"></div>
                </swiper>
            </v-flex>
            <div v-else class="mb-10">
                <v-flex v-for="(game, i) in cat.fullgames"
                        :key="i"
                        :class="i % 2 == 0 ? `bg_light_purple` : `bg_purple`"
                        @click="openRow(game, i)">
                    <v-flex class="row mx-0 pointer" :id="`row${i}`" :class="blocked.includes(game.id) ? 'disabled' : ''">
                        <v-flex class="disabled_block finished_block bg_brown" v-if="blocked.includes(game.id)">
                            <img class="finished" :src="img + 'general/unavailable.svg'" alt="">
                        </v-flex>
                        <v-flex class="disabled_block finished_block bg_green" v-if="['student', 'candidate'].includes(role) && game.locked">
                            <img class="finished" :src="img + 'general/finished.svg'" alt="">
                        </v-flex>
                        <v-flex xs12 md2 d-flex align-center justify-end class="img_wrapper">
                            <img :src="img + 'games/' + game.image" alt/>
                        </v-flex>
                        <v-flex xs12 md10 class="text-left py-2 px-3">
                            <v-flex xs12 d-flex align-center class="mt-2">
                                <v-flex xs3 class="px-1">
                                    <h2 class="name">{{game.name}}</h2>
                                </v-flex>
                                <v-flex xs2 class="px-1">
                                    <p class="mb-0">{{game.points.points}} POINTS</p>
                                </v-flex>
                                <v-flex xs1 class="px-1">
                                    <p
                                        class="mb-0 diff"
                                        :class="`text-${game.points.name.toLowerCase()}`"
                                    >{{game.points.name.toUpperCase()}}</p>
                                </v-flex>
                                <v-flex xs2 class="px-1 stats" d-flex align-center>
                                    <img
                                        v-if="game.finished && !game.locked"
                                        :src="img + 'general/success.svg'"
                                        alt="success"
                                        title="game finished"
                                    />
                                    <img
                                        v-if="game.failed"
                                        :src="img + 'general/failed.svg'"
                                        alt="failed"
                                        title="game failed"
                                    />
                                    <img v-if="game.hint" :src="img + 'general/hint.svg'" alt="hint" title="hint used"/>
                                </v-flex>
                                <v-flex xs3 class="px-1">
                                    <button
                                        v-if="['admin', 'teacher', 'master'].includes(role)"
                                        type="submit"
                                        class="bg_light_brown text_white button"
                                        :class="`instruction${i}`"
                                        @click="downloadGuide(game, i, i)"
                                    >INSTRUCTIONS
                                    </button>
                                </v-flex>
                                <v-flex xs1 class="px-1">
                                    <button
                                        v-if="!blocked.includes(game.id) && !game.locked"
                                        type="submit"
                                        class="bg_white text_purple button"
                                        @click="enterGame(game.name)"
                                    >PLAY
                                    </button>
                                </v-flex>
                            </v-flex>
                            <v-flex xs12 v-if="selected == i">
                                <p class="description pt-2" v-html="game.details.story.replace(/~/g, ' ')"></p>
                            </v-flex>
                        </v-flex>
                    </v-flex>
                </v-flex>
            </div>
        </v-flex>
        <div class="d-md-none mb-10">
            <div class="card mobile-card" v-for="(game, i) in cat.fullgames" :key="i">
                <v-flex @click="mobileOpen(i)" class="top pt-3 pb-6">
                    <v-row>
                        <v-col cols="10">
                            <h2>{{game.name}}</h2>
                        </v-col>
                        <v-col cols="2" class="text-right">
                            <button :class="{opened: selected === i}"
                                    class="open-arrow">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                     y="0px"
                                     width="960px" height="560px" viewBox="0 0 960 560"
                                     enable-background="new 0 0 960 560" xml:space="preserve">
                                    <g id="Rounded_Rectangle_33_copy_4_1_">
                                        <path fill="#ffffff" d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937
                                            c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937
                                            c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"/>
                                    </g>
                                </svg>

                            </button>

                            <!-- <button-->
                            <!--     v-if="['admin', 'teacher', 'master'].includes(role)"-->
                            <!--     type="submit"-->
                            <!--     class="text_white button btn-purp"-->
                            <!--     :class="`instruction${i}`"-->
                            <!--     @click="downloadGuide(game, i, i)"-->
                            <!-- >INSTRUCTIONS-->
                            <!-- </button>-->
                        </v-col>
                    </v-row>
                    <v-row class="ts-2">
                        <v-col class="pt-0 mt-0">
                            <b>{{game.points.points}} POINTS
                                |
                                <span :class="`text-${game.points.name.toLowerCase()}`"
                                >{{game.points.name.toUpperCase()}}</span>
                            </b>
                        </v-col>
                    </v-row>
                </v-flex>
                <v-flex :style="{height:selected === i ? openedHeight + 'px' : 0}" ref="content" class="content"
                        :class="{opened: selected === i}">
                    <div v-html="game.details.story.replace(/~/g, '<br>')"></div>
                    <button
                        v-if="['admin', 'teacher', 'master'].includes(role)"
                        type="submit"
                        class="text_white button btn-purp w-100 mt-4"
                        :class="`instruction${i}`"
                        @click="downloadGuide(game, i, i)"
                    >INSTRUCTIONS
                    </button>
                </v-flex>
                <v-flex  class="bottom position-relative disabled_block bg_brown" v-if="blocked.includes(game.id)">
                    <img class="finished" :src="img + 'general/unavailable.svg'" alt="">
                </v-flex>
                <v-flex v-else class="bottom position-relative"
                        :style="{backgroundImage: `url('${img}games/${game.image}')`}">
                    <v-flex class="disabled_block finished_block bg_green" v-if="['student', 'candidate'].includes(role) && game.locked">
                        <img class="finished" :src="img + 'general/finished.svg'" alt="">
                    </v-flex>
                    <button
                        v-else
                        type="submit"
                        class="bg_white text_purple button big_btn"
                        @click="enterGame(game.name)"
                    >PLAY
                    </button>
                    <div class="overlay-black"></div>
                    <div v-if="game.finished || game.failed || game.hint" class="status-box stats">
                        <svg  v-if="game.finished"
                             title="game finished"
                             style="fill:none;stroke:#e0f7fa;stroke-linecap:round;fill:none;stroke:#383B72;stroke-linecap:round;stroke-miterlimit:10;stroke-linejoin:round;"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.35 52.35">
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <g class="cls-2">
                                        <path class="cls-3"
                                              d="M34.41,14.57a3,3,0,0,0-2.18-.44,2.87,2.87,0,0,0-1.85,1.24L23.57,25.53l-2.42-2.62a2.93,2.93,0,0,0-2-.92,2.82,2.82,0,0,0-2.08.77,2.9,2.9,0,0,0-.16,4.1l5,5.34a2.83,2.83,0,0,0,2,.92H24a2.9,2.9,0,0,0,2-.78,2.8,2.8,0,0,0,.68-1L35.2,18.6a2.9,2.9,0,0,0-.79-4Zm-.27,3.31L25.55,30.71l-.07.12a1.55,1.55,0,0,1-.4.58,1.62,1.62,0,0,1-1.16.44,1.64,1.64,0,0,1-1.14-.52l-5-5.34a1.62,1.62,0,1,1,2.38-2.21l3.52,3.8,7.71-11.5a1.64,1.64,0,0,1,2.26-.45,1.64,1.64,0,0,1,.69,1A1.61,1.61,0,0,1,34.14,17.88Z"/>
                                        <path class="cls-3"
                                              d="M16.7,11.82a14.27,14.27,0,0,1,23.47,10,.57.57,0,0,0,.58.54h0a.57.57,0,0,0,.54-.6A15.42,15.42,0,0,0,16,10.94a.57.57,0,0,0-.06.81A.57.57,0,0,0,16.7,11.82Z"/>
                                        <path class="cls-3"
                                              d="M43.51,39l-4.95-7.46a15.29,15.29,0,0,0,2.74-7.63.59.59,0,0,0-.13-.42.58.58,0,0,0-1,.33A14.28,14.28,0,1,1,15.28,13.2a.58.58,0,0,0,0-.81.56.56,0,0,0-.42-.15.58.58,0,0,0-.39.19,15.39,15.39,0,0,0-.89,19.48L8.84,39a.64.64,0,0,0,.64,1l2.33-.41.07,4.79a.65.65,0,0,0,.49.61l.15,0a.65.65,0,0,0,.57-.34l1.69-3.13,1.5,3.16a.63.63,0,0,0,.57.36h0a.65.65,0,0,0,.57-.45l2.31-7.73a15.34,15.34,0,0,0,12.75-.22l2.38,8a.62.62,0,0,0,.56.45h.05a.63.63,0,0,0,.57-.36l1.6-3.36,1.93,3.35a.65.65,0,0,0,.55.32.64.64,0,0,0,.64-.67l-.23-4.74,2.29.4a.63.63,0,0,0,.64-.28A.64.64,0,0,0,43.51,39Zm-4.24-.15.14,2.9-4-6.89c.34-.27.68-.55,1-.85a15.73,15.73,0,0,0,1.31-1.4l3.88,5.86L40,38.2a.6.6,0,0,0-.53.15A.62.62,0,0,0,39.27,38.86ZM36.91,40l-1.26,2.65-2-6.6.7-.43ZM15,33.63a15.77,15.77,0,0,0,1.77,1.5L13.12,41.9l0-3.08a.66.66,0,0,0-.24-.49.58.58,0,0,0-.51-.13l-1.61.28L14.39,33C14.59,33.18,14.79,33.41,15,33.63Zm2.83,2.22.77.47-1.89,6.32-1.19-2.5Z"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <svg v-if="game.failed"
                             title="game failed"
                             style="fill:none;stroke:#383B72;stroke-linecap:round;fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-linejoin:round;"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.35 52.35">
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-2"
                                          d="M27.22,39.76h0a13.6,13.6,0,1,0-2.28,0,.48.48,0,0,0,.09-1,12.66,12.66,0,1,1,2.12,0,.47.47,0,0,0-.44.51A.48.48,0,0,0,27.22,39.76Z"/>
                                    <path class="cls-2"
                                          d="M42,26.92a.48.48,0,0,0-.51.44A15.36,15.36,0,1,1,14.75,15.93a.48.48,0,0,0-.71-.64A16.31,16.31,0,1,0,42.45,27.44.48.48,0,0,0,42,26.92Z"/>
                                    <path class="cls-2"
                                          d="M16.28,14.44A15.36,15.36,0,0,1,41.51,25.23a.49.49,0,0,0,.48.45h0a.49.49,0,0,0,.45-.51A16.31,16.31,0,0,0,15.66,13.71a.48.48,0,1,0,.62.73Z"/>
                                    <path class="cls-2"
                                          d="M31.58,34.2a2.67,2.67,0,0,1-1.89-.78l-3.53-3.53-3.52,3.53a2.68,2.68,0,0,1-3.78-3.79l3.52-3.52-3.52-3.52A2.68,2.68,0,0,1,20.75,18h0a2.67,2.67,0,0,1,1.89.78l3.52,3.52,3.53-3.52a2.68,2.68,0,0,1,3.78,3.79L30,26.11l3.52,3.52a2.68,2.68,0,0,1-1.89,4.57Zm-5.42-5.66,4.2,4.2a1.72,1.72,0,0,0,2.44-2.43l-4.2-4.2,4.2-4.2a1.72,1.72,0,0,0-2.44-2.43l-4.2,4.2L22,19.48A1.67,1.67,0,0,0,20.75,19,1.72,1.72,0,0,0,19,20.69a1.74,1.74,0,0,0,.5,1.22l4.2,4.2-4.2,4.2a1.73,1.73,0,0,0,1.22,2.94A1.67,1.67,0,0,0,22,32.74Z"/>
                                </g>
                            </g>
                        </svg>
                        <svg v-if="game.hint"
                             title="hint used"
                             style="fill:none;stroke:#e0f7fa;stroke-linecap:round;fill:none;stroke:#383B72;stroke-linecap:round;stroke-miterlimit:10;stroke-linejoin:round;"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.35 52.35">
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1"
                                          d="M15.26,23.12a10.55,10.55,0,0,0,3.68,8,7.56,7.56,0,0,1,2.58,5.73v5.27a3.7,3.7,0,0,0,3.7,3.7h1.25a3.7,3.7,0,0,0,3.7-3.7V36.79a7.6,7.6,0,0,1,2.63-5.7,10.59,10.59,0,0,0,3.62-8,10.58,10.58,0,0,0-21.16,0ZM26.59,33.65v2.54H25.1V33.65a.75.75,0,0,1,1.49,0Zm2.09,4v1.09H23V37.68Zm0,3.68H23v-1.1h5.67Zm-5.55,1.49h5.42a2.21,2.21,0,0,1-2.08,1.49H25.22A2.23,2.23,0,0,1,23.13,42.85ZM24.36,32h0a2.24,2.24,0,0,0-.75,1.67v2.54H23A9,9,0,0,0,19.91,30a9.08,9.08,0,1,1,12.3-13.35,9,9,0,0,1,2.72,6.44A9.09,9.09,0,0,1,31.82,30a9.07,9.07,0,0,0-3.12,6.22h-.62V33.65a2.36,2.36,0,0,0-2.23-2.23A2.48,2.48,0,0,0,24.36,32Z"/>
                                    <path class="cls-1"
                                          d="M25,16.92a.75.75,0,0,0,.75.73h0a.75.75,0,1,0,0-1.49h0A.76.76,0,0,0,25,16.92Z"/>
                                    <path class="cls-1"
                                          d="M18.84,23.12a.75.75,0,0,0,1.49,0,5.47,5.47,0,0,1,2.81-4.78.74.74,0,1,0-.72-1.3A6.94,6.94,0,0,0,18.84,23.12Z"/>
                                    <path class="cls-1"
                                          d="M25.84,11.18a.74.74,0,0,0,.75-.74v-2a.75.75,0,1,0-1.49,0v2A.74.74,0,0,0,25.84,11.18Z"/>
                                    <path class="cls-1"
                                          d="M40.53,22.37h-2a.75.75,0,0,0-.74.75.74.74,0,0,0,.74.74h2a.74.74,0,0,0,.75-.74A.75.75,0,0,0,40.53,22.37Z"/>
                                    <path class="cls-1"
                                          d="M13.17,22.37h-2a.75.75,0,0,0-.74.75.74.74,0,0,0,.74.74h2a.74.74,0,0,0,.74-.74A.75.75,0,0,0,13.17,22.37Z"/>
                                    <path class="cls-1"
                                          d="M35.34,31.56a.75.75,0,0,0-1.06,1.05L35.71,34a.7.7,0,0,0,.52.22A.75.75,0,0,0,36.76,33Z"/>
                                    <path class="cls-1"
                                          d="M16.35,14.68a.75.75,0,0,0,1.06,0,.75.75,0,0,0,0-1.06L16,12.2a.74.74,0,0,0-1.05,0,.75.75,0,0,0,0,1.06Z"/>
                                    <path class="cls-1"
                                          d="M16.35,31.56,14.93,33a.75.75,0,0,0,.53,1.27A.7.7,0,0,0,16,34l1.43-1.42a.75.75,0,0,0-1.06-1.05Z"/>
                                    <circle class="cls-1" cx="35.13" cy="13.32" r="6.8"/>
                                    <g class="cls-2">
                                        <path class="cls-3"
                                              d="M35.36,9c.67,0,.92.27.92.61a7.56,7.56,0,0,1-.09,1C36,11.93,35.84,13,35.7,14.5H35c-.15-1.52-.31-2.57-.5-3.93a7.56,7.56,0,0,1-.09-1C34.43,9.23,34.69,9,35.36,9Zm0,8.49a.92.92,0,0,1-.94-1,.95.95,0,1,1,1.89,0A.92.92,0,0,1,35.37,17.44Z"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </v-flex>
            </div>
        </div>
    </v-flex>
</template>

<script>
    import {setTimeout} from "timers";
    import 'swiper/dist/css/swiper.css'
    import { swiper, swiperSlide } from 'vue-awesome-swiper'
    export default {
        components: { swiper, swiperSlide },
        props: ["data", "sliderMode", 'blocked', 'locked'],
        data: () => ({
            cat: null,
            mode: "cats",
            img: IMG,
            cat: null,
            selected: null,
            selectedGames: [],
            role: Auth.role(),
            openedHeight: null,
            swiperOption: {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                effect: 'coverflow',
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 0,
                    stretch: 0,
                    depth: 500,
                    modifier: 1,
                    slideShadows: true
                },
                speed: 450,
                loop: true
            }
        }),
        computed: {
            swiper() {
                if (this.$refs.mySwiper)
                    return this.$refs.mySwiper.swiper;
                else
                    return true;
            }
        },
        created() {
            this.findGame();
            window.addEventListener("keydown", (e) => {
                if (this.sliderMode)
                    if (e.key === 'ArrowLeft')
                        this.swiper.slidePrev();
                    else if (e.key === 'ArrowRight')
                        this.swiper.slideNext();
            });
            EventBus.$on('mobile-open', ([oldIdx, newIdx]) => {
                this.openedHeight = this.$refs.content[newIdx].scrollHeight;
            });
        },

        updated() {
            if (this.sliderMode) document.getElementsByClassName('games_wrapper')[0].style.overflowY = 'hidden';
            else document.getElementsByClassName('games_wrapper')[0].style.overflowY = 'auto';
        },

        methods: {
            findGame() {
                for (let i = 0; i < this.data.length; i++) {
                    let path = window.location.pathname.split("/")[2];
                    let name = this.data[i].name;
                    name = name
                        .toLowerCase()
                        .replace(/\s/g, "-")
                        .replace(/&/g, "and")
                        .replace(/\//g, "or");
                    if (name == path) {
                        this.cat = this.data[i];
                        this.cat.sluggy = name;
                    }
                }
            },
            downloadGuide(game, i) {
                if (navigator.userAgent.toLowerCase().indexOf("firefox") > -1)
                {
                    return Alert.onApp({
                        type: "alert_error",
                        content: "Instruction Cannot Be Downloaded From FireFox"
                    });
                }
                Load.on();
                var game = game;
                let ele = document.querySelector(`.instruction${i}`);
                if (ele) ele.classList.add("loading_Animation");
                axios({
                    url: `/api/download?file=${this.cat.slug}/${game.guide}`,
                    method: "GET",
                    responseType: "blob"
                })
                    .then(res => {
                        if (ele) ele.classList.remove("loading_Animation");
                        Load.off();
                        var contentType = res.headers._headers;
                        const blob = new Blob([res.data], {type: contentType});

                        function createObjectURL(file) {
                            if (window.webkitURL) {
                                return window.webkitURL.createObjectURL(file, {
                                    oneTimeOnly: true
                                });
                            } else if (window.URL && window.URL.createObjectURL) {
                                return window.URL.createObjectURL(file, {oneTimeOnly: true});
                            } else {
                                return null;
                            }
                        }

                        var url = createObjectURL(blob);
                        const link = document.createElement("a");
                        link.href = url;
                        link.setAttribute("download", game.guide);
                        document.body.appendChild(link);
                        link.click();
                        setTimeout(function () {
                            window.webkitURL.revokeObjectURL(url);
                        }, 500);
                    })
                    .catch(err => {
                        if (ele) ele.classList.remove("loading_Animation");
                        Load.off();
                        if (err.response.data.size == 54)
                            Alert.onApp({
                                type: "alert_error",
                                content: "Unauthorized To Access The Challenge Instruction"
                            });
                        else
                            Alert.onApp({
                                type: "alert_error",
                                content: "Challenge Instruction Not Found"
                            });
                    });
            },
            openRow(game, i) {
                if(game.locked || this.blocked.includes(game.id)) return;
                for (let z = 0; z < this.cat.fullgames.length; z++) {
                    if (z != i) {
                        let element = document.getElementById(`row${z}`);
                        element.classList.remove("open_row");
                    }
                }
                let element = document.getElementById(`row${i}`);
                if (element.classList.contains("open_row"))
                    element.classList.remove("open_row");
                else element.classList.add("open_row");
                this.selected == i ? (this.selected = null) : (this.selected = i);
            },
            enterGame(name) {
                name = name
                    .toLowerCase()
                    .replace(/\s/g, "-")
                    .replace(/&/g, "and");
                this.$router.push(`/challenges/${this.cat.slug}/${name}`);
            },
            mobileOpen(i) {
                EventBus.$emit('mobile-open', [this.selected, i]);
                this.selected = this.selected === i ? null : i;
            }
        }
    };
</script>

<style lang="scss" scoped>
    .w-100 {
        width: 100%;
    }

    .position-relative {
        position: relative;
    }

    .col, .row {
        margin-bottom: 0;
        padding-bottom: 0;
    }


    .ts-2 {
        letter-spacing: .2rem;
    }

    .btn-purp {
        background: #7869d6aa;
        padding: 5px 15px;
        font-size: .8rem;
    }

    .swiper-slide {
        max-width: 515px;
        max-height: 415px;
        height: 100%;
        width: 100%;
        background: rgba(72, 66, 158, .5);
        opacity: .2;
        transition: all .3s;

        &.swiper-slide-next, &.swiper-slide-prev {
            opacity: .5;
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }


    .swiper-container {
        height: 415px;
    }

    .swiper-button-prev, .swiper-button-next {
        padding: 20px;
        z-index: 9999;
        background-image: url("/images/ASSETS/play-button.svg");
    }

    .swiper-button-prev {
        transform: scale(1.2) rotate(90deg);
    }

    .swiper-button-next {
        transform: scale(1.2) rotate(-90deg);
    }


    .card {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;

        .overlay-black {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, .6);
            top: 0;
            left: 0;
        }

        .status-box {
            background: rgb(255,255,255,0.7);
            padding: 13px;
            position: relative;
            top: -45px;

            &::before {
                content: '';
                position: absolute;
                display: block;
                border-top: 20px solid transparent;
                border-bottom: 0 solid transparent;
                border-right: 15px solid #aaa;
                top: 0;
                left: -15px;
            }
        }

        .top, .content, .bottom {
            flex-shrink: 0;
        }

        .top {
            max-height: 110px;
            padding: 0 34px;

            h2 {
                white-space: nowrap;
                font-size: 1.4rem;
                letter-spacing: .25rem;
                text-transform: uppercase;


                &::after {
                    content: '';
                    display: block;
                    background-color: #fff;
                    width: 100px;
                    height: 2px;
                    margin: 7px 0;
                }
            }
        }

        .content {
            flex-grow: 1345;
            padding: 0 34px;
            max-height: 200px;
            overflow-y: auto;

            button{
                width: 75%;
            }
        }

        .bottom {
            background-size: cover;
            background-color: #000;
            background-position: center;
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 25px;
        }

        .button {
            border: 1px solid rgb(75, 54, 128);
            z-index: 66666;
        }


        .row {
            flex-wrap: nowrap;
            background: none;
            opacity: 1;
            height: inherit;
        }

        &.mobile-card {
            background: rgba(72, 66, 158, .5);
            border-bottom: 2px solid red;
            border-image: linear-gradient(
                    to right,
                    rgb(254, 249, 196),
                    rgb(150, 224, 216)
            ) 0 1 100% 1;

            .finished_block{
                position: absolute;
                left: 0;
                max-width: 100vw;
            }

            .top {
                max-height: initial;

                h2 {
                    white-space: initial;
                }

                .open-arrow {
                    cursor: pointer;
                    color: #fff;
                    font-size: 2rem;
                    line-height: 1rem;
                    padding: 3px;
                    transition: transform .3s;

                    svg {
                        width: 100%;
                        height: 100%;
                    }

                    &::after {
                        position: relative;
                        top: -3px;
                        left: 0;
                    }

                    &.opened {
                        transform: rotate(180deg);
                    }
                }
            }

            .content {
                height: 0;
                max-height: initial;
                overflow-y: hidden;
                transition: height .3s;

                &.opened {
                    height: 120px;
                    margin-bottom: 30px;
                }
            }

            .bottom {
                max-height: 86px;

                .big_btn {
                    width: initial;
                }

                .stats {
                    top: -20px;
                }
            }
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }


    /* always present */
    .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
    }

    /* .expand-enter defines the starting state for entering */
    /* .expand-leave defines the ending state for leaving */
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }

    /*.games_wrapper.slider-mode {*/
    /*    max-height: none;*/
    /*}*/


    h1 {
        letter-spacing: 5px;
    }

    h2 {
        font-weight: 200;
        letter-spacing: 5px;
    }

    .diff {
        font-weight: 700;
    }

    .bg_light_purple {
        background-color: rgb(109, 94, 153, 0.3);
    }

    .bg_purple {
        background-color: rgb(75, 54, 128, 0.3);
    }

    .name {
        font-weight: 100;
        font-size: 1.2em;
    }

    .stats svg {
        height: 55px;
        width: 55px;
        border: none;
        outline: none;
    }

    .stats img {
        height: 40px;
        width: 40px;
        border: none;
        outline: none;
    }

    .text-easy {
        color: rgb(145, 224, 215);
    }

    .text-medium {
        color: rgb(254, 249, 196);
    }

    .text-hard {
        color: rgb(241, 129, 37);
    }

    .text-insane {
        color: rgb(233, 39, 81);
    }

    .open_row {
        height: 150px;
    }

    .description {
        font-size: 0.9em;
        font-weight: 100;
    }

    .row {
        background: linear-gradient(
                90deg,
                rgba(72, 66, 158, 0.3),
                rgba(95, 90, 170, 0.3),
                rgba(146, 94, 153, 0.3),
                rgba(220, 83, 163, 0.2),
                rgb(220, 83, 105, 0.3)
        );
    }

    .bg_light_brown:hover {
        background-color: rgb(118, 121, 153);
    }

    .big_btn {
        width: 20%;
    }

    .big_btn:hover {
        box-shadow: 0px 0px 15px 3px rgb(255, 255, 255, 0.5);
    }

    .finished_block img{
        max-width: 220px;
        object-fit: contain;
        height: 50px;
        z-index: 5;
        opacity: 1;
    }

    .bg_green{
        background-color: rgb(145, 224, 215, 0.4);
    }
</style>
