<template>
    <v-flex class="px-3 margin_menu">
        <v-flex mx-auto class="text-center">
            <v-flex xs12 md10 lg8 mx-auto>
                <v-flex class="breadcrumbs" d-none d-md-block>
                    <router-link to="/" class="no_dec white--text">
                        <span class="bread_link">Home</span>
                    </router-link>
                    <span class="spacer">/</span>
                    <router-link v-if="cat" to="/challenges" class="no_dec white--text">
                        <span class="bread_link">Challenges</span>
                    </router-link>
                    <span v-else>Challenges</span>
                    <span v-if="cat">/</span>
                    <span v-if="cat">{{cat}}</span>
                </v-flex>
                <h1 class="main_title">CHALLENGES</h1>
                <!-- <v-flex v-if="!cat" xs12 m10 lg8 mx-auto>
                    <h2>WELCOME TO CYWAR MODULES</h2>
                    <p class="mb-0">
                        Our challenges are grouped in modules, each consisting of several challenges.
                        The difficulty level and amount of points gained for completion appear at the bottom of the game
                        description box.
                    </p>
                </v-flex> -->
            </v-flex>
            <v-flex xs12 v-if="cat">
                <br/>
                <v-flex md11 lg10 xl8 d-flex justify-space-between align-end class="mx-auto">
                    <span>
                        <router-link to="/challenges">
                            <button type="submit" class="bg_white text_purple button mr-3" @click="cat = ''">BACK</button>
                        </router-link>
                        <!-- {{cat.toUpperCase()}} -->
                    </span>
                    <span class="cat_title d-none d-md-block">
                        <v-icon class="icon" title="show challenges in carousel" large v-if="!sliderMode" @click="updateMode()" color="grey">view_carousel</v-icon>
                        <v-icon class="icon" title="show challenges in table" large v-else @click="updateMode()" color="grey">view_list</v-icon>
                    </span>
                </v-flex>
            </v-flex>
            <v-layout row wrap class="mt-3" v-if="data">
                <transition name="fade" mode="out-in">
                    <router-view :data="data" :blocked="blocked" :slider-mode="sliderMode"></router-view>
                </transition>
            </v-layout>
            <v-flex v-else>
                <loading class="mx-auto mt-3" />
            </v-flex>
        </v-flex>
    </v-flex>
</template>

<script>
    import {setTimeout} from "timers";
    import Loading from './../General/loading'
    export default {
        components: { Loading },
        data() {
            return {
                sliderMode: false,
                cats: [],
                mode: "cats",
                img: IMG,
                cat: null,
                catName: null,
                selectedGames: [],
                role: Auth.role(),
                data: null,
                blocked: null
            };
        },
        created() {
            this.getGames();
            EventBus.$on("changeRouteChallenges", cat => {
                this.getCatName();
            });
            this.checkMode();
        },
        
        updated(){
            let url = this.$route.path;
            if(url == '/challenges') this.cat = null;
        },

        methods: {
            checkMode(){
              let mode = this.getCookie('challengeMode');
              if(mode){
                if(mode == 0) this.sliderMode = false;
                else this.sliderMode = true;
              }else{
                document.cookie = 'challengeMode=0';
              }
            },
            updateMode(){
              this.sliderMode = !this.sliderMode;
              let mode = this.sliderMode ? 1 : 0;
              document.cookie = 'challengeMode=' + mode;
            },
            getGames() {
                Load.on();
                axios.get(`/api/games`).then(res => {
                    // remove duplicates from array
                    let blocked = new Set(res.data.blocked);
                    this.blocked = [...blocked];
                    
                    Load.off();
                    this.data = res.data.data;
                    this.catGames(res.data.data);
                    this.getCatName();
                });
            },
            catGames(cats) {
                for (let i = 0; i < cats.length; i++) {
                    cats[i].finished = 0;
                    for (let z = 0; z < cats[i].fullgames.length; z++) {
                        cats[i].games = cats[i].fullgames.length;
                        if (cats[i].fullgames[z].finished) cats[i].finished++;
                    }
                }
            },
            getCatName() {
                let cat = window.location.pathname.split("/")[2];
                if (cat) {
                    cat = cat.replace(/-/g, " ").replace(/and/g, "&");
                    this.cat = cat;
                    for (let i = 0; i < this.data.length; i++) {
                        let name = this.data[i].name;
                        // name = name.toLowerCase().replace(/\//g, "or");
                        // let score = "";
                        // if (name == cat) {
                        //     score += ` ${this.data[i].finished} / `;
                        //     score += `${this.data[i].games}`;
                        // }
                        // this.cat += score;
                    }
                }
            },
            getCookie(cname) {
              var name = cname + "=";
              var decodedCookie = decodeURIComponent(document.cookie);
              var ca = decodedCookie.split(';');
              for(var i = 0; i <ca.length; i++) {
                  var c = ca[i];
                  while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                  }
                  if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
              }
              return "";
          },
        }
    };
</script>

<style scoped>
    .top{
        min-width: 300px;
        width: 100%;
    }

    h1 {
        letter-spacing: 5px;
    }

    h2 {
        font-weight: 200;
        letter-spacing: 5px;
    }

    .icon {  
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }

    @keyframes floating {
        from { transform: translate(0,  0); }
        65%  { transform: translate(5px, 0); }
        to   { transform: translate(-0px, 0); }    
    }
</style>