<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <!-- <v-text-field outlined class="pt-0" v-model="search" label="Search games"></v-text-field> -->
    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :active="active"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
      title: "Games",
      api: "cms/games",
      active: 1,
      img: IMG + "games/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Challenges",
        one: "challenge",
        multiple: "challenge"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Category", value: "category" },
        { text: "Points", value: "points" },
        { text: "Image", value: "image" },
        { text: "Notes", value: "notes" },
        { text: "Created At", value: "created_at" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Deactivate", "Delete"],
      actionBtns: ["visibility", "edit"],
      searchData: {
        id: '',
        data: []
      }
    };
  },

  components: { Table, Top },
  
  methods: {
    autocomplete(v){
      if(v.trim()){
        axios.get(`/api/cms/autocomplete?model=games&search=${v}`).then( res => {
          this.searchData.data = res.data;
        })
      }
    },
    updateData(){
      this.$router.push('/cms/games/edit/' + this.searchData.id)
    }
  }
};
</script>

<style>
</style>
