<template>
    <v-container class="pt-0">
        <v-flex v-if="game">
            <v-toolbar flat color="transparent">
                <v-toolbar-title>
                    <v-flex xs12 d-flex align-center>
                        Edit Challenge&nbsp;-&nbsp; <strong>{{game.name}}</strong>
                        <v-icon class="pointer ml-3" @click="updateStatus(0)" v-if="game.status" style="font-size:3em;" color="green">toggle_on</v-icon>
                        <v-icon class="pointer ml-3" @click="updateStatus(1)" v-else style="font-size:3em;" color="red">toggle_off</v-icon>
                    </v-flex>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn color="red" @click="dialogDelete = true" dark>Delete</v-btn>
            </v-toolbar>
            <v-dialog
            v-model="dialogDelete"
            max-width="500"
            >
            <v-card>
                <v-card-title class="headline">Delete Challenge</v-card-title>
                <v-card-text>
                Are you sure you want to delete this challenge?
                </v-card-text>
                <v-card-actions>
                <v-btn flat text @click="dialogDelete = false">
                    Cancel
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="red" dark text @click="deleteGame()">
                    Delete
                </v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>
            <v-flex>
                <v-form @submit.prevent="submit()" ref="form" enctype="multipart/form-data">
                    <v-flex xs12 class="px-2">
                        <v-card>
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Image <small>(only jpeg, jpg, png, bmp, gif, svg or webp)</small></v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="success" icon @click="editImage()"><v-icon>edit</v-icon></v-btn>
                                    <input type="file" class="d-none" id="new_image" @change="ImagePicked">
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-flex>
                                <img class="cms_big_img" id="game_image" :src="imgGame + this.game.image" alt="">
                            </v-flex>
                        </v-card>
                        <v-card class="mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Profile</v-toolbar-title>
                            </v-toolbar>
                            <v-flex class="px-3 pb-3">
                                <v-select
                                    outlined
                                    :items="categories"
                                    item-text="name"
                                    item-value="id"
                                    v-model="game.category_id"
                                    :error-messages="errors.category_id"
                                    :rules="[rules.category_id]"
                                    label="Category"
                                ></v-select>
                                <v-text-field
                                    outlined
                                    label="Name"
                                    v-model="game.name"
                                    :error-messages="errors.name"
                                    :rules="[rules.name]"
                                ></v-text-field>
                                <v-textarea
                                    outlined
                                    label="Description"
                                    v-model="game.description"
                                    :error-messages="errors.description"
                                    :rules="[rules.description]"
                                ></v-textarea>
                                <v-select
                                    outlined
                                    :items="points"
                                    item-text="name"
                                    item-value="id"
                                    v-model="game.point_id"
                                    :error-messages="errors.point_id"
                                    :rules="[rules.point_id]"
                                    label="Challenge Difficult"
                                ></v-select>
                                <v-text-field
                                    outlined
                                    label="Notes"
                                    v-model="game.notes"
                                ></v-text-field>
                            </v-flex>
                        </v-card>
                        <v-card class="mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Details</v-toolbar-title>
                            </v-toolbar>
                            <v-flex class="px-3 pb-3">
                                <!-- <v-text-field
                                    outlined
                                    label="Title"
                                    hint="The title in the challenge above the inputs"
                                    v-model="game.all_details.title"
                                    :error-messages="errors.all_details && errors.all_details.title"
                                    :rules="[rules.title]"
                                ></v-text-field> -->
                                <v-autocomplete
                                    outlined
                                    label="Creator"
                                    hint="The creator of the challenge"
                                    item-value="id"
                                    item-text="name"
                                    :items="users"
                                    v-model="game.all_details.user_id"
                                ></v-autocomplete>
                                <v-text-field
                                    outlined
                                    label="Play Time"
                                    hint="Docker time to live in minutes"
                                    v-model="game.all_details.play_time"
                                    :error-messages="errors.all_details && errors.all_details.play_time"
                                ></v-text-field>
                                <v-textarea
                                    outlined
                                    label="Hint"
                                    v-model="game.all_details.hint"
                                    :error-messages="errors.all_details && errors.all_details.hint"
                                    :rules="[rules.hint]"
                                ></v-textarea>
                                <v-text-field
                                    outlined
                                    label="Hint Points"
                                    hint="Hint Points in %"
                                    v-model="game.all_details.hint_points"
                                    :error-messages="errors.all_details && errors.all_details.hint_points"
                                    :rules="[rules.hint_points]"
                                ></v-text-field>
                                <v-textarea
                                    outlined
                                    label="Scenario"
                                    hint="Use ~ to drop a line"
                                    v-model="game.all_details.story"
                                    :error-messages="errors.all_details && errors.all_details.story"
                                    :rules="[rules.story]"
                                ></v-textarea>
                                <v-textarea
                                    outlined
                                    label="Objectives"
                                    hint="Use ~ to drop a line"
                                    v-model="game.all_details.objective"
                                    :error-messages="errors.all_details && errors.all_details.objective"
                                    :rules="[rules.objective]"
                                ></v-textarea>
                                <v-text-field
                                    outlined
                                    v-model="game.all_details.docker"
                                    label="Docker IP"
                                ></v-text-field>
                            </v-flex>
                        </v-card>
                         <v-card class="pb-3 mt-3" v-if="tags">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Tags {{game.tags.length}}</v-toolbar-title>
                            </v-toolbar>
                            <v-autocomplete
                                v-model="game.tags"
                                :items="tags"
                                item-text="name"
                                item-value="id"
                                attach
                                chips
                                label="Tags"
                                multiple
                                autocomplete="off"
                                class="mx-3"
                            ></v-autocomplete>
                        </v-card>
                        <v-card class="pb-3 mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Fields {{game.all_inputs.length}}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="primary" icon @click="newInput()"><v-icon>add</v-icon></v-btn>
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-flex class="px-3" v-for="(input, i) in game.all_inputs" :key="i" d-flex>
                                <v-text-field
                                    outlined
                                    label="Field Name"
                                    class="pr-3"
                                    hint="The name of the input in the challenge"
                                    v-model="game.all_inputs[i].name"
                                ></v-text-field>
                                <v-text-field
                                    outlined
                                    label="Field Value"
                                    hint="The value of the input in the challenge"
                                    v-model="game.all_inputs[i].value"
                                ></v-text-field>
                                <v-flex xs1>
                                    <v-btn color="white" class="mt-2" icon @click="removeInput(i)"><v-icon color="red">delete</v-icon></v-btn>
                                </v-flex>
                            </v-flex>
                        </v-card>
                        <v-card class="mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Instruction</v-toolbar-title>
                                <button
                                    type="button"
                                    class="bg_purple text_white button ml-3"
                                    :class="`instruction`"
                                    @click="downloadGuide()"
                                >DOWNLOAD
                                </button>
                                <v-toolbar-items>
                                    <!-- <img class="cms_small_img pointer" :src="imgGuide" title="Download Instruction" @click="downloadGuide()"> -->
                                </v-toolbar-items>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="success" icon @click="editGuide()"><v-icon>edit</v-icon></v-btn>
                                    <input type="file" class="d-none" id="new_guide" @change="guidePicked">
                                </v-toolbar-items>
                            </v-toolbar>
                        </v-card>
                        <v-card class="pb-3 mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Files {{game.files.length}}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="primary" icon @click="newFile()"><v-icon>add</v-icon></v-btn>
                                    <input type="file" class="d-none" id="new_file" @change="filePicked">
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-flex class="px-3" d-flex wrap>
                                <v-flex xs12 md6 lg4 v-for="(file, i) in game.files" :key="i" class="px-2">
                                    <v-card>
                                        <v-flex d-flex class="px-2">
                                            <v-text-field
                                                outlined
                                                label="File Name"
                                                v-model="game.files[i].name"
                                            ></v-text-field>
                                            <v-btn color="white" icon @click="removeFile(file, i)"><v-icon class="mt-4" color="red">delete</v-icon></v-btn>
                                        </v-flex>
                                        <img class="img" :src="imgFile" alt="">
                                        <img class="img" :src="file.name.split('.')[1] && ['apk', 'bin', 'doc', 'exe', 'pdf','php', 'py', 'txt', 'xlsm'].indexOf(file.name.split('.')[1]) ? `${imgFile}${file.name.split('.')[1]}.png` : imgFile + 'file.jpg'" alt="">
                                    </v-card>
                                </v-flex>
                            </v-flex>
                        </v-card>
                        <v-flex xs12 d-flex class="mt-5 mx-2">
                            <v-flex xs6>
                                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
                            </v-flex>
                            <v-flex xs6>
                                <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
                            </v-flex>
                        </v-flex>
                    </v-flex>
                </v-form>
            </v-flex>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            game: null,
            categories: null,
            points: null,
            users: null,
            tags: [],
            url: null,
            imgFile: IMG + 'files/',
            imgGuide: IMG + 'files/pdf.png',
            imgGame: IMG + 'games/',
            file: '',
            showPreview: false,
            imagePreview: '',
            errors: {},
            rules: {
                category_id: v => !!v && !isNaN(v) || "Category is required and must be a number",
                point_id: v => !!v && !isNaN(v)  || "Challenge Difficult is required and must be a number",
                name: v => !!v || 'Challenge Name is required',
                image: v => !!v || "Challenge Image is required",
                guide: v => !!v || "Challenge Instruction is required",
                description: v => !!v || "Challenge Description is required",
                // title: v => !!v || "Challenge Title is required",
                hint: v => !!v || "Challenge Hint is required",
                hint_points: v => !!v && !isNaN(v) || "Challenge Hint Points is required and must be a number",
                story: v => !!v || "Challenge Scenario is required",
                objective: v => !!v || "Challenge Objective is required",
            },
            formData: null,
            dialogDelete: false,
            loading: false
        }
    },
    created(){
        this.url = window.location.origin + '/'
        this.getGame()
        this.formData = new FormData;
    },
    methods:{
        getGame(){
            axios.get(`/api/cms/games/edit/${window.location.pathname.split('/')[4]}`).then(res => {
                this.game = res.data.game;
                this.categories = res.data.categories;
                this.points = res.data.points;
                this.users = res.data.users;
                this.tags = res.data.tags;
            }).catch(err => {
                Alert.on(['error', err.response.data])
                this.$router.go(-1);
            })
        },
        updateGame(){
            document.getElementById('submit').click();
        },
        submit(){
            Load.on();
            if(this.$refs.form.validate()){
                const config = {headers: { "content-type": "multipart/form-data" }};
                this.formData.append('id', this.game.id ? this.game.id : '');
                this.formData.append('category_id', this.game.category_id ? this.game.category_id : '');
                this.formData.append('status', this.game.status ? this.game.status : '');
                this.formData.append('name', this.game.name ? this.game.name : '');
                this.formData.append('point_id', this.game.point_id ? this.game.point_id : '');
                this.formData.append('description', this.game.description ? this.game.description : '');
                this.formData.append('notes', this.game.notes ? this.game.notes : '');
                this.formData.append('hint', this.game.all_details.hint ? this.game.all_details.hint : '');
                // this.formData.append('title', this.game.all_details.title ? this.game.all_details.title : '');
                this.formData.append('user_id', this.game.all_details.user_id ? this.game.all_details.user_id : '');
                this.formData.append('hint_points', this.game.all_details.hint_points ? this.game.all_details.hint_points : '');
                this.formData.append('objective', this.game.all_details.objective ? this.game.all_details.objective : '');
                this.formData.append('story', this.game.all_details.story ? this.game.all_details.story : '');
                this.formData.append('play_time', this.game.all_details.play_time ? this.game.all_details.play_time : '');
                this.formData.append('docker', this.game.all_details.docker ? this.game.all_details.docker : '');
                this.formData.append('tags', this.game.tags ? JSON.stringify(this.game.tags) : '');

                for(let i = 0; i < this.game.all_inputs.length; i++){
                    this.formData.append('inputs[]', [this.game.all_inputs[i].name, this.game.all_inputs[i].value]);
                }
                this.loading = true;
                axios.post('/api/cms/games/update', this.formData, config).then(res => {
                    this.loading = false;
                    Load.off();
                    Alert.on(['success', res.data])
                    let to = this.game.status ? 'active' : 'inactive';
                    this.$router.push('/CMS/games/' + to);
                }).catch(err => {
                    this.loading = false;
                    Alert.on(['error', 'Sorry, there was a problem with updating the challenge. Please inform this error.'])
                })
            }
        },
        editImage(){
            document.getElementById('new_image').click();
        },
        ImagePicked(e){
            const config = {headers: { "content-type": "multipart/form-data" }};
            let formData = new FormData();
            formData.append("file", e.target.files[0]);
            formData.append('id', this.game.id);
            axios
                .post(
                `/api/cms/games/image`,
                formData,
                config
                )
                .then(res => {
                    this.game.image = res.data;
                    Alert.on(['success', 'Challenge Image Updated Successfully'])
            }).catch(err => {
                if(err.response.data.message) Alert.on(['error', err.response.data.message])
                else Alert.on(['error', err.response.data])
                
            });
        },
        editGuide(){
            document.getElementById('new_guide').click();
        },
        guidePicked(e){
            let filename = document.getElementById('new_guide').value;
            let extension = filename.split('.').pop();
            if(extension == 'pdf'){
                const config = {headers: { "content-type": "multipart/form-data" }};
                let formData = new FormData();
                formData.append("file", e.target.files[0]);
                formData.append('id', this.game.id);
                axios
                    .post(
                    `/api/cms/games/guide`,
                    formData,
                    config
                    )
                    .then(res => {
                        this.game.guide = res.data.guide;                        
                        Alert.on(['success', 'Challenge Guide Updated Successfully'])
                }).catch(err => {
                    Alert.on(['error', err.response.data])
                });
            }else{
                Alert.on(['error', 'Challenge Instruction must be a PDF file'])
            }
        },
        newInput(){
            this.game.all_inputs.push({name: null, value: null});
        },
        removeInput(index){
            this.game.all_inputs.splice(index, 1);
        },
        newFile(){
            document.getElementById('new_file').click();
        },
        removeFile(file, index){
            this.game.files.splice(index, 1);
            axios.post('/api/cms/games/file/delete', {id: file.id}).then(res => {
                Alert.on(['success', 'Challenge File Deleted Successfully'])
            })
        },
        filePicked(e){
            const config = {headers: { "content-type": "multipart/form-data" }};
            let formData = new FormData();
            formData.append("file", e.target.files[0]);
            formData.append('id', this.game.id);
            axios.post(
                '/api/cms/games/file',
                formData,
                config
                )
                .then(res => {
                    this.game.files.push({id: res.data.id, game_id: this.game.id, name: res.data.name, });
                    Alert.on(['success', 'Game File Updated Successfully'])
            }).catch(err => {
                Alert.on(['error', err.response.data])
            });
        },
        downloadGuide(){
            if (navigator.userAgent.toLowerCase().indexOf("firefox") > -1)
                return Alert.onApp({
                    type: "alert_error",
                    content: "Instruction Cannot Be Downloaded From FireFox"
                });
                let ele = document.querySelector(`.instruction`);
                if (ele) ele.classList.add("loading_Animation");
                Load.on();
                axios({
                    url: `/api/download?file=${this.game.category.name.toLowerCase()}/${this.game.guide}`,
                    method: "GET",
                    responseType: "blob"
                })
                .then(res => {
                    if (ele) ele.classList.remove("loading_Animation");
                    Load.off();
                    var contentType = res.headers._headers;
                    const blob = new Blob([res.data], {type: contentType});

                    function createObjectURL(file) {
                        if (window.webkitURL) {
                            return window.webkitURL.createObjectURL(file, {
                                oneTimeOnly: true
                            });
                        } else if (window.URL && window.URL.createObjectURL) {
                            return window.URL.createObjectURL(file, {oneTimeOnly: true});
                        } else {
                            return null;
                        }
                    }

                    var url = createObjectURL(blob);
                    const link = document.createElement("a");
                    link.href = url;
                    link.setAttribute("download", this.game.guide);
                    document.body.appendChild(link);
                    link.click();
                    setTimeout(function () {
                        window.webkitURL.revokeObjectURL(url);
                    }, 500);
                })
                .catch(err => {
                    if (ele) ele.classList.remove("loading_Animation");
                    Load.off();
                    if (err.response.data.size == 54)
                        Alert.onApp({
                            type: "alert_error",
                            content: "Unauthorized To Access The Challenge Instruction"
                        });
                    else
                        Alert.onApp({
                            type: "alert_error",
                            content: "Challenge Instruction Not Found"
                        });
                });
        },
        instructionPicked(){},
        updateStatus(status){
            axios.post('/api/cms/games/status', {id: this.game.id, status: status}).then(res => {
                this.game.status = !this.game.status;
                Alert.on(['success', 'Challenge Status Updated Successfully'])
            })
        },
        deleteGame(){
            axios.post('/api/cms/games/delete', {id: this.game.id}).then(res => {
                this.$router.go(-1);
                Alert.on(['success', 'Challenge Deleted Updated Successfully'])
            })
        }
    }
}
</script>

<style scoped>
    .img{
        width: 100%;
        max-height: 300px;
        object-fit: contain;
    }
</style>
