<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination"/>

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :active="active"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
    import Table from "../_Partials/Table";
    import Top from "../_Partials/Top";

    export default {
        data() {
            return {
                title: 'Games',
                api: 'cms/games',
                active: 0,
                img: IMG + 'games/',
                search: '',
                pagination: {
                    sortBy: 'name',
                    amount: 10
                },
                dialog: {
                    headline: "Delete Challenges",
                    one: 'challenge',
                    multiple: 'challenge'
                },
                headers: [
                    { text: "Name", value: "name" },
                    { text: "Category", value: "category" },
                    { text: "Points", value: "points" },
                    { text: "Image", value: "image" },
                    { text: "Notes", value: "notes" },
                    { text: "Created At", value: "created_at" },
                    { text: "Actions", value: "actions" }
                ],
                actions: ['Choose An Action', 'Activate', 'Delete'],
                actionBtns: ['visibility', 'edit']
            }
        },
        components: {Table, Top},
        created() {
            EventBus.$on("update_count", count => {
                this.count = count;
            });
        }

        // submitFilter(page) {
        //     if (page) this.page = page;
        //     this.dialog = false;
        //     this.loading = true;
        //     axios.get(`/api/cms/games/1/${this.pagination.amount}?page=${page}`).then(res => {
        //         this.loading = false;
        //         this.data = res.data;
        //     })
        // },
        // paginationChanged(v) {
        //     let res = Pagination.changed(v, this.data.last_page)
        //     this.pages = res;
        // }

    }
</script>

<style>

</style>
