<template>
    <v-container class="pt-0">
        <v-flex v-if="points && categories">
            <v-toolbar flat color="transparent">
                <v-toolbar-title>
                    <v-flex d-flex align-center>
                        New Challenge
                        <v-icon class="pointer ml-3" @click="form.status = 0" v-if="form.status" style="font-size:3em;" color="green">toggle_on</v-icon>
                        <v-icon class="pointer ml-3" @click="form.status = 1" v-else style="font-size:3em;" color="red">toggle_off</v-icon>
                        <span>Status</span>
                    </v-flex>
                </v-toolbar-title>
            </v-toolbar>
            <v-flex>
                <v-form @submit.prevent="submit()" ref="form" enctype="multipart/form-data">
                    <v-flex xs12 class="px-2">
                        <v-card>
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Image <small>(only jpeg, jpg, png, bmp, gif, svg or webp)</small></v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="success" icon @click="editImage()"><v-icon>edit</v-icon></v-btn>
                                    <input type="file" class="d-none" id="new_image" @change="ImagePicked">
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-flex>
                                 <p v-if="errimage" class="red--text pa-3">Image is Required</p>
                                <img class="cms_big_img" id="game_image" :src="imgGame + this.form.image" alt="">
                            </v-flex>
                        </v-card>
                        <v-card class="mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Profile</v-toolbar-title>
                            </v-toolbar>
                            <v-flex class="px-3 pb-3">
                                <v-select
                                    outlined
                                    :items="categories"
                                    item-text="name"
                                    item-value="id"
                                    v-model="form.category_id"
                                    :error-messages="errors.category_id"
                                    :rules="[rules.category_id]"
                                    label="Category"
                                ></v-select>
                                <v-text-field
                                    outlined
                                    label="Name"
                                    v-model="form.name"
                                    :error-messages="errors.name"
                                    :rules="[rules.name]"
                                ></v-text-field>
                                <v-textarea
                                    outlined
                                    label="Description"
                                    v-model="form.description"
                                    :error-messages="errors.description"
                                    :rules="[rules.description]"
                                ></v-textarea>
                                <v-select
                                    outlined
                                    :items="points"
                                    item-text="name"
                                    item-value="id"
                                    v-model="form.point_id"
                                    :error-messages="errors.point_id"
                                    :rules="[rules.point_id]"
                                    label="Challenge Difficult"
                                ></v-select>
                                <v-text-field
                                    outlined
                                    label="Notes"
                                    v-model="form.notes"
                                ></v-text-field>
                            </v-flex>
                        </v-card>
                        <v-card class="mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Details</v-toolbar-title>
                            </v-toolbar>
                            <v-flex class="px-3 pb-3">
                                <!-- <v-text-field
                                    outlined
                                    label="Title"
                                    hint="The title in the challenge above the inputs"
                                    v-model="form.title"
                                    :error-messages="errors && errors.title"
                                    :rules="[rules.title]"
                                ></v-text-field> -->
                                <v-autocomplete
                                    outlined
                                    label="Creator"
                                    hint="The creator of the challenge"
                                    item-value="id"
                                    item-text="name"
                                    :items="users"
                                    v-model="form.user_id"
                                ></v-autocomplete>
                                <v-text-field
                                    outlined
                                    label="Play Time"
                                    hint="Docker time to live in minutes"
                                    v-model="form.play_time"
                                    :error-messages="errors && errors.play_time"
                                ></v-text-field>
                                <v-textarea
                                    outlined
                                    label="Hint"
                                    v-model="form.hint"
                                    :error-messages="errors && errors.hint"
                                    :rules="[rules.hint]"
                                ></v-textarea>
                                <v-text-field
                                    outlined
                                    label="Hint Points"
                                    hint="Hint Points in %"
                                    v-model="form.hint_points"
                                    :error-messages="errors && errors.hint_points"
                                    :rules="[rules.hint_points]"
                                ></v-text-field>
                                <v-textarea
                                    outlined
                                    label="Scenario"
                                    hint="Use ~ to drop a line"
                                    v-model="form.story"
                                    :error-messages="errors && errors.story"
                                    :rules="[rules.story]"
                                ></v-textarea>
                                <v-textarea
                                    outlined
                                    label="Objectives"
                                    hint="Use ~ to drop a line"
                                    v-model="form.objective"
                                    :error-messages="errors && errors.objective"
                                    :rules="[rules.objective]"
                                ></v-textarea>
                                <v-text-field
                                    outlined
                                    v-model="form.docker"
                                    label="Docker IP"
                                ></v-text-field>
                            </v-flex>
                        </v-card>
                        <v-card class="pb-3 mt-3" v-if="tags">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Tags {{form.tags.length}}</v-toolbar-title>
                            </v-toolbar>
                            <v-autocomplete
                                v-model="form.tags"
                                :items="tags"
                                item-text="name"
                                item-value="id"
                                attach
                                chips
                                label="Tags"
                                multiple
                                autocomplete="off"
                                class="mx-3"
                            ></v-autocomplete>
                        </v-card>
                        <v-card class="pb-3 mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Fields {{form.all_inputs.length}}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="primary" icon @click="newInput()"><v-icon>add</v-icon></v-btn>
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-flex class="px-3" v-for="(input, i) in form.all_inputs" :key="i" d-flex>
                                <v-text-field
                                    outlined
                                    label="Field Name"
                                    class="pr-3"
                                    hint="The name of the input in the challenge"
                                    v-model="form.all_inputs[i].name"
                                ></v-text-field>
                                <v-text-field
                                    outlined
                                    label="Field Value"
                                    hint="The value of the input in the challenge"
                                    v-model="form.all_inputs[i].value"
                                ></v-text-field>
                                <v-flex xs1>
                                    <v-btn color="white" icon @click="removeInput(i)"><v-icon class="mt-3" color="red">delete</v-icon></v-btn>
                                </v-flex>
                            </v-flex>
                        </v-card>
                        <v-card class="mt-3 pb-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Instruction</v-toolbar-title>
                                <v-toolbar-items>
                                    <img v-if="guide" class="cms_small_img pointer" :src="imgGuide" title="Download Instruction" @click="downloadGuide()">
                                    <v-btn color="red" flat v-if="errors && errors.guide">{{errors.guide[0]}}</v-btn>
                                </v-toolbar-items>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="success" icon @click="editGuide()"><v-icon>edit</v-icon></v-btn>
                                    <input type="file" class="d-none" id="new_guide" @change="guidePicked">
                                </v-toolbar-items>
                            </v-toolbar>
                        </v-card>
                        <v-card class="pb-3 mt-3">
                            <v-toolbar color="blue-grey lighten-4" class="mb-3">
                                <v-toolbar-title>Challenge Files {{form.files.length}}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn color="primary" icon @click="newFile()"><v-icon>add</v-icon></v-btn>
                                    <input type="file" class="d-none" id="new_file" @change="filePicked">
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-flex class="px-3" d-flex wrap>
                                <v-flex xs12 md6 lg4 v-for="(file, i) in form.files" :key="i" class="px-2">
                                    <v-card>
                                        <v-flex d-flex class="px-2">
                                            <v-text-field
                                                outlined
                                                label="File Name"
                                                v-model="form.files[i].name"
                                            ></v-text-field>
                                            <v-btn color="white" icon @click="removeFile(file, i)"><v-icon class="mt-4" color="red">delete</v-icon></v-btn>
                                        </v-flex>
                                        <img class="img" :src="imgFile" alt="">
                                        <img class="img" :src="file.name.split('.')[1] && ['apk', 'bin', 'doc', 'exe', 'pdf','php', 'py', 'txt', 'xlsm'].indexOf(file.name.split('.')[1]) ? `${imgFile}${file.name.split('.')[1]}.png` : imgFile + 'file.jpg'" alt="">
                                    </v-card>
                                </v-flex>
                            </v-flex>
                        </v-card>
                        <v-flex xs12 d-flex class="mt-5">
                            <v-flex xs6>
                                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
                            </v-flex>
                            <v-flex xs6>
                                <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
                            </v-flex>
                        </v-flex>
                    </v-flex>
                </v-form>
            </v-flex>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            form: {
                all_inputs: [],
                tags: [],
                files: [],
                status: true
            },
            formData: {},
            categories: null,
            points: null,
            users: null,
            tags: null,
            url: null,
            imgFile: IMG + 'files/file.jpg',
            imgGuide: IMG + 'files/pdf.png',
            imgGame: IMG + 'games/',
            file: '',
            showPreview: false,
            imagePreview: '',
            errors: {},
            rules: {
                category_id: v => !!v && !isNaN(v) || "Category is required and must be a number",
                point_id: v => !!v && !isNaN(v)  || "Challenge Difficult is required and must be a number",
                name: v => !!v || 'Challenge Name is required',
                image: v => !!v || "Challenge Image is required",
                guide: v => !!v || "Challenge Instruction is required",
                description: v => !!v || "Challenge Description is required",
                // title: v => !!v || "Challenge Title is required",
                hint: v => !!v || "Challenge Hint is required",
                hint_points: v => !!v && !isNaN(v) || "Challenge Hint Points is required and must be a number",
                story: v => !!v || "Challenge Scenario is required",
                objective: v => !!v || "Challenge Objective is required",
            },
            dialogDelete: false,
            guide: false,
            errimage: false,
            loading: false
        }
    },
    created(){
        this.getData()
        this.formData = new FormData;
    },
    methods:{
        getData(){
            axios.get('/api/cms/games/new').then(res => {
                this.categories = res.data.categories;
                this.points = res.data.points;
                this.users = res.data.users;
                this.tags = res.data.tags;
            }).catch(err => {
                Alert.on(['error', err.response.data])
            })
        },
        updateGame(){
            document.getElementById('submit').click();
        },
        submit(){
            Load.on();
            if(!this.form.image) this.errimage = true;
            else this.errimage = false;
            if(this.$refs.form.validate()){
                const config = {headers: { "content-type": "multipart/form-data" }};
                this.formData.append('id', this.form.id);
                this.formData.append('category_id', this.form.category_id ? this.form.category_id : '');
                this.formData.append('name', this.form.name ? this.form.name : '');
                this.formData.append('status', this.form.status ? this.form.status : '');
                this.formData.append('point_id', this.form.point_id ? this.form.point_id : '');
                this.formData.append('description', this.form.description ? this.form.description : '');
                this.formData.append('notes', this.form.notes ? this.form.notes : '');
                // this.formData.append('title', this.form.title ? this.form.title : '');
                this.formData.append('user_id', this.form.user_id ? this.form.user_id : '');
                this.formData.append('play_time', this.form.play_time ? this.form.play_time : '');
                this.formData.append('hint', this.form.hint ? this.form.hint : '');
                this.formData.append('hint_points', this.form.hint_points ? this.form.hint_points : '');
                this.formData.append('story', this.form.story ? this.form.story : '');
                this.formData.append('objective', this.form.objective ? this.form.objective : '');
                this.formData.append('docker', this.form.docker ? this.form.docker : '');
                this.formData.append('tags', this.form.tags ? JSON.stringify(this.form.tags) : '');
                for(let i = 0; i < this.form.all_inputs.length; i++){
                    this.formData.append('inputs[]', [this.form.all_inputs[i].name, this.form.all_inputs[i].value]);
                }
                this.loading = true;
                axios.post('/api/cms/games/create', this.formData, config).then(res => {
                    this.loading = false;
                    Load.off();
                    let to = this.form.status ? 'active' : 'inactive';
                    Alert.on(['success', res.data])
                    this.$router.push('/CMS/games/' + to)
                }).catch(err => {
                    this.loading = false;
                    if(err.response.data && err.response.data.errors) this.errors = err.response.data.errors;
                    Alert.on(['error', 'Sorry, there was a problem with updating the form. Please inform this error.'])
                })
            }
        },
        editImage(){
            document.getElementById('new_image').click();
        },
        ImagePicked(e){
            this.formData.append('image', e.target.files[0]);
            if (e.target.files && e.target.files[0]) {
                this.form.image = true;
                this.errimage = false;
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#game_image')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        },
        editGuide(){
            document.getElementById('new_guide').click();
        },
        guidePicked(e){
            let filename = document.getElementById('new_guide').value;
            let extension = filename.split('.').pop();
            if(extension == 'pdf'){
                this.formData.append('guide', e.target.files[0]);
                this.guide = true;
                
            }else{
                Alert.on(['error', 'Challenge Instruction must be a PDF file'])
            }
        },
        newInput(){
            this.form.all_inputs.push({name: null, value: null});
        },
        removeInput(index){
            this.form.all_inputs.splice(index, 1);
        },
        newFile(){
            document.getElementById('new_file').click();
        },
        removeFile(file, index){
            this.form.files.splice(index, 1);
        },
        filePicked(e){
            this.formData.append('files[]', e.target.files[0]);
            this.form.files.push({name: ''});
        },
    },
}
</script>

<style scoped>
    .img{
        width: 100%;
    }
</style>
