<template>
  <v-container class="pt-0">
    <v-flex v-if="data">
      <v-toolbar text color="transparent">
        <v-toolbar-title>
          <v-flex d-flex align-center>
            <strong>{{data.name}}</strong>
            <v-icon
              class="pointer ml-3"
              @click="updateStatus(0)"
              v-if="data.status"
              style="font-size:3em;"
              color="green"
            >toggle_on</v-icon>
            <v-icon
              class="pointer ml-3"
              @click="updateStatus(1)"
              v-else
              style="font-size:3em;"
              color="red"
            >toggle_off</v-icon>
          </v-flex>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn text color="success" @click="changeRoute('edit')">Edit</v-btn>
          <v-btn text color="red" @click="dialog = true">Delete</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-flex>
        <v-card class="px-3 py-3">
          <v-flex xs12 d-flex>
            <v-flex xs4>
              <img class="cms_big_img" :src="img + data.image" alt />
            </v-flex>
            <v-flex xs8 class="text-left px-5">
              <v-list>
                <v-list avatar>
                  <v-list-item-title><strong>Category</strong></v-list-item-title>
                  <v-list-item-subtitle>{{data.category.name ? data.category.name : 'Unknown'}}</v-list-item-subtitle>
                </v-list>
                <v-divider></v-divider>
                <v-list avatar>
                  <v-list-item-title><strong>Creator</strong></v-list-item-title>
                  <v-list-item-subtitle>{{data.details.name ? data.details.name : 'Unknown'}}</v-list-item-subtitle>
                </v-list>
                <v-divider></v-divider>
                <v-list avatar>
                  <v-list-item-title><strong>Difficult</strong></v-list-item-title>
                  <v-list-item-subtitle>{{data.points.name ? data.points.name : 'Unknown'}}</v-list-item-subtitle>
                </v-list>
                <v-divider></v-divider>
                <v-list avatar>
                  <v-list-item-title><strong>Wins</strong></v-list-item-title>
                  <v-list-item-subtitle>{{data.wins_count}}</v-list-item-subtitle>
                </v-list>
                <v-divider></v-divider>
                <v-list avatar>
                  <v-list-item-title><strong>Plays</strong></v-list-item-title>
                  <v-list-item-subtitle>{{data.plays_count}}</v-list-item-subtitle>
                </v-list>
                <v-divider></v-divider>
                <v-list avatar>
                  <v-list-item-title><strong>Success Rate</strong></v-list-item-title>
                  <v-list-item-subtitle>{{data.plays_count ? Math.floor(data.wins_count * 100 / data.plays_count) + '%' : 'No Attempts Yet'}}</v-list-item-subtitle>
                </v-list>
                <v-divider></v-divider>
                <v-list avatar>
                  <v-list-item-title><strong>Instruction</strong></v-list-item-title>
                  <button
                    type="button"
                    class="bg_purple text_white button btn-purp"
                    :class="`instruction`"
                    @click="downloadGuide()"
                  >DOWNLOAD INSTRUCTION
                  </button>
                </v-list>
              </v-list>
            </v-flex>
          </v-flex>
        </v-card>
        <v-flex v-if="data.details && data.details.docker" class="mt-3">
          <v-data-table
            :headers="headers.containers"
            :items="data.containers"
            :sort-by="['created_at']"
            :sort-desc="[false, true]"
            multi-sort
            class="elevation-1"
            :search="search"  
            :hide-default-footer="data.containers ? false : true"
            no-data-text="No Actice Challenges"
            >
            <template v-slot:top>
                <v-flex class="px-5 py-3">
                    <h2 class="mb-4">{{data.containers && data.containers.length}} Active Containers</h2>
                    <v-text-field class="pt-0" v-model="search" label="search"></v-text-field>
                </v-flex>
            </template>
                
            <template v-slot:item.created_at="props">
                {{time(props.item.created_at)}}
            </template>
            
            <template v-slot:item.actions="props">
                <v-btn @click="close('containers', props.item)" color="red" small dark>Close</v-btn>
            </template>
        </v-data-table>
          <v-data-table
            :headers="headers.users"
            :items="data.active_users"
            :sort-by="['created_at']"
            :sort-desc="[false, true]"
            multi-sort
            class="elevation-1 mt-3"
            :search="search"  
            :hide-default-footer="data.active_users ? false : true"
            no-data-text="No Actice Challenges"
            >
            <template v-slot:top>
                <v-flex class="px-5 py-3">
                    <h2 class="mb-4">{{data.active_users && data.active_users.length}} Active Users</h2>
                    <v-text-field class="pt-0" v-model="search" label="search"></v-text-field>
                </v-flex>
            </template>
                
            <template v-slot:item.created_at="props">
                {{time(props.item.created_at)}}
            </template>
            
            <template v-slot:item.actions="props">
                <v-btn @click="close(props.item.role, props.item)" color="red" small dark>Close</v-btn>
                <v-btn @click="showUser(props.item)" color="blue" small dark>Show User</v-btn>
            </template>
        </v-data-table>
        </v-flex>
      </v-flex>
    </v-flex>
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Delete Challenge</v-card-title>
        <v-card-text>Are you sure you want to delete this challenge?</v-card-text>
        <v-card-actions>
          <v-btn text @click="dialog = false">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red" dark text @click="deleteGame()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      data: null,
      dialog: null,
      img: IMG + "games/",
      search: '',
      headers: {
        users: [
            { text: 'User', value: 'user' },
            { text: 'Role', value: 'role' },
            { text: 'IP', value: 'ip' },
            { text: 'Port', value: 'port' },
            { text: 'Started At', value: 'created_at' },
            { text: 'Actions', value: 'actions', align: 'end' },
        ],
        containers: [
            { text: 'IP', value: 'ip' },
            { text: 'Port', value: 'port' },
            { text: 'Started At', value: 'created_at' },
            { text: 'Actions', value: 'actions', align: 'end' },
        ]
      },
    };
  },
  created() {
    this.getGame();
    
  },
  methods: {
    getGame() {
      axios
        .get(`/api/cms/games/show/${window.location.pathname.split("/")[3]}`)
        .then(res => {
          this.data = res.data;
        })
        .catch(err => {
          Alert.on(["error", err.response.data]);
          this.$router.go(-1);
        });
    },
    statusSubmit(status) {
      axios
        .post("/api/cms/games/status", { id: this.data.id, status: status })
        .then(res => {
          this.data.status = status;
        });
    },
    changeRoute(to) {
      this.$router.push(`/CMS/games/${to}/${this.data.id}`);
    },
    updateStatus(status) {
      axios
        .post("/api/cms/games/status", { id: this.data.id, status: status })
        .then(res => {
          this.data.status = !this.data.status;
          Alert.on(["success", "Challenge Status Updated Successfully"]);
        });
    },
    deleteGame() {
      this.dialog = false;
      axios
        .post("/api/cms/games/delete", { id: this.data.id })
        .then(res => {
          this.$router.push("/CMS/games/active");
          Alert.on(["success", res.data]);
        })
        .catch(err => {
          Alert.on([
            "error",
            "Sorry was unabled to delete the challenge, pleast let the us know"
          ]);
        });
    },
    showUser(user){
      if(user.role == 'student') this.$router.push('/CMS/students/' + user.user_id)
      else this.$router.push('/CMS/users/' + user.user_id)
    },
    time(date){
        return Time.set(date);
    },
    close(type, item){
      if(type == 'containers'){
        axios.post(`/api/cms/games/dockers`, {game_id: item.game_id, port: item.port}).then( res => {
          // remove from containers
          let index = this.data.containers.findIndex( e => {
              if(e.id == item.id) return e;
          })
          this.data.containers.splice(index, 1);
          
          // remove from users
          index = this.data.active_users.findIndex( e => {
              if(e.port == item.port) return e;
          })
          this.data.active_users.splice(index, 1);
        })
      }else{
        type = type == 'student' ? 'students' : 'users';
        axios.post(`/api/cms/${type}/${item.user_id}/dockers`, {table: 'containers', id: item.id}).then(res => {
            
          let index = this.data.active_users.findIndex( e => {
              if(e.id == item.id) return e;
          } )
          this.data.active_users.splice(index, 1);

            return Alert.on(["success", res.data]);
        }).catch(err => {
            return Alert.on(["error", err.response.data]);
        })
      }
    },
    downloadGuide() {
       if (navigator.userAgent.toLowerCase().indexOf("firefox") > -1)
            return Alert.onApp({
                type: "alert_error",
                content: "Instruction Cannot Be Downloaded From FireFox"
            });
        Load.on();
        var game = game;
        let ele = document.querySelector(`.instruction`);
        if (ele) ele.classList.add("loading_Animation");
        axios({
            url: `/api/download?file=${this.data.category.name.toLowerCase()}/${this.data.guide}`,
            method: "GET",
            responseType: "blob"
        })
            .then(res => {
                if (ele) ele.classList.remove("loading_Animation");
                Load.off();
                var contentType = res.headers._headers;
                const blob = new Blob([res.data], {type: contentType});

                function createObjectURL(file) {
                    if (window.webkitURL) {
                        return window.webkitURL.createObjectURL(file, {
                            oneTimeOnly: true
                        });
                    } else if (window.URL && window.URL.createObjectURL) {
                        return window.URL.createObjectURL(file, {oneTimeOnly: true});
                    } else {
                        return null;
                    }
                }

                var url = createObjectURL(blob);
                const link = document.createElement("a");
                link.href = url;
                link.setAttribute("download", this.data.guide);
                document.body.appendChild(link);
                link.click();
                setTimeout(function () {
                    window.webkitURL.revokeObjectURL(url);
                }, 500);
            })
            .catch(err => {
                if (ele) ele.classList.remove("loading_Animation");
                Load.off();
                if (err.response.data.size == 54)
                    Alert.onApp({
                        type: "alert_error",
                        content: "Unauthorized To Access The Challenge Instruction"
                    });
                else
                    Alert.onApp({
                        type: "alert_error",
                        content: "Challenge Instruction Not Found"
                    });
            });
    },
  }
};
</script>

<style>
</style>
