<template>
    <v-flex xs10 lg9 xl7 mx-auto v-if="cat">
        <v-layout row wrap justify-space-between class="mb-5">
            <v-flex v-for="(cat, i) in cat" :key="i" xs12 md6 lg4 class="py-5">
                <v-flex class="card mx-auto" @click="openCat(cat, i)" :class="cat.games ? 'pointer' : ''">
                    <img :src="img + 'cats/' + cat.image" alt="">
                    <div v-if="!cat.games" class="coming_soon">
                        COMING SOON
                    </div>
                    <v-layout class="h50 card_bottom" justify-space-between column>
                        <div class="px-1">
                            <h2>{{ cat.name }}</h2>
                            <!-- <p v-if="cat.description" class="mt-3">{{cat.description}}</p> -->
                        </div>
                        <v-flex xs12 d-flex align-end v-if="cat.games">
                            <v-flex>
                                CHALLENGES COMPLETED
                                <br>
                                <span :class="cat.finished == cat.games ? 'crossed' : ''">
                                    {{cat.finished}} / {{cat.games}}
                                </span>
                                <v-flex mx-auto>
                                    <div class="mt-3 progress_wrapper">
                                        <div class="filler" :class="Math.floor(cat.finished * 100 / cat.games) ? 'filler_shadow' : ''" :style="`width:${Math.floor(cat.finished * 100 / cat.games)}%`"></div>
                                    </div>
                                </v-flex>
                            </v-flex>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {
                cats: [],
                mode: "cats",
                img: IMG,
                cat: null,
                selectedGames: [],
                role: Auth.role(),
                cat: this.data
            };
        },

        methods: {
            openCat(cat, i) {
                this.cat = cat;
                let name = cat.name.toLowerCase();
                name = name.replace(/\s/g, "-");
                name = name.replace(/&/g, "and");
                name = name.replace(/\//g, "or");
                this.$router.push("/challenges/" + name);

                EventBus.$emit("changeRouteChallenges", cat.name);
            }
        }
    };
</script>

<style scoped>
    .card h2{
        font-size: 1.2em;
        font-weight: bold;
    }
    
    p{
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 0.8em;
    }

    .card{
        min-height: 300px;
        height: 300px;
        max-width: 300px;
        background-color: rgb(24,43,55);
        position: relative;
        border-radius: 10px;
        border: 1px solid rgba(65, 69, 126, 0.7);
        transition: .2s all linear;
    }

    .card_bottom{
        background: linear-gradient(rgb(24,43,55), rgb(7, 11, 14));
        border-radius: 10px;
    }

    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px 3px rgba(47, 49, 83, 0.3);
    }

    .card img{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 50%;
        min-width: 100%;
        min-height: 50%;
    }

    .progress_wrapper {
        width: 100%;
        background-color: rgb(105, 106, 119, 0.7);
        border: 1px solid rgba(165, 166, 172, 0.5);
        height: 7px;
        border-radius: 0 0 10px 10px;
        margin-bottom: 1px;
    }

    .filler{
        border-radius: 0 0 10px 10px;
    }
</style>