<template>
  <div class="margin_menu">
    <v-layout d-none d-md-block v-if="game" row wrap class="wrapper">
      <v-flex md10 xl9 mx-auto class="breadcrumbs mb-2">
          <router-link to="/" class="no_dec white--text">
              <span class="bread_link">Home</span>
          </router-link>
          <span class="spacer">/</span>
          <router-link to="/challenges" class="no_dec white--text">
              <span class="bread_link">Challenges</span>
          </router-link>
          <span>/</span>
          <router-link :to="`/challenges/${category}`" class="no_dec white--text">
              <span class="bread_link">{{game.category}}</span>
          </router-link>
          <span>/</span>
          <span>{{game.name}}</span>
      </v-flex>
      <v-flex xs12 md10 xl9 mx-auto class="bb mt-0">

        <v-flex class="gradient_bg">
          <v-flex d-flex>
            
            <v-flex md3>
              <sidebar id="sidebar" :game="game" />
            </v-flex>

            <v-flex md9>
              <mission v-show="mission" :data="game" />
              <game-content v-show="!mission" :data="game" />
            </v-flex>

          </v-flex>
        </v-flex>

      </v-flex>
    </v-layout>
    <v-layout row wrap align-center justify-center class="d-md-none vh-100">
        <div class="text-center">
            <h2>Challenge available <br> only on desktop</h2>
            <br>
            <button class="bg_light_purple text_white button my-3" @click="$router.go(-1)">Back</button>
        </div>
    </v-layout>
  </div>
</template>

<script>
import Loading from "../General/loading";
import Sidebar from "./game_parts/sidebar";
import Mission from "./game_parts/mission";
import GameContent from "./game_parts/gameContent";
import { setTimeout, setInterval, clearInterval } from "timers";
export default {
  components: { Loading, Sidebar, Mission, GameContent },

  data() {
    return {
      game: null,
      mission: true,
      loading: true,
      slug: null,
      category: window.location.pathname.split("/")[2]
    };
  },

  created() {

    let url = window.location.pathname.split("/");
    this.getGame();

    EventBus.$on('missionToggle', bool => {
      this.mission = !bool;
    });

  },

  methods: {
    getGame() {
      let game = window.location.pathname.split("/")[3];
      axios
        .get(`/api/games/${game.replace(/-/g, " ")}`)
        .then(res => {
          this.skippedStory = res.data.game.details.story.replace(
            /~/g,
            "\\r\\n"
          );
          this.skippedObjective = res.data.game.details.objective.replace(
            /~/g,
            "\\r\\n"
          );
          this.game = res.data.game;
        })
        .catch(err => {
          if(err.response.data == 'Need To Pay') return this.$router.push("/payment");
          this.$router.push("/challenges");
          Alert.onApp(["error", err.response.data]);
        });
    },
    getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    },
  },
};
</script>

<style scoped>
  .wrapper {
    height: 70vh;
    margin-bottom: 50px;
  }

  .gradient_bg{
    /* background-color: #333; */
    background: linear-gradient(rgb(41, 33, 63), rgb(53, 33, 63));
    /* background: linear-gradient(161deg, rgba(117, 117, 117, 0.03) 0%, rgba(117, 117, 117, 0.03) 50%,rgba(8, 8, 8, 0.03) 50%, rgba(8, 8, 8, 0.03) 100%),linear-gradient(59deg, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 50%,rgba(68, 68, 68, 0.05) 50%, rgba(68, 68, 68, 0.05) 100%),linear-gradient(286deg, rgba(107, 107, 107, 0.07) 0%, rgba(107, 107, 107, 0.07) 50%,rgba(7, 7, 7, 0.07) 50%, rgba(7, 7, 7, 0.07) 100%),linear-gradient(123deg, rgba(9, 9, 9, 0.09) 0%, rgba(9, 9, 9, 0.09) 50%,rgba(120, 120, 120, 0.09) 50%, rgba(120, 120, 120, 0.09) 100%),linear-gradient(170deg, rgba(202, 202, 202, 0.01) 0%, rgba(202, 202, 202, 0.01) 50%,rgba(19, 19, 19, 0.01) 50%, rgba(19, 19, 19, 0.01) 100%),linear-gradient(210deg, rgba(64, 64, 64, 0.04) 0%, rgba(64, 64, 64, 0.04) 50%,rgba(4, 4, 4, 0.04) 50%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(90deg, rgb(249, 17, 190),rgb(100, 28, 213)) */
  }

  h1 {
    font-weight: 100;
  }

  #sidebar{
    height: 100%
  }

  .bg_light_purple {
    background-color: rgb(109, 94, 153, 0.5);
  }

  .bg_purple {
    background-color: rgb(39,28,54);
  }

  .button{
    border: 2px solid #ddd;
  }
</style>
