<template>
    <v-flex xs10 lg9 xl7 mx-auto v-if="data" class="mb-3">
        <v-layout row wrap justify-space-between class="mb-5">
            <v-flex v-for="(cat, i) in data" :key="i" xs12 md6 lg4 d-flex justify-center>
                <div v-if="typePicked == cat.type.toLowerCase()" class="py-5">
                    <v-flex class="card mx-2 text-center" @click="openCat(cat, i)" :class="cat.lessons.length ? 'pointer' : ''">
                        <img :src="img + 'modules/' + cat.image" alt="">
                        <div v-if="!cat.lessons.length" class="coming_soon">
                            COMING SOON
                        </div>
                        <v-layout class="h50 card_bottom" justify-space-between column>
                            <div class="pa-3">
                                <h2>{{ cat.name }}</h2>
                            </div>
                            <v-flex xs12 d-flex align-end v-if="cat.lessons.length">
                                <v-flex>
                                    LESSONS COMPLETED
                                    <br>
                                    <span
                                        :class="cat.lessons_finished.length == cat.lessons.length && cat.lessons.length ? 'crossed' : ''"
                                    >{{cat.lessons_finished.length}} / {{cat.lessons.length}}</span>
                                    <v-flex mx-auto>
                                        <div class="mt-3 progress_wrapper">
                                            <div class="filler" :class="Math.floor(cat.lessons_finished.length * 100 / cat.lessons.length) ? 'filler_shadow' : ''" :style="`width:${Math.floor(cat.lessons_finished.length * 100 / cat.lessons.length)}%`"></div>
                                        </div>
                                    </v-flex>
                                </v-flex>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </div>
            </v-flex>
        </v-layout>
    </v-flex>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {
                mode: "modules",
                img: IMG,
                typePicked: null
            };
        },

        created() {
            this.typePicked = this.$route.params.type;
        },

        methods: {
            openCat(mod) {
                if(mod.lessons.length == 0) return;
                let name = mod.name
                    .toLowerCase()
                    .replace(/\s/g, "-")
                    .replace(/&/g, "and");

                this.$router.push(
                    `/practice-arena/${this.typePicked}/${name}`
                );

                EventBus.$emit("changeRouteChallenges", mod.name);
            }
        }
    };
</script>

<style scoped>
    
    p{
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 0.8em;
    }

    .card{
        min-height: 300px;
        height: 300px;
        width: 300px;
        max-width: 300px;
        background-color: rgb(24,43,55);
        position: relative;
        border-radius: 10px;
        border: 1px solid rgba(65, 69, 126, 0.7);
        transition: .2s all linear;
    }
    
    .card_bottom{
        background: linear-gradient(rgb(24,43,55), rgb(7, 11, 14));
        border-radius: 10px;
    }

    .card h2{
        font-size: 1.2em;
        font-weight: bold;
    }

    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px 3px rgba(47, 49, 83, 0.3);
    }

    .card img{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 50%;
        min-width: 100%;
        min-height: 50%;
    }

    .progress_wrapper {
        width: 100%;
        background-color: rgb(105, 106, 119, 0.7);
        border: 1px solid rgba(165, 166, 172, 0.5);
        height: 7px;
        border-radius: 0 0 10px 10px;
    }

    .filler{
        border-radius: 0 0 10px 10px;
    }
</style>