<template>
  <div v-if="lesson">

    <div id="lesson_wrapper">
      <v-flex v-if="lesson" class="d-none d-md-flex">
        <div v-if="error" class="error_wrapper">
          <alert v-if="alert" :alert="alert" />
        </div>
        <mission v-else :dialog="mission" :data="lesson" :docker="docker"/>
        <lesson-content :lesson="lesson" :docker="docker"/>
      </v-flex>

      <v-layout row wrap align-center justify-center class="d-md-none vh-100 ">
        <div class="text-center">
            <h2>Lesson available <br> only on desktop</h2>
            <br>
            <button class="bg_light_purple text_white button my-3" @click="$router.go(-1)">Back</button>
        </div>
      </v-layout>

        <iframe width="800" height="600" v-if="demoIframeUrl" :src="demoIframeUrl" frameborder="0"></iframe>

      <v-snackbar
        v-model="snackbar"
        :bottom="true"
        :left="false"
        color="black"
        :right="true"
        :top="false"
        :timeout="60000"
        :vertical="'vertical'"
        class="snackbar"
        >
        <v-layout justify-space-between column fill-height>
        
          <div class="card">
            <h2>LOADING MACHINE...</h2>
            <small>It may take some time, be patient</small>
            <br><br>
          </div>
          <div class="progress_wrapper mt-2">
            <div class="filler" :style="`width:${this.width}%`"></div>
          </div>
        </v-layout>
      </v-snackbar>
    </div>

  </div>
</template>

<script>
import Loading from "../General/loading";
import Alert from "../General/alerts";
import Mission from "./game_parts/mission";
import LessonContent from "./game_parts/lessonContent";
import { setTimeout } from "timers";
export default {
  components: { Loading, Mission, LessonContent, Alert},
  data() {
    return {
      lesson: null,
      docker: {},
      sidebar: false,
      snackbar: false,
      error: false,
      menu: false,
      mission: true,
      loading: true,
      width: 0,
      demoIframeUrl: null
    };
  },
  created() {
    let url = window.location.pathname.split("/");
    EventBus.$emit("game", false);
    this.getData();
    EventBus.$on("lessonSidebar", bool => {
      this.sidebar = bool;
    });
    EventBus.$on("missionStatus", bool => {
      this.mission = bool ;
    });
    EventBus.$on("lessonMissionStatus", bool => {
      this.mission = bool;
    });
    this.timer();
  },
  methods: {
    getData() {
      axios
        .get(`/api/practice/${this.$route.params.lesson}`)
        .then(res => {
          this.lesson = res.data;
          EventBus.$emit("game_mode", this.lesson.name);
          this.runDocker();
        })
        .catch(err => {
          if(err.response.data == 'Need To Pay') return this.$router.push("/payment");
          this.$router.push("/practice-arena");
          Alert.onApp(["error", err.response.data]);
        });
    },
    async runDocker() {
      this.snackbar = true;
      axios
        .get(`/api/practice/docker/${this.lesson.id}`)
        .then(res => {    
          
          // Yaari's machine required long waiting
          let time = this.lesson.has_file ? 100000 : 0;
          if(time){
            this.demoIframeUrl = `https://${res.data.ip}:8000?user=student`; 
          }

          setTimeout( () => {
            this.width = 100;
            setTimeout(
              function() {
                this.snackbar = false;
              }.bind(this),
              2000
            );

            let ports = String(res.data.port);
            this.docker.ports = ports.split("|");
            this.docker.main_port = ports.split("|")[0];
            this.docker.ip = res.data.ip;
            this.docker.time = res.data.time;
            this.docker.status = true;      
            
            EventBus.$emit('dockerStatus', true)
            this.snackbar = false;
          }, time)

        })
        .catch(err => {
          this.error = true;
          this.mission = false;
          this.snackbar = false;
          this.setAlert("alert_error", 'Lesson Is Unavailable At The Moment');

        });
    },
    openMission() {
      EventBus.$emit("lesson_mission", true);
    },
    timer(){
      const func = setInterval(
        function() {
          if(this.width == 90) return TimeOut();
          this.width += 10;
        }.bind(this),
        1000
      );

      function TimeOut() {
        clearInterval(func);
      }

    },
    setAlert(type, content) {
      this.alert = { type: type, content: content };
      setTimeout(
        function() {
          this.alert = false;
          this.$router.go(-1);
        }.bind(this),
        2000
      );
    },
  },
  destroyed() {
    EventBus.$emit("game", true);
    EventBus.$emit("game_mode", false);
  }
};
</script>

<style scoped>
  .vh-100{
      height: 100vh;
  }

  .card{
    min-height: 50px;
  }

  .error_wrapper{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .progress_wrapper, .filler{
    border-radius: 10px;
  }

  #lesson_wrapper{
    background-color: rgb(0, 0, 0, .7);
  }
</style>
