<template>
    <div v-if="mod">
    <v-flex v-if="mod.video" class="text-center mb-4">
        <v-tooltip bottom color="black">
            <template v-slot:activator="{ on }">
                <v-btn @click="showVideo = true" v-on="on" fab>
                    <v-icon large color="black">play_arrow</v-icon>
                </v-btn>
            </template>
            <span>Play Video</span>
        </v-tooltip>
    </v-flex>
  <v-layout row wrap class="mb-5 text-center">
        <h1 v-if="!mod.lessons.length">SORRY, NO AVAILABLE LESSONS...</h1>
        <v-flex v-else v-for="(lesson, i) in mod.lessons" :key="i" xs10 lg9 xl7 mx-auto>
            <v-layout class="h100 card" justify-space-between column @click="openLesson(lesson)">
                <div class="pa-3">
                    <h2>{{lesson.name}}</h2>
                </div>
                <v-flex class="disabled_block coming_soon" v-if="!lesson.valid && role == 'student'">
                    <img :src="img + 'general/unavailable.svg'" alt="">
                </v-flex>
                <v-flex d-flex align-end class="card_bottom">
                    <v-flex xs12 d-flex align-end v-if="lesson.tasks_count.length">
                        <v-flex>
                            TASKS COMPLETED
                            <br>
                            <span
                                    :class="lesson.tasks_finished_count.length == lesson.tasks_count.length && lesson.length ? 'crossed' : ''"
                                >{{lesson.tasks_finished_count.length}} / {{lesson.tasks_count.length}}</span>
                            <v-flex mx-auto>
                                <div class="mt-3 progress_wrapper">
                                    <div class="filler" :class="Math.floor(lesson.tasks_finished_count.length * 100 / lesson.tasks_count.length) ? 'filler_shadow' : ''" :style="`width:${Math.floor(lesson.tasks_finished_count.length * 100 / lesson.tasks_count.length)}%`"></div>
                                </div>
                            </v-flex>
                        </v-flex>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-flex>

       <v-dialog
            @click:outside="closeVideo()"
            v-model="showVideo"
            max-width="700px"
            transition="dialog-transition"
        >
        <video id="mainVideo" class="video" controls autoplay>
          <source :src="`${img}lessons/videos/${mod.video}${video}`" type="video/mp4">
        </video>
      </v-dialog>

  </v-layout>
    </div>
</template>

<script>
    export default {
        props: ["data"],
        data() {
            return {
                img: IMG,
                mod: null,
                role: Auth.role(),
                play_btn: IMG + 'general/Play_Button-min.png',
                showVideo: false,
                video: '?loop=false&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media',
            };
        },

        created() {
            this.getLessons();
            if (!['red', 'blue'].includes(this.typePicked)) return;
        },

        methods: {
            closeVideo(){
                let vid = document.getElementById("mainVideo");
                if(vid) vid.pause();
            },
            getLessons() {
                let mod = this.$route.params.cat;
                mod = mod
                    .toLowerCase()
                    .replace(/-/g, " ")
                    .replace(/and/g, "&")
                    .split(" ");
                for (let i = 0; i < mod.length; i++) {
                    mod[i] = mod[i].charAt(0).toUpperCase() + mod[i].slice(1);
                }
                mod = mod.toString().replace(/,/g, " ");
                for (let i = 0; i < this.data.length; i++) {
                    if (this.data[i].name == mod) this.mod = this.data[i];
                    if (mod == "Siem Soc" && this.data[i].name == "SIEM-SOC")
                        this.mod = this.data[i];
                }
            },
            openLesson(lesson) {
                if (lesson.valid || this.role != 'student') {
                    this.$router.push(`/practice-arena/${this.$route.params.type}/${this.$route.params.cat}/${lesson.id}`);
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
   .card{
        cursor: pointer;
        background-color: #fff;
        min-height: 120px;
        height: 120px;
        position: relative;
        border-radius: 10px;
        border: 1px solid rgba(65, 69, 126, 0.7);
        transition: .2s all linear;
        background: linear-gradient(153deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 9%,rgba(197, 197, 197, 0.03) 9%, rgba(197, 197, 197, 0.03) 21%,rgba(106, 106, 106, 0.03) 21%, rgba(106, 106, 106, 0.03) 32%,rgba(222, 222, 222, 0.03) 32%, rgba(222, 222, 222, 0.03) 72%,rgba(16, 16, 16, 0.03) 72%, rgba(16, 16, 16, 0.03) 92%,rgba(181, 181, 181, 0.03) 92%, rgba(181, 181, 181, 0.03) 97%,rgba(130, 130, 130, 0.03) 97%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(39deg, rgba(237, 237, 237, 0.03) 0%, rgba(237, 237, 237, 0.03) 22%,rgba(126, 126, 126, 0.03) 22%, rgba(126, 126, 126, 0.03) 55%,rgba(196, 196, 196, 0.03) 55%, rgba(196, 196, 196, 0.03) 61%,rgba(121, 121, 121, 0.03) 61%, rgba(121, 121, 121, 0.03) 71%,rgba(133, 133, 133, 0.03) 71%, rgba(133, 133, 133, 0.03) 84%,rgba(132, 132, 132, 0.03) 84%, rgba(132, 132, 132, 0.03) 97%,rgba(185, 185, 185, 0.03) 97%, rgba(185, 185, 185, 0.03) 100%),linear-gradient(124deg, rgba(168, 168, 168, 0.03) 0%, rgba(168, 168, 168, 0.03) 7%,rgba(169, 169, 169, 0.03) 7%, rgba(169, 169, 169, 0.03) 19%,rgba(73, 73, 73, 0.03) 19%, rgba(73, 73, 73, 0.03) 50%,rgba(150, 150, 150, 0.03) 50%, rgba(150, 150, 150, 0.03) 67%,rgba(68, 68, 68, 0.03) 67%, rgba(68, 68, 68, 0.03) 81%,rgba(111, 111, 111, 0.03) 81%, rgba(111, 111, 111, 0.03) 91%,rgba(191, 191, 191, 0.03) 91%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(95deg, rgba(147, 147, 147, 0.03) 0%, rgba(147, 147, 147, 0.03) 17%,rgba(79, 79, 79, 0.03) 17%, rgba(79, 79, 79, 0.03) 27%,rgba(28, 28, 28, 0.03) 27%, rgba(28, 28, 28, 0.03) 45%,rgba(27, 27, 27, 0.03) 45%, rgba(27, 27, 27, 0.03) 56%,rgba(228, 228, 228, 0.03) 56%, rgba(228, 228, 228, 0.03) 64%,rgba(38, 38, 38, 0.03) 64%, rgba(38, 38, 38, 0.03) 72%,rgba(42, 42, 42, 0.03) 72%, rgba(42, 42, 42, 0.03) 100%),linear-gradient(346deg, rgba(59, 59, 59, 0.03) 0%, rgba(59, 59, 59, 0.03) 16%,rgba(66, 66, 66, 0.03) 16%, rgba(66, 66, 66, 0.03) 20%,rgba(236, 236, 236, 0.03) 20%, rgba(236, 236, 236, 0.03) 41%,rgba(244, 244, 244, 0.03) 41%, rgba(244, 244, 244, 0.03) 55%,rgba(106, 106, 106, 0.03) 55%, rgba(106, 106, 106, 0.03) 61%,rgba(220, 220, 220, 0.03) 61%, rgba(220, 220, 220, 0.03) 63%,rgba(209, 209, 209, 0.03) 63%, rgba(209, 209, 209, 0.03) 100%),linear-gradient(90deg, rgb(24,43,55), rgb(7, 11, 14));
        // background: linear-gradient(rgb(24,43,55), rgb(7, 11, 14));
        margin-bottom: 20px;
    }

    .card h2{
        font-size: 1.2em;
        font-weight: bold;
    }

    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px 3px rgba(47, 49, 83, 0.3);
        border: 1px solid rgb(150, 224, 216, 0.8);
        border-bottom: none;
    }

    .card_bottom{
        border-radius: 10px;
    }

    .progress_wrapper {
        width: 100%;
        background-color: rgb(105, 106, 119, 0.7);
        border: 1px solid rgba(165, 166, 172, 0.5);
        height: 10px;
        border-radius: 0 0 10px 10px;
    }

    .filler{
        border-radius: 0 0 10px 10px;
    }

    .disabled_block img{
        width: 250px;
    }
</style>
