<template>
    <v-flex
        class="wrapper"
        :style="`background-image: url(${bg})`"
        >
        <v-flex d-flex class="poa">
            <div
                class="box"
                :class="side == 'left' ? 'left_box' : ''"
                @mouseover="turnOn('left')"
                @click="route('red')"
            ></div>
            <div
                class="box"
                :class="side == 'right' ? 'right_box' : ''"
                @mouseover="turnOn('right')"
                @click="route('blue')"
            ></div>
        </v-flex>
        <v-flex xs12 d-flex class="pointer h100" @click="route('red')">
            <v-flex xs6 class="h100 text-left" d-flex align-center justify-center>
                <h2 class="main_title mb_title" :class="side == 'left' ? 'bold' : ''">
                    RED
                    <span>
            <br/>TEAM
          </span>
                </h2>
            </v-flex>
            <v-flex
                xs6
                class="pointer h100 mt_title text-right"
                d-flex
                align-center
                justify-center
                @click="route('blue')"
            >
                <h2 class="main_title" :class="side == 'right' ? 'bold' : ''">
                    BLUE
                    <span>
            <br/>TEAM
          </span>
                </h2>
            </v-flex>
        </v-flex>
        <div class="bottom"></div>
    </v-flex>
</template>

<script>
    import {setTimeout} from "timers";

    export default {
        data() {
            return {
                modules: [],
                lessons: [],
                mode: "modules",
                img: IMG,
                bg: '',
                mod: null,
                selectedGames: [],
                token: window.localStorage.getItem("data"),
                role: Auth.student(),
                typePicked: false,
                dialog: false,
                side: null
            };
        },
        created() {
            window.addEventListener('resize', this.windowWidth, false);
            this.windowWidth();            
        },
        methods: {
            windowWidth() {
                const w = window.innerWidth;
                if (w > 768)
                    this.bg = this.img + 'background/practice_arena.png';
                else
                    this.bg = this.img + 'background/practice_arena_mobile.png';
            },
            getData() {
                Load.on();
                axios
                    .get(`/api/practice`)
                    .then(res => {
                        Load.off();
                        this.modules = res.data;
                    })
                    .catch(err => {
                        Load.off();
                        Alert.onApp(["error", err.response.data]);
                        this.$router.push("/");
                    });
            },
            catGames(games) {
                for (let i = 0; i < this.modules.length; i++) {
                    this.cats[i].games = 0;
                }
                games.forEach(g => {
                    let index = this.cats.findIndex(c => {
                        return g.category_id == c.id;
                    });
                    this.cats[index].games++;
                });
            },
            OpenLessons(mod) {
                if (!this.checkAvailable(mod) || !this.role) {
                    this.lessons = mod.lessons;
                    this.mod = mod;
                    this.mode = "lessons";
                }
            },
            backToCats() {
                this.mode = "modules";
            },
            downloadGuide(game) {
                var game = game;
                axios({
                    url: `/api/download?file=${game.slug}/${game.guide}`,
                    method: "GET",
                    responseType: "blob"
                })
                    .then(response => {
                        const blob = new Blob([response.data]);
                        if (navigator.userAgent.indexOf("Firefox") > 0) {
                            var url = window.navigator.createObjectURL(blob);
                        } else {
                            var url = webkitURL.createObjectURL(blob);
                            const link = document.createElement("a");
                            link.href = url;
                            link.setAttribute("download", game.guide);
                            document.body.appendChild(link);
                            link.click();
                            setTimeout(function () {
                                webkitURL.revokeObjectURL(url);
                            }, 500);
                        }
                    })
                    .catch(err => {
                        Alert.onApp(["error", "Unauthorized To Access The Game Instruction"]);
                    });
            },
            checkAvailable(mod) {
                if (!this.role) return true;
                let check = 0;
                for (let i = 0; i < mod.lessons.length; i++) {
                    if (mod.lessons[i].available) check++;
                }
                return !check ? true : false;
            },
            pickType(type) {
                this.typePicked = type;
                this.mode = "modules";
            },
            turnOn(side) {
                this.side = side;
            },
            route(side) {
                this.$router.push("/practice-arena/" + side);
            }
        }
    };
</script>

<style lang="scss" scoped>
    .wrapper {
        height: 100vh;
        width: 100vw;
        background-size: contain;
        background-position: center;
    }

    .main_title {
        font-size: 6em;
        font-weight: 100;
        position: relative;
    }

    .main_title span {
        position: relative;
        top: -40px;
    }

    .mb_title {
        padding-bottom: 100px;
    }

    .mt_title {
        padding-top: 100px;
    }

    .box {
        height: 100vh;
        width: calc(50vw - 15px);
        cursor: pointer;
    }

    .left_box {
        background: linear-gradient(
                90deg,
                rgba(219, 107, 123, 0),
                rgb(219, 107, 123, 0.05),
                rgb(219, 107, 123, 0.15),
                rgb(219, 107, 123, 0.4),
                rgb(219, 107, 123, 0.3)
        );
        mix-blend-mode: overlay;
    }

    .right_box {
        background: linear-gradient(
                90deg,
                rgba(71, 60, 184, 2),
                rgba(71, 60, 184, 0.4),
                rgba(71, 60, 184, 0.15),
                rgba(114, 105, 216, 0.05),
                rgba(115, 106, 211, 0)
        );
        mix-blend-mode: overlay;
    }

    .bold {
        font-weight: 500;
    }

    @media (max-width: 768px) {
        .wrapper {

        }

        .main_title {
            font-size: 4em;
        }

        $padding: 300px;

        .mb_title {
            padding-bottom: $padding;
        }

        .mt_title {
            padding-top: $padding;
        }
    }
</style>
