<template>
  <v-layout row wrap v-if="data" class="margin_menu">
    <v-flex>
      <v-flex md8 lg7 mx-auto class="text-center pt-5">
        <v-flex class="breadcrumbs" d-none d-md-block>
            <router-link to="/" class="no_dec white--text">
                <span class="bread_link">Home</span>
            </router-link>
            <span class="spacer">/</span>
            <router-link to="/practice-arena" class="no_dec white--text">
                <span class="bread_link">Practice Arena</span>
            </router-link>
            <span class="spacer">/</span>
            <router-link v-if="mod" :to="`/practice-arena/${typePicked}`" class="no_dec white--text">
                <span class="bread_link">{{typePicked.toUpperCase()}}</span>
            </router-link>
            <span v-else>{{typePicked.toUpperCase()}}</span>
            <span v-if="mod">/</span>
            <span v-if="mod">{{mod}}</span>
        </v-flex>
        <h1 class="main_title pt-5 mb-0">PRACTICE ARENA</h1>
      </v-flex>
      <v-flex xs12 class="mt-5" v-if="data">
        <transition name="fade" mode="out-in">
          <router-view :key="$route.fullPath" :data="data"></router-view>
        </transition>
      </v-flex>
      <v-flex v-else>
        <loading />
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import Loading from './../General/loading'
export default {
  components: { Loading },
  data() {
    return {
      data: null,
      lessons: [],
      mode: "cats",
      img: IMG,
      typePicked: null,
      mod: null
    };
  },

  created() {
    this.typePicked = this.$route.params.type;
    if(!this.data) this.getData();


    EventBus.$on("changeRouteChallenges", mod => {
      this.mod = mod
    });
  },

  updated(){
    if(! window.location.pathname.split('/')[3]) this.mod = null
  },

  methods: {
    getData() {
      Load.on();
      axios
        .get(`/api/practice`)
        .then(res => {
          Load.off();
          this.data = res.data;
          this.checkMod()
        })
        .catch(err => {
          Load.off();
          Alert.onApp(["error", err.response.data]);
        });
    },
    chooseType(type) {
      this.typePicked = type;
      this.$router.push("/practice-arena/" + type);
    },
    checkMod(){
        // check if module exists for breadcrumbs
        let mod = window.location.pathname.split('/')[3];
        this.data.forEach(e => {
          let name = e.name
                    .toLowerCase()
                    .replace(/\s/g, "-")
                    .replace(/&/g, "and");
          if(name == mod) return this.mod = e.name;
        });
    }
  }
};
</script>

<style scoped>
.bg_purple {
  background-color: rgba(134, 117, 233, 0.8);
}

.bg_light_purple {
  background-color: rgb(109, 94, 153, 0.5);
}
.bg_blue_purple {
  background-color: rgb(55, 60, 156);
}
</style>
