<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
     title: "Subscriptions",
      api: "cms/subscriptions",
      img: IMG + "cats/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Subscriptions",
        one: "subscription",
        multiple: "subscriptions"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Description", value: "description" },
        { text: "Challenges", value: "challenges" },
        { text: "Duration", value: "duration" },
        { text: "Modules", value: "modules" },
        { text: "Price", value: "price" },
        { text: "status", value: "status" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["visibility"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
