<template>
    <v-container>
        <v-flex xs12>
            <v-toolbar flat color="transparent">
                <v-toolbar-title>
                    <v-flex d-flex align-center>
                        New Subscription
                        <v-icon class="pointer ml-3" @click="updateStatus(0)" v-if="form.status" style="font-size:3em;" color="green">toggle_on</v-icon>
                        <v-icon class="pointer ml-3" @click="updateStatus(1)" v-else style="font-size:3em;" color="red">toggle_off</v-icon>
                        <span>Status</span>
                    </v-flex>
                </v-toolbar-title>
            </v-toolbar>
            <v-form @submit.prevent="submit()" ref="form">
                    <v-flex class="mt-3">
                         <v-card class="pa-3 mx-2 pb-3">
                            <v-text-field
                                outlined
                                v-model="form.name"
                                label="Name"
                                :rules="[rules.name]"
                                :error-messages="errors && errors.name ? errors.name : ''"
                            ></v-text-field>
                            <v-textarea
                                outlined
                                v-model="form.descriptions"
                                label="Descriptions"
                                :rules="[rules.descriptions]"
                                :error-messages="errors && errors.descriptions ? errors.descriptions : ''"
                            ></v-textarea>
                            <v-flex d-flex>
                                <v-flex xs12 md6 class="pr-2">
                                    <v-text-field
                                        outlined
                                        v-model="form.price"
                                        label="Price"
                                        :rules="[rules.price]"
                                        :error-messages="errors && errors.price ? errors.price : ''"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs6 class="pl-2">
                                    <v-text-field
                                        outlined
                                        v-model="form.duration"
                                        label="Duration"
                                        :rules="[rules.duration]"
                                        :error-messages="errors && errors.duration ? errors.duration : ''"
                                        hint="the amount of members which are available"
                                    ></v-text-field>
                                </v-flex>
                            </v-flex>
                            <v-flex d-flex>
                                <v-flex xs6 class="pr-2">
                                    <v-text-field
                                        outlined
                                        v-model="form.challenges"
                                        label="Challenges"
                                        :rules="[rules.challenges]"
                                        :error-messages="errors && errors.challenges ? errors.challenges : ''"
                                        hint="the amount of challenges which are available"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs6 class="pl-2">
                                    <v-text-field
                                        outlined
                                        v-model="form.modules"
                                        label="Modules"
                                        :rules="[rules.modules]"
                                        :error-messages="errors && errors.modules ? errors.modules : ''"
                                        hint="the amount of modules which are available"
                                    ></v-text-field>
                                </v-flex>
                            </v-flex>
                        </v-card>
                    </v-flex>
                <v-flex xs12 d-flex class="mt-5">
                    <v-flex xs6>
                        <v-btn type="submit" color="primary" block>Create</v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn block @click="$router.go(-1)">Cancel</v-btn>
                    </v-flex>
                </v-flex>
            </v-form>
        </v-flex>
    </v-container>
</template>

<script>
import { filter } from 'minimatch';
export default {
    data(){
        return {
            form: {
                status: true
            },
            filter: {
                data: null,
                countries: null,
                colleges: [],
                classes: [],
            },
            roles: [],
            rules: {
                role: v => !!v || 'Role is required',
                name: v => !!v || 'Name is required',
                descriptions: v => !!v || 'Descriptions is required',
                price: v => !!v && !isNaN(v) || 'Price is required and must be a number',
                members: v => !!v && !isNaN(v) || 'Members is required and must be a number',
                duration: v => !!v && !isNaN(v) || 'Duration is required and must be a number',
                challenges: v => !!v  && !isNaN(v)|| 'Challenges is required and must be a number',
                modules: v => !!v && !isNaN(v) || 'Modules is required and must be a number',
            },
            errors: {},
            disable: {
                country: false,
                college: false,
                class: false,
            }
        }
    },
    methods:{
        submit(){
            if(this.$refs.form.validate()){
                axios.post('/api/cms/subscription/create', this.form).then(res => {
                    Alert.on(['success', res.data]);
                    this.$router.push('/CMS/subscriptions')
                }).catch(err => {
                    Alert.on(['error', err.response.data]);
                    this.errors = err.response.data.errors
                })
            }
        },
        filterCountry(v){
            this.form.country = v;
            this.form.colleges = []
            this.form.classes = null
            this.filter.colleges = [];
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.colleges.length; i++){
                if(this.form.country == this.filter.data.colleges[i].country_id) this.filter.colleges.push(this.filter.data.colleges[i])
            } 
        },
        filterCollege(v){
            this.form.colleges = v;
            this.filter.classes = [];
            for(let i = 0; i < this.filter.data.classes.length; i++){
                for(let z = 0; z < this.form.colleges.length; z++){
                    if(this.form.colleges[z].id == this.filter.data.classes[i].college_id){
                        this.filter.classes.push(this.filter.data.classes[i])
                        if(this.form.role == 67) this.form.classes.push(this.filter.data.classes[i])
                    }
                }
            } 
        },
        rolePicked(v){
            this.disable.country = false
            this.disable.college = false
            this.disable.class = false
            
            if(v == 134){
                this.disable.country = true  
                this.disable.college = true  
                this.disable.class = true  
            }else if(v == 67){
                this.disable.class = true  
            }else if(v == 149){
                this.disable.country = true  
                this.disable.college = true  
                this.disable.class = true  
            }
        }
    }
}
</script>

<style scoped>
 
</style>
