<template>
  <v-container class="pt-0">
    <v-layout v-if="data">
      <v-flex xs12>
        <v-layout row wrap class="my-3">
          <v-flex xs12 md6 class="text-center px-2 mt-3">
            <v-toolbar flat>
              <v-toolbar-title>Profile</v-toolbar-title>
              <v-toolbar-items>
                <v-btn text :class="data.status ? 'green--text' : 'red--text'" title="update status">
                  Status
                  <v-icon
                    class="pointer ml-2"
                    @click="statusSubmit(0)"
                    v-if="data.status"
                    style="font-size:3em;"
                    color="green"
                  >toggle_on</v-icon>
                  <v-icon
                    class="pointer ml-2"
                    @click="statusSubmit(1)"
                    v-else
                    style="font-size:3em;"
                    color="red"
                  >toggle_off</v-icon>
                </v-btn>
              </v-toolbar-items>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn color="red" text @click="dialog = true">Delete</v-btn>
              </v-toolbar-items>
            </v-toolbar>
            <v-dialog v-model="dialog" max-width="500">
              <v-card>
                <v-card-title class="headline">Delete User</v-card-title>
                <v-divider></v-divider>
                <v-card-text>Are You sure You want to delete the user?</v-card-text>
                <v-card-actions>
                  <v-btn color="green darken-1" text="text" @click="deleteUser()">Accept</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text="text" @click="dialog = false">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <profile :data="data" />
          </v-flex>
          <v-flex
            xs12
            md6
            class="text-center px-2 mt-3"
            v-if="role == 'admin' || role != data.role.role"
          >
            <profile-edit :data="data" />
            <classes
              class="mt-3"
              :data="data"
            />
          </v-flex>
        </v-layout>
        <classes-history :data="data" v-if="['teacher', 'master'].includes(data.role.role)" />
        <v-flex class="px-2 my-4">
          <games-history :data="data" />
          <games-allowed v-if="data.role.role == 'candidate'" :data="data" />
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Profile from "../General/show_parts/profile";
import ProfileEdit from "../General/show_parts/profile_edit";
import Classes from "../General/show_parts/classes_users";
import ClassesHistory from "../General/show_parts/classes_history";
import GamesAllowed from "../General/show_parts/games_allowed";
import GamesHistory from "../General/show_parts/games_history";
export default {
  components: {
    Profile,
    ProfileEdit,
    Classes,
    ClassesHistory,
    GamesAllowed,
    GamesHistory
  },
  data() {
    return {
      role: Auth.role(),
      roles: [],
      data: null,
      mode: "Profile",
      dialog: false
    };
  },
  created() {
    this.getUser();
  },
  methods: {
    getUser() {
      axios
        .get(`/api/cms/users/show/${window.location.pathname.split("/")[3]}`)
        .then(res => {
          this.data = res.data;
        })
        .catch(err => {
          Alert.on(["error", err.response.data]);
          this.$router.go(-1);
        });
    },
    statusSubmit(status) {
      if (this.role == "admin" || this.role != this.data.role.role) {
        axios
          .post("/api/cms/users/status", { id: this.data.id, status: status })
          .then(res => {
            this.data.status = status;
            Alert.on(["success", res.data]);
          });
      }
    },
    changeRoute(to) {
      this.$router.push("/CMS/settings/classes/" + to);
    },
    deleteUser() {
      axios
        .post("/api/cms/users/delete", { id: this.data.id })
        .then(res => {
          Alert.on(["success", res.data]);
          this.$router.go(-1);
        })
        .catch(err => {
          Alert.on(["error", "Sorry Unabled To Delete The User"]);
        });
    }
  }
};
</script>

<style scoped>
.img {
  width: 200px;
  border-radius: 50% !important;
  height: auto;
}
</style>
