<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :settings="true"
      :editByDialog="true"
      :searchApi="null"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Levels",
      api: "cms/levels",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Levels",
        one: "level",
        multiple: "levels"
      },
      headers: [
        { text: "Level", value: "level" },
        { text: "Points", value: "points" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit", "delete"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
