<template>
    <v-container>
        <v-flex xs2 d-flex align-center>
            <h1>New Level</h1>
            <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
            <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
        </v-flex>
        <v-flex xs4 class="mr-3">
            <v-form @submit.prevent="submit()" ref="form">
                <v-text-field
                    outlined
                    v-model="form.level"
                    label="Level"
                    :rules="[rules.level]"
                    :error-messages="errors && errors.level ? errors.level : ''"
                ></v-text-field>
                <v-btn type="submit" color="primary" block>Create</v-btn>
            </v-form>
            <router-link to="/CMS/settings/levels">
                <v-btn flat block>Cancel</v-btn>
            </router-link>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            form: {
                status: true
            },
            rules:{
                level: v => !!v || 'Name is Required',
            },
            errors: {}
        }
    },
    created(){
    },
    methods:{
        submit(){
            if(this.$refs.form.validate()){
                axios.post('/api/cms/countries/create', this.form).then(res => {
                    Alert.on(['success', res.data])
                    this.$router.push('/CMS/settings/countries')
                }).catch(err => {
                    if(err.response.data.errors) this.errors = err.response.data.errors;
                })
            }
        }
    }
}
</script>

<style>

</style>
