<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :settings="true"
      :searchApi="null"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Tags",
      api: "cms/tags",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Tags",
        one: "tag",
        multiple: "tags"
      },
      headers: [
        { text: "Tag", value: "name" },
        { text: "Description", value: "description" },
        { text: "Status", value: "status" },
        { text: "Actions", value: "actions", align: 'end' }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit", "delete"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
