<template>
  <v-flex class="px-3">
    <v-card class="pa-3">
      <h2 class="headline">New Tag</h2>
    </v-card>
    <br>
    <v-card class="pa-3">
      <v-form @submit.prevent="submit()" ref="form" v-if="form">
        <v-text-field
          label="Name"
          outlined
          counter 
          hint="2 - 100 characters max"
          persistent-hint
          maxlength="100"
          v-model="form.name"
          :rules="[rules.name]"
        ></v-text-field>
        <v-textarea
          label="Description"
          outlined
          counter
          maxlength="300"
          hint="300 characters max"
          persistent-hint
          v-model="form.description"
        ></v-textarea>
        <v-flex d-flex class="mt-5">
            <v-flex xs6>
                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
            </v-flex>
            <v-flex xs6>
                <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
            </v-flex>
        </v-flex>
      </v-form>
      <div v-else>
        <v-text-field color="primary" loading disabled></v-text-field>
      </div>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      role: Auth.role(),
      roles: [],
      form: {},
      dialog: false,
      loading: false,
       rules: {
          name: v => !!v || 'Tag Name is required',
      },
    };
  },

  created(){
  },
 
  methods: {
    submit(){
      if(this.$refs.form.validate()){
        this.loading = true;
        axios.post('/api/cms/tags/create', this.form).then( res => {
          this.loading = false;
          this.$router.push('/CMS/settings/tags');
        }).catch(err => { 
          this.loading = false;
        });
      }
    },
    // changeRoute(to) {
    //   this.$router.push("/CMS/settings/classes/" + to);
    // },
  }
};
</script>

<style scoped>
.img {
  width: 200px;
  border-radius: 50% !important;
  height: auto;
}
</style>
