<template>
  <v-container class="pt-0">
    <v-flex class="mb-2">
      <v-card class="pa-3">
        <v-layout d-flex wrap>
          <h1 class="d-inline" :class="dark ? 'white--text' : ''">Plans</h1>
          <v-btn
            class="mb-3 ml-3"
            :color="`${dark ? 'blue darken-4' : 'blue lighten-1'}`"
            @click="$router.push('/CMS/plans/new')"
            fab
            small
          >
            <v-icon color="white">add</v-icon>
          </v-btn>
        </v-layout>
          <p>
            When creating a plan its status will be "Created".
            <br>
            After you will change the status you wont be able to update he following details: price, duration, 
          </p>
      </v-card>
    </v-flex>
    <v-flex v-if="data">
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="data"
        :sort-by="[]"
        hide-default-footer
        :search="search"
        item-key="id"
        class="elevation-1"
      >
        <template v-slot:item.actions="props">
            <!-- <v-icon color="blue" @click="activate(props.item.id)">thumb_up</v-icon> -->
            <v-icon color="green" @click="changeRoute(props.item.id)">edit</v-icon>
            <v-icon color="red" @click="startDelete(props.item)">delete</v-icon>
        </template>

         <template v-slot:item.status="props">
           <span v-if="props.item.status == 1">
            <v-icon
              large
              class="cms_status"
              @click="changeStatus(0, props.item.id, props.item.plan_id)"
              
              color="success"
            >toggle_on</v-icon>
            Active
          </span>
          <span v-else-if="props.item.status == 2">
            <v-icon
              large
              class="cms_status"
              @click="changeStatus(1, props.item.id, props.item.plan_id)"
              
              color="blue"
            >toggle_off</v-icon>
            Created
          </span>
        <span v-else>
          <v-icon
            large
            class="cms_status"
            @click="changeStatus(1, props.item.id, props.item.plan_id)"
            color="red"
          >toggle_off</v-icon>
          Inactive
        </span>
        </template>

        <template v-slot:item.created_at="props">
            {{time(props.item.created_at)}}
        </template>

      </v-data-table>
    </v-flex>
    <v-flex v-else>
      <v-data-table
        hide-default-footer
      >
      </v-data-table>
    </v-flex>
    <v-dialog v-model="deleteDialog" max-width="500">
      <v-form @submit.prevent="deletePlan()">
        <v-card v-if="selected">
          <v-card-title class="headline">Delete Plan</v-card-title>
          <v-divider></v-divider>
          <v-card-text class="mt-3">
            Are You sure You want to delete the plan "{{selected.name}}"?
            <br>
            Enter the code: {{code}}
            <br>
            <span v-if="codeErr" class="red--text">The code is incorrect</span>
            <v-text-field
              outlined
              dense
              v-model="codeVerify"
              label="Code"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn color="green darken-1" dark type="submit">Accept</v-btn>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              @click="deleteDialog = false, codeVerify = null"
            >Cancel</v-btn>
          </v-card-actions>
        </v-card>
        </v-form>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      data: null,
      search: "",
      loading: false,
      deleteDialog: false,
      code: null,
      codeVerify: null,
      codeErr: false,
      selected: null,
      form: {
        page: 1,
        pagination: 10
      },
      pagination: {
        sortBy: 'name'
      },
      page: 1,
      headers: [
        { text: "Name", value: "name" },
        { text: "Description", value: "description" },
        { text: "status", value: "status" },
        { text: "Created By", value: "creator.name" },
        { text: "Created At", value: "created_at" },
        { text: "Actions", value: "actions", align: 'end'}
      ],
      sortBy: {
        name: '',
        order: true
      },
    };
  },
  
  computed: {
    dark() {
      return this.$vuetify.theme.dark;
    }
  },

  created() {
    Load.on();
    this.getData();
  },
  
  methods: {
    getData() {
      this.loading = true;
      axios.get(`/api/cms/plans/list-plans`).then(res => {
        this.loading = false;
        this.data = res.data;
        Load.off();
      }).catch(err => {
        this.loading = false;
      });
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    changeStatus(status, id, plan_id) {
      this.loading = true;
      axios
        .post(`/api/cms/plans/status`, { id: id, status: status, plan_id: plan_id })
        .then(res => {
          this.loading = false;
          for (let i = 0; i < this.data.length; i++) {
            if (this.data[i].id == id) {
              this.data[i].status = status;
              break;
            }
          }
          EventBus.$emit('supportStatus', this.data);
          Alert.on(["success", res.data]);
        }).catch(err => {
          this.loading = false;
          Alert.on(["success", res.data]);
        });
    },
    changeRoute(to) {
      this.$router.push(`/CMS/plans/${to}`);
    },
    deletePlan(){
      if(this.code == this.codeVerify){
        this.deleteDialog = false;
        this.codeVerify = null;
        this.codeErr = false;
        axios.post(`/api/cms/plans/delete/${this.selected.id}`).then(res => {
          Alert.on(["success", res.data]);
        }).catch(err => {
          Alert.on(["error", err.response.data]);
        })
      }else{
        this.codeErr = 'Code does not match';
      }
    },
    time(date){
      return Time.set(date);
    },
    startDelete(plan){
      this.selected = plan;
      this.deleteDialog = true;
      this.code = Math.floor(100000 + Math.random() * 900000);
    }
  }
};
</script>

<style>
</style>
