<template>
  <v-flex class="px-3">
    <v-card class="pa-3">
      <h2 class="headline">New Plan</h2>
    </v-card>
    <br>
    <v-card class="pa-3">
      <h2 class="headline">General Details</h2>
      <br>
      <v-form @submit.prevent="submit()" ref="form" v-if="form">
        <v-text-field
          label="Name"
          outlined
          v-model="form.name"
          :rules="[rules.name]"
          counter 
          hint="2 - 100 characters max"
          persistent-hint
          maxlength="100"
        ></v-text-field>
        <v-textarea
          label="Description"
          counter
          maxlength="300"
          hint="300 characters max"
          persistent-hint
          outlined
          v-model="form.description"
          :rules="[rules.description]"
        ></v-textarea>
        <p class="headline">Pricing</p>
        <v-flex d-flex>
          <v-flex class="px-2" xs6>
            <v-text-field
              label="Price Per Month"
              type="number"
              outlined
              v-model="form.price"
              :rules="[rules.price]"
            ></v-text-field>
          </v-flex>
          <v-flex class="px-2" xs6>
            <v-text-field
              label="Month's Duration"
              type="number"
              outlined
              v-model="form.duration"
              :rules="[rules.duration]"
            ></v-text-field>
          </v-flex>
        </v-flex>
        <v-flex d-flex class="mt-5">
            <v-flex xs6>
                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
            </v-flex>
            <v-flex xs6>
                <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
            </v-flex>
        </v-flex>
      </v-form>
      <div v-else>
        <v-text-field color="primary" loading disabled></v-text-field>
      </div>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      role: Auth.role(),
      roles: [],
      form: {},
      dialog: false,
      loading: false,
       rules: {
          name: v => !!v || 'Plan Name is required',
          description: v => !!v || "Plan Description is required",
          price: v => !!v && !isNaN(v) || "Plan price is required and must be a number",
          duration: v => !!v && !isNaN(v) || "Plan month duration is required and must be a number",
      },
    };
  },

  created(){
    this.getData();
  },
 
  methods: {

    getData(){
      axios.get('/api/cms/plans/new').then( res => {
        // console.log(res.data);
      } )
    },

    submit(){
      if(this.$refs.form.validate()){
        this.loading = true;
        axios.post('/api/cms/plans/create', this.form).then( res => {
          this.loading = false;
          this.$router.push('/CMS/plans');
        }).catch(err => { 
          this.loading = false;
        });
      }
    },
    // changeRoute(to) {
    //   this.$router.push("/CMS/settings/classes/" + to);
    // },
  }
};
</script>

<style scoped>
.img {
  width: 200px;
  border-radius: 50% !important;
  height: auto;
}
</style>
