<template>
  <v-flex class="px-3" v-if="form">
    <v-card class="pa-3">
      <h2 class="headline">Edit Plan</h2>
    </v-card>
    <br>
    <v-card class="pa-3">
     <v-card-actions class="px-0">
        <h2 class="headline">General Details</h2>
        <v-spacer></v-spacer>
        <span v-if="form.status == 1">
          <v-icon 
              large
              class="cms_status"
              
              color="success"
            >toggle_on</v-icon>
            Active
          </span>
          <span v-else-if="form.status == 2">
            <v-icon
              large
              class="cms_status"
              
              color="blue"
            >toggle_off</v-icon>
            Created
          </span>
        <span v-else>
          <v-icon
            large
            class="cms_status"
            color="red"
          >toggle_off</v-icon>
          Inactive
        </span>
     </v-card-actions>
      <br>
      <v-form @submit.prevent="submit()" ref="form" v-if="form">
        <v-text-field
          label="Name"
          outlined
          counter
          hint="2 - 100 characters max"
          persistent-hint
          maxlength="100"
          v-model="form.name"
        ></v-text-field>
        <v-textarea
          label="Description"
          counter
          maxlength="300"
          hint="300 characters max"
          persistent-hint
          outlined
          v-model="form.description"
        ></v-textarea>
        <div v-if="form.status == 2">
          <p class="headline">Pricing</p>
          <v-flex d-flex>
            <v-flex class="pr-2" xs6>
              <v-text-field
                label="Description"
                outlined
                v-model="form.price"
              ></v-text-field>
            </v-flex>
            <v-flex class="pl-2" xs6>
              <v-text-field
                label="Description"
                outlined
                v-model="form.duration"
              ></v-text-field>
            </v-flex>
          </v-flex>
        </div>
        <v-flex d-flex class="mt-5">
            <v-flex xs6>
                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Update</v-btn>
            </v-flex>
            <v-flex xs6>
                <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
            </v-flex>
        </v-flex>
      </v-form>
      <div v-else>
        <v-text-field color="primary" loading disabled></v-text-field>
      </div>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      role: Auth.role(),
      roles: [],
      form: null,
      loading: false,
    };
  },
  created() {
    this.getPlan();
  },
  methods: {
    getPlan() {
      axios
        .get(`/api/cms/plans/show/${window.location.pathname.split("/")[3]}`)
        .then(res => {
          this.form = res.data;
        })
        .catch(err => {
          Alert.on(["error", err.response.data]);
          this.$router.go(-1);
        });
    },
    changeRoute(to) {
      this.$router.push("/CMS/settings/classes/" + to);
    },
    submit(){
      // console.log(this.form);
      this.loading = true;
      axios
        .post(`/api/cms/plans/update`, this.form)
        .then(res => {
          this.loading = false;
          Alert.on(["success", res.data]);
          this.$router.push('/cms/plans');
        })
        .catch(err => {
          this.loading = false;
          Alert.on(["error", err.response.data]);
          this.$router.go(-1);
        });
    }
  }
};
</script>

<style scoped>
.img {
  width: 200px;
  border-radius: 50% !important;
  height: auto;
}
</style>
