<template>
  <v-flex v-if="data" class="pa-5">
    <v-data-table
        :headers="headers"
        :items="data"
        :sort-by="['created_at']"
        :sort-desc="[false, true]"
        multi-sort
        class="elevation-1 mt-3"
        :search="search"  
        :hide-default-footer="data ? false : true"
        no-data-text="No Actice Challenges"
        >
          <template v-slot:top>
              <v-flex class="px-5 py-3">
                  <h2 class="mb-4">{{data.containers && data.containers.length}} Active Containers</h2>
                  <v-text-field class="pt-0" v-model="search" label="search"></v-text-field>
              </v-flex>
          </template>
              
          <template v-slot:item.created_at="props">
              {{time(props.item.created_at)}}
          </template>
          
          <template v-slot:item.actions="props">
              <v-btn @click="close('containers', props.item)" color="red" small dark>Close</v-btn>
              <v-btn @click="showUser(props.item)" color="blue" small dark>Show User</v-btn>
          </template>
    </v-data-table>
  </v-flex>
</template>

<script>
  export default {
    data(){
      return {
        headers: [
          { text: 'User', value: 'name' },
          { text: 'Role', value: 'role' },
          { text: 'IP', value: 'ip' },
          { text: 'Port', value: 'port' },
          { text: 'Started At', value: 'created_at' },
          { text: 'Actions', value: 'actions', align: 'end' },
        ],
        data: null,
        search: ''
      }
    },

    created(){
      axios.get(`/api/cms/lessons/containers/${this.$route.params.slug}`).then( res => {
        this.data = res.data;
      })
    },

    methods: {
       time(date){
          return Time.set(date);
      },
      showUser(user){
        if(user.role == 'student') this.$router.push('/CMS/students/' + user.user_id)
        else this.$router.push('/CMS/users/' + user.user_id)
      },
      close(type, item){
        if(type == 'containers'){
          axios.post(`/api/cms/lessons/containers`, {id: item.id}).then( res => {
            let index = this.data.findIndex( e => {
                if(e.id == item.id) return e;
            })
            this.data.splice(index, 1);
          })
        }else{
          type = type == 'student' ? 'students' : 'users';
          axios.post(`/api/cms/${type}/${item.user_id}/dockers`, {table: 'lesson_containers', id: item.id}).then(res => {
              
            let index = this.data.active_users.findIndex( e => {
                if(e.id == item.id) return e;
            } )
            this.data.active_users.splice(index, 1);

              return Alert.on(["success", res.data]);
          }).catch(err => {
              return Alert.on(["error", err.response.data]);
          })
        }
        
      },
    }
  }
</script>