<template>
    <v-flex v-if="points">
        <v-form @submit.prevent="submit()" ref="form">
            <v-flex d-flex>
                <v-text-field outlined
                    v-model="form.name"
                    label="Name"
                    :rules="[rules.name]"
                    :error-messages="errors && errors.name"
                ></v-text-field>
                <v-select outlined
                    class="mx-2"
                    :items="form.lessons"
                    v-model="form.number"
                    label="Lesson Order Number"
                    :rules="[rules.number]"
                ></v-select>
                <v-select outlined
                    :items="points"
                    item-value="id"
                    item-text="points"
                    v-model="form.points_id"
                    label="Lesson Points"
                    :rules="[rules.points]"
                ></v-select>
            </v-flex>
            <v-flex d-flex>
                <v-text-field outlined
                    v-model="form.docker"
                    label="Docker IP"
                    :rules="[rules.ip]"
                ></v-text-field>
                <v-text-field outlined
                    class="ml-2"
                    v-model="form.play_time"
                    label="Docker Time"
                    hint="time in minutes"
                    :rules="[rules.time]"
                ></v-text-field>
            </v-flex>
            <v-textarea outlined
                label="Overview"
                hint="Use ~ to drop a line"
                v-model="form.objectives"
                :rules="[rules.overview]"
            ></v-textarea>
            <!-- <v-file-input
                v-model="form.file"
                color="deep-purple accent-4"
                counter
                label="Lesson Video"
                placeholder="Upload your video"
                outlined
                :show-size="1000"
                >
                <template v-slot:selection="{ index, text }">
                <v-chip
                    v-if="index < 2"
                    color="deep-purple accent-4"
                    dark
                    label
                    small
                >
                    {{ text }}
                </v-chip>

                <span
                    v-else-if="index === 2"
                    class="overline grey--text text--darken-3 mx-2"
                >
                    +{{ files.length - 2 }} File(s)
                </span>
                </template>
            </v-file-input> -->
            <v-btn type="submit" color="success" block height="50">Update</v-btn>
        </v-form>
    </v-flex>
</template>

<script>
export default {
    props: ['data', 'points'],
    data(){
        return {
            form: null,
            myModule: null,
            rules: {
                name: v => !!v || "Name is required",
                number: v => !!v || "Order number is required",
                points: v => !!v || "Points is required",
                overview: v => !!v || "Overview is required",
                ip: v => !!v || "Docker IP is required",
                time: v => !!v || "Docker Time is required",
            },
            errors: {}
        }
    },

    created(){
        this.form = this.data;
    },

    methods:{
        submit(){
            if(this.$refs.form.validate()){
                axios.post('/api/cms/lessons/update', this.form).then(res => {  
                    this.errors = {};
                    Alert.on(['success', res.data]);
                }).catch(err => {
                    this.errors = err.response.data.errors;
                })
            }
        },
    }
}
</script>

<style scoped>
    #tasks_wrapper{
        max-height: 370px;
        overflow-y: scroll;
    }
</style>
