<template>
    <v-form @submit.prevent="submit()" ref="form">
        <v-layout row wrap class="pa-5" v-if="missions">
            <v-flex xs12 xl3>
                <v-toolbar>
                    <v-toolbar-items>
                        <v-btn text>{{form.cms_missions.length}} Missions</v-btn>
                    </v-toolbar-items>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn icon title="new mission" @click="newMission()">
                            <v-icon large color="blue">add_circle</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <!-- <draggable v-model="form.cms_missions"> -->
                    <!-- <transition-group> -->
                        <v-flex v-for="(item, i) in form.cms_missions" :key="item.order + '_' + i" @click="changeMission(i)">
                            <v-toolbar dense class="pointer" :color="form.cms_missions[mission] && item.title == form.cms_missions[mission].title ? 'blue' : 'white'" :dark="form.cms_missions[mission] && item.title == form.cms_missions[mission].title ? true : false">
                                <v-toolbar-items>
                                    <v-btn :color="form.cms_missions[mission] && item.title == form.cms_missions[mission].title ? 'white' : 'green'" icon>
                                        <v-icon>play_arrow</v-icon>
                                    </v-btn>
                                    <v-btn text>{{item.title.substring(0, 20)}}</v-btn>
                                </v-toolbar-items>
                                <v-spacer></v-spacer>
                                <v-toolbar-items class="text-right">
                                    <v-btn icon @click="removeMission(item, i)">
                                        <v-icon :color="form.cms_missions[mission] && item.title == form.cms_missions[mission].title ? 'white' : 'red'">remove_circle</v-icon>
                                    </v-btn>
                                </v-toolbar-items>
                            </v-toolbar>
                        </v-flex>
                    <!-- </transition-group> -->
                <!-- </draggable> -->
                
                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" color="success" block height="50" class="mt-3" type="submit">Update</v-btn>
                <v-btn color="white" block height="50" class="mt-3" @click="$router.go(-1)">Cancel</v-btn>
            </v-flex>
            <v-flex xs12 xl9 class="pl-xl-4 mt-4 mt-xl-0" v-if="form.cms_missions[mission]">
                <v-toolbar>
                    <v-toolbar-items>
                        <v-btn text>{{form.cms_missions[mission].title}} - {{form.cms_missions[mission].cms_tasks.length}} Tasks</v-btn>
                        <!-- <v-btn text><strong>( {{form.cms_missions[mission].mission_id}} )</strong> &nbsp; {{form.cms_missions[mission].title}} - {{form.cms_missions[mission].cms_tasks.length}} Tasks</v-btn> -->
                    </v-toolbar-items>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn text title="update status">
                            Status &nbsp;
                            <v-icon
                            class="pointer ml-2"
                            @click="form.cms_missions[mission].status = 0"
                            v-if="form.cms_missions[mission].status == 1"
                            style="font-size:3em;"
                            color="green"
                            >toggle_on</v-icon>
                            <v-icon
                            class="pointer ml-2"
                            @click="form.cms_missions[mission].status = 1"
                            v-else
                            style="font-size:3em;"
                            color="red"
                            >toggle_off</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-flex class="pt-5">
                    <v-text-field
                        outlined
                        label="Mission Title"
                        v-model="form.cms_missions[mission].title"
                        :rules="[rules.mission_title]"
                    ></v-text-field>
                    <v-textarea
                        outlined
                        label="Mission Description"
                        v-model="form.cms_missions[mission].description"
                        :rules="[rules.mission_description]"
                    ></v-textarea>
                    <v-flex v-for="(task, i) in form.cms_missions[mission].cms_tasks" :key="i">
                        <v-card class="my-3 pa-3">
                            <v-toolbar dense class="mb-4" dark>
                                <v-toolbar-items>
                                    <v-btn text>Task {{i + 1}}</v-btn>
                                </v-toolbar-items>
                                <v-spacer></v-spacer>
                                <v-btn color="white" icon @click="form.cms_missions[mission].cms_tasks_del.push(task), form.cms_missions[mission].cms_tasks.splice(i, 1)">
                                    <v-icon color="red">remove_circle</v-icon>
                                </v-btn>
                            </v-toolbar>
                            <v-btn text title="update status">
                                Status &nbsp;
                                <v-icon
                                class="pointer ml-2"
                                @click="form.cms_missions[mission].cms_tasks[i].status = 0"
                                v-if="form.cms_missions[mission].cms_tasks[i].status == 1"
                                style="font-size:3em;"
                                color="green"
                                >toggle_on</v-icon>
                                <v-icon
                                class="pointer ml-2"
                                @click="form.cms_missions[mission].cms_tasks[i].status = 1"
                                v-else
                                style="font-size:3em;"
                                color="red"
                                >toggle_off</v-icon>
                            </v-btn>
                            <br>
                            <br>
                            <v-flex d-flex>
                                <v-textarea
                                    outlined
                                    label="Task Content"
                                    v-model="task.content"
                                    :rules="[rules.task_content]"
                                ></v-textarea>
                                <v-textarea
                                    class="mx-2"
                                    outlined
                                    label="Task Solution"
                                    v-model="task.solution"
                                    :rules="[rules.task_solution]"
                                ></v-textarea>
                                <v-textarea
                                    outlined
                                    label="Task Explantion"
                                    v-model="task.explanation"
                                ></v-textarea>
                            </v-flex>
                        </v-card>
                    </v-flex>
                    <v-btn color="primary" block @click="form.cms_missions[mission].cms_tasks.push({content: '', solution: '', explantion: '', status: 1})">Create New Task</v-btn>
                </v-flex>
            </v-flex>
        </v-layout>
    </v-form>
</template>

<script>
  import draggable from 'vuedraggable'
  export default {
    components: { draggable },
    props: ['data'],
    data(){
        return {
            missions: [],
            form: {
                cms_missions: [],
                cms_missions_del: []
            },
            count: 1,
            mission: null,
            rules: {
                mission_title: v => !!v || "Mission Title is required",
                mission_description: v => !!v || "Mission Description is required",
                task_content: v => !!v || "Task Content is required",
                task_solution: v => !!v || "Task Solution is required",
                task_explantion: v => !!v || "Task Explanation is required",
            },
            loading: false
        }
    },

    created(){
        this.form.cms_missions = this.data.cms_missions;
        this.changeMission(0);        
    },

    methods:{
        changeMission(i){
            this.mission = i
        },
        submit(){
              if(this.$refs.form.validate()){
                this.loading = true;
                axios.post('/api/cms/lessons/missions/update', {missions: this.form, id: this.data.id}).then(res => {  
                    this.errors = {};
                    this.loading = false;
                    Alert.on(['success', res.data]);
                }).catch(err => {
                    this.loading = false;
                    this.errors = err.response.data.errors;
                })
            }
        },
        newMission(){
            this.form.cms_missions.push({title: `new mission${this.count}`, description: '', status: 0, mission_id: this.form.cms_missions.length + 1,  cms_tasks: [{content: '', solution: '', explantion: '', status: 1}], cms_tasks_del: []});
            this.count++;
            this.mission = this.form.cms_missions.length - 1;
        },
        removeMission(item, i)
        {
            this.mission = this.mission - 1;
            this.form.cms_missions_del.push(item), this.form.cms_missions.splice(i, 1);
        },
    }
  }
</script>

<style>

</style>