<template>
    <v-container>
        <v-card v-if="form">
            <v-toolbar flat color="primary" dark>
                <v-toolbar-title>LESSON PANEL - {{form.name}}'s {{tab}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-icon large title="enter lesson" color="white" @click="$router.push('/practice-arena/' + form.id)">play_circle_outline</v-icon>
            </v-toolbar>
            <v-tabs vertical>
                <v-tab @click="tab = 'Details'" style="justify-content: start">
                    <v-icon v-if="tab != 'Details'" left>person</v-icon>
                    <v-icon v-else left>person_outline</v-icon>
                    Details
                </v-tab>
                <v-tab @click="tab = 'Missions'" style="justify-content: start">
                    <v-icon v-if="tab != 'Missions'" left>playlist_add</v-icon>
                    <v-icon v-else left>playlist_add_check</v-icon>
                    Missions
                </v-tab>
                <v-tab @click="tab = 'Live Dockers'" style="justify-content: start">
                    <v-icon left>dns</v-icon>
                    Active Containers
                </v-tab>
                <v-tab-item>
                    <lesson-details v-if="points && points.length" class="pa-3" :data="form" :points="points" />
                </v-tab-item>
                <v-tab-item>
                    <missions :data="form"/>
                </v-tab-item>
                <v-tab-item>
                    <containers />
                </v-tab-item>
                <v-tab-item>
                </v-tab-item>
                <v-tab-item>
                </v-tab-item>
                <v-tab-item>
                </v-tab-item>
            </v-tabs>
        </v-card>
  </v-container>
</template>

<script>
import LessonDetails from './Lesson_Parts/details'
import Missions from './Lesson_Parts/missions'
import Containers from './Lesson_Parts/containers'
export default {
    components: { LessonDetails, Missions, Containers},
    data(){
        return {
            form: null,
            myModule: null,
            tab: 'Details',
            points: [],
            rules: {
                name: v => !!v || "Name is required",
                number: v => !!v || "Order number is required",
                points: v => !!v || "Points is required",
                overview: v => !!v || "Overview is required",
                ip: v => !!v || "Docker IP is required",
                time: v => !!v || "Docker Time is required",
                mission_title: v => !!v || "Mission Title is required",
                mission_description: v => !!v || "Mission Description is required",
                task_content: v => !!v || "Task Content is required",
                task_solution: v => !!v || "Task Solution is required",
            },
            errors: {}
        }
    },
    created(){
        this.getLesson();
    },
    methods:{
        getLesson(){
            axios.get(`/api/cms/lessons/edit/${window.location.pathname.split('/')[3]}`).then(res => {
                this.form = res.data.lesson;
                this.form.cms_missions_del = [];
                for(let i = 0; i < this.form.cms_missions.length; i++){
                    this.form.cms_missions[i].cms_tasks_del = [];
                }
                this.points = res.data.points;
                this.myModule = res.data.module;
                this.form.lessons = [];
                for(let i = 1; i <= res.data.lessons; i++){
                    this.form.lessons.push(i);
                }
            })
        },
        submit(){
            if(this.$refs.form.validate()){
                axios.post('/api/cms/lessons/update', this.form).then(res => {  
                    this.errors = {};
                    Alert.on(['success', res.data]);
                    this.$router.go(-1)
                }).catch(err => {
                    this.errors = err.response.data.errors;
                })
            }
        },
    }
}
</script>

<style scoped>
    #tasks_wrapper{
        max-height: 370px;
        overflow-y: scroll;
    }
</style>
