<template>
<v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";
export default {
    components: { Table, Top },
    data(){
        return {
            title: "Lessons",
            data: null,
            img: IMG + 'lessons/',
            api: "cms/lessons",
            selected: [],
            search: '',
            loading: false,
            deleteDialog: false,
            pagination: {
                sortBy: 'name',
                amount: 10
            },
            dialog: {
                headline: "Delete Lessons",
                one: "lesson",
                multiple: "lessons"
            },
            headers: [
                { text: 'Name', value: 'name' },
                { text: 'Module', value: 'module' },
                { text: 'Status', value: 'status' },
                { text: 'Created At', value: 'created_at' },
                { text: 'Actions', value: 'actions' },
            ],
            page: 0,
            pages: [],
            actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
            actionBtns: ["visibility"],
            select: 'Choose An Action',
        }
    },
}
</script>

<style>

</style>
