<template>
    <v-container v-if="form" class="pt-0">
        <v-flex md4 d-flex align-center>
            <h1 class="mr-3">New Lesson</h1>
            <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
            <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
            <span>Status</span>
        </v-flex>
        <v-form @submit.prevent="submit()" ref="form">
            <v-card class="pa-3">
                <v-layout wrap d-flex justify-content-between>
                    <v-flex class="px-2">
                        <v-text-field
                            outlined
                            v-model="form.name"
                            label="Name"
                            :rules="[rules.name]"
                            :error-messages="errors && errors.name"
                        ></v-text-field>
                        <v-select outlined
                            :items="points"
                            item-value="id"
                            item-text="points"
                            v-model="form.points_id"
                            label="Lesson Points"
                            :rules="[rules.points]"
                        ></v-select>
                        <v-textarea
                            outlined
                            label="Objectives"
                            hint="Use ~ to drop a line"
                            :rules="[rules.name]"
                            v-model="form.objectives"
                        ></v-textarea>
                        <v-flex d-flex>
                            <v-text-field
                                outlined
                                v-model="form.docker"
                                :rules="[rules.name]"
                                label="Docker IP"
                            ></v-text-field>
                            <v-text-field
                                class="ml-3"
                                outlined
                                v-model="form.play_time"
                                label="Docker Time"
                                :rules="[rules.name]"
                                hint="time in minutes"
                            ></v-text-field>
                        </v-flex>
                    </v-flex>
                </v-layout>
                <v-flex xs12 d-flex class="mt-3">
                    <v-flex xs6>
                        <v-btn type="submit" color="primary" block>Create</v-btn>
                    </v-flex>
                    <v-flex xs6>
                        <v-btn block @click="$router.go(-1)">Cancel</v-btn>
                    </v-flex>
                </v-flex>
            </v-card>
        </v-form>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            form: {
                status: true
            },
            rules: {
                name: v => !!v || "Name is required",
                points: v => !!v || "Points is required",
            },
            errors: {},
            points: [],
            mod: null
        }
    },
    created(){
        this.form.module_id = window.location.pathname.split('/')[4];
        this.getData();
    },
    methods:{
        getData(){
            axios.get('/api/cms/lessons/new/' + this.$route.params.slug).then(res => {
                this.mod = res.data.modules;
                this.points = res.data.points;
            })
        },
        submit(){
            if(this.$refs.form.validate()){
                axios.post('/api/cms/lessons', this.form).then(res => {  
                    this.errors = {};
                    Alert.on(['success', res.data]);
                    this.$router.go(-1)
                }).catch(err => {
                    this.errors = err.response.data.errors;
                })
            }
        }
    }
}
</script>

<style>
    
</style>
