<template>
    <v-container>
        <v-flex v-if="data">
            <v-layout xs12 wrap d-flex justify-content-between>
                 <v-flex class="text-center text-md-left">
                    <v-toolbar flat color="transparent">
                        <v-toolbar-title>Module Lessons - {{ data ? data.total : '' }}</v-toolbar-title>
                        <v-toolbar-items>
                            <v-icon class="pointer ml-3" @click="statusSubmit(0)" v-if="form.status" style="font-size:3em;" color="green">toggle_on</v-icon>
                            <v-icon class="pointer ml-3" @click="statusSubmit(1)" v-else style="font-size:3em;" color="red">toggle_off</v-icon>
                            <v-btn text color="primary"  @click="changeRoute('new/', form.id)">New Lesson</v-btn>
                            <v-btn text color="red" @click="dialogModule = true">delete</v-btn>
                        </v-toolbar-items>
                    </v-toolbar>
                </v-flex>
                 <!-- <v-flex class="text-center text-md-right">
                    <v-btn @click="paginatePage(10)" :color="pagination.amount == 10 ? 'primary' : 'blue lighten-4'" icon>10</v-btn>
                    <v-btn @click="paginatePage(20)" :color="pagination.amount == 20 ? 'primary' : 'blue lighten-4'" icon>20</v-btn>
                    <v-btn @click="paginatePage(50)" :color="pagination.amount == 50 ? 'primary' : 'blue lighten-4'" icon>50</v-btn>
                </v-flex> -->
            </v-layout>
            <v-text-field
                class="pt-0"
                v-model="search"
                label="Search lessons"
            ></v-text-field>
            <v-layout wrap xs12 d-flex justify-space-between>
                <v-flex xs12 md3 class="mt-3">
                    <v-form @submit.prevent="submit()" ref="form">
                        <v-card class="px-3 py-3">
                            <v-toolbar class="mb-3" flat>
                                <v-toolbar-title>Module Details</v-toolbar-title>
                            </v-toolbar>
                            <v-text-field
                                outlined
                                v-model="form.name"
                                label="Module Name"
                                :rules="[rules.name]"
                            ></v-text-field>
                            <v-select
                                outlined
                                :items="['Red','Blue']"
                                v-model="form.type"
                                label="Module Type"
                                :rules="[rules.type]"
                            ></v-select>
                             <v-flex xs12>
                                <v-btn color="info" @click="uploadFile()">Upload File</v-btn>
                                <v-layout row wrap class="my-3">
                                    <img id="image" class="cms_image_new" :src="img + form.image" alt="">
                                </v-layout>
                                <input type="file" class="d-none" id="new_file" @change="filePicked">
                            </v-flex>
                            <v-btn type="submit" color="primary" block>Update</v-btn>
                        </v-card>
                    </v-form>
                </v-flex>
                <v-flex xs12 md8 class="my-3">
                    <v-flex v-if="data">
                        <v-data-table
                            :loading="loading"
                            v-model="selected"
                            :headers="headers"
                            :items="data.data"
                            show-select
                            :search="search"
                            item-key="name"
                            class="elevation-1"
                        >
                        <template v-slot:item.actions="props">
                            <tr>
                                <th>
                                <v-checkbox
                                    :input-value="props.all"
                                    :indeterminate="props.indeterminate"
                                    primary
                                    hide-details
                                    @click.stop="toggleAll()"
                                ></v-checkbox>
                                </th>
                                <th
                                v-for="header in props.headers"
                                :key="header.text"
                                :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                                @click="changeSort(header.value)"
                                >
                                <v-icon small>arrow_upward</v-icon>
                                {{ header.text }}
                                </th>
                            </tr>
                            </template>
                                
                            <template v-slot:item.status="props">
                                <v-icon large class="cms_status" @click="changeStatus(0, props.item.id)" v-if="props.item.status" color="success">toggle_on</v-icon>
                                <v-icon large class="cms_status" @click="changeStatus(1, props.item.id)" v-else color="red">toggle_off</v-icon>
                            </template>
                            
                            <template v-slot:item.actions="props">
                                <v-icon
                                    v-for="(action,i) in actionBtns"
                                    :key="i"
                                    :class="{'mr-2': i != actionBtns.length - 1}"
                                    @click="changeRoute('', props.item.id)"
                                    :color="btnColor(action)"
                                    title="edit lesson"
                                >{{action}}</v-icon>
                                <v-icon title="enter lesson" color="blue" @click="$router.push('/practice-arena/' + props.item.id)">play_circle_outline</v-icon>
                            </template>
                    </v-data-table>
                    <v-layout d-flex justify-space-between>
                        <v-flex xs12 md5 d-flex align-center>
                            <v-select
                                solo
                                class="mt-3 mr-3"
                                :items="actions"
                                v-model="select"
                                label="Multiple Actions"
                            ></v-select>
                            <v-btn color="primary" style="height:52%" class="mb-4" @click="MultiAction()">Submit</v-btn>
                        </v-flex>
                        <v-flex xs12 md5 d-flex justify-end>
                            <v-pagination
                                v-if="pages.length >= 1"
                                v-model="page"
                                :length="pages[pages.length - 1]"
                                :total-visible="10"
                                @input="getLessons(page)"
                            ></v-pagination>
                        </v-flex>
                    </v-layout>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-dialog
            v-model="dialogModule"
            max-width="500"
            >
            <v-card>
                <v-card-title class="headline">Delete Module</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    Are You sure You want to delete the module?
                </v-card-text>
                <v-card-actions>
                <v-btn
                    color="green darken-1"
                    text
                    @click="deleteModule()"
                >
                    Accept
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"
                    text
                    @click="dialogModule = false"
                >
                    Cancel
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="deleteDialog"
            max-width="500"
            >
            <v-card>
                <v-card-title class="headline">Delete Lessons</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    Are You sure You want to delete the <span v-if="selected.length > 1">lessons</span><span v-else>lesson</span>?
                </v-card-text>
                <v-card-actions>
                <v-btn
                    color="green darken-1"
                    text
                    @click="MultiAction()"
                >
                    Accept
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"
                    text
                    @click="deleteDialog = false, select = 'Choose An Action'"
                >
                    Cancel
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
export default {
    data(){
        return {
            data: null,
            lessons: null,
            search: null,
            form:{},
            FormData: {},
            pagination: {
                sortBy: 'number',
                amount: 20
            },
            loading: false,
            dialogModule: false,
            deleteDialog: false,
            headers: [
                { text: 'Lesson', value: 'name' },
                { text: 'Status', value: 'status' },
                { text: 'Actions', value: 'actions', align: 'end' },
            ],
            page: 0,
            pages: [],
            actions: ['Choose An Action', 'Active', 'Inactive', 'Delete'],
            select: 'Choose An Action',
            rules: {
                name: v => !!v || 'Module Name is Required',
                type: v => !!v || "Type is required",
            },
            selected: [],
            search: '',
            img: IMG + 'modules/',
            actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
            actionBtns: ["edit"],
            btnColors: {
                edit: "success",
                visibility: "info",
                delete: "red"
            },
        }
    },
    created(){
        Load.on()
        this.getModule()
        this.getLessons(1);
        this.FormData = new FormData;
    },
    methods:{
        getModule(){
            axios.get(`/api/cms/modules/edit/${window.location.pathname.split('/')[4]}`).then(res => {
                this.form = res.data
                Load.off()
            }).catch(err => {
                Alert.on(['error', 'Module not found'])
                this.$router.go(-1)
            })
        },
        getLessons(page){
            this.loading = true;
            this.page = page;
            axios.get(`/api/cms/modules/lessons/${window.location.pathname.split('/')[4]}/${this.pagination.amount}?page=${page}`).then(res => {
                Load.off()
                this.loading = false;
                this.data = res.data;
                this.pages = Pagination.pages(res.data);
            })
        },
        btnColor(btn) {
            const btnColors = this.btnColors,
                keys = Object.keys(btnColors);

            for (let i = 0; i < keys.length; i++)
                if (btn == keys[i]) return btnColors[keys[i]];

            return "info";
        },
        statusSubmit(status){ // module status
            this.form.status = status;
            axios.post('/api/cms/module/status', {id: this.form.id, status: status}).then(res => {
                Alert.on(['success', res.data]);
            })
        },
        changeRoute(to, id){
            this.$router.push(`/CMS/lessons/${to + id}`)
        },
        paginatePage(num){
            this.pagination.amount = num;
            this.getClasses(1);
        },
        submit(){
             if(this.$refs.form.validate()){
                this.FormData.append('name', this.form.name);
                this.FormData.append('type', this.form.type);
                const config = {headers: { "content-type": "multipart/form-data" }};
                axios.post('/api/cms/modules/update', this.FormData, config).then(res => {
                    Alert.on(['success', res.data])
                }).catch(err => {
                    Alert.on(['error', err.response.data])
                })
            }
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
            else this.selected = this.data.data.slice()
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        changeStatus(status, id){ // lessons status
            for(let i = 0; i < this.data.data.length; i++){
                if(this.data.data[i].id == id){
                    this.data.data[i].status = status;
                    break;
                }
            }
            axios.post('/api/cms/lessons/status', {id: id, status: status}).then(res => {
                Alert.on(['success', res.data]); 
            })
        },
        MultiAction(v){
            if(this.select == 'Delete' && !this.deleteDialog){
                    this.deleteDialog = true;
            }else{
                if(this.select == 'Choose An Action') return Alert.on(['error', 'Sorry, you haven\'t chose any action']);
                    if(!this.selected.length) {
                        this.deleteDialog = false;
                        return Alert.on(['error', 'Sorry, you haven\'t chose any lesson']);
                    }else{
                }
                this.deleteDialog = false;
                var data = [];
                for(let i = 0; i < this.selected.length; i++){
                    data.push(this.selected[i].id)
                }
                axios.post(`/api/cms/lessons/multiple`, {mode: this.select, data: data}).then(res => {
                    data.forEach(e => {
                        if(this.data.data){
                            if(this.select == 'Delete'){
                                let index = this.data.data.forEach( (v, i) => {
                                    if(e == v.id) this.data.data.splice(i, 1)
                                })
                            }else{
                                var status = this.select == 'Active' ? 1: 0; 
                                let index = this.data.data.forEach( (v, i) => {
                                    if(e == v.id) v.status = status;
                                })
                            }
                        }
                    })
                    Alert.on(['success', res.data])
                    this.selected = []
                    this.select = 'Choose An Action';
                }).catch(err => {
                    Alert.on(['error', err.response.data.errors.data[0]])
                    this.select = 'Choose An Action';
                })
            }
        },
        deleteModule(){
            this.dialogCollege = false;
            axios.post('/api/cms/modules/delete', {id: this.form.id}).then(res => {
                Alert.on(['success', res.data]);
                this.$router.push('/CMS/modules')
            }).catch(err => {
                Alert.on(['error', err.response.data]);
            })
        },
        uploadFile(){
            document.getElementById('new_file').click();
        },
        filePicked(e){
            this.FormData.append('file', e.target.files[0]);
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
}
</script>

<style>

</style>
