<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :img="img"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :searchApi="'edit/'"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
      title: "Modules",
      api: "cms/modules",
      img: IMG + "modules/",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Modules",
        one: "module",
        multiple: "modules"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "Type", value: "type" },
        { text: "Lessons", value: "lessons_count" },
        { text: "Status", value: "status" },
        { text: "Image", value: "image" },
        { text: "Created At", value: "created_at" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["edit"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
