<template>
    <v-container class="pt-0">
        <v-flex xs12 md4 d-flex align-center>
            <h1>New Module</h1>
            <v-icon v-if="form.status" class="pointer" @click="form.status = !form.status" color="green" style="font-size:3.5em">toggle_on</v-icon>
            <v-icon v-else class="pointer" @click="form.status = !form.status" color="red" style="font-size:3.5em">toggle_off</v-icon>
            <span>Status</span>
        </v-flex>
        <v-form @submit.prevent="submit()" ref="form">
            <v-flex xs12 d-flex>
                <v-flex xs12 md6 class="px-2">
                    <v-text-field
                        outlined
                        v-model="form.name"
                        label="Name"
                        id="id"
                        :rules="[rules.name]"
                        :error-messages="errors && errors.name"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 md6 class="px-2">
                    <v-select
                        outlined
                        :items="['Red','Blue']"
                        v-model="form.type"
                        label="Module Type"
                        :rules="[rules.type]"
                    ></v-select>
                </v-flex>
            </v-flex>
            <v-flex xs12 md6>
                <v-btn color="info" @click="uploadFile()">Upload File</v-btn>
                <img id="image" class="cms_image_new" src="" alt="">
                <input type="file" class="d-none" id="new_file" @change="filePicked">
            </v-flex>
            <v-flex xs12 d-flex class="mt-5">
                <v-flex xs6>
                    <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
                </v-flex>
                <v-flex xs6>
                    <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
                </v-flex>
            </v-flex>
        </v-form>
    </v-container>
</template>

<script>
import { getDiffieHellman } from 'crypto';
export default {
    data(){
        return {
            form: {
                status: true,
            },
            FormData: {},
            rules: {
                name: v => !!v || "Name is required",
                type: v => !!v || "Type is required",
            },
            image: null,
            errors: {},
            loading: false
        }
    },
    created(){
        this.FormData = new FormData;
    },
    methods:{
        submit(){
            if(this.$refs.form.validate()){
                this.FormData.append('name', this.form.name);
                this.FormData.append('type', this.form.type);

                this.loading = true;

                const config = {headers: { "content-type": "multipart/form-data" }};
                axios.post('/api/cms/modules', this.FormData, config).then(res => {  
                    this.loading = false;
                    this.errors = {};
                    Alert.on(['success', res.data]);
                    this.$router.push('/CMS/modules')
                }).catch(err => {
                    this.loading = false;
                    this.errors = err.response.data.errors;
                })
            }
        },
        uploadFile(){
            document.getElementById('new_file').click();
        },
        filePicked(e){
            this.FormData.append('file', e.target.files[0]);
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
}
</script>

<style>
    
</style>
