<template>
    <v-container>
        <div v-if="role == 'admin'">
            <v-layout d-flex wrap justify-content-between>
                <v-flex xs12 md9 lg11 d-flex align-center>
                    <h1>Dashboard</h1>
                </v-flex>
                <v-flex class="text-right" d-flex xs12 md3 lg1>
                    <div>
                        <v-btn color="primary" @click="sendFile()" title="send monthly report to mail">Send</v-btn>
                    </div>
                    <img id="image" class="cms_image_new" src="" alt="">
                    <!-- <v-btn color="primary" @click="report()" title="send monthly report to mail">Send Report</v-btn> -->
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-btn icon @click="refreshBasics()">
                    <v-icon color="blue-grey" style="font-size:2em" title="Refresh Data">refresh</v-icon>
                </v-btn>
                <v-layout v-if="basics && basics.length" d-flex wrap>
                    <v-flex v-for="(item, index) in basics" :key="index" xs12 md6 lg3 class="px-3 wrapper">
                        <v-card class="big_box pb-2 px-3">
                            <v-toolbar color="transparent" flat class="mb-2">
                                <v-card class="small_box" :color="item.color">
                                    <v-icon color="white" style="font-size:2.5em">{{item.icon}}</v-icon>
                                </v-card>
                                <v-spacer></v-spacer>
                                <h2>{{item.title}}</h2>
                            </v-toolbar>
                            <v-divider></v-divider>
                            <v-flex class="text-center mt-2" d-flex justify-space-between>
                                <span><strong>Today</strong>: {{item.today}}</span>
                                <span><strong>Week</strong>: {{item.week}}</span>
                                <span><strong>Month</strong>: {{item.month}}</span>
                                <span><strong>Total</strong>: {{item.total}}</span>
                            </v-flex>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-flex v-else class="text-center">
                    <img style="height:100px; width:auto;" :src="baseUrl">
                </v-flex>
                <v-flex xs12>
                    <v-layout wrap d-flex class="mt-4">
                        <v-flex v-if="games.series[0].data && games.series[0].data.length" xs12 md6 class="px-3">
                            <v-toolbar flat>
                                <v-btn icon @click="refreshGames()">
                                    <v-icon color="blue" style="font-size:2em" title="Refresh Challenges Per Categories">refresh</v-icon>
                                </v-btn>
                                <v-toolbar-title class="pointer">
                                    Challenges Per Categories
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-icon color="blue" style="font-size:3em">videogame_asset</v-icon>
                            </v-toolbar>
                            <apexcharts
                                width="100%"
                                height="350"
                                type="bar"
                                :options="games.chartOptions"
                                :series="games.series"
                            ></apexcharts>
                        </v-flex>
                        <v-flex class="text-center" xs12 md6 v-else>
                            <img style="height:100px; width:auto;" :src="baseUrl">
                        </v-flex>
                        <v-flex v-if="students.series[0].data && students.series[0].data.length" xs12 md6 class="px-3">
                            <v-toolbar flat>
                                <v-btn icon @click="refreshStudents()">
                                    <v-icon color="orange" style="font-size:2em" title="Refresh Students Per Country">refresh</v-icon>
                                </v-btn>
                                <v-toolbar-title class="pointer">
                                    Students Per Country
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-icon color="orange lighten-1" style="font-size:3em">supervised_user_circle</v-icon>
                            </v-toolbar>
                            <apexcharts
                                width="100%"
                                height="300"
                                type="bar"
                                :options="students.chartOptions"
                                :series="students.series"
                            ></apexcharts>
                        </v-flex>
                        <v-flex class="text-center" xs12 md6 v-else>
                            <img style="height:100px; width:auto;" :src="baseUrl">
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-layout d-flex wrap justify-space-between class="mt-4">
                        <v-flex v-if="populars.series[0].data && populars.series[0].data.length" xs12 md6 class="px-3">
                            <v-toolbar flat>
                                <v-btn icon @click="refreshPopulars()">
                                    <v-icon color="green" style="font-size:2em" title="Refresh Popular Games">refresh</v-icon>
                                </v-btn>
                                <v-toolbar-title class="pointer">
                                    Top 5 Popular Challenges
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-icon color="green" style="font-size:3em">sentiment_very_satisfied</v-icon>
                            </v-toolbar>
                            <apexcharts
                                width="100%"
                                height="300"
                                type="bar"
                                :options="populars.chartOptions"
                                :series="populars.series"
                            ></apexcharts>
                        </v-flex>
                        <v-flex class="text-center" xs12 md6 v-else>
                            <img style="height:100px; width:auto;" :src="baseUrl">
                        </v-flex>
                        <v-flex v-if="hardest.series[0].data && hardest.series[0].data.length" xs12 md6 class="px-3">
                            <v-toolbar flat>
                                <v-btn icon @click="refreshHardest()">
                                    <v-icon color="red lighten-1" style="font-size:2em" title="Refresh Hardest Games">refresh</v-icon>
                                </v-btn>
                                <v-toolbar-title class="pointer">
                                    Top 5 Hardest Games
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-icon color="red lighten-1" style="font-size:3em">flash_on</v-icon>
                            </v-toolbar>
                            <apexcharts
                                width="100%"
                                height="300"
                                type="bar"
                                :options="hardest.chartOptions"
                                :series="hardest.series"
                            ></apexcharts>
                        </v-flex>
                        <v-flex class="text-center" xs12 md6 v-else>
                            <img style="height:100px; width:auto;" :src="baseUrl">
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </div>
        <div v-else>
            <h1 class="display-2">WELCOME {{role}}</h1>
        </div>
    </v-container>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
export default {
    components: {
        apexcharts: VueApexCharts,
    },
    data(){
        return {
            baseUrl: "/images/general/loading.gif",
            basics: [],
            role: Auth.role(),
            games:{
                chartOptions: {
                    colors: ['#0D47A1','#1565C0','#1976D2', '#1E88E5', '#42A5F5', '#64B5F6', '#90CAF9', '#80D8FF', '#40C4FF', '#00B0FF', '#0091EA'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "Category Games",
                        data: []
                    }
                ]
            },
            students:{
                chartOptions: {
                    colors: ['#F57C00', '#FB8C00', '#FFA726', '#FFB74D','#FFCC80','#FFE0B2','#FFF3E0'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "Country Students",
                        data: []
                    }
                ]
            },
            populars:{
                chartOptions: {
                    colors: ['#2E7D32', '#388E3C', '#43A047', '#66BB6A','#81C784'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "Challenges Plays",
                        data: []
                    }
                ]
            },
            hardest:{
                chartOptions: {
                    colors: ['#D32F2F', '#E53935', '#EF5350', '#E57373','#EF9A9A'],
                    chart: {
                        id: "basic-bar",
                        animations: {
                            speed: 200
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            distributed: true
                        }
                    },
                    xaxis: {
                        categories: []
                    }
                },
                series: [
                    {
                        name: "Game % Of Fails",
                        data: []
                    }
                ]
            },
        }
    },
    created(){
        this.init();
    },
    methods:{
        init(){
            if(this.role == 'admin'){
                this.getBasics()
                this.getGames()
                this.getStudents()
                this.getHardest()
                this.getPopulars()
            }
        },
        getBasics(){
            let data = localStorage.getItem('dash_basics');
            data = JSON.parse(data)
            if(data && new Date(data.exp).getTime() > new Date().getTime()){
                this.basics = data.data;
            }else{
                axios.get('/api/cms/dashboard/basics').then(res => {
                    this.basics = res.data;
                    let data = {data: res.data};
                    data.exp = new Date(new Date().getTime() + 60000*15);
                    localStorage.setItem('dash_basics', JSON.stringify(data));
                })
            }
        },
        getGames(){
            let data = localStorage.getItem('dash_games');
            data = JSON.parse(data)
            if(data && new Date(data.exp).getTime() > new Date().getTime()){
                for(let i = 0; i < data.data.length; i++){
                    this.games.chartOptions.xaxis.categories.push(data.data[i].name)
                    this.games.series[0].data.push(data.data[i].games_count)
                }
            }else{
                axios.get('/api/cms/dashboard/games').then(res => {
                    for(let i = 0; i < res.data.length; i++){
                        this.games.chartOptions.xaxis.categories.push(res.data[i].name)
                        this.games.series[0].data.push(res.data[i].games_count)
                    }
                    let data = {data: res.data};
                    data.exp = new Date(new Date().getTime() + 60000*15);
                    localStorage.setItem('dash_games', JSON.stringify(data));
                })
            }
        },
        getStudents(){
            let data = localStorage.getItem('dash_students');
            data = JSON.parse(data)
            if(data && new Date(data.exp).getTime() > new Date().getTime()){
                for(let i = 0; i < data.data.length; i++){
                    this.students.chartOptions.xaxis.categories.push(data.data[i].country)
                    this.students.series[0].data.push(data.data[i].students_count)
                }
            }else{
                axios.get('/api/cms/dashboard/students').then(res => {
                    for(let i = 0; i < res.data.length; i++){
                        this.students.chartOptions.xaxis.categories.push(res.data[i].country)
                        this.students.series[0].data.push(res.data[i].students_count)
                    }
                    let data = {data: res.data};
                    data.exp = new Date(new Date().getTime() + 60000*15);
                    localStorage.setItem('dash_students', JSON.stringify(data));
                })
            }
        },
        getHardest(){
            let data = localStorage.getItem('dash_hardest');
            data = JSON.parse(data)
            if(data && new Date(data.exp).getTime() > new Date().getTime()){
                for(let i = 0; i < data.data.length; i++){
                    this.hardest.chartOptions.xaxis.categories.push(data.data[i].name)
                    this.hardest.series[0].data.push(Math.floor(data.data[i].failed))
                }
            }else{
                axios.get('/api/cms/dashboard/hardest').then(res => {
                    let sorted = res.data.sort((a,b) => parseFloat(a.success) - parseFloat(b.success));
                    sorted = sorted.slice(0, 5);
                    for(let i = 0; i < sorted.length; i++){
                        sorted[i].failed = 100 - sorted[i].success;
                    }
                    for(let i = 0; i < sorted.length; i++){
                        this.hardest.chartOptions.xaxis.categories.push(sorted[i].name)
                        this.hardest.series[0].data.push(Math.floor(sorted[i].failed))
                    }
                    let data = {data: sorted};
                    data.exp = new Date(new Date().getTime() + 60000*15);
                    localStorage.setItem('dash_hardest', JSON.stringify(data));
                })
            }
        },
        getPopulars(){
            let data = localStorage.getItem('dash_populars');
            data = JSON.parse(data)
            if(data && new Date(data.exp).getTime() > new Date().getTime()){
                for(let i = 0; i < data.data.length; i++){
                    this.populars.chartOptions.xaxis.categories.push(data.data[i].name)
                    this.populars.series[0].data.push(data.data[i].attempts_count)
                }
            }else{
                axios.get('/api/cms/dashboard/populars').then(res => {
                    for(let i = 0; i < res.data.length; i++){
                        this.populars.chartOptions.xaxis.categories.push(res.data[i].name)
                        this.populars.series[0].data.push(res.data[i].attempts_count)
                    }
                    let data = {data: res.data};
                    data.exp = new Date(new Date().getTime() + 60000*15);
                    localStorage.setItem('dash_populars', JSON.stringify(data));
                })
            }
        },
        refreshGames(){
            localStorage.removeItem('dash_games');
            this.games.chartOptions.xaxis.categories = []
            this.games.series[0].data = []
            this.getGames();
        },
        refreshStudents(){
            localStorage.removeItem('dash_students');
            this.students.chartOptions.xaxis.categories = []
            this.students.series[0].data = []
            this.getStudents();
        },
        refreshPopulars(){
            localStorage.removeItem('dash_populars');
            this.populars.chartOptions.xaxis.categories = []
            this.populars.series[0].data = []
            this.getPopulars();
        },
        refreshHardest(){
            localStorage.removeItem('dash_hardest');
            this.hardest.chartOptions.xaxis.categories = []
            this.hardest.series[0].data = []
            this.getHardest();
        },
        refreshBasics(){
            localStorage.removeItem('dash_basics');
            this.getBasics();
        },
        report(){
            axios.get('/CMS/dashboard/report').then(res => {
                Alert.on(['success', 'Report has sent to the emails list'])
            }).catch(err => {
                Alert.on(['error', 'Sorry, an error accured and failed sending the report.'])
            })
        },
        sendFile(){
            this.loading = true;
            axios.post('/api/cms/uploadJson').then(res => {  
                console.log(res.data);
            }).catch(err => {
                console.log(err.response.data);
            })
        }
    },
}
</script>

<style scoped>

@media (max-width:1025px) {

    .small_box{
        top: -50px !important;
        left: 0;
    }

}

.small_box{
    width: 80px;
    max-width: 20vw;
    height: 80px;
    max-height: 20vw;
    position: absolute;
    top: -35px;
    box-shadow: 0px 0px 25px rgb(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.big_box{
    min-height: 120px;
}

.wrapper{
    margin-top: 60px;
}

</style>
