<template>
    <v-flex xs10 style="display:inline-block" class="mt-4 text-right" xs12>
        <button class="pages_btn edges_btn" @click="submitFilter(1)">First</button>
        <v-flex style="display:inline-block" v-for="(page, i) in pages" :key="i" @click="paginationChanged(page)">
            <button :class="page == data.current_page ? 'pages_btn_active' : ''" class="pages_btn" @click="submitFilter(page)">{{page}}</button>
        </v-flex>
        <button class="pages_btn edges_btn" @click="submitFilter(data.students.last_page)">Last</button>
    </v-flex>
</template>

<script>
export default {
    props: ['data'],
    data(){
        return {
            gamesHeaders: [
                { text: 'Game', value: 'name' },
                { text: 'Status', value: 'status' },
                { text: 'Points', value: 'points' },
                { text: 'Attempts', value: 'attempts' },
                { text: 'Action', value: '' },
            ],
        }
    },
    created(){
    
    },
    methods:{
    
    }
}
</script>

<style>

</style>
