<template>
    
</template>
<script>
export default {
    created(){
        let query = this.$route.query;
        if(['categories', 'modules'].includes(query.to)){
            this.$router.push(`/CMS/${query.to}/edit/${query.id}`)
        }
        else{
            this.$router.push(`/CMS/${query.to}/${query.id}`)
        }
    }    
}
</script>
