<template>
  <v-container class="pt-0">
    <Top :title="title" :pagination="pagination" />

    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :dialog="dialog"
      :title="title"
      :actionBtns="actionBtns"
      :institutions="true"
      :searchApi="''"
    />
  </v-container>
</template>

<script>
import Table from "../../_Partials/Table";
import Top from "../../_Partials/Top";

export default {
  data() {
    return {
      title: "Classes",
      api: "cms/classes",
      search: "",
      pagination: {
        sortBy: "name",
        amount: 10
      },
      dialog: {
        headline: "Delete Classes",
        one: "class",
        multiple: "classes"
      },
      headers: [
        { text: "Name", value: "name" },
        { text: "College", value: "college" },
        { text: "Students", value: "students.length" },
        { text: "Status", value: "status" },
        { text: "Started At", value: "start_at" },
        { text: "Ending At", value: "end_at" },
        { text: "Notes", value: "notes" },
        { text: "Actions", value: "actions" }
      ],
      actions: ["Choose An Action", "Activate", "Deactivate", "Delete"],
      actionBtns: ["visibility"]
    };
  },
  components: { Table, Top }
};
</script>

<style>
</style>
