<template>
  <v-container>
    <v-flex xs12 d-flex align-center>
      <h1 class="mr-3">New Class</h1>
      <v-icon
        class="pointer"
        v-if="form.status"
        @click="form.status = !form.status"
        color="green"
        style="font-size:3.5em"
      >toggle_on</v-icon>
      <v-icon
        v-else
        class="pointer"
        @click="form.status = !form.status"
        color="red"
        style="font-size:3.5em"
      >toggle_off</v-icon>Status
    </v-flex>
    <v-flex v-if="data.countries" xs12>
      <v-form @submit.prevent="submit()" ref="form">
        <v-autocomplete
          outlined
          :items="data.countries"
          item-value="id"
          item-text="country"
          v-model="form.country"
          label="Choose Country"
          :rules="[rules.country]"
          @change="countryPicked"
        ></v-autocomplete>
        <v-autocomplete
          outlined
          :items="data.colleges"
          item-value="id"
          item-text="name"
          v-model="form.college_id"
          label="Choose College"
          :rules="[rules.category]"
          :error-messages="errors && errors.college_id ? errors.college_id : ''"
        ></v-autocomplete>
        <v-text-field
          outlined
          v-model="form.name"
          label="Class Name"
          :rules="[rules.class]"
          :error-messages="errors && errors.name ? errors.name : ''"
        ></v-text-field>

        <v-row>
          <v-col cols="12" lg="6">
            <date-start :title="'Class Starting Date'" />
          </v-col>

          <v-col cols="12" lg="6">
            <date-end :title="'Class Ending Date'" />
          </v-col>
        </v-row>

        <v-textarea outlined v-model="form.notes" label="Notes"></v-textarea>

        <v-flex class="my-3 text-center">
          <span class="red--text" v-if="errorsdate">The Dates cannot be the same</span>
        </v-flex>

        <v-flex xs12 d-flex class="mt-5">
            <v-flex xs6>
                <v-btn :disabled="loading ? true : false" :loading="loading ? true : false" type="submit" color="success" block height="50">Create</v-btn>
            </v-flex>
            <v-flex xs6>
                <v-btn block height="50" @click="$router.go(-1)">Cancel</v-btn>
            </v-flex>
        </v-flex>
      </v-form>
    </v-flex>
  </v-container>
</template>

<script>
import DateStart from "./../../General/form/datapicker";
import DateEnd from "./../../General/form/datapicker";
export default {
  components: { DateStart, DateEnd },
  data: vm => ({
    data: {
      countries: [],
      colleges: []
    },
    filter: {
      countries: [],
      colleges: []
    },
    form: {
      status: true,
      start_at: new Date().toISOString().substr(0, 10),
      end_at: new Date().toISOString().substr(0, 10)
    },
    rules: {
      country: v => !!v || "Country is Required",
      category: v => !!v || "Category is Required",
      class: v => !!v || "Class Name is Required",
      start_at: v => !!v || "Starting Date is Required",
      end_at: v => !!v || "Ending Date is Required"
    },
    errors: {},
    errorsdate: false,
    loading: false
  }),

  created() {
    this.getData();

    EventBus.$on("dateChange", data => {
      data.title == "Class Starting Date"
        ? (this.form.start_at = data.date)
        : (this.form.end_at = data.date);
    });
  },

  methods: {
    getData() {
      axios.get("/api/cms/classes/new").then(res => {
        this.data.countries = res.data.countries;
        this.data.colleges = res.data.colleges;
        this.filter.countries = res.data.countries;
        this.filter.colleges = res.data.colleges;
      });
    },
    submit() {
      if (this.$refs.form.validate()) {
        if (this.form.start_at == this.form.end_at)
          return (this.errorsdate = true);
        
        this.loading = true;
        axios
          .post("/api/cms/classes/create", this.form)
          .then(res => {
            this.loading = false;
            Alert.on(["success", res.data]);
            this.$router.push("/CMS/institutions/classes");
          })
          .catch(err => {
            this.loading = false;
            if (err.response.data.errors)
              this.errors = err.response.data.errors;
          });
      }
    },
    countryPicked(v) {
      this.data.colleges = [];
      for (let i = 0; i < this.filter.colleges.length; i++) {
        if (v == this.filter.colleges[i].country_id)
          this.data.colleges.push(this.filter.colleges[i]);
      }
    }
  }
};
</script>

<style>
</style>
