<template>
  <v-container>
    <v-card v-if="form">
      <v-toolbar flat color="primary" dark>
        <v-toolbar-title>CLASS PANEL - {{form.name}}'s {{tab}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text title="update status">
            Status - &nbsp;
            <span v-if="form.status == 2"> WAITING</span>
            <span v-if="form.status == 1"> ACTIVE</span>
            <span v-if="form.status == 0"> INACTIVE</span>
            <v-icon class="pointer ml-2" @click="statusSubmit(0)" v-if="form.status == 1" style="font-size:3em;"
                    color="light-green lighten-1">toggle_on
            </v-icon>
            <v-icon class="pointer ml-2" @click="statusSubmit(1)" v-else style="font-size:3em;" color="red lighten-2">
            toggle_off
            </v-icon>
        </v-btn>
      </v-toolbar>
      <v-tabs vertical>
        <v-tab @click="tab = 'Details'" style="justify-content: start">
           <v-icon v-if="tab != 'Details'" left>help_outline</v-icon>
          <v-icon v-else left>help</v-icon>
          Details
        </v-tab>
        <v-tab @click="tab = 'Students'" style="justify-content: start">
          <v-icon v-if="tab != 'Students'" left>people_outline</v-icon>
          <v-icon v-else left>people</v-icon>
          Students
        </v-tab>
        <v-tab @click="tab = 'Users'" style="justify-content: start">
          <v-icon v-if="tab != 'Users'" left>supervisor_account</v-icon>
          <v-icon v-else left>supervised_user_circle</v-icon>
          Users
        </v-tab>
        <v-tab @click="tab = 'Security'" style="justify-content: start">
          <v-icon v-if="tab != 'Security'" left>lock</v-icon>
          <v-icon v-else left>lock_open</v-icon>
          Security
        </v-tab>
        <v-tab @click="tab = 'Permissions'" style="justify-content: start">
          <v-icon v-if="tab != 'Permissions'" left>security</v-icon>
          <v-icon v-else left>verified_user</v-icon>
          Permissions
        </v-tab>
        <v-tab @click="tab = 'Active Containers'" style="justify-content: start">
          <v-icon left>dns</v-icon>
          Active Containers
        </v-tab>
        <v-tab @click="tab = 'Statistics'" style="justify-content: start">
          <v-icon left>equalizer</v-icon>
          Statistics
        </v-tab>
  
        <v-tab-item>
          <class-details :form="form" :colleges="colleges" />
        </v-tab-item>
        <v-tab-item>
          <students :type="'students'"/>
        </v-tab-item>
        <v-tab-item>
          <students :type="'users'"/>
        </v-tab-item>
        <v-tab-item>
          <v-flex class="pa-3 mt-2">
              <v-flex lg5 mx-auto>
                <password :data="form" />
              </v-flex>
              <v-flex lg5 mx-auto class="mt-5">
                <mfa :data="form" />
              </v-flex>
          </v-flex>
        </v-tab-item>
        <v-tab-item>
          <v-flex d-flex class="pa-3">
            <v-flex xs12 lg6>
                <games :data="form" class="px-2"/>
            </v-flex>
            <v-flex xs12 lg6>
                <lessons :data="form" class="px-2"/>
            </v-flex>
          </v-flex>
        </v-tab-item>
        <v-tab-item>
          <dockers :type="'classes'" :headers="headers"/>
        </v-tab-item>
        <v-tab-item>
          <statistics :data="form"/>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-container>
</template>

<script>
import Lessons from "./parts/lessons";
import ClassDetails from "./parts/details";
import Students from "./parts/students";
import Password from "./parts/password";
import Mfa from "./parts/mfa";
import Statistics from "./parts/statistics";
import Games from "./parts/games_not_allowed";
import Dockers from "./../../General/show_parts/dockers";
export default {
  components: { Lessons, Games, Students, ClassDetails, Password, Mfa, Statistics, Dockers },
  data() {
    return {
      tab: 'Details',
      games: null,
      form: null,
      headers: {
          challenges: [
              { text: 'User', value: 'user' },
              { text: 'Category', value: 'category' },
              { text: 'Challenge', value: 'game' },
              { text: 'IP', value: 'ip' },
              { text: 'Port', value: 'port' },
              { text: 'Started At', value: 'created_at' },
              { text: 'Actions', value: 'actions', align: 'end' },
          ],
          lessons: [
              { text: 'User', value: 'user' },
              { text: 'Module', value: 'module' },
              { text: 'Lesson', value: 'lesson' },
              { text: 'Container ID', value: 'container_id' },
              { text: 'IP', value: 'ip' },
              { text: 'Port', value: 'port' },
              { text: 'Started At', value: 'created_at' },
              { text: 'Actions', value: 'actions', align: 'end' },
          ],
      },
    };
  },
  created() {
    Load.on();
    this.getClass();

    EventBus.$on("dateChange", data => {
      data.title == "Class Starting Date"
        ? (this.form.start_at = data.date)
        : (this.form.end_at = data.date);
    });
  },
  methods: {
    getClass() {
      axios
        .get(`/api/cms/classes/show/${window.location.pathname.split("/")[4]}`)
        .then(res => {
          this.form = res.data.class;
            if (!this.form.start_at || this.form.start_at == '0000-00-00')
              this.form.start_at = new Date().toISOString().substr(0, 10);
            if (!this.form.end_at || this.form.end_at == '0000-00-00')
              this.form.end_at = new Date().toISOString().substr(0, 10);
          this.colleges = res.data.colleges;
          Load.off();
        })
        .catch(err => {
          Alert.on(["error", "Class not found"]);
          this.$router.go(-1);
        });
    },
  }
};
</script>

<style>
</style>

