<template>
  <v-flex>
    <!-- Desktop -->
    <v-flex xs12 d-none d-md-flex justify-space-between class="wrapper">
      <!-- Left -->
      <ul class="left_toolbar">
        <v-flex class="h100 pl-3 white--text" d-flex align-center v-if="game">
          <router-link class="no_dec white--text" to="/">Home</router-link>&nbsp;
          |&nbsp; &nbsp;
          <strong>{{game}}</strong>
        </v-flex>
        <v-flex v-else class="h100" d-flex align-center>
          <span v-for="(link, i) in links" :key="i">
            <router-link
              v-if="link.users.includes(role) && link.visible"
              :to="link.url"
              :disabled="status"
            >
              <li :class="active == link.title ? 'active' : ''">
                <span
                  :class="link.title == 'CMS' ? 'cms' : ''">{{link.title}}</span>
              </li>
            </router-link>
          </span>
        </v-flex>
      </ul>

      <!-- Right -->
      <ul v-if="logged">
        <div
          v-if="data"
          class="right_toolbar"
          :class="!profileBox ? 'right_toolbar_hidden' : ''"
          :style="!profileBox ? 'border-bottom: 1px solid rgba(65, 69, 126, 0.7)' : ''"
        >
          <v-flex d-flex align-center>
            <div class="ml-5 pl-5 mr-2">
              <v-btn v-if="!profileBox" fab color="transparent" small
                     @click="profileBox = true">
                <v-icon color="white">expand_more</v-icon>
              </v-btn>
              <v-btn v-else fab color="transparent" small
                     @click="profileBox = false">
                <v-icon color="white">expand_less</v-icon>
              </v-btn>
            </div>

            <div @click="profileBox = !profileBox" class="pointer">
              <span>{{data.name.substring(0, 10)}}{{data.name.length > 9 ? "..." : ""}}</span>
            </div>

            <li class="icon pointer mr-3" @click="profileBox = !profileBox">
              <v-progress-circular
                size="58"
                style="color: rgb(150, 224, 216)"
                :value="Math.floor(data.details.points * 100 / data.details.level.next_level)"
              >
                <div class="profile_wrapper">
                  <img :src="avatar + data.image" alt/>
                </div>
                <v-tooltip bottom color="black">
                  <template v-slot:activator="{ on }">
                    <div v-on="on" class="level_wrapper default">
                      {{data.details.level.level}}
                    </div>
                  </template>
                  <span>Level</span>
                </v-tooltip>
              </v-progress-circular>
            </li>

            <router-link v-if="!game" to="/support">
              <li
                class="icon"
                @click="active = 'Support'"
                :class="active == 'Support' ? 'active' : ''"
                title="support"
              >
                <img :src="img + 'support.svg'" alt/>
              </li>
            </router-link>

            <router-link v-if="!game" to="/logout">
              <li class="icon pr-2" title="logout">
                <img :src="img + 'log_out.svg'" alt/>
              </li>
            </router-link>

            <div v-if="game">
              <li></li>
              <li></li>

              <li class="icon pointer pr-1" @click="opengameMenu()"
                  title="overview">
                <img :src="img + 'menu.svg'" alt/>
              </li>
            </div>
          </v-flex>
        </div>
        <transition name="slide-fade">
          <div v-if="profileBox" id="profile_side_box" class="px-5">
            <v-flex class="px-5 text-left" md8 ml-auto>
              <h2>LEVEL {{data.details.level.level}}</h2>
              <br/>
              <p class="mb-2">Points: {{data.details.points}} /
                {{data.details.level.next_level}}</p>
              <div class="progress_wrapper">
                <div
                  class="filler"
                  :style="`width:${Math.floor(data.details.points * 100 / data.details.level.next_level)}%`"
                ></div>
              </div>
              <br/>
              <router-link to="/profile">
                <button
                  @click="profileBox = false, active = 'Profile', mobileOpened=false"
                  class="button bg_purple text_white"
                >PROFILE
                </button>
              </router-link>
            </v-flex>
          </div>
        </transition>
      </ul>
      <ul v-else>
        <v-flex
          d-flex
          align-center
          justify-center
          class="right_toolbar"
          style="border-bottom: 1px solid rgba(65, 69, 126, 0.7)"
        >
          <router-link to="login">
            <li>Sign In</li>
          </router-link>
          <router-link to="signup">
            <li>Sign Up</li>
          </router-link>
        </v-flex>
      </ul>
    </v-flex>

    <!-- Mobile -->
    <v-flex xs12 d-md-none :class="{scrolled: scroll > 75}"
            class="wrapper mobile-menu">
      <v-flex p-1 d-flex align-center>
        <router-link to="/">
          <img
            @click="active = 'Home', mobileOpened = false"
            style="height:35px"
            src="/images//general/logo-white.png"
          />
        </router-link>
        <v-flex style="max-width: 90px" d-flex align-center class="ml-auto">
          <router-link v-if="logged" to="/profile/">
            <svg
              @click="active = 'Profile', mobileOpened=false"
              width="35"
              height="35"
              style="fill:none;stroke:#e0f7fa;stroke-linecap:round;stroke-miterlimit:10;margin-bottom: -5px;"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 36.84 36.84"
            >
              <defs/>
              <title>profile</title>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <circle class="cls-1" cx="18.42" cy="18.42" r="17.92"/>
                  <circle class="cls-1" cx="18.42" cy="11.18" r="7.12"/>
                  <path class="cls-1"
                        d="M5.53,30.68A12.9,12.9,0,0,1,18.42,18.3"/>
                  <line class="cls-1" x1="20.06" y1="21.13" x2="30.59"
                        y2="21.13"/>
                  <line class="cls-1" x1="20.06" y1="26.25" x2="30.59"
                        y2="26.25"/>
                  <line class="cls-1" x1="20.06" y1="31.36" x2="30.59"
                        y2="31.36"/>
                </g>
              </g>
            </svg>
          </router-link>
          <button
            class="burger ml-auto"
            :class="{active: mobileOpened}"
            @click="mobileOpened = !mobileOpened"
          ></button>
        </v-flex>
      </v-flex>
      <transition name="fade">
        <v-flex v-if="mobileOpened" class="mobile-wrapper" d-flex>
          <ul>
            <li
              v-for="(link, i) in links"
              :key="i"
              @click="active = link.title, mobileOpened = false"
            >
              <router-link
                :class="{active: active == link.title}"
                v-if="link.users.includes(role) && link.visible"
                :to="link.url"
              >
                <span
                  :class="link.title == 'CMS' ? 'cms' : ''">{{link.title}}</span>
              </router-link>
            </li>
            <template v-if="logged">
              <li @click="active = 'Support', mobileOpened = false">
                <router-link to="/support"
                             :class="{active: active == 'Support'}">
                  <span>Support</span>
                </router-link>
              </li>
              <li @click="active = 'Logout', mobileOpened = false">
                <router-link to="/logout" :class="{active: active == 'Logout'}">
                  <span>Logout</span>
                </router-link>
              </li>
            </template>
            <template v-else>
              <li @click="active = 'Login', mobileOpened = false">
                <router-link to="login" :class="{active: active == 'Login'}">
                  <span>Sign In</span>
                </router-link>
              </li>
              <li @click="active = 'Sign Up', mobileOpened = false">
                <router-link to="signup" :class="{active: active == 'Sign Up'}">
                  <span>Sign Up</span>
                </router-link>
              </li>
            </template>
          </ul>
        </v-flex>
      </transition>
    </v-flex>

    <!-- <v-dialog
      v-model="dialog"
      fullscreen
      transition="dialog-transition"
      >
      <v-card color="black" class="full_menu">
        <v-flex d-flex justify-end class="pa-2">
          <v-btn x-small color="white" fab @click="dialog = false">
            <v-icon color="black">close</v-icon>
          </v-btn>
        </v-flex>
        <v-flex d-flex justify-center align-center style="height:calc(100vh - 48px)" class="text_white text-center">
          <v-layout justify-space-between column fill-height>
            <v-flex d-flex align-center justify-center v-for="(link, i) in links" :key="i" @click="$router.push(link.url), dialog = false">
              <h2 class="mb-0" :class="`fullmenu_link${i}`">{{link.title}}</h2>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-card>
    </v-dialog>-->
  </v-flex>
</template>

<script>
  export default {
    props: ["status"],

    data() {
      return {
        data: null,
        game: null,
        role: Auth.role(),
        logged: Auth.logged(),
        cms: "",
        sound: false,
        dialog: false,
        active: "Home",
        mobileOpened: false,
        scroll: 0,
        profileBox: false,
        links: [
          {
            title: "Home",
            url: "/",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor",
              "guest"
            ],
            visible: true
          },
          {
            title: "About",
            url: "/about",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor",
              "guest"
            ],
            visible: true
          },
          {
            title: "Challenges",
            url: "/challenges",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor"
            ],
            visible: true
          },
          {
            title: "Practice Arena",
            url: "/practice-arena",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor"
            ],
            visible: true
          },
          {
            title: "Cyber Range",
            url: "/cyber-range",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor"
            ],
            visible: true
          },
          {
            title: "News",
            url: "/news",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor"
            ],
            visible: true
          },
          {
            title: "Hall Of Fame",
            url: "/hall-of-fame",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor"
            ],
            visible: true
          },
          {
            title: "Cyberpedia",
            url: "/cyberpedia",
            users: [
              "student",
              "teacher",
              "master",
              "candidate",
              "developer",
              "admin",
              "editor"
            ],
            visible: true
          },
          {
            title: "CMS",
            url: "",
            users: ["admin", "editor", "teacher", "master"],
            visible: true,
            name: 'CMS'
          }
        ],
        img: IMG + "general/",
        avatar: IMG + "avatars/"
      };
    },
     watch: {
      '$route' (to, from) {
        let link = to.fullPath.split("/")[1];
        link = link == "hall-of-fame" ? "Hall Of Fame" : link;
        link = link == "practice-arena" ? "Practice Arena" : link;
        link = link.charAt(0).toUpperCase() + link.slice(1);
        this.active = link;
      }
    },
    created() {
      this.setBaseCMSURL();
      let link = window.location.pathname.split("/")[1];
      link = link == "hall-of-fame" ? "Hall Of Fame" : link;
      link = link == "practice-arena" ? "Practice Arena" : link;
      link = link.charAt(0).toUpperCase() + link.slice(1);
      this.active = link;
      window.addEventListener("scroll", this.handleScroll);

      if (this.logged) this.getProfile();

      EventBus.$on("game_mode", data => {
        this.game = data;
      });

      EventBus.$on("game_finished", points => {
        this.checkPoints(points);
      });
    },

    destroyed() {
      window.removeEventListener("scroll", this.handleScroll);
    },

    methods: {
      handleScroll() {
        this.scroll = window.scrollY;
      },

      getProfile() {
        axios.get(`/api/user/details`).then(res => {
          this.data = res.data;
        });
      },

      opengameMenu() {
        EventBus.$emit("missionStatus", true);
      },

      checkPoints(points) {
        this.data.details.points = +this.data.details.points + points;

        setTimeout(() => {
          // check if leveled up
          if (this.data.details.points >= this.data.details.level.next_level) {
            let next_level = this.data.levels.filter(e => {
              return e.level == this.data.details.level.level + 1;
            });
            this.data.details.level = next_level[0];
          }
        }, 500);
      },

      setBaseCMSURL() {
        if (this.role == "admin") this.links[this.links.length - 1].url = "/CMS";
        else if (this.role == "editor")
          this.links[this.links.length - 1].url = "/CMS/cyberpedia/terms";
        else this.links[this.links.length - 1].url = "/CMS/students/all";
      }
    }
  };
</script>

<style lang="scss" scoped>
  .p-1 {
    z-index: 9999;
    padding: 1rem;
    position: relative;
  }

  #profile_side_box {
    color: #fff;
    position: absolute;
    top: 87px;
    right: 0px;
    width: 360px;
    max-width: 360px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(24, 43, 55), rgb(14, 24, 29));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    border-bottom: 1px solid rgba(65, 69, 126, 0.7);
  }

  .profile_side_box_hidden {
    top: -200px;
  }

  .profile_wrapper {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    transition: 0.2s all linear;
    background-color: rgb(75, 54, 128);
    color: #fff;
    border: 1px solid rgb(75, 54, 128);
  }

  button:hover {
    transform: scale(1.1);
  }

  .progress_wrapper {
    border-radius: 10px;
    height: 5px;

    .filler {
      border-radius: 10px;
    }
  }

  .level_wrapper {
    position: absolute;
    right: -15px;
    top: calc(50% - 12px);
    width: 25px;
    height: 25px;
    color: rgb(21, 16, 37);
    // background: linear-gradient(rgb(232, 254, 196), rgb(150, 224, 178), rgb(150, 224, 216));
    background-color: rgb(150, 224, 208);
    border: 1px solid rgb(25, 33, 38);
    border-radius: 50%;
    font-weight: bolder;
    font-size: 0.9rem;
    padding-top: 2px;
    // -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    // clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  .profile_progress_bar {
    width: 10px;
    max-height: 87px;
    height: 87px;

    .empty {
      background-color: rgba(42, 72, 90, 0.8);
    }
  }

  .right_toolbar {
    color: #fff;
    height: 100%;
    min-width: 400px;
    max-width: 100%;
    background: linear-gradient(90deg, rgb(24, 43, 55), rgb(14, 24, 29));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  }

  .right_toolbar_hidden {
    overflow: hidden;
    max-height: 87px;
    height: 87px;
  }

  .left_toolbar {
    height: 87px;
    padding-right: 70px;
    background: linear-gradient(90deg, rgb(24, 43, 55), rgb(14, 24, 29));
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    border-bottom: 1px solid rgba(65, 69, 126, 0.7);
  }

  .slide-fade-enter-active {
    transition: all 0.7s ease;
  }

  .slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */
  {
    transform: translateX(10px);
    opacity: 0;
  }

  .burger {
    display: block;
    height: 4px;
    width: 35px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    transition: 0.18s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 4px;
      width: 100%;
      background: #fff;
      transition: 0.18s;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }

    &.active {
      background: rgba(255, 255, 255, 0);
      border: none;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .mobile-menu {
    font-size: 1.3rem;
    transition: background 0.18s;

    &.scrolled {
      background: rgba(70, 73, 139, 0.98);
    }

    .mobile-wrapper {
      background: rgba(22, 20, 49, 0.99);
      /*height: calc(100vh - 35px);*/
      height: 100vh;
      align-items: center;
      align-content: center;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 99;
    }

    ul {
      width: 100%;

      li {
        float: initial;
        padding: 0;

        &:hover {
          border: none;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 14px 16px;
          text-decoration: none;
          color: #fff;

          &.active {
            border: none;

            span {
              border-width: 2px;
              border-style: solid;
              padding: 0 10px;
              padding-bottom: 8px;
              border-image: linear-gradient(
                  to right,
                  rgb(254, 249, 196),
                  rgb(150, 224, 216)
              ) 0 0 100% 0;
            }
          }
        }
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    img {
      height: 35px;
      width: 35px;
    }
  }

  .left_toolbar {
    .router-link-exact-active li {
      &::after {
        opacity: 1;
      }
    }

    li {
      font-weight: 300 !important;
      border: none !important;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: calc(100% - 4px);
        height: 3px;
        bottom: 0;
        left: 2px;
        background: linear-gradient(to right, rgb(254, 249, 196), rgb(150, 224, 216));
        opacity: 0;
        transition: opacity .18s;
      }

      &:hover::after, &.active::after {
        opacity: 1;
      }
    }
  }

  .active {
    font-weight: 100;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        rgb(254, 249, 196),
        rgb(150, 224, 216)
    ) 0 0 100% 0;
  }

  .cms {
    color: rgb(254, 249, 196);
  }

  .full_menu * {
    font-weight: 100;
    font-size: 1.1em;
  }

  .full_menu h2 {
    transition: 0.2s all linear;
    cursor: pointer;
  }

  .full_menu h2:hover {
    transform: scale(1.1);
  }
</style>
