<template>
  <v-container class="pt-0">
    <Top :support="true" :title="title" :pagination="pagination" />
    <Table
      :search="search"
      :pagination="pagination"
      :headers="headers"
      :api="api"
      :actions="actions"
      :title="title"
      :img="img"
      :searchApi="null"
      :options="options"
      :requestValue="0"
    />
  </v-container>
</template>

<script>
import Table from "../_Partials/Table";
import Top from "../_Partials/Top";

export default {
  data() {
    return {
      title: "Supports",
      api: "cms/support",
      img: IMG + "supports/",
      search: "",
      pagination: {
        sortBy: "category.name",
        amount: 10
      },
      headers: [
        { text: "Category", value: "category.name" },
        { text: "User", value: "name" },
        { text: "Content", value: "support_content" },
        { text: "Image", value: "image" },
        { text: "Date", value: "created_at" },
        { text: "Send Support", value: "send_support" }
      ],
      actions: [
        "Choose An Action",
        "Finished",
        "Working On",
        "Waiting",
        "Delete"
      ],
      options: [
        { title: "Waiting", value: 0, color: "red" },
        { title: "Working On", value: 1, color: "orange" },
        { title: "Finished", value: 2, color: "green" }
      ]
    };
  },
  components: { Table, Top }
};
</script>

<style></style>
